[2021-12-11 12:04] courville commented on #517
Can you please share the .ssa/.ass file?

[2021-12-11 12:45] rahaaatul commented on #517
[Here](https://drive.google.com/file/d/18JOV2koPRwdcjdmDhhf4xDIGr0ZN4V3j/view?usp=drivesdk) is the [.SSA/.ASS](https://drive.google.com/file/d/18JOV2koPRwdcjdmDhhf4xDIGr0ZN4V3j/view?usp=drivesdk) file (not the same shown in the screenshot but it'll do, I guess.

[2021-12-11 22:15] Pentaphon commented on #516
@courville get anything useful from my log?

[2021-12-11 22:15] Pentaphon commented on #515
@courville get anything useful from my log?

[2021-12-12 10:36] courville commented on #515
Browsed through the logs briefly and catching relevant multimedia part via `cat log.txt  | grep -i -E "avos|mediacodec|omx|audio" | sed "s/^[^ADVWEI]* //g"` reveals that there is a problem indeed with your device for decoding HEVC in hardware causing nova to fallback to swdec:
[code]
It might be a nova issue handling the hwcodecs since other players apparently manages it well.
No regarding the was

[2021-12-12 10:41] courville commented on #516
From the logs using the same command as in issue #515, it reveals no error reported from hwcodec on the platform. I suspect that this is why nova does not fallback to swdec. Note that since jellyfish videos have no sound (not common), nova might not react well too.

[2021-12-12 10:56] Pentaphon commented on #516
Anything else I can do to help? Any other specific video you would like me to test on this Samsung tablet?

[2021-12-12 11:25] rahaaatul commented on #517
[Here](https://drive.google.com/file/d/18JOV2koPRwdcjdmDhhf4xDIGr0ZN4V3j/view?usp=drivesdk) is the [.SSA/.ASS](https://drive.google.com/file/d/18JOV2koPRwdcjdmDhhf4xDIGr0ZN4V3j/view?usp=drivesdk) file (not the same shown in the screenshot but it'll do, I guess).

[2021-12-12 15:05] courville commented on #516
@Pentaphon could I get the two outputs from the following commands to figure out if there are multiple codecs declared on your samsung tablet?
[code]
Or alternatively the screenshot from https://play.google.com/store/apps/details?id=com.parseus.codecinfo

[2021-12-12 15:27] Pentaphon commented on #516
I exported the codec list from the app you linked me.

[Codec list.txt](https://github.com/nova-video-player/aos-AVP/files/7699006/Codec.list.txt)

[2021-12-12 15:34] Pentaphon commented on #515
Here's my codec list from this device here just in case you guys need it later

[moto codecs.txt](https://github.com/nova-video-player/aos-AVP/files/7699022/moto.codecs.txt)

[2021-12-12 16:01] bladyle commented on #504
Just came here to report same problem. If the video has more integrated subtitles you can't see externally imported one.

[2021-12-12 16:18] courville commented on #516
OK no duplicate codecs for hevc. Let's try on another file with sound (10b hevc). Could you get the logs from nova and another player using `adb logcat -v brief | grep -i -E "avos|mediacodec|omx|audio"` ? Let's see if there is any difference there.
I am really surprised that the samsung tablet cannot decode 10b hevc.

[2021-12-12 20:07] Pentaphon commented on #516
Ok here's what I got for 4 players. I used the full video that I clipped https://gofile.io/d/eTxqEJ from in my other 10-bit thread.

1) A clean install of Nova 6.0.28 - No Playback
[novaclean.txt](https://github.com/nova-video-player/aos-AVP/files/7699521/novaclean.txt)

2) A clean install of MPV - No Playback
[mpv.txt](https://github.com/nova-video-player/aos-AVP/files/7699522/mpv.txt)

3) A clea

[2021-12-13 00:04] thataboy commented on #430
Came here to request this. This would make Nova the complete solution for video library management and playback!

[2021-12-13 09:40] courville commented on #516
Thanks for the logs, I notice that both for nova and mpv we get:
[code]
not for the other players.

[2021-12-13 12:19] Pentaphon commented on #516
Is this something that can be worked around by Nova and potentially fix problems with other devices or is my tablet stuck with not being able to fall back to SW decode when coming across these videos? I will notify the mpv-android dev about this issue as well.

[2021-12-13 22:29] Pentaphon commented on #516
@courville good news, I showed this issue to the mpv dev and he submitted a patch upstream to ffmpeg.

Here's his comments and fix if you are interested: https://github.com/mpv-android/mpv-android/issues/468#issuecomment-992829282

[2021-12-14 17:14] Hacitigin commented on #504
Same problem I have. Is it possible to enchant the program with stremio using. Player not recognize the movie and unable to find subtitles from opensubtitles when using stremio but if click on add to library problem solving. May program add an movie to library temporarily when it comes from stremio. But all of these bugs it is awesome especially sound support and codec working thank you

[2021-12-18 12:34] courville commented on #516
@Pentaphon excellent news! Thanks for pushing this.
Ref: http://ffmpeg.org/pipermail/ffmpeg-devel/2021-December/289545.html
Corresponding pre-release available here https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.33 (warning pre-release targeting API31 might create regressions).

[2021-12-18 15:30] courville commented on #517
Thanks for sharing the sample.
Nova has only very basic SSA sub support.
I guess the problem is in `SubtitleManager.java` with the parsing of the color tags.
[code]
Will try to find time to look at it.

[2021-12-18 15:53] courville commented on #517
@rahaaatul any chance you could find back the original picture sub?
What I see is that you have `{*\c&H3B41E5&}` tag and the `*` seems wrong somehow.
I do not see unfortunately why the crude simple replacement patterns in nova code would not work on the files provided as examples.

For now I am trying to fix the glitch and do not come up with an enhanced ssa support.

[2021-12-18 16:40] rahaaatul commented on #517
Not really, I have deleted the file some time ago. But it's same with every SSA file. It's supposed to look like this ![this](https://user-images.githubusercontent.com/86149861/146648784-b444ee5f-dbf5-44a5-9a69-73d776a00364.jpg) but Nova shows it as text.

[2021-12-18 16:40] rahaaatul commented on #517
@courville

Not really, I have deleted the file some time ago. But it's the same with every SSA file. It's supposed to look like this ![Screenshot from MX Player](https://user-images.githubusercontent.com/86149861/146648784-b444ee5f-dbf5-44a5-9a69-73d776a00364.jpg) but Nova shows it as random character text.

[2021-12-18 18:10] courville commented on #517
@rahaaatul for now let's focus on the specific issue you depicted in the original issue: i.e. the tag still present in the text displayed. This should be easily fixed.

[2021-12-18 18:34] rahaaatul commented on #517
The random character appears when there is `on video text` like the screenshot I posted hours ago appears, otherwise, the text subtitles seem fine with `.SSA` file. And also if the subtitle is animated, the random characters keep replacing each character, it's really terrible looking.

_To be honest, the original issue I posted was to let you know that instead of the text subtitle appearing on top

[2021-12-18 18:39] courville commented on #517
@rahaaatul let's focus on the same issue, can you please share the video file and ssa file with software at courville dot org or provide the link to download the video? If you have the exact timestamp corresponding to the screenshot it would be nice. This way we will be synchronized on the issue to be solved. Thanks.

[2021-12-18 18:44] rahaaatul commented on #517
I will send you a comparison of Nova and another video player playing the same file tomorrow? Would that be okay?

Do you have telegram? I could send you the video there also.

[2021-12-18 18:45] rahaaatul commented on #517
@courville I will send you a comparison of Nova and another video player playing the same file tomorrow? Would that be okay? Or if you need the video, I could send it through telegram.

Do you have telegram?

[2021-12-18 18:46] courville commented on #517
@rahaaatul just the exact name of the video file could be enough, I will search it.

[2021-12-18 18:49] rahaaatul commented on #517
The original issue picture is an anime named **Attack on Titan**/ **Shingeki no Kyojin**.

Later provided subtitle file was from **Tokyo Revengers**.

Last Picture was from **Odd Taxi**.

[2021-12-19 11:26] courville commented on #517
OK I found Odd Taxi s01e01 and corresponding ass subs from the image you displayed.

[2021-12-19 11:35] rahaaatul commented on #517
I'm sorry I didn't see this message so the conversation dragged on...

I hope you can implement full support for SSA subtitles in later updates of this app because Anime encoders use this type of subtitles to translate another language. So it's a crucial update required for nova to support SSA subtitles.

[2021-12-19 11:48] #336 closed, assigned to courville

[2021-12-19 11:48] courville commented on #336
API31 targeted for v6.0.30 onward.

[2021-12-19 11:51] courville commented on #517
See https://github.com/nova-video-player/aos-AVP/issues/128
Let's close this issue to avoid duplicate and continue discussion there.

[2021-12-19 11:51] #517 closed, assigned to nobody

[2021-12-19 11:52] courville commented on #128
@rahaaatul you are right, support for ssa/ass will require more work i.e. inclusion of [libssa](https://github.com/libass/libass)

[2021-12-19 12:08] rahaaatul commented on #128
Sorry, @courville, I'd love to help but unfortunately, I don't know any programming language.

[2021-12-19 13:22] courville commented on #516
OK created own nova ffmpeg fork including https://github.com/nova-video-player/FFmpeg/commit/348f14911a2dcb4f619cf15ce6056d4ddf29b767 following https://patchwork.ffmpeg.org/project/ffmpeg/patch/DB9PR09MB521251A14DCD46826854BCC6EC749@DB9PR09MB5212.eurprd09.prod.outlook.com/ and http://ffmpeg.org/pipermail/ffmpeg-devel/2021-December/289545.html

[2021-12-19 13:22] #516 closed, assigned to nobody

[2021-12-19 13:25] courville commented on #383
OK created own nova ffmpeg fork including nova-video-player/FFmpeg@348f149 merging dovi fixes from https://github.com/quietvoid/FFmpeg/commits/4.4-MatroskaBlockAdd

[2021-12-19 13:25] #383 closed, assigned to nobody

[2021-12-19 13:42] courville commented on #509
Can you please check https://home.courville.org/nova_video_player-faq/index.html section regarding trakt and check that you are not using any blockers?

[2021-12-19 13:43] courville commented on #509
Closing since it works for me and others.

[2021-12-19 13:43] #509 closed, assigned to nobody

[2021-12-19 13:44] courville commented on #508
Nova supports only specific ftp servers, please check https://home.courville.org/nova_video_player-faq/index.html
Please try to use sftp instead.

[2021-12-19 13:44] #508 closed, assigned to nobody

[2021-12-19 13:47] courville commented on #506
Sorry for the late reply. I want to keep the refresh rate selection algorithm seamless without any complicated custom overriding (yes I know debatable design choice).
However, I reworked the refresh rate selection algorithm that will solve (I hope if your TV supports and advertizes these rates) for 23.976fps --> 23.976Hz and 59.94fps --> 59.94Hz cases.
Please try v6.0.33 pre-release and reopen if

[2021-12-19 13:48] #506 closed, assigned to nobody

[2021-12-19 13:49] courville commented on #498
Still in the todo's list (help wanted). Closing since duplicate of https://github.com/nova-video-player/aos-AVP/issues/47

[2021-12-19 13:49] #498 closed, assigned to nobody

[2021-12-19 13:51] #431 closed, assigned to nobody

[2021-12-19 15:20] Pentaphon commented on #418
@courville I would suggest you close any issue where the author doesn't get back to you with more information within 6 month's time which is plenty of time to respond. This issue, for example is nearly a year old and the author didn't even give you any information to start with. If people are not willing to even respond to you to fix their issues, it is not fair to you to have your issue box clutt

[2021-12-19 15:26] Pentaphon commented on #472
Your new nova ffmpeg fork is looking promising and will probably be enough to fix a lot of playback issues people have been having so I will close this feature request. I will continue to try and help you make this player more robust by reporting playback issues to you and other devs. Cheers.

[2021-12-19 15:27] courville commented on #418
Closed due to inactivity.

[2021-12-19 15:27] #418 closed, assigned to nobody

[2021-12-19 15:37] Pentaphon commented on #466
You should do that, yes, and can you post a link to the video (or a clip from the video) that is doing this? I have a 4K Stick as well so maybe I can be of help.

[2021-12-19 18:28] courville commented on #2
v5.x and v6.x has SMBv2 support integrated.

[2021-12-19 18:28] #2 closed

[2021-12-19 18:29] #8 closed

[2021-12-19 18:30] courville commented on #402
v6 only uses tmdb: closing.

[2021-12-19 18:30] #402 closed, assigned to courville

[2021-12-19 18:32] courville commented on #152
Should be fixed now: closing due to inactivity.

[2021-12-19 18:32] #152 closed, assigned to courville

[2021-12-19 18:32] #70 closed, assigned to nobody

[2021-12-19 18:33] courville commented on #117
Fixed by https://github.com/nova-video-player/aos-FileCoreLibrary/commit/3eeee79bb8fc7399a1c0d0090f0d1253ec01a544

[2021-12-19 18:33] #117 closed, assigned to nobody

[2021-12-19 18:34] courville commented on #165
Close due to inactivity

[2021-12-19 18:34] #165 closed, assigned to nobody

[2021-12-19 18:35] courville commented on #16
Close due to inactivity and possible prior solving.

[2021-12-19 18:35] #16 closed

[2021-12-19 18:35] courville commented on #15
Close due to inactivity and possible prior solving.

[2021-12-19 18:35] #15 closed

[2021-12-19 18:37] courville commented on #23
ssl has been removed from avos long ago and should be put back. Only http is supported for now.

[2021-12-19 18:38] courville commented on #458
Closing as duplicate of https://github.com/nova-video-player/aos-AVP/issues/23, let's follow issue there.

[2021-12-19 18:38] #458 closed, assigned to nobody

[2021-12-19 18:42] courville commented on #42
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:42] #42 closed, assigned to nobody

[2021-12-19 18:51] courville commented on #362
@YouROK sorry for following up late. Proposed fix added.

[2021-12-19 18:51] #362 closed, assigned to courville

[2021-12-19 18:53] courville commented on #160
v6.0.33 should be ok now

[2021-12-19 18:53] #160 closed, assigned to nobody

[2021-12-19 18:54] courville commented on #157
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:54] #157 closed, assigned to phhusson

[2021-12-19 18:55] courville commented on #145
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:57] courville commented on #136
@jerryn70 the blacklisting is in the code sorry.

[2021-12-19 18:57] #136 closed, assigned to nobody

[2021-12-19 18:57] courville commented on #136
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:58] courville commented on #126
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:58] #126 closed, assigned to courville

[2021-12-19 18:58] courville commented on #123
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:58] #123 closed, assigned to nobody

[2021-12-19 18:58] courville commented on #119
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:58] #119 closed, assigned to nobody

[2021-12-19 18:59] courville commented on #118
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:59] #118 closed, assigned to nobody

[2021-12-19 18:59] courville commented on #91
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:59] #91 closed, assigned to nobody

[2021-12-19 18:59] courville commented on #77
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:59] #77 closed, assigned to nobody

[2021-12-19 18:59] courville commented on #76
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 18:59] #76 closed, assigned to nobody

[2021-12-19 19:01] courville commented on #68
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:01] #68 closed, assigned to nobody

[2021-12-19 19:01] courville commented on #50
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:01] #50 closed, assigned to nobody

[2021-12-19 19:01] courville commented on #48
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:01] #48 closed, assigned to nobody

[2021-12-19 19:04] courville commented on #226
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:04] #226 closed, assigned to nobody

[2021-12-19 19:05] courville commented on #221
Unfortunately there is no universal way to get subs working via upnp since it is not part of the protocol (only guess fetching is performed that works sometimes with some servers).
Closing the issue.

[2021-12-19 19:05] #221 closed, assigned to nobody

[2021-12-19 19:06] courville commented on #220
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:06] #220 closed, assigned to nobody

[2021-12-19 19:06] courville commented on #218
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:06] #218 closed, assigned to nobody

[2021-12-19 19:07] courville commented on #209
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:07] #209 closed, assigned to nobody

[2021-12-19 19:07] courville commented on #208
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:07] #208 closed, assigned to nobody

[2021-12-19 19:09] courville commented on #197
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:09] #197 closed, assigned to nobody

[2021-12-19 19:11] courville commented on #194
For now sticking to the debatable choice of keeping the swdec toast to remind people to get back to hwdec and not complain about performance issues. Closing the issue for now.

[2021-12-19 19:11] #194 closed, assigned to nobody

[2021-12-19 19:17] courville commented on #179
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:17] #179 closed, assigned to nobody

[2021-12-19 19:17] #186 closed, assigned to courville

[2021-12-19 19:18] courville commented on #206
Should have been resolved in v6.x

[2021-12-19 19:18] #206 closed, assigned to courville

[2021-12-19 19:21] courville commented on #258
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:21] #244 closed, assigned to nobody

[2021-12-19 19:22] #252 closed, assigned to nobody

[2021-12-19 19:24] courville commented on #441
Merged in last version.

[2021-12-19 19:24] #441 closed, assigned to courville

[2021-12-19 19:25] courville commented on #425
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:25] #425 closed, assigned to nobody

[2021-12-19 19:30] #417 closed, assigned to courville

[2021-12-19 19:31] courville commented on #414
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:31] #414 closed, assigned to nobody

[2021-12-19 19:34] #408 closed, assigned to nobody

[2021-12-19 19:35] courville commented on #403
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:35] #403 closed, assigned to courville

[2021-12-19 19:38] courville commented on #377
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:38] #377 closed, assigned to nobody

[2021-12-19 19:39] courville commented on #393
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 19:39] #393 closed, assigned to nobody

[2021-12-19 19:46] Pentaphon commented on #194
Fair enough. I've bought new hardware since I first posted this so I run HWdec on all my current devices. I do however, think the toast can be annoying for people who know enough to turn off HWdec for their specific device where HWdec doesn't work for say, x265 and I've had several people ask me why that toast kept popping up before a video. Other players don't have a similar toast and I think it

[2021-12-19 23:04] courville commented on #330
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:04] #330 closed, assigned to nobody

[2021-12-19 23:04] courville commented on #329
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:04] #329 closed, assigned to nobody

[2021-12-19 23:04] courville commented on #319
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:04] #319 closed, assigned to nobody

[2021-12-19 23:05] courville commented on #305
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:05] #305 closed, assigned to nobody

[2021-12-19 23:05] courville commented on #306
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:05] #306 closed, assigned to nobody

[2021-12-19 23:06] courville commented on #302
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:06] #302 closed, assigned to nobody

[2021-12-19 23:08] courville commented on #293
Done on v6

[2021-12-19 23:08] #293 closed, assigned to courville

[2021-12-19 23:09] courville commented on #277
It should be fixed in recent releases.

[2021-12-19 23:09] #277 closed, assigned to nobody

[2021-12-19 23:10] courville commented on #357
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:10] #357 closed, assigned to nobody

[2021-12-19 23:11] courville commented on #350
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:11] #350 closed, assigned to nobody

[2021-12-19 23:11] courville commented on #349
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:11] #349 closed, assigned to courville

[2021-12-19 23:12] courville commented on #347
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:12] #347 closed, assigned to nobody

[2021-12-19 23:13] courville commented on #287
Scraper has completely been reworked since. Closing the issue for now.

[2021-12-19 23:13] #287 closed, assigned to nobody

[2021-12-19 23:13] courville commented on #343
Scraper has completely been reworked since. Closing the issue for now.

[2021-12-19 23:13] #343 closed, assigned to nobody

[2021-12-19 23:15] courville commented on #204
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:15] #204 closed, assigned to nobody

[2021-12-19 23:15] courville commented on #202
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:15] #202 closed, assigned to nobody

[2021-12-19 23:53] courville commented on #456
should be fixed by MDNS addition

[2021-12-19 23:53] #456 closed, assigned to nobody

[2021-12-19 23:54] courville commented on #433
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:54] #433 closed, assigned to nobody

[2021-12-19 23:57] courville commented on #227
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-19 23:57] #227 closed, assigned to phhusson

[2021-12-20 00:03] courville commented on #254
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-20 00:03] #254 closed, assigned to fadern

[2021-12-20 02:55] eSkRo32 opened #518 "[Bug]: won't play files from CINEMA HD apk"
### Problem description

When trying to play a movie from CINEMA HD apk, and choose NOVA PLAYER as external player, the movie won't play/start.

### Steps to reproduce the issue

Install cinema hd apk
Click on any movie
Let it search for links
Once links are found
Try to open any links with NOVA PLAYER.
NOVA PLAYER will launch
But the Movie won't start...

### Expected behavior

_No response_

###

[2021-12-20 09:01] courville commented on #292
Last versions of jcifs-ng are much better and this distinction SMBv2/1 and technical display are IMHO not required anymore (though this is a nice idea).
Anyway, I do not see how to identify SMB level at scan (it is not provided via the API).
I will thus close the issue.

[2021-12-20 09:01] #292 closed, assigned to nobody

[2021-12-20 11:50] courville commented on #512
Thanks for the video. What I see is that when downloading the sub, the video is not yet indexed which can cause some side effects. Moreover you have selected possibility to use an external video player and you pick nova that is treated as external player and thus no sub is passed to "external nova player".
Can you please check if when disabling use external player it works?

[2021-12-20 13:58] courville commented on #462
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-20 13:58] #462 closed, assigned to nobody

[2021-12-20 15:15] rahaaatul commented on #512
@courville [v6.0.33](https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.33) fixed it. It's working fine now.

[2021-12-20 15:15] #512 closed, assigned to nobody

[2021-12-20 15:26] rahaaatul opened #519 "[Bug]: Trakt won't sync correctly or won't sync at all"
### Problem description

Nova won't sync video watched/completed with `Trakt` . Although in the app, it's marked watched.

Also manually marking (watched/not watched) not working either.

It's marking the incorrect video as watched.
_i.e., I watched Boruto, it synced Sunset Beach. And other videos are unsynced._

### Steps to reproduce the issue

_Watch a video, wait for it to be completed and syn

[2021-12-20 15:27] #514 closed, assigned to nobody

[2021-12-20 15:39] courville commented on #505
Thanks for the feedback it seems to be a bug occurring in some specific language.
Can you please disclose the language you are using (locale) and also the full name of the video file that causes the issue?
I will try to reproduce and fix.

[2021-12-20 18:28] #455 closed, assigned to courville

[2021-12-20 19:05] courville commented on #519
Forgot to propagate tmdb id instead of tvdb id in trakt sync for tv shows in the migration to tmdb from tvdb.
Will be corrected soon.

[2021-12-20 21:23] courville commented on #519
Please check v6.0.34 if it fixes all your trakt issues.

[2021-12-20 21:26] courville commented on #451
OK I start to think what is causing the issue. Could you try disabling external video player so that nova video player plays the video directly without prompting for a possible player?
When selecting nova to play a video as external video player it does not know about resume points or subtitles since it is not intended to be used as an external player for nova application itself.

[2021-12-20 21:28] courville commented on #449
Ar you by any chance using an external usb drive on a sony tv?
Cf. https://github.com/nova-video-player/aos-AVP/issues/354

[2021-12-20 21:32] courville commented on #447
Are you using an usb drive on your sony tv? (cf. https://github.com/nova-video-player/aos-AVP/issues/354)
I will need exact names of the files that are not scraped correctly to investigate with specific examples.
Note that latest nova version v6 (still pre-release) has undergone major multimedia info scrape redesign.
Might be worth checking.

[2021-12-20 21:33] courville commented on #444
Nice suggestion.

[2021-12-20 21:36] courville commented on #359
It should be fixed in latest 6.x releases.

[2021-12-20 21:36] #359 closed, assigned to nobody

[2021-12-20 21:37] courville commented on #434
Should be fixed in 6.0.34. See https://github.com/nova-video-player/aos-AVP/issues/519

[2021-12-20 21:37] #434 closed, assigned to nobody

[2021-12-20 21:39] courville commented on #423
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-20 21:39] #423 closed, assigned to nobody

[2021-12-20 21:42] courville commented on #394
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-20 21:42] #394 closed, assigned to nobody

[2021-12-20 21:46] courville commented on #381
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-20 21:46] #381 closed, assigned to courville

[2021-12-20 21:46] courville commented on #373
Closing due to inactivity and possibly prior solving. Please reopen an issue if needed.

[2021-12-20 21:46] #373 closed, assigned to courville

[2021-12-20 21:49] courville commented on #446
Closing as duplicate of https://github.com/nova-video-player/aos-AVP/issues/337

[2021-12-20 21:49] #446 closed, assigned to nobody

[2021-12-20 21:53] courville commented on #335
Closing as duplicate of https://github.com/nova-video-player/aos-AVP/issues/23

[2021-12-20 21:53] #335 closed, assigned to nobody

[2021-12-20 21:54] courville commented on #283
Should be implemented in 6.x pre-release

[2021-12-20 21:54] #283 closed, assigned to nobody

[2021-12-20 21:56] courville commented on #265
window mode exists even with transparent background: closing

[2021-12-20 21:56] #265 closed, assigned to nobody

[2021-12-21 06:27] arikoza commented on #505
No. Not because of the language, most likely. Empirically, it turned out that the error occurs when there is no background or genre in the file description in the TMDB database. Perhaps because of some other data, but mostly they are filled everywhere. Just in case, the language is Russian (RU)

[2021-12-21 08:50] courville commented on #505
@arikoza very interesting remark. Could you still provide the exact name of the tv show that leads to this behavior so that I can reproduce?
Moreover can you please let me know if you are using the Google play release you are using (i.e. official one 5.x or the github one v6.x)?
Thanks

[2021-12-21 09:05] arikoza commented on #505
TvShow name: Жена олигарха S01E01.avi
https://www.themoviedb.org/tv/136243

Video-armeabi-v7a-API_21+-release.apk  v6.0.28 and v6.0.34

[2021-12-21 09:43] courville commented on #505
Thanks, now I have a file and can reproduce the issue (not related to language).

[2021-12-21 18:49] bronnel commented on #247
@courville I tried building on Linux it gives this error  "Filecorelibrary" NDK build , I also tried on windows using Docker gives me the same error ,I appreciate if you could help me out here?

[2021-12-21 23:18] Pentaphon commented on #401
Looks like a good reason to for this enhancement to take a little longer until that move is complete.

[2021-12-22 14:05] arikoza opened #520 "[FEAT]: Adding a tvmaze scraper"
### Description

A lot of TV series made in Russia are not in TMDB, but they are in tvmaze, is it possible to add to Nova?

### Additional information

_No response_

[2021-12-22 18:22] courville commented on #401
I guess that we will need modifications on the stock exoplayer to enable more use cases that the one captured by the default androidx media one. Let's see how we handle that once v6.x is out (jan target).

[2021-12-22 18:28] courville commented on #520
For now the way nova is structured is that it supports only one scraper source per movie/tvshow domains.
It would required major restructure of the code with conflict management, multiple tvshow id coexistence etc...
Not planned for the near future I am afraid except if one wants to contribute.

[2021-12-22 18:55] #505 closed, assigned to courville

[2021-12-22 19:35] moneytoo commented on #336
VLC 3.4.3 beta 6 available from the public testing channel on Google Play [uses the MANAGE_EXTERNAL_STORAGE permission](https://code.videolan.org/videolan/vlc-android/-/blob/3.4.3-beta06/application/vlc-android/AndroidManifest.xml#L12).

[2021-12-22 20:07] courville commented on #336
@moneytoo thanks for sharing this news.
It hurts since I have been denied this privilege by Google.
I am glad for vlc to have managed to lobby for it.
At least nova complies with the security requirements of Android...
/me cries into a pillow

[2021-12-23 12:23] courville commented on #336
/me having fun looking at https://www.reddit.com/r/androiddev/comments/rmgdis/how_come_vlc_is_allowed_to_use_manage_external/
Thanks @moneytoo

[2021-12-23 13:53] courville commented on #336
@moneytoo, I just made the connection with just video player (I am slow sorry).
FYI nova relies on the old Archos Video Player AVOS C based multimedia engine that used to be the software basis for all Archos multimedia PMPs.

[2021-12-23 14:41] courville commented on #336
From the VLC folks and for track record https://issuetracker.google.com/issues/143549606

[2021-12-23 19:11] okan35 commented on #449
No sony tv. I use nova on xiaomi mi box ans  my media is on a external hdd that is connected to a laptop which acts as server in the same network with xiaomi.

[2021-12-23 19:20] okan35 opened #521 "Support for id number search of tv shows/movies"
Nova could not find the show info for my tv show on tvdb. So if I could just write the tvdb id of the show on search box instead of the show's name it would be very helpful.![Screenshot_20211223-202047.png](https://user-images.githubusercontent.com/19223877/147283685-3497734a-49d7-449c-8fc6-5957e1486707.png)

[2021-12-24 12:14] rahaaatul commented on #519
It's working correctly now, thank you for the quick fix @courville .

[2021-12-24 12:14] #519 closed, assigned to courville

[2021-12-24 12:16] rahaaatul commented on #521
I think Nova using TMDB @okan35 .

[2021-12-24 12:58] courville commented on #521
Hi, nova switched to tmdb in the v6.x pre-releases (google play official release still uses tvdb).
Could you please share the exact file name of the video that is causing the scrape issue?
BTW Deutschland 8x is an amazing tv show (could not resist).

[2021-12-24 13:11] courville commented on #449
OK thus I assume you are using a laptop (which OS?) acting as SMB server: can you confirm this?
Could you please try the latest github pre-release (6.0.34) and provide adb logcat logs of the issue (https://github.com/nova-video-player/aos-AVP/wiki/Debugging)?
Does your network share name changes between two occurrences of the issue?
I might ask you to dump your mediaDb to check what is the problem

[2021-12-24 14:03] rahaaatul opened #522 "SMB Index Issue"
### Problem description

After clean re-installing, the latest Pre-Release, I tried to index my SMB server's contents, I added the folders, but it won't scan the contents and index.

### Steps to reproduce the issue

### Expected behavior

Should start indexing.

### Your phone/tablet/androidTV model

SMART_TV

### Operating system version

Android 5.1

### Application version and app store

6.0.3

[2021-12-24 14:35] arikoza opened #523 "[Bug]: Volume indicator"
### Problem description

When changing the volume, the bar is completely transparent and there is no indication at what level the volume is now. I would also like to be able to disable the built-in indicator and use the system
![photo_2021-12-24_17-29-31](https://user-images.githubusercontent.com/93445603/147359497-830741e0-ed69-4dbe-914b-457a4f535d8b.jpg)

### Steps to reproduce the issue

increa

[2021-12-24 15:48] bronnel opened #524 "[Bug]: "Filecorelibrary" NDK build failure"
### Problem description

I tried building on Linux it gives this error "Filecorelibrary" NDK build , I also tried on windows using Docker gives me the same error , I appreciate if you could help me out here.

### Steps to reproduce the issue

Building nova using linux or windows

### Expected behavior

successful build

### Your phone/tablet/androidTV model

LG V50 Thinq

### Operating system vers

[2021-12-24 18:32] okan35 commented on #521
Actually after renaming them with filebot it scraped without issue. But I believe I searched as Deutscthland, Deutscthland 83 and Deutscthland 83 s01e01.

Last text brought a result but then it would make all the series same in terms of metadata.

As to this show yeah, I haven't watched it yet but I believe it is a good show, I found it after searching for shows like the Americans.

[2021-12-24 18:36] okan35 commented on #449
Yes, I use a windows 10 laptop with smb.  I will share logs after I try. One thing I noticed that causes issues is if my server is off, which means laptop turned off, nova acts strange so a good server connection check is a must.

I dont think my network had any name changes when this issues happened, as I dont touch my network settings.

I can try to get mediadata db  and share here.

[2021-12-24 18:37] courville commented on #524
Sure I will gladly help.
Can you please give me the full error message i.e. the output of `make &> build.log` or alternatively the output of `./gradlew aND` in Video directory?
The easiest to build nova is under Android studio, I guess: there you can also paste the build error in build console.

[2021-12-24 18:39] courville commented on #524
Ah forgot you need to get branch v6 of nova now:
[code]

[2021-12-24 18:48] courville commented on #449
Nova is designed to keep the full former scraped data when a server is not available and simply tag it hidden (in theory).
To dump your mediaDb you can click 10 times on the nova settings->software decoding, it will enable more options, one of them at the end of the settings list being media database export. You will need to pull it from internal storage located in `/sdcard` on v5 but located in `

[2021-12-24 20:38] bronnel commented on #524
@courville , Thanks, I appreciate it. I'm really having a hard time trying to build , can you be so kind and show me a proper guide on how to build using windows ? I really prefer windows if possible, if not possible on windows then I will go ahead and use Linux instead.

[2021-12-24 22:22] ghost commented on #521
Not sure if I'm misunderstanding something or you just misspelled it here, but the show and country are spelled DeutsCHland, not DeutsCTHland.

[2021-12-25 03:04] aluo-x commented on #397
I've also noticed this issue. Seems to happen to 8bit AVC (hardware decoded) with FLAC. Also results in significant audio desync.

[2021-12-25 17:30] filipeGnA opened #525 "[Bug]: Audio Boost issue"
### Problem description

When I select the audio boost, when watching a movie, I notice indeed an audio boost which indicates that it's working fine.
However, after some minutes, the audio goes back to normal. The audio boost is still on, and if I turn it off and on again, I feel the audio boost again. Just for it to go back to normal again after some minutes.

I wonder how the audio boost does no

[2021-12-26 08:43] okan35 commented on #521
Actually that is because I wrote that comment from phone while I searched for the show on tv which I wrote correctly but it only gave me season 1 of the show and I searched like "Deutschland 83 s01e01". Renaming with filebot fixed the issue.

[2021-12-26 08:47] okan35 opened #526 "[Bug]: Nova does not delete xml files when show/media is deleted"
### Problem description

Nova does not delete left xml file when a media is deleted.

### Steps to reproduce the issue

Delete a show/movie you will see xml file will still stay.

### Expected behavior

It should delete the xml file

### Your phone/tablet/androidTV model

Xiaomi mi tv box

### Operating system version

Android 9

### Application version and app store

from github release

### Addi

[2021-12-26 22:46] courville commented on #524
@bronnel I never used windows to build nova and I am pretty sure it is not supported.
Best is to use linux and install android studio and use the commands I provided in the previous post.
I will fix the docker soon but on a plain linux it should work out of the box.
If it does not please ping me.

[2021-12-26 23:47] uGeek commented on #368
Is compatibility with WebDAV servers in the plans?

[2021-12-26 23:50] uGeek commented on #368
It would be great for Synology QNAP NAS servers via WebDAV, WebDAV servers, Nextcloud, ownCloud, ...

[2021-12-27 10:09] pouryapb opened #527 "issue with local network and vpn"
### Problem description

Some of the API used in this project is blocked in my country, like TMDB. I can use vpn, no problem but when I use vpn I can't use smb anymore. if the app could use local network for a local smb then I could use the app normally.

### Steps to reproduce the issue

connect to vpn and try using SMB on a local network

### Expected behavior

being able to use smb

### Your ph

[2021-12-27 11:35] courville commented on #527
It should be fixed on pre-release 6.xx available on github https://github.com/nova-video-player/aos-AVP/releases.

[2021-12-27 18:34] Tyaap commented on #506
23.976fps --> 23.976Hz and 59.94fps --> 59.94Hz are working as expected. For the other cases, would it be possible to add a option to disable the use integral multiples of the frame rate? Or perhaps an option to prefer the lowest suitable refresh rate, instead of the highest? The main reason being that motion interpolation on the LG CX (and probably other TVs) does not work well with frame doublin

[2021-12-28 11:43] courville commented on #506
Interesting remark. The obvious fix would be to disable evil motion compensation mode on the tv. Maximizing the refresh rate is always best to grant a smooth UI on top of the video. I could always add a setting but I am not a big fan of "yet another cryptic setting for advanced users only" in general.

[2021-12-28 12:26] pkochans opened #528 "[Bug]: Player randomly freezes for 30sec while watching 4K x265 HDR content"
### Problem description

Player randomly freezes for 30sec while watching 4K x265 HDR content through SMB. If I wait long enough it goes back to normal but from the logs I can see the PID is different (self-restart?). Logs from two processes attached. Does not happen on SDR content. I always watch with subtitles and 160ms audio delay (not sure if it's important).

### Steps to reproduce the issue

[2021-12-28 12:27] ghost opened #529 "[FEAT]: Option "Rescan when opening application" of smb drive in mobile mode"
### Description

The feature exists only in TV mode if I'm not incorrect. It's possible on mobile to switch to TV interface to change this option, but it'd be nice to also have the feature available outright on smartphones and tablets.

### Additional information

_No response_

[2021-12-29 07:48] bronnel commented on #524
@courville this is what I get when I run new cmd
[code]

[2021-12-29 12:38] courville commented on #524
OK my bad, please use: `repo init -u https://github.com/nova-video-player/aos-AVP -b nova`
Can you please let me know the config you are using: do you confirm it is android studio on linux distro?
It will require java11 but you can use the one of Android studio (global preference->build-tools->gradle select java11 in gradle JDK.

[2021-12-29 14:09] pouryapb commented on #527
Yes, it is fixed in this version. Thank you

[2021-12-29 14:09] #527 closed, assigned to nobody

[2021-12-29 20:31] courville opened #530 "[Bug]: sftp OOM on large share indexing"
### Problem description

OOM when scanning large collection on sftp share

### Steps to reproduce the issue

index large collection wait and OOM

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

nvidia shield TV

### Operating system version

Android 9

### Application version and app store

_No response_

### Additional system information

_No response_

### Debug logs

[2021-12-29 20:54] courville commented on #530
Seems to be a regression after https://github.com/nova-video-player/aos-FileCoreLibrary/commit/3eeee79bb8fc7399a1c0d0090f0d1253ec01a544
@phhusson seems that some of our old patches were useful afterall...

[2021-12-29 21:45] courville commented on #530
Confirmed to be a regression.

[2021-12-29 21:53] courville commented on #530
TODO: forked https://github.com/mwiede/jsch here https://github.com/nova-video-player/jsch-mwiede and reapply [jcsh-0.1.51-parches.zip](https://github.com/nova-video-player/aos-AVP/files/3816955/jcsh-0.1.51-parches.zip) and do proper MR.
See https://github.com/nova-video-player/aos-AVP/issues/223

[2021-12-30 12:42] pouryapb opened #531 "subtitle download language list and subtitle file naming"
### Problem description

I noticed in settings, subtitle download language list is incomplete, for example I was looking for Persian and it was not in the list.
also, I have some subtitles in my storage that are named the same as the movie file but have a `.<lang>` at the end, like `.fa.srt` or `.en.srt`. nova does not detect them as a language in subtitle list, instead it just lists them as their

[2021-12-30 21:56] bronnel commented on #524
@courville thanks for the help, but now I get this error
[code]

[2021-12-31 01:38] morpheasgr commented on #23
I saw my duplicate issue being closed and got my hopes up that the feature was implemented. Is there anything that us, the community, could do to help add this feature? I guess it is kinda difficult to implement SSL encryption stuff. If there is anything a junior dev such as myself could do, please let me know.

[2021-12-31 14:47] #522 closed, assigned to nobody

[2021-12-31 15:03] courville commented on #23
@morpheasgr thanks for proposing to help. The https addition is not that trivial. I will talk with some former devs to check how to do this.

[2021-12-31 15:39] courville commented on #524
Given the logs provided it means that it does not find android_ndk.
Please install under android studio the ndk in the tools->sdk manager->sdk tools->NDK and CMake.
If it works the following line should point to ndk:
[code]
and it should not complain about `/ndk-build: not found`

[2022-01-01 13:09] bronnel commented on #524
@courville I did that it still says `ndk-build: not found`

I also did this but does not make any difference
`export PATH=$PATH:/home/matrix/Android/Sdk/ndk/23.1.7779620`

I feel like I am the only one with this issue.

[2022-01-01 15:34] courville commented on #524
@bronnel I am sure you are not the only one. Let me redo a clean build from a clean docker like `docker run -it --name nova debian:bullseye bash` (i.e. using bullseye debian):
[code]
You need to have in your path the proper `ANDROID_SDK_ROOT`

**EDIT:**  now it compiles with ndk 21 (fails with ndk 23).
**EDIT 2:** need to install default-jdk to get to complete build

[2022-01-01 16:03] courville opened #532 "[Bug]: avos fails to compile with NDK 23"
### Problem description

Build fails under linux using bullseye debian in avos with NDK 23.

### Steps to reproduce the issue

[code]

### Expected behavior

Use NDK `as` instead of `/usr/bin/as`

### Your phone/tablet/androidTV model

linux docker

### Operating system version

bullseye

### Application version and app store

_No response_

### Additional system information

_No response_

### De

[2022-01-01 16:04] courville commented on #532
avos compilation works using NDK 21.
See https://github.com/nova-video-player/aos-AVP/issues/524

[2022-01-01 16:26] courville commented on #524
@bronnel now it builds on my side with the docker. I hope it will be the same on your side.

[2022-01-01 19:15] bronnel commented on #524
@courville I tried docker here is what I get

[code]
**Edit:**
I created `local.properties` file inside Video with these lines still no luck
[code]
default-jdk also installed still no luck , I followed the steps you mentioned and there is no difference.

[2022-01-02 10:37] courville commented on #524
@bronnel your error seems to come from the fact that you have now the two ndk and it still picks the 23 one.
Please do `sdkmanager --uninstall "ndk;23.1.7779620"` or any 23.x number listed as `sdkmanager --list_installed`

[2022-01-02 14:29] morpheasgr commented on #23
Thank you so much!

[2022-01-02 16:02] courville opened #533 "[Bug]: boost fails to build with latest gradle using AVP/docker/Dockerfile"
### Problem description

Boost fails to build sometimes at first build (TBC). Manual rebuild works:
[code]

### Steps to reproduce the issue

Run docker and do make.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

docker

### Operating system version

bullseye

### Application version and app store

_No response_

### Additional system information

_No response_

###

[2022-01-02 18:04] courville commented on #530
Perhaps fix is contained in former Archos patches namely:
[code]
and
[code]
Note that reintegrating current jsch into nova source code is not that trivial since new jsch requires java16.

[2022-01-02 18:44] bronnel commented on #524
@courville I did that , I removed everything and started from zero , I let docker take care of everything and ended up with same error, I'm out of luck , I don't know what to do , I tried everything

[2022-01-02 18:49] courville commented on #524
Clearly the error is that you are using ndk 23
[code]
Perhaps you are reusing the same docker image.
I have updated the docker file in `AVP/docker`: please take the latest https://github.com/nova-video-player/aos-AVP/blob/nova/docker/Dockerfile
In order to start from scratch please check that you have removed the previous docker containers and images:
[code]
and restart from scratch.
There is no r

[2022-01-02 19:29] mschumacher69 commented on #519
Is 6.x available in beta or do I need to sideload it manually?

[2022-01-02 19:34] rahaaatul commented on #519
Check release and download the pre-release.

[2022-01-02 19:35] rahaaatul commented on #519
Download and Install the [`Pre-Release`](https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.36) from GitHub.

[2022-01-02 21:00] mschumacher69 commented on #519
Thanks, I'd rather not because Nova is my main media center and I can't afford bugs.

Any ETA on official release?

[2022-01-02 21:05] mschumacher69 commented on #23
I didn't know that Nova could load video from an http URL, how to do that?

[2022-01-02 21:18] bronnel commented on #524
Finally built successfully , first I removed all previous docker images with those lines you provided, there were images dating back to 5 months ago, I removed everything including jdk-11 , and used your updated docker file , containing ndk-21 , now everything works perfect , thank you , I appreciate your help @courville and happy new year . Now I have a feeling the new docker file is going to wor

[2022-01-02 21:41] courville commented on #524
\o/ we made it! Dockerfile should work under windows for sure (since it will run a linux docker). What is not supported on windows is the native build.

[2022-01-02 21:54] bronnel commented on #524
@courville , I have a strange issue , after successful build I cannot find nova folder in home directory

[2022-01-03 05:50] courville commented on #524
In the docker, the nova folder is located at the root `/nova` and apk built are located `/nova/Video/build/outputs/apk/noamazon/debug` if you built with `./gradlew aND`
Note that the folders are not exposed outside the docker: I will add a parameter to do so later.

[2022-01-03 11:55] Odroid13 opened #534 "[FEAT] : Image resize option."
### Description

Kodi to this option which is very useful to resize the video window (less high and less wide). "Pixel ratio"

The options already available in Nova Player "nothing works"

Thank you all for your work.

### Additional information

_No response_

[2022-01-03 12:39] courville commented on #524
In order to exchange data between host and docker, I added some instructions on the docker page i.e.:
[code]

[2022-01-03 13:24] bronnel commented on #524
@courville  I am not after the built apk, I need the project files , I mean Video, MediaLib , Filecorelibrary folders is what I need access to

BTW successfully built on windows 10 using WSL I can access the folders but cannot import to Android studio, is there a way to do that?
![qqqq](https://user-images.githubusercontent.com/15629916/147935490-f1836eef-9329-4966-8bfa-c51c679dd7a3.jpg)

[2022-01-03 13:54] courville commented on #524
Perhaps what you want is not a docker build but to do under windows (not docker) a checkout of the full project using repo and then start a different docker that would perform the build based on the exported host directory. This would allow you to access the files.
Otherwise a simple `docker cp <container id>:/nova ./nova` will do to copy files from docker to host.

[2022-01-03 14:01] bronnel commented on #524
@courville Thanks so much, that's what needed to know, I appreciate it.

[2022-01-03 18:47] arikoza commented on #493
Problem only 320 dpi

[2022-01-03 18:47] arikoza commented on #523
Problem only 320 dpi

[2022-01-03 20:25] courville commented on #524
What you could do in your case is to use the following `Dockerfile`:
[code]
And prior to building on your windows host using WSL retrieve the full source of nova using (so that you have the files directly on your windows host):
[code]
Then on the host build/launch the docker and the build that should use the host filesystem (build should be launched in the directory containing the `Dockerfile` and

[2022-01-03 20:31] courville commented on #533
Did not reproduce last build. Seems to be intermitent...

[2022-01-03 20:39] courville opened #535 "[Bug]: torrentd compilation fails using AVP/docker/Dockerfile"
### Problem description

torrentd compilation fails indide docker

### Steps to reproduce the issue

[code]

### Expected behavior

Generate a nice torrend binary (that might not work on recent android).

### Your phone/tablet/androidTV model

docker

### Operating system version

ndk21

### Application version and app store

_No response_

### Additional system information

_No response_

### Deb

[2022-01-03 20:39] courville commented on #535
Note this will kill fdroid submission.

[2022-01-04 08:52] courville commented on #524
Let's declare this issue closed for now.

[2022-01-04 08:52] #524 closed, assigned to nobody

[2022-01-04 19:53] Cowboy1968 opened #536 "v6.0.36 Google play internal (non public) release issues?"
Hi,
I just tried out this release and found the following when installed on a 2019 Nvidia Shield Pro (stock) with my videos stored on a 4TB external drive connected via usb.  I did a fresh clean install of this version.

1) There were several tv shows with no info (unscrapped) that were found by the previous version of Nova using TVdb and one that was consistently scanned incorrectly  (The Late sh

[2022-01-05 12:58] onthejobtraining commented on #34
Any updates on this must have features ?

[2022-01-06 14:39] Akeshis opened #537 "[Bug]: Special Characters on movies"
### Problem description

Movies starting with special characters are placed at the end of the list in the media library.
Example: the movie "It" (ça in french)

### Steps to reproduce the issue

Add new movies starting with special character

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

Nvidia Shield Pro 2019

### Operating system version

Android

### Application v

[2022-01-08 10:03] courville commented on #532
Previous error has been fixed in ndk23 branch but another one occurs:
[code]
fails with
[code]
while replacing clang with ndk22 one just works:
[code]
yields no error.

EDIT: segment the problem:

[code]

[2022-01-08 10:06] courville commented on #532
Note to self, to debug avos build and see compile commands use `make SHELL='sh -x' native_avos_full &> logs`

[2022-01-08 10:28] courville commented on #532
Option causing trouble is `-no-integrated-as`

[2022-01-08 11:20] courville commented on #532
OK starting late on this, cf. https://developer.android.com/ndk/downloads/revision_history
[code]
And GAS will be removed in ndk24 https://android.googlesource.com/platform/ndk/+/master/docs/BuildSystemMaintainers.md
There is a migration guide for clang https://android.googlesource.com/platform/ndk/+/master/docs/ClangMigration.md

Thus TODO is to migrate all .S and inline assembly to be clang comp

[2022-01-08 12:24] courville commented on #532
After treating the obvious, still missing:
[code]

[2022-01-08 16:16] courville commented on #532
See https://android-review.googlesource.com/c/platform/external/libavc/+/154876

[2022-01-09 16:36] courville commented on #535
fixed using ndk23

[2022-01-09 16:36] #535 closed, assigned to nobody

[2022-01-09 16:36] courville commented on #533
fixed using ndk23 now

[2022-01-09 16:36] #533 closed, assigned to nobody

[2022-01-09 16:36] courville commented on #532
Seems to work now

[2022-01-09 16:36] #532 closed, assigned to nnoury

[2022-01-09 16:40] courville opened #538 "[Bug]: dependency issue after make clean_prebuilt"
### Problem description

Need to build twice after cleaning of prebuilt on java side.

### Steps to reproduce the issue

[code]
Fails with:
[code]
Second time it builds.

### Expected behavior

One pass compilation.

### Your phone/tablet/androidTV model

docker

### Operating system version

linux

### Application version and app store

_No response_

### Additional system information

_No respon

[2022-01-10 09:50] wsnake65 commented on #493
Please fix it. 320dpi is standart resolution for Android TV interface (for tvbox and TV 1920*1080).

[2022-01-10 11:48] courville commented on #538
Easier to reproduce on smaller scope:
[code]

[2022-01-10 20:51] #538 closed, assigned to courville

[2022-01-11 00:49] Pentaphon commented on #516
I'm afraid that 6.0.36 did not solve the issue. The same behavior happens. There is no HEVC playback when hardware decoding is enabled on this device.

[2022-01-12 22:07] courville commented on #493
Why do you state that the problem is 320dpi?
This tests determines if this is indeed an AndroidTV:
[code]
My current understanding is that the modded firmware used does not comply entirely in the UI mode type television...
Please correct me if I am wrong.

[2022-01-12 22:08] courville commented on #523
Let's merge this issue with https://github.com/nova-video-player/aos-AVP/issues/493 and treat it as duplicate.
Closing.

[2022-01-12 22:08] #523 closed, assigned to nobody

[2022-01-12 22:16] courville commented on #537
OK, in the sql sort I do apparently it does not sort well the special characters. I need to figure out how to do this efficiently.
@s-stark any idea?

[2022-01-13 08:39] courville commented on #536
Thanks for the feedback.
Do you confirm that in the migration process you have started from a fresh install (i.e. full rescrape of your whole collection)?
For point 1) could you please provide exact filename of the video that is not scraped properly so that I can investigate?
Regarding point 2), I did not encountered this behavior. It would be nice to get logcat logs when it happens.
BR,

[2022-01-13 08:42] courville commented on #534
Are you using a phone/tablet or an androidTV?
Could you please detail your hardware/config/Android version/nova app version?
For clarification sake, what you are highlighting is that changing scaling in video player does not work in your case.
On all devices I own the feature works on my side.

[2022-01-13 09:18] courville commented on #528
Thanks for the detailed bug report.
Sounds like there is a crash on the native multimedia engine for some reasons.
It could be a consequence of the NdkMediaCodec platform crash which is not good and not nova dependent.
In this case nova should fall back to software decoding (hardware Android platform failing) but it would not help in your case since swdec will not be able to cope with 4k.
We have

[2022-01-13 09:24] mayham99 opened #539 "[Bug]: After Update to "Nvidia Shield Experience 9.0" (Android 11 Update) NOVA no longer recognizes/scans media files"
### Problem description

After upgrading to the latest Nvidia Shield version NOVA no longer shows the Movies/Series from my external Harddrive (with scraped Images and imformations).

It is still possibel to navigate to the files and play them. But of course i want them with cover and everything in the overview.

It looks like many people (an many other software developers) got similar issues with

[2022-01-13 09:34] courville commented on #539
Thanks for pointing this out. I will upgrade my nvidia shield and test.
Note that pre-release v6.0.xx of nova is complying with API31 Android "features" i.e. new security limitations, it could help.
I am not clear if it will solve the issue though.

[2022-01-13 09:48] mayham99 commented on #539
Thanks for the quick response.

As i am not a developer i don't know how i can compile/create a "pre-release" for myself. But that is no problem. I'm waiting for the final update via the playstore.

As you marked this as important, i assume there might be a fix in one of the next releases.

Thank you very much for the work. NOVA is really a great player :)

best regards

[2022-01-13 09:55] courville commented on #539
Pre releases are available here: https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.36

[2022-01-13 14:52] courville commented on #493
Can you please detail how you launch the video (inside nova, from a file browser, provide video if not clear)?
Are you using CEC to control the TV volume (grayed volume bar would be a symptom)?
Presence of volume bar come from non certified android TV box probably.

[2022-01-13 18:35] PcFish opened #540 "[Bug]: Nvidia Shield TV Pro - Microphone Permission not available"
### Problem description

Voice search does not work. Microphone Permission does not pop up. Does not show in app settings either

Worked fine on my Chromecast w GTV.
Voice works for Gboard typing while using Nova as well as other apps.
Tried installing an older version of Nova as well and it still isn't popping for some reason

### Steps to reproduce the issue

Attempt to search using microphone b

[2022-01-13 23:03] courville commented on #539
OK I can reproduce and this is not specific to external storage, it is also valid for internal storage. What is strange is that it does not happen on any phone I have tested with Android 11 and 12...
Note to self:
- files are visible in android mediadb  `adb shell content query --uri "content://media/external/video/media" --projection _data`
- files are imported in nova mediadb `adb shell content

[2022-01-13 23:09] courville commented on #539
@mayham99 until I figure it out, the workaround for you is to enable file sharing on your hdd on the shield that will expose the hdd as SMB share and go in nova network, authenticate and then index the SMB share corresponding on your hdd.
It works.

[2022-01-14 03:58] Cowboy1968 commented on #536
Hi,

The TV Show that continually scanned incorrectly was The Late Show with Stephen Colbert, it usually does not scan in at all as all torrents label it by date rather than season episode number. In the current version of Nova,  I just go to unscraped (I think that’s what it is called) folder and the four late night talk shows I watch are there, which works fine, but for some reason the beta vers

[2022-01-14 07:36] Ilithy commented on #34
Likewise, I love Nova, which I find perfect except for this missing feature, very practical on smartphones and tablets.
I am ready to support financially the development of this function if needed (I am not a coder, so I can't help in that)

Thank you very much for this wonderful app

[2022-01-14 07:52] mayham99 commented on #539
Thank you very much courville

first of all for providing the link to the pre-release versions. I did not use any of them yet as i did not know which one would be the right one for my shield and i was a bit deterred by the info that the database will be rebuild and i cannot switch back that easily...

but on the other hand this was OK but now i could try your workaround and can confirm that this w

[2022-01-14 11:44] bronnel commented on #524
@courville , I have a strange issue , in Ubuntu building from terminal works fine  (without using docker) but I have to enter `export ANDROID_SDK_ROOT=/home/matrix/Android/Sdk ` every time, also inside Android studio's own terminal building works fine but again I have to enter `export ANDROID_SDK_ROOT=/home/matrix/Android/Sdk `
But when I press the make button (the green button ) inside android st

[2022-01-14 12:27] courville commented on #524
Android studio does not find the NDK.
You need to define before launching Android studio in your shell default configuration file (`$HOME/.zshenv` `$HOME/.bashrc` or whatever shell config file relevant for your config):
[code]
If you are able to build afterwards in the console without specifying the `ANDROID_SDK_ROOT`, it should work too on Android studio that will inherit this variable.

[2022-01-14 12:58] courville commented on #540
Good point Android changed everything again... [SpeechRecognitionCallback](https://developer.android.com/reference/androidx/leanback/widget/SpeechRecognitionCallback ) is deprecated and it is automagic with [SearchSupportFragment](https://developer.android.com/reference/androidx/leanback/app/SearchSupportFragment ) like it used to be but (note to self) it was not working on FireStick cf. https://g

[2022-01-14 13:40] bronnel commented on #524
@courville I did the export before launching android studio but ended with same error.
this is the content of `.bashrc` file in my home folder

Note : I did clean install of Ubuntu 20.04 LTS on my HDD from scratch , I started clean , but I have been dealing with this issue for the past three days, when it says `/bin/sh: /ndk-build: No such file or directory`  I don't know why it looks in `/bin/sh`

[2022-01-14 14:10] courville commented on #524
Just add the two lines I provided at the end of the file and check in the console that indeed bash is your shell using `echo $SHELL`

[2022-01-14 16:24] bronnel commented on #524
@courville after adding the lines to `.bashrc` the build from console inside android studio does not need specifying `ANDROID_SDK_ROOT`  and it is SUCCESSFUL , but it still fails with the make button with same ndkbuild not found error.
and the output of `echo $SHELL` is:
`/bin/bash
`

[2022-01-14 18:04] Cowboy1968 commented on #539
Hi courville,

I am having the same issue and I'm a bit confused about your workaround.

"the workaround for you is to enable file sharing on your hdd on the shield that will expose the hdd as SMB share and go in nova network, authenticate and then index the SMB share corresponding on your hdd.
It works."

I already have file sharing on my shield as I access the usb drive (set up as removable stor

[2022-01-14 18:44] courville commented on #371
Not anymore the case...

[2022-01-14 20:07] courville commented on #539
Browsing through SMB only did the trick to me scanning the usb drive after exposing the usb drive as SMB share in Android settings -> Storage setting.

Note that for some reason on the latest build I tested all the files on local storage and USB drive are scanned properly now (I do not understand what has changed). I will publish the associated version as pre-release on github this evening.

[2022-01-14 20:52] courville commented on #540
https://github.com/nova-video-player/aos-Video/commit/0b6a678c3661b861f93dda9090d2cad12bb92fc7 should be the solution. However this does not work on the shield but verified to work on the Android emulator.

[2022-01-14 21:38] dallasdondarrion opened #541 "[Bug]: Fire HD 10 - Turns off Wifi while accessing SMB"
### Problem description

   First time posting on this site, so I humbly bow before you GitHub overlords and please have mercy on my innocent soul. Also wanted to say I have this app on my Firestick and it’s my favourite media app by far.
   Now onto the issue at hand. I recently was gifted a Fire HD 10 and I immediately wanted to install Nova Video Player because it’s the bees knees on my Firesti

[2022-01-14 23:55] Cowboy1968 commented on #539
Is this v6.0.37 the new version to fix the USB drive scanning?

Thanks

Tim

From: CourvilleSoftware ***@***.***>
Reply-To: nova-video-player/aos-AVP ***@***.***>
Date: Friday, January 14, 2022 at 12:07 PM
To: nova-video-player/aos-AVP ***@***.***>
Cc: Tim Allen ***@***.***>, Comment ***@***.***>
Subject: Re: [nova-video-player/aos-AVP] [Bug]: After Update to "Nvidia Shield Experience 9.0" (Androi

[2022-01-15 12:51] okan35 opened #542 "Detect audio language"
I see that in a video file where vlc detects and puts correct language names for audio, nova does not. You can see from screenshots.

Here is media data of the show
https://pastebin.com/DzBwUfxZ.
![](https://i.imgur.com/zp0ydy8.jpg) ![](https://i.imgur.com/3Eow8Ey.jpg)

[2022-01-15 20:13] courville commented on #400
Task completed

[2022-01-15 20:13] #400 closed, assigned to nobody

[2022-01-15 20:46] courville commented on #541
Hi, I just tried with a Fire HD 8, Fire OS 6.3.1.5 and unfortunately, I cannot reproduce.
Would it be possible to get logcat logs https://github.com/nova-video-player/aos-AVP/wiki/Debugging ?
I do not see how Nova could disable WiFi. It could be due to WiFi platform errors. For now I am in the dark.

[2022-01-15 21:14] dallasdondarrion commented on #541
Thanks for the prompt response. I’ll get on it as soon as I’m home later. Here’s a video I took of the issue, hopefully it’s clear/stable enough. I also tried accessing my share via smb through VLC just to double check and it worked fine.

[2022-01-15 21:15] dallasdondarrion commented on #541
Sorry. It closed the issue by accident when I tried uploading the video. Might not be allowed to do so on here, wasn’t sure if I could upload it or not.

[2022-01-15 23:30] courville commented on #541
Update: after many many many incremental OS updates, I got to Fire OS 7.3.2.2 and I still cannot reproduce on Fire HD 8 (not 10) with synology NAS (not win10 share).
Do you confirm that it works with your firestick browsing on your win10 share?

[2022-01-16 00:09] dallasdondarrion commented on #541
Can absolutely confirm I can access my Windows 10 share on the Firestick with Nova Video Player. Can also access my share with VLC and Kodi on both the Firestick and Fire HD 10 (but I much prefer Nova Video Player). It’s such a strange occurrence. My WiFi will be on. Open the app. Click on SMB and immediately my WiFi is turned off. Rinse and repeat. And it’s especially weird since yours is fine on

[2022-01-16 17:23] courville commented on #537
OK RTFM cf. https://developer.android.com/reference/android/database/sqlite/SQLiteDatabase sqlite has LOCALIZED and UNICODE collations.

[2022-01-16 19:59] andrei-tatar commented on #258
@courville I have an issue on Google TV. When I try to set the `Format` to `Fullscreen`, it shows as stretched (H264 video file from SMB share).

- `Original` and `Optimized` show the same way (video contained within the TV view)
- `Fullscreen` and `Stretched` show the same way (video stretched on the TV)

If I switch to the software decoder, it all works ok. Should I stay on the software decoder?

[2022-01-16 21:14] phhusson commented on #258
@andrei-tatar What's your device?

[2022-01-17 00:04] Cowboy1968 commented on #539
Hi, I just installed and tried v6.0.37 Google play internal (non public) release as I assumed it was the version you mentioned in your comment below

"Note that for some reason on the latest build I tested all the files on local storage and USB drive are scanned properly now (I do not understand what has changed). I will publish the associated version as pre-release on github this evening."

This

[2022-01-17 09:24] courville commented on #539
Note that I have updated [Nova FAQ](https://home.courville.org/nova_video_player-faq/index.html) to state that:

External USB drive scanning **_needs to be enabled_**.

Can you check that it solves your visibility issue (it will take time to scan the drive)?

Regarding TV shows identification, it is normal that Hawkeye is identified as the old show. Correct naming convention is that when there is

[2022-01-17 10:49] T2336 commented on #539
v6.0.37 and this setting enabled fixed the issue of the empty folders for me. Thank you!

[2022-01-17 14:21] favdish opened #543 "[FEAT]: Clean-up main menu for users of local/shared folders"
### Description

I am probably an oddity with that feature "request" but here goes :-)

I am using Nova on a tablet and my Fire TV (ie with the TV interface and used with the AZFT remote) and I'm quite happy with it on both devices. However, the Fire TV is used **solely** to access local files on a (largish) USB stick connected to it or to access files via smb on the local network. There is no int

[2022-01-17 15:38] andrei-tatar commented on #258
@phhusson I'm using a Google TV or Google Chromecast TV. Not sure exactly what it's called. It's the one with a small remote.
![image](https://user-images.githubusercontent.com/6473183/149799106-ad909179-a03e-4b0e-a570-0c88cface43d.png)

[2022-01-17 16:31] Cowboy1968 commented on #539
Thanks for the quick reply and fix, I will look at that tonight!

Re Hawkeye, I manually added 2021 to each episode via NOVA and NOVA **found the right info,** but the dvd art would not change and kept showing the dvd cover for the older incorrect show.  I am going to try to add 2021 to the actual title of the show before letting NOVA scan the drive and see if it finds the right show first thing.

[2022-01-17 17:59] wsnake65 commented on #493
With resolutions below or above 320dpi slider volume control appears. The switching on or off CEC does not affect it. My tvbox - non certified android TV box. My modded firmware comply entirely (I think so) in the UI mode type TV box with Android TV 9. I have an android TV box with android TV 9 - not TV. The volume slider does not work only in Nova 320 dpi (for example, in VLC or VIMU players, the

[2022-01-18 06:48] courville commented on #539
@Cowboy1968 I will look at the poster not changing, this sounds like a bug.

EDIT: I confirm the bug and `ManualShowScrappingSearchFragment` sets only episode poster and not the season/show one. TODO: check backdrop too.

[2022-01-18 19:41] bronnel commented on #524
@courville , I removed Ubuntu , installed Linux mint , did everything from start to finish , in the built-in console of Android studio everything builds fine but the make button is not working, believe me this issue exists because I spent the last week troubleshooting this issue ,

I followed these steps one by one and it compiles fine but Android Studio can not detect ndk so make button not worki

[2022-01-19 08:44] bronnel commented on #524
@courville , this is the exact issue here
[code]

[2022-01-19 13:10] phhusson commented on #258
k so FYI the official name of this device is "Chromecast with Google TV" (I prefer calling it "sabrina" since the name is a non-sense).

@courville will test this on his own

[2022-01-19 18:41] courville commented on #23
Status update: curl+openssl android builder scripts added. Now need to add back in avos https.
Old patch is there: [0001-add-back-openssl-and-curl.patch.zip](https://github.com/nova-video-player/aos-AVP/files/7899748/0001-add-back-openssl-and-curl.patch.zip)

[2022-01-19 18:49] courville commented on #23
@mschumacher69 nova can be used as an app to open http streams for videos from other apps.
One way to test (yes I know this is not what you are expecting) is to issue `adb shell am start -a android.intent.action.VIEW -d 'http://URL/video.mkv'`

[2022-01-19 19:36] courville commented on #539
Regarding the issue itself, plex has issues too of course https://www.androidpolice.com/android-11-nvidia-shield-breaking-apps-plex-servers/ and any other app that is targeting API30+ (which is mandatory to update app on playstore) due to scope storage enforcement (cf. https://github.com/nova-video-player/aos-AVP/issues/336). Seems that nvidia will revert their 'do not scan usb drive' change.

[2022-01-19 22:03] Cowboy1968 commented on #539
Hi, well I am still stuck here. Hi, I just installed  v6.0.37 after uninstalling the old playstore ver 5 (after clearing cache and data and rebooting first.  Then I went and enabled External USB drive scanning as well as ensured Nova had permission to access storage.  Then I rebooted and opened Nova and it has been sitting there with the scanning icon for 15 minutes without anything scanning in.

[2022-01-19 22:04] Cowboy1968 commented on #539
Sorry forgot to mention I also tried to manually
add to library and nothing happened

[2022-01-19 23:12] Cowboy1968 commented on #539
Well it has been an hour and it has not scanned anything in, so I went back to accessing my NAS which I use for back up.  Unfortunately the newest version is still not scanning in quite a few shows (shows no tv show info found). The weird thing is that if I got to the MovieDB website and search for the show there, it is found without issue.  I double check the info/naming of the file and it is cor

[2022-01-19 23:28] Cowboy1968 commented on #539
Okay I am not sure if Nvidia has already removed the do not scan usb drive part, but I don't think so as I had to go back into settings and turn off auto scan external HDD for media as Nova was stuck at trying to read the drive and I could not scan in anything via my NAS.  After I found that the newer version failed to scan in several shows, I uninstalled 6 rebooted and went back to 5 from the pla

[2022-01-20 07:30] mayham99 commented on #539
Hello everyone

i just wanted to give some feedback how it all turned out for as i was able to test some of the new ideas yesterday:

So first of all i never updated NOVA to version 6 because i was to affraid of the whole "internal database will change" situation. I want to wait for the final release if possible.

The fist workaround with the SMB sharing worked fine for me and i had all my Movies

[2022-01-20 07:46] vbaros opened #544 "[FEAT]: play media from NFS shares"
### Description

Moja doesn't support NFS paths. It seems me great to be able to play videos from Jellyfin TV client as an external player using NFS paths.

### Additional information

_No response_

[2022-01-20 08:18] mayham99 commented on #539
Hi

i just stumbled upon this: https://www.androidcentral.com/nvidia-promises-fixes-broken-plex-kodi-and-more-nvidia-shield-tv-after-android-11-update

There are some fixes/workarounds listed:

- You can re-grant storage permissions to get individual apps like VLC working again. In Settings, navigate to Apps > Select your app > Permissions > Files and Media > Allow all the time (or Allow depending

[2022-01-20 08:57] phhusson commented on #544
If we wanted to do that (which is quite unlikely though), I guess we could use [libnfs](https://github.com/sahlberg/libnfs) for that

[2022-01-20 10:37] vbaros commented on #544
Oh. Why not? NFS works so much better when streaming in a local network. CPU has much less work to do. Puts less strain on the machine.

[2022-01-20 10:42] phhusson commented on #544
Better than what?
We can't implement NFS in kernel, so we'll necessarily have a performance hit.
I assume you mean you have a video which is stuttering on some device if you're saying this.

Please say which video, and which device is stuttering, so we can take a look.

[2022-01-20 10:52] vbaros commented on #544
Better than streaming over a http link. No, all videos work fine, no issue there. I just want to use another protocol when playing media as it works so much better from the Linux based NAS like Synology.

BTW Kodi can play over NFS. No issues there. The machine is Nvidia Shield TV.

[2022-01-20 11:04] phhusson commented on #544
HTTP is definitely the best streaming protocol because there is literally no overhead once connection is setup.

libnfs has a larger overhead over using http for streaming purposes.

I'm not saying there is 0 usage for NFS inside a video player: the only equivalent is SMB, and I understand it can itch some people. But performance is definitely not a reason to switch to NFS for video streaming.

[2022-01-20 15:12] mschumacher69 commented on #23
@courville thanks for the clarification!

[2022-01-20 17:31] courville commented on #23
Status update: avos has https support back but does not work yet.
Moreover Android 12 prevents for now opening of http/https links (to investigate) and https streaming still ko on Android 11.

[2022-01-20 17:47] morpheasgr commented on #23
Progress is still progress and thanks a bunch for working on this feature. I am on Android 11 on a OnePlus 6T, https direct video file links do work on other software including mpv, vlc and MX Player Pro. Sadly my content provider only works through HTTPS, but offers direct links to the files. Let me know when you put out a test build for arm64 so I can see if my links work. Will create some tedt

[2022-01-20 21:42] alexanderadam opened #545 "[FEAT]: Play/Pause via external controls (i.e. Bluetooth headset)"
### Description

I'm often using a Bluetooth headset and usually I can control play/pause with buttons on the headset.
Therefore it would be great if NOVA could support this as well.

If I understand this correctly [you have to override the `onMediaButtonEvent`](https://developer.android.com/reference/android/support/v4/media/session/MediaSessionCompat.Callback#onMediaButtonEvent(android.content.I

[2022-01-20 21:48] alexanderadam opened #546 "[Bug]: Trakt view date uses the syncronization date instead the actual view date"
### Problem description

If you device is offline and you're watching something it will be synced once the device is online again.
So far, so good. But the synchronized view date won't be correct, if you won't sync on the same day.

### Steps to reproduce the issue

1. Watch something today
2. Sync tomorrow

### Expected behavior

Trakt viewing time will be today

### Your phone/tablet/androidTV m

[2022-01-20 21:55] alexanderadam opened #547 "[FEAT]: Subtitles are preselected but have to be selected again to actually activate them"
### Description

I'm not quite sure whether this is a duplicate of #75 but it seems that subtitles have to be selected again after a video started.
And this although they are clearly already selected in the UI.

### Additional information

_No response_

**PS:** this player is sooo good otherwise! Even although it has issues like this or that [it doesn't support gestures](https://github.com/nova-v

[2022-01-20 23:16] Pentaphon commented on #542
I agree with auto track selection being a long term goal. Nova should someday be able to read the track tags and select them for the user according to the settings.

[2022-01-22 02:33] Pentaphon opened #548 "[FEAT]: Add black outline to text of title and time on TV player UI to make it more readable on white backgrounds"
### Description

I know it appears for only a little while but a nice little addition would be to add a black outline to the white title and time text to make it more readable on white backgrounds like a cloudy sky in a movie/tv scene, etc. The text is already kind of small and I'm sure you don't want to make it any bigger so adding a black outline to it like we can do with the subtitles is a good

[2022-01-22 10:28] Pentaphon opened #549 "[Bug]: 6.0.37 categorizes TV show with 1 animated episode as animation even though it's not"
### Problem description

A minor issue with an edge case. Not high priority but something to tweak in the future.

This mostly live-action show, Amazing Stories (1985), had 1 animated episode aka S02E16, so on TMDB it is categorized with the following tags:  Sci-Fi & Fantasy, Drama, Comedy, Family, Animation, Mystery, Crime. Since Animation is in there, Nova puts it under the animation row, but it

[2022-01-22 21:26] #537 closed, assigned to courville

[2022-01-22 22:47] courville commented on #258
@andrei-tatar ok I confirm the issue and it seems to be a regression. Will have a look at it.

[2022-01-22 22:48] courville commented on #534
OK it should work but it appears that there is a regression currently. Re-opening https://github.com/nova-video-player/aos-AVP/issues/258 and closing this one.

[2022-01-23 11:56] alexanderadam commented on #34
Would it be better to have a summary issue for all gestures or a dedicated issue for every gesture?

Maybe it would be helpful to have a structured list at least?

- [ ] slide vertically on the right side to change volume
- [ ] slide vertically on the left side to change brightness
- [ ] Pinch-to-Zoom to toggle between full video (with borders) or fill screen (and cut edges)
- [ ] sliding horizont

[2022-01-23 12:00] alexanderadam opened #550 "[FEAT]: Option to toggle play/pause in case a bluetooth headset was disconnected"
### Description

Maybe the [AntennaPod implementation](https://github.com/AntennaPod/AntennaPod/blob/2524fa0f7605ded2139f3ec6d4337383e6f3006d/core/src/main/java/de/danoeh/antennapod/core/service/playback/PlaybackService.java#L185) helps achieving this.
There's also this [Android developer documentation](https://developer.android.com/reference/android/content/Intent#ACTION_HEADSET_PLUG).

### Addit

[2022-01-23 12:23] Pentaphon commented on #34
I don't think we need these gestures. Pinch to zoom isn't as obvious to most people as the fit button, and togging play/pause with a double tap is way more annoying and more taps than just tapping the play/pause button.

The rest are necessary, especially if we want to remove that HUGE side volume display which makes the player look outdated.

I also think gestures should have a nice animated OSD

[2022-01-23 12:41] courville commented on #534
Update: OK it happens only when the video aspect ratio is the same of the screen. Must be an issue with `SurfaceController` calculus. Note that this is not a regression and it has been there since the initial import...

EDIT: not an issue with `SurfaceController` more a specific SoC platform issue.

[2022-01-23 14:21] courville commented on #258
@andrei-tatar quick question for you: can you please provide the video resolution of your sample and check that the video itself does not contain black top and bottom bars that would prevent the video scaling since the video aspect ratio would match the one of the screen of the TV? In this case this would not be a bug...

[2022-01-23 14:27] courville commented on #534
@Odroid13, the feature is indeed there in nova and working on several hardware platform.
We have found an issue with amlogic based hardware.
Can you please disclose the one you are using?

[2022-01-23 14:41] andrei-tatar commented on #258
Sure, I can check in a few hours. But I already confirmed the software decoder works as expected. It seems to be an issue with the hardware decoder.

[2022-01-23 14:44] alexanderadam commented on #34
I mean, we obviously don't need gestures at all, since they are not necessary to watch anything. It's just about UX improvements. :wink:
But I agree that someone might want to have gestures switchable in the settings.
Just recently discovered it by accident that YouTube or Vanced have this feature and since then I love it to make full usage of my tablet screen.

:+1:

[2022-01-23 15:19] onthejobtraining commented on #34
I disagree, double tapping to play/pause is easier imo because the play/pause doesn't appear all the time. First we need to touch somewhere on the screen to make the button appear and than reach for the button. Whereas, double tapping can be done from literally anywhere on the screen. So it's just more convenient, especially for lazy bums like me.

Edit: There's also MX Player Pro that allows doub

[2022-01-23 15:30] courville commented on #258
@andrei-tatar you are right. Issue not reproduced on nvidia shield and emulator but present on all amlogic based hardware (miprod + googletv=sabrina) and only present when hwdec enabled. @phhusson do you reproduce on freePlayerPop?

EDIT: works on pop. Thus probably amlogic SDK bug.
Subliminal message to Google: this should really be verified by dedicated CTS test for devices certification (sabrin

[2022-01-23 17:10] arikoza commented on #549
The player is here?  you need to fix it on tmdb, there is a genre "Animation"

[2022-01-24 18:10] courville commented on #534
Without any answer I will assume this is amlogic hardware.

[2022-01-24 18:39] courville commented on #524
@bronnel for some reason it is back to the state that it does not find the ndk.
You need to have set a proper `export ANDROID_SDK_ROOT=/opt/android-sdk` and I guess that it is not the path you use in reality (it was `export ANDROID_SDK_ROOT=/home/matrix/Android/Sdk` before in your case).

EDIT: please check that in your `.bashrc` or `.zshrc` or `.profile` you have the right PATH defined i.e.
[code

[2022-01-25 14:16] aston314 opened #551 "[FEAT]: Can support TorrServer subtitles search?"
### Description

Thank you .

### Additional information

_No response_

[2022-01-25 21:34] bronnel commented on #524
@courville , Thanks , I did exactly what you stated, but again it cannot find the ndk, I tried everything under root privilege and still ended up with the same error, I even launched android studio as root and still nothing. I also looked under opt folder to see if the files are actually there and they were definitely there, I'm sure that you are using some different kind of setup which I cannot p

[2022-01-26 06:34] courville commented on #524
The solution is not in using another Linux distribution, I would advise to stick with ubuntu since it is the default one used in containers to build apps and recommended by Google. Running as root is also not the right solution. I will redo the steps to find out what is missing later.

[2022-01-26 15:25] courville commented on #524
@bronnel couple of tests do be conducted:

- do you confirm that building from a terminal works in your setup?
- could you try to launch android studio directly from command line in a terminal (it would inherit the shell variables this way) and see if you can build (i.e. launching the following command `/opt/android-studio/bin/studio.sh` with the current path)?

[2022-01-26 19:58] courville opened #552 "[Bug]: AutoScrapeService crash with large collection"
### Problem description

Encounter `SQLiteQuery: exception: Row too big to fit into CursorWindow`.

### Steps to reproduce the issue

Scrap a large collection.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

nvidia shield

### Operating system version

Android 11

### Application version and app store

6.0.xx

### Additional system information

_No response_

### Debu

[2022-01-26 20:42] courville commented on #549
OK I tried to reproduce with the animated s02e16 and scraping in french does not end up in animation for some reason. Will try in english soon.

[2022-01-26 21:14] courville commented on #550
Good idea, could add as well the `ACTION_MEDIA_BUTTON` in the `BroadcastReceiver` to be complete and link it to `PlayerService`.

[2022-01-26 23:27] Pentaphon commented on #549
It gets categorized as animation even if you don't have the animated s02e16 on your share. I think the issue is that if Nova sees that TMDB has "animation" as a genre for a movie or tv show, it just puts it in the animation row. This issue might not be fixable unless TMDB has primary, secondary and tertiary genres and Nova **_only_** categorizes a movie or TV show as animation if animation is a pr

[2022-01-27 06:17] courville commented on #549
OK this explains why I cannot reproduce it anymore.
Since order of the genres is potentially not hierarchic on tmdb and could result in even more side effects, I propose to stick with tmdb being the source of truth and not implement work arounds for now.

[2022-01-27 09:20] Pentaphon commented on #549
Yeah I couldn't figure out whether the genre order does anything for the software API but I may not have dug deep enough to get the right answer. Also, I just realized @arikoza is the guy who is also in this issue. I guess his edit will have to do for now, but again, I don't recommend anybody edit TMDB in case the tmdb mods think you are making bad edits over there since technically, this show did

[2022-01-27 15:32] courville commented on #74
For jupnp migration see https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2789

[2022-01-27 17:58] bronnel commented on #524
@courville  it worked, launching android studio from the terminal finds the skd and ndk nicely
and yes building works in terminal to answer your question.
But does it mean that I have to launch it from terminal every time?
thank you, I appreciate it.

[2022-01-27 20:49] bronnel opened #553 "[Bug]: Scraping does not work on latest build (v6.0.39)"
### Problem description

Media scraping is not working in the latest builds
`AutoScrapeService` is not launching

### Steps to reproduce the issue

just launching the app and waiting for videos to be added , nothing will be added to the library

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

LG V50

### Operating system version

Android 10

### Application version and

[2022-01-27 21:03] courville commented on #553
`AutoScrapeService` is not launched in your case because it does not find any video on your device after initial `VideoStoreImportService`. It should be "auto" relaunched if a video is detected.
Can you check if there is no video to be scraped (if this is not the case this is a bug)?

[2022-01-27 21:09] bronnel commented on #553
@courville v6.0.36 Google play internal (non public) release have no issue finding and scraping all the videos on my device , from v6.0.36 onward cannot detect videos, I can confirm this is a bug

[2022-01-27 22:14] courville commented on #553
Interesting. Main difference between 6.0.36 and 6.0.39 is the fact that we now target API31.
In which directory do you store your videos?
When you browse the internal storage in folder mode, do you see the video files?
Can you please check that you see your video files doing:
`adb shell content query --uri "content://media/external/video/media" --projection _data`
This checks if the media files ar

[2022-01-28 10:14] bronnel commented on #553
@courville , that command found all of the mp4 videos  and movies on the device

output  example
[code]
I also had another device (LG V30) running android 9 , and it is the same behaviour

**it is an endless searching for videos loop**

any log or debug you need I will provide it here

[2022-01-28 20:28] okan35 commented on #552
If you wish I can help you with this as I made a recursive function that gets data from database into a json array with limit and offset, such as 1-1000, 1001-2000 and so on till it gets all the rows.

I made that function because I personally had this exact issue when query returns a very big result, the app would use too much memory and cursor would get full of course.

[2022-01-28 21:05] alexanderadam commented on #502
I also have this exact issue with [the current version `4.49.11 (404911)` on F-Droid](https://f-droid.org/en/packages/org.courville.nova/#4.49.11).

Nova doesn't remember the correct position if I'm using the resume button on the bottom left but if I scroll through the episodes I can see that Nova knows the progress here for each episode.
Even for the recent ones.

**PS:** The resume button on the

[2022-01-28 21:21] alexanderadam commented on #295
Maybe [this list](https://www.loc.gov/marc/bibliographic/bdapp-e.html) could be used:

[code]
Sure, some there are probably some rare false positives and there still might be missing some but they could be modified later on.

[2022-01-28 21:26] courville commented on #502
@alexanderadam please use github 6.0.xx release that implements proper binge watching.
I need to update fdroid release...

[2022-01-28 21:30] alexanderadam commented on #502
ah okay. How is the release process with F-Droid working? I thought releases in F-Droid are build automatically anyway?
Do you have any idea how long it might take until it's available via F-Droid?

**PS:** I'm not quite sure whether I mentioned this before but you're doing some great work @courville! :raised_hands:

[2022-01-28 21:32] courville commented on #502
@alexanderadam, I had an automatic process with fdroid but somehow it got broken and their docker build is not really shared. I gave up at one point but got recently my dockers back and working on my side thus I should give it a try again.
Sorry for the inconvenience and thanks for the support!

[2022-01-28 21:55] courville commented on #552
@okan35 thanks for proposing to help: it is very welcome. I did implement a window based strategy as well like https://gist.github.com/courville/1ff449bbc6b9afc42a9d43eba63cae2b
But it seems that it is not working. Perhaps my window is too big.
If you want to review the `AutoScrapeService`  code and propose a solution please do.
And yes clean function for that would be indeed better....

[2022-01-28 22:08] courville commented on #553
OK thanks. Camera videos are blacklisted on nova but I trust that you got your more entertainment videos listed too.
I am puzzled by the no videos scraped.
Are you running your custom builds? I guess so since it is 6.0.39 ;-)
Would you mind testing this build too to see if it is the same result: https://drive.google.com/file/d/1i6axywhEjEHMr5jkPpjWZwbw5lLyg7ux/view?usp=sharing

[2022-01-28 22:15] courville commented on #295
@alexanderadam nice list. Question now is how to couple this with an sql query that is fast for the loaders to be efficient.
I could of course when scraping have a second column in the database that has a video title pre-processed but this would imply changing the db scheme and migrate. Just thinking aloud. I might give it a shot one day (not on my top priority list though).

[2022-01-29 03:40] bronnel commented on #553
@courville , off course I have the lovely movies and tv shows in dedicated folders
[code]

Yes I'm running custom builds that I build myself

I tested that build it has the same behavior

[2022-01-29 07:17] okan35 commented on #552
By the way I see there is a blob exception, you dont store an image or something like that in table as a blob right ? Because if you are doing that the solution below wont work for that.

So basically main outcome with this function is to limit the amount of rows you get from your table, limit the amount for memory to process and the cursor will always bring your set limit or what is left in the l

[2022-01-29 08:26] alexanderadam commented on #295
An articleless title in the database would probably be the fastest solution.

[2022-01-29 20:57] bronnel commented on #553
@courville when I say custom build, I mean I just build it myself, but I have not done any modifications yet.

BTW during the build process I get the following error, are you also getting this error? could this be the cause?

[code]

[2022-01-30 00:07] courville commented on #552
I need in the code to count the total number of files to be scraped to report to the UI (`sTotalNumberOfFilesRemainingToProcess`). This is computed once and the cursor is then closed.
I am not sure if the counting itself is the culprit since in logs the code crashes when walking the secondary cursor (`while (cursor.moveToNext()`) and this part of the code is using the window trick.
But since it cr

[2022-01-30 11:15] okan35 commented on #552
Then a simple select count(someIndexedColumn) from yourTable should not crash the app, you didn't say if you have a blob in table ? Do you an image etc in bytes in your table ?

 Is it possible to share this table with me ? So I could check it.

[2022-01-30 11:55] Pentaphon commented on #258
Indeed, I have a brand new [Onn 4K box](https://9to5google.com/2021/06/21/walmart-android-tv-onn-4k-box/) which has an Amlogic S905Y2 (it's an amazing value since the major bugs got fixed, btw) and I see the exact same thing as @andrei-tatar  on this device when playing https://www.youtube.com/watch?v=UmBAhFSROLo which I downloaded as 1920x800 using yt-dlp. When I switch to software decoding, full

[2022-01-30 14:36] courville commented on #552
Thanks for the help. No binary blob in the database just text entries. Since the database is modified during the scraping, the cursor lists files not scraped yet in `VideoStore.Video.Media.EXTERNAL_CONTENT_URI` via `getFileListCursor` in `AutoScrapeService`, it is not easy to dump the database at the start (before the non scraped entries get scraped).

To dump nova mediaDb you can click 10 times o

[2022-01-30 14:58] okan35 commented on #552
I want to be able to reproduce this but wil it be enough if I download main repository ? Or where would I find the query that results in crash ? I have the database by the way. I first wanted to see what that query returns on sqlite browser

[2022-01-30 15:14] courville commented on #552
To reproduce the issue I scrapped a huge video collection on an SMB drive (I can provide the fake collection with almost 0 size videos). To build the application you need to follow the instructions here https://github.com/nova-video-player/aos-AVP, alternatively you can use a docker to build available here https://github.com/nova-video-player/aos-AVP/tree/nova/docker
I will try later today to dump

[2022-01-30 15:15] okan35 commented on #552
What happens if you just do a simple `SELECT count(_id) as result from EPISODE` just to see if `cursor.moveToNext()` crashes again as this takes just 5 ms or if you run for 10 rows and see if that part crashes and if you can send me the query where it results in crash it would be helpful, I fould that autoscraperservice file by the way, so just checking that.

[2022-01-30 15:20] courville commented on #552
FYI, the crash happens when you have more than 20k videos to process and thus after several paged queries in the while loop.
I know the code is bloated and has been like this since the initial open-source release from Archos times (never took the time to refactor it).

[2022-01-30 15:30] okan35 commented on #552
This will be kind of hard to reproduce for me to try as I dont have much time, but what I would do is as I said what happens if you only do 10 rows of data or 1000 just to see the crash.

So we would know after certain amount of rows it crashes or a certain row has a strange data which causes crash.

Maybe literally only getting some id data for all the rows would also show us that if it doesn't c

[2022-01-30 18:27] courville commented on #552
OK I did the catch on `SQLiteBlobTooBigException`  and implemented `DatabaseUtils.dumpCursorToString(cursor)`.
Now running with `WINDOW_SIZE=10`. I will report later if it crashes, for now it is scraping the fake NAS on 20k videos.
Something is wrong because I get some sporadic:
[code]
Will track these later.

[2022-01-30 18:39] okan35 commented on #552
If it doesn't crash with let's say 10-100 or 500 rows per query that means 1000 is too much or my guess would be an "about movie" text might be taking too much space so maybe saving compressed version of this text would solve your issue and only decompress it when it is used.

As I do something like this in an api work. Compressing text is really fast and saves from much space.

Also is it possibl

[2022-01-31 06:41] Tyfomir opened #554 "[FEAT]: Top level video folder"
### Description

I suggest adding an option to define the folder(s) containing video files. It can be useful if the top level of the UPnP/DLNA server browse tree contains something like Music, Videos, Photo. Nova doesn't play music or display photos. Setting the Top Level Folder will prevent you from having to select Video every time you open the app. This will be particularly helpful for TVs.
An

[2022-01-31 06:47] Tyfomir commented on #542
This will undoubtedly be a very useful feature.

[2022-01-31 06:52] Tyfomir commented on #504
For me, this problem occurs randomly. It is mostly present, though. This appears to be related to the number of integrated subs.

[2022-01-31 07:20] Pentaphon commented on #542
@courville I think track language detection is a good v7 milestone. What do you think? Nova needs to show more info and autoselect it for the user, especially as videos are using more audio and subtitle tracks than ever before.

[2022-01-31 08:32] Tyfomir commented on #491
Same here on Android 9 TV. Occasionally NVP freezes and you have to wait several seconds to go back to the main screen. Some E-AC3 7.1 [3F2M2R/LFE, 48000Hz, 32bit] tracks are being reproduced but they are constantly delayed and highly noticeable. Apart from stuttering, TrueHD Atmos tracks are passed as expected. All DTS HD MA 7.1 tracks [48000Hz, 24bit] in the Passthrough Mode 2 are played with no

[2022-01-31 22:54] courville commented on #23
Thanks @nnoury, tested to work ok now through ffmpeg.

[2022-01-31 22:55] #23 closed

[2022-02-01 06:49] courville commented on #23
Github pre-relase 6.0.40 contains https/ssl support.

[2022-02-01 21:20] courville commented on #553
We will need to debug this for sure for me this is a blocker.
Quick question, when you browse your folders using file browsing and enter the dedicated `Movies` and `TV Shows` directories, can you confirm i) that files are listed, ii) that you can play the files?
I try to understand why it happens with your phone and not mine...

[2022-02-02 13:58] bronnel commented on #553
@courville ,yes I confirm that I can browse folders and see all files in internal storage , I can also play videos.
I don't have any ad-block or antivrus installed, it is not even rooted

@courville
here is a debug log
[code]

**here I try to manually add a file from the folders, but nothing happnes**

[code]

[2022-02-02 18:45] Dr4tez opened #556 "[FEAT]: Audio track languages."
The information about video files does not contain information about the languages ​​of the audio tracks.  Very needed.

[2022-02-03 11:56] bronnel commented on #553
@courville
Update , I tested it on my friend's LG V50 and it worked , so I guess you are right , something was blocking it on my device , but it is very strange since I don't have any adblocking app on my phone, maybe there is some built-in sprint service that blocks certain kind of connections

[2022-02-03 13:14] courville commented on #553
This is indeed strange and not systematic. It does not decrease the severity of the issue if you can still reproduce.
I will need to find a way to add verbose logs to understand why nova sees no video and thus do not launch the autoScrapeService...
It may sounds stupid but do you still have the issue after a proper phone reboot?

[2022-02-03 13:19] bronnel commented on #553
@courville ,  yes it is still reproducible on my V30 and V50 , my v30 is not even a sprint device, it is unlocked, Its the same after reboot , I will provide any logs you need. I appreciate it.

[2022-02-04 10:06] courville commented on #553
Could you share with me privately a dump of the nova mediaDb on your failing phone at software at courville dot org?

You can `adb pull /sdcard/Android/org.courville.nova/files/org.courville.nova-media.db` to retrieve the file.

[2022-02-04 11:08] bronnel commented on #553
@courville ,I just sent it to your email, please check , thanks

[2022-02-04 13:59] courville commented on #553
Thanks for sharing. What I can see is that nova sees all your videos in the files internal database. However it never got it interpreted and imported in the video database. Let's add debugs in the import part and share the apk and clean data/cache and relaunch as it would be the first time. I could do a branch on current code if you want to build yourself and test from your own builds.

[2022-02-04 15:07] bronnel commented on #553
@courville , great, if you send an apk I will test it, if not then I can build your debug branch

[2022-02-04 15:53] courville commented on #553
ok you can rebuild after git pull on MediaLib. Please install apk, clean nova data in settings and relaunch nova and take adb logs from initial import (it must crash somewhere and this should be noticeable in logs).

[2022-02-04 16:47] bronnel commented on #553
@courville , after latest git pull  for MediaLib, it still the same behaviour , I uninstalled previous build completely, but it doesn't crash like you said
 **How to access the debug log that you mentioned?**
here is Logcat ,
[code]

[2022-02-04 18:08] courville commented on #553
OK thanks let's add in `logback.xml` files (both of them i.e. amazon and noamazon), this will provide more logs and insights:
[code]
and restart the whole app data cleaning relaunch.
You can zip the logs and if you do not want to share with all, email is fine.

[2022-02-04 18:27] bronnel commented on #553
@courville , I just new debug logs, BTW is it safe to share those logs here publically to be seen by other people I mean?

[2022-02-04 18:31] courville commented on #553
Thanks for sharing the logs. Yes I think this is safe to share.

[2022-02-04 19:11] bronnel commented on #553
@courville , are logs provide good info , or should I send you more?

[2022-02-04 19:31] courville commented on #553
Unfortunately not. Will try to add more logs.

[2022-02-04 19:42] courville commented on #553
OK you are off the hook: I can reproduce on my wife's phone (samsung galaxy s9).

[2022-02-04 19:45] bronnel commented on #553
@courville , Thank god , I'm not the only one hhhhh

[2022-02-04 20:50] courville commented on #553
First bug: import in loop not finishing
[code]

[2022-02-04 21:02] courville commented on #553
@bronnel please confirm that this fixes the issue on your side (it does on my side...).
Nasty bug.

[2022-02-04 21:25] bronnel commented on #553
@courville , problem solved thanks to you, you can close the issue now, Thank you again

[2022-02-04 21:28] #553 closed, assigned to courville

[2022-02-04 22:41] courville commented on #553
Thanks for reporting it and the support!

[2022-02-05 14:22] bronnel opened #557 "[FEAT]: Use backdrop instead of poster in Listview"
### Description

@courville , by default poster image is used for both list view mode and poster view mode, however I'm trying to use backdrop to inflate thumbnails in Listview mode , I want to do this but I need some guidance , I don't know where to start , I want to do it via an `if` statement

if VIEW_MODE_GRID , then use posters
if VIEW_MODE_LIST , then use backdrops

It will be really nice th

[2022-02-05 15:03] courville commented on #557
There you will need to follow many codepaths and discover the architecture of nova. You need to be sure that in the loader there are the backdrops present and then in the cursorMapper in the display it points to the backdrop. When I have time I will provide some more useful guidance.

[2022-02-05 15:57] bronnel commented on #557
@courville , I would love to learn about the structure of nova, is there some sort of map or something that I can use to navigate to the components around? you know it is a fairly large project and difficult to understand without some sort of guidance, I have some modifications in mind and I would like to contribute.

[2022-02-05 17:25] courville commented on #557
There is no real documentation or map of nova. It would be nice to map it with some tools indeed.
Best way is to start from Video repo `EntryActivity -> [ MainFragment/MainActivityLeanback (leanback) | BrowserCategory/MainActivity (phone) ] `and navigate with android studio on each of the classes via "`CTRL/COMMAND-CLICK`".
In general `Video` is for the overall UI and relies on `FileCoreLibrary` f

[2022-02-05 17:29] courville commented on #557
Just dumped this in https://github.com/nova-video-player/aos-AVP/wiki/Code-architecture

[2022-02-06 16:05] cfrock opened #558 "[壮举]：希望增加挂载webdav的选项"
### Description

之前在ios上一直使用infuse，换了安卓手机之后一直希望有个app可以比infuse有更好的观影体验。使用nova后像发现了新的大陆。但是我习惯于远程观看家中nas里的影片，webdav是经常会用到的，但是nova现在还不支持～强烈希望支持挂在webdav，不但解决了手机观看影片的问题，我的电视也可以摆脱kodi那种非人的操作逻辑了

### Additional information

_No response_

[2022-02-06 18:08] courville commented on #558
Translation:

On NAS I recommend to use SMB shares or sftp. Webdav is not yet supported cf. #368
I will close the issue since it is a dupplicate of #368
I.e. using Google translate:
在 NAS 上，我建议使用 SMB 共享或 sftp。 Webdav 尚不支持 cf。第368章
我将关闭该问题，因为它与 #368 重复

[2022-02-06 18:08] #558 closed, assigned to nobody

[2022-02-08 03:16] Cowboy1968 commented on #540
on [v6.0.43 NON Google play internal (non public) release], Voice Search is not working at all.  I select the microphone icon and I hear a beep indicating its listening, but immediately followed by another beep indicating it stopped.

[2022-02-08 03:20] Cowboy1968 opened #559 "[FEAT]: delete confirmation change in v6 API31"
### Description

Delete confirmation removal in [v6.0.43 NON Google play internal (non public) release]

### Additional information

Hi,

In version 5 of Nova, you selected delete of a movie or tv episode and then selected confirm delete and the file was deleted.  When deleting a whole series, it would have the confirmation pop up below the season or show you were deleting.  Now, in the above vers

[2022-02-08 03:22] Cowboy1968 opened #560 "[FEAT]: Make animation row optional"
### Description

Make the Animation row optional

### Additional information

I am OCD and do not like my animated Movies and animated TV shows showing up on their own line in the Animated section.  I prefer to have my Animated Movies in the Movie section and the TV ones in the TV Section.  I realize some people may like this feature which is why I would like to ask it be made optional.

[2022-02-08 03:29] Cowboy1968 opened #561 "[Bug]:"
### Problem description

A majority of Movies and TV shows posters after the first new install scraping, on the main screen, were shown as grey boxes.  Upon selecting the show or movie, the poster would show properly inside there but the backdrop would be blank.  If you scroll down inside to change the poster or backdrop, they would all be grey boxes.  On the shows that did manage to show a poster

[2022-02-08 21:40] alexanderadam opened #562 "[FEAT]: Highlight / disable current subtitle in subtitle selection list"
### Description

If a subtitle was downloaded but you find out that it's wrong or has timing issues you obviously might download and chose another.
But currently you cannot see which is the subtitle that you are already using so chances are that you chose the same one if you cannot remember which subtitle you took the last time.

So it would be nice to have some highlight (colour, font style or ic

[2022-02-09 19:27] Pentaphon commented on #401
https://github.com/moneytoo/Player/releases/tag/v0.98 has recently gotten AVI container support, This is a very exciting development for all Exoplayer development going forward as it moves into Android X media.

[2022-02-09 21:38] marbor1 opened #563 "[FEAT]: Add support for AFR service from tvquickactions"
### Description

Add support for AFR service from tvquickactions: https://tvdevinfo.com/tvquickactions/afr/
Tvquickactionsapp has added AFR service for amlogic devices that don't have native AFR. It already works with VIMU, SmartTubeNext and Tivimate.

### Additional information

https://play.google.com/store/apps/details?id=dev.vodik7.tvquickactions
https://tvdevinfo.com/tvquickactions/contact/

[2022-02-10 13:48] mitch133 opened #564 "[Bug] : Atmos generating playback stop or lags"
### Problem description

Movies containing ATMOS tracks (both within TrueHD and EAC3 tracks) generate lags and crashes after a few seconds playing

### Steps to reproduce the issue

Play any Mkv containing Atmos data

### Expected behavior

Movies should play normally, with or without sound

### Your phone/tablet/androidTV model

Freebox Poo

### Operating system version

Android 9

### Applicatio

[2022-02-10 14:57] mitch133 commented on #564
FYI, tested the same file on just player (ok), VLC (ok), Kodi (ok), MX player (ok but no sound, no EAC3 support indicated)

[2022-02-10 15:13] phhusson commented on #564
Hello,

Freebox developer here. The Dolby Atmos components given to Freebox by Dolby doesn't support Dolby TrueHD (I don't know why Dolby doesn't want us to support Atmos in TrueHD...)

My current recommendation, as of Freebox Pop firmware v9.6.35, is to Enable 6ch PCM encoding in System Settings => Advanced Settings, and to leave NOVA Video Player passthrough mode to 0. NOVA will output PCM 6ch,

[2022-02-10 16:07] mitch133 commented on #564
Hi PH,

Thanks for your answer and suggestions.

Some comments and answers from my side:

- I infered the problem came from the Atmos track + Nova because after I had the problem I tried with another E-AC3 file without Atmos and everything went fine. I never tried with v5.XX of NOVA so I cannot say if it previously worked, but I can assure you it doesn't anymore. Same thing happens with Atmos in T

[2022-02-10 19:54] #550 closed, assigned to nobody

[2022-02-10 20:52] Cowboy1968 commented on #561
Just an update,  I have had to reboot and hard reboot (pull power plug) the shield due to issues with Nvidia hot fix 3.  One good thing is that issue with the grey boxes instead of posters and backdrops seems to not happen anymore.  Not sure why it did and why it isn't but I am glad its not.

Thanks

[2022-02-10 20:52] #561 closed, assigned to nobody

[2022-02-10 21:01] Cowboy1968 opened #565 "[Bug]: blue screen of death at nova start"
### Problem description

in v6.0.43 NON Google play internal (non public) release, on Nvidia Shield 2019 pro with android 11 (9) hot fix 3, after a length of time (at least 3+ hours)  with the shield turned off (sleep mode), Nova opens to a blank blue screen and appears to freeze as I cannot exit out.  Upon reboot, I am able to access nova again as usual

### Steps to reproduce the issue

This has

[2022-02-11 08:17] courville commented on #560
I understand your point and request but for now I am not in favor of making this option because it means modifying all the loaders (queries to database) based on this options and makes testing of nova very tedious.

[2022-02-11 08:23] courville commented on #559
There is nothing I can really do there. In order to comply with nova's architecture and new google requirements as of API30, one must use the Android platform storage access framework which is outside nova's juridiction.
See https://github.com/nova-video-player/aos-AVP/issues/336
Some players managed to get the golden permission to behave like old times but not nova.
See https://www.reddit.com/r/a

[2022-02-11 08:26] courville commented on #565
Debug logs would help there (please refer to https://github.com/nova-video-player/aos-AVP/wiki/Debugging).
It is not specific to this release I am afraid (cf. https://home.courville.org/nova_video_player-faq/index.html blue screen starting nova) but I never really was able to get actionable logs.

[2022-02-11 08:26] courville commented on #565
Please provide topics on your reports.

[2022-02-11 08:27] courville commented on #565
See https://github.com/nova-video-player/aos-AVP/issues/454

[2022-02-13 12:23] alexanderadam opened #566 "[Bug]: Subtitle delay varies weirdly"
### Problem description

When subtitles have delays, this configuration gets lost(?) when a film is stopped and continued at a later point.

I also have the feeling that the delay logic is sometimes not quite working at all but it is difficult to pinpoint/debug the behaviour.

### Steps to reproduce the issue

1. play a film with subtitles and significant deplay
2. stop it - leave Nova player - sw

[2022-02-13 12:33] alexanderadam opened #567 "[Bug]: F-Droid releases are far behind"
### Problem description

It would be great to have recent releases available on F-Droid.
This is not only useful for cases where [Google is making some problems](https://github.com/nova-video-player/aos-AVP/releases) but also for folks who don't have access to GPlay, Amazon Appstore or Huawei AppGalery.

### Steps to reproduce the issue

1. look at the [latest Nova release on F-Droid](https://f-dr

[2022-02-14 23:20] Pentaphon opened #568 "[Bug]: Ubuntu Samba folder sharing under guest access still requires a password."
### Problem description

Ubuntu Samba folder sharing under guest access still requires a password.

### Steps to reproduce the issue

1) Follow a tutorial such as https://itsfoss.com/share-folders-local-network-ubuntu-windows/ (all SMB settings are default)
2) Set up a folder to share over the LAN as the screenshot shows:
![PUFnU](https://user-images.githubusercontent.com/49374058/153962728-7ffa08

[2022-02-15 18:45] courville commented on #552
OK after some digging, it seems that the following code though working in `VideoStoreImportImpl` with `VideoStoreInternal.FILES` uri does not work with `AutoScrapeService`with `VideoStore.Video.Media.EXTERNAL_CONTENT_URI` i.e. the `c.getCount()` has always the full size even with `ContentResolver.QUERY_ARG_LIMIT` to 10 with Android 12:
[code]
Refs:
- https://stackoverflow.com/questions/10390577/li

[2022-02-16 05:41] okan35 commented on #568
I dont think this is a bug for nova. You need to create settings for that and it has always been a hell to do that on any linus os.

[2022-02-16 05:50] okan35 commented on #552
As far as I understand even if you put ContentResolver limit to 1, cursor will still be full.

My theory is even whn you load 10 rows your cursor gets full that means some data in one the tables has too much data in it. I checked my exported db and saw that some text columns has 350 bytes of data in it and a couple of them will make your cursor full as far as I know.

My suggestion would be to cha

[2022-02-16 05:58] Pentaphon commented on #568
I tried looking at the Wiki and there's nothing about this. You may be right, but I would think that those settings in the GUI would be enough.

[2022-02-16 08:30] courville commented on #552
@okan35 I agree with your analysis and I will try to debug it. However, the issue with contentResolver paging had to be solved too. Now it is done and I can identify which row makes the thing blows.

[2022-02-16 09:05] okan35 commented on #552
I think as far I can think of your scenario your best bet is to get id of those big text rows instead of getting them like you do now with other stuff and then use those ids at the time those big texts are used.

Like user would click on one show and that is where you would run a query with id of big text to get that data and since you will only get one row of data your cursor possibly and hopeful

[2022-02-16 12:20] courville commented on #552
Tonight I will dump the database containing the scanning of the SMB drive prior to the scraping process starts (deactivating all the `onStartCommand` in `AutoScrapeService`. I will then run the sql queries the db on my computer to see if there are too big text. I do not see where it could come from since at this point we deal with only filenames non scraped.
I will share the db and the raw queries

[2022-02-16 12:26] okan35 commented on #552
That would be great, I am really curious as to where the issue is and since I also have my db I can also see with your queries what the result is.

[2022-02-16 12:42] courville commented on #552
Query is simple:
[code]
and data are almost empty.

[2022-02-16 12:48] okan35 commented on #552
I will run this in the evening but if it is almost empty this is very strange like very very strange.

[2022-02-16 18:44] okan35 commented on #552
So I just ran this query without `where ArchosMediaScraper_id = 0 and Archos_hideFile = 0` because otherwise I got nothing and the most data was from `_data `column. it was 200 characters so maybe couple of them together might be making your query full. I think if you try without column `_data `it will work or you could just remove one by one till your cursor does not get full.

[2022-02-16 19:41] courville commented on #552
I ran the query on the full 20k fake video db and nothing that could really be an issue for a cursor with a windowing of 2000.
Did a full scrape with window=10 and no crash.
I will redo it with a window=2000 to be sure.
If it works I will close the issue.

[2022-02-16 19:44] okan35 commented on #552
But does that fake db have `_data` column full ? Like does that column have normal data ?

[2022-02-16 20:24] courville commented on #552
Yes it does it is based on scraped of 20k fake video files but with real names. Thus it corresponds to a real situation.

[2022-02-16 20:27] courville commented on #552
I can share the full db and even the fake archive of 20k videos (2MB compressed).
Just send me a mail at software at courville dot org for me to share the link.

[2022-02-16 20:31] courville commented on #567
F-droid releases will be back when v6.0.x will be released on Google Play.
For now due to some build system requirements from F-droid, v5.x of nova cannot be submitted without some changes.
It should be fixed on v6.0.x

[2022-02-16 20:33] courville commented on #563
Why do you need automatic frame rate? There a an option to tune the refresh rate according to content in nova.
Do you have videos with a variable frame rate?

[2022-02-17 07:00] okan35 commented on #552
Ok. I will send you an email.

[2022-02-17 12:55] courville opened #569 "[FEAT]: quicker local storage first video import with whatsapp heavy users"
### Description

Whatsapp stores a lot of files on local storage in `/WhatsApp`, `/Android/media/com.whatsapp` folders and this impacts first video import in `VideoStoreImportImpl` importing Android `MediaStore.Files`. Thought these are blacklisted during nova `VideoStore` import it could take ages with heavy WhatsApp users (40k files to process).

Idea is to blacklist these files at initial `Medi

[2022-02-17 18:45] okan35 commented on #552
Ok, so I just checked the row with most data which is like 305 bytes so I don't get how this can give you a cursor full problem. Now I say this because here it says cursor window size is per row 2mb, I don't think you have a 2mb row of data in that fake video db table.

https://stackoverflow.com/a/45678400

What I would suggest is if you can, just dont select columns _data and title, just to see i

[2022-02-17 19:39] #569 closed, assigned to courville

[2022-02-18 19:10] courville opened #570 "[Bug]: SQLiteConstraintException during scrape from older version"
### Problem description

Seems to be a regression: `SHOW.name_show` UNIQUE constraint fails.
Seems related to recent show date management.

### Steps to reproduce the issue

Scrape new content.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

all

### Operating system version

all

### Application version and app store

v6.x

### Additional system information

_No resp

[2022-02-18 19:10] courville opened #571 "[FEAT]: sync scrape language with crowdin supported language"
### Description

sync scrape language with crowdin supported language

### Additional information

_No response_

[2022-02-18 19:51] courville commented on #571
For subs and scrape check:
[code]

[2022-02-18 19:57] courville commented on #571
Current supported languages:
[code]

[2022-02-18 20:02] courville commented on #571
Note that
- tmdb support these https://developers.themoviedb.org/3/getting-started/languages
- opensubtitles subtitles map is there http://www.opensubtitles.org/addons/export_languages.php and api documentation is here https://trac.opensubtitles.org/projects/opensubtitles/wiki/XMLRPC#GetSubLanguages
- ISO639-1 codes https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
- ISO3166-1 codes  https://e

[2022-02-18 20:08] courville commented on #571
Let's use this spreadsheet to keep track: https://docs.google.com/spreadsheets/d/1GyT6Pu12xaBZUv8JIw9WGNvOn4qgeMK9tyltVfXUJ1Q/edit?usp=sharing

[2022-02-18 20:34] courville commented on #567
Note to self, update nova yml to clean new openssl prebuilt.

[2022-02-18 21:32] courville commented on #571
While at it add "urk" sub track translation.

[2022-02-19 11:13] courville opened #572 "[Bug]: widget not working anymore on v6.x"
### Problem description

Widget not working TBC https://www.reddit.com/r/NovaVideoPlayer/comments/shfglc/comment/hxkddsf/?utm_source=share&utm_medium=web2x&context=3

### Steps to reproduce the issue

Use the widget

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

unknown

### Operating system version

unknown

### Application version and app store

v6.0.46

### Additi

[2022-02-19 11:36] courville commented on #572
Widget can be launched and lists videos but selected video cannot be launched.

[2022-02-19 16:54] pitrako opened #573 "[Bug]: HDR VP9 Profile 2 video does not trigger basic HDR10"
### Problem description

HDR VP9 Profile 2 video does not trigger basic HDR10

### Steps to reproduce the issue

Play this video on PUS7304 TV, plays in SDR: https://mega.nz/#!hJdFEIBI!uSOjZtkkjIVYSfqD9aSfONf1yq__uQvlsf47pCtFvdQ

### Expected behavior

Plays correctly like on the native TV included player.

### Your phone/tablet/androidTV model

43PUS7304 TV

### Operating system version

Android

[2022-02-20 08:18] mixam opened #574 "[Bug]: search issue on smb indexed shared folder"
### Problem description

I notice a bug in the movie search function. When I search and found a movie well indexed and accessible in smb shared folder, in the result detail I have no information and the video is unreachable. In the movie detail, the main difference is in the file info section where the path is incomplete : smb://`<servername>` is missing before `/<sharedFolderPath>/<movieFile>`

#

[2022-02-20 17:44] GrumpyLoneWanderer opened #575 "[Bug]: local NFO files"
### Problem description

Local NFO files not longer scrapping when moved from v5 to v6.

They were created in TinyMediaManager and worked in version 5 and kodi however after upgrading to v6 it won't scrape them, on android tablet or Firestick

### Steps to reproduce the issue

Tried on multiple devices, device running latest version on Google play store still reads them fine. Latest version 6 from

[2022-02-20 17:49] courville commented on #575
Quick question: do you experience the issue on local storage or SMB network share?

[2022-02-20 17:57] courville commented on #575
BTW if this is related to local storage since Android 11 targeting API30 NFO files are not visible on local storage and thus mut be relocated cf. https://home.courville.org/nova_video_player-faq/index.html

[2022-02-20 20:18] GrumpyLoneWanderer commented on #575
Hi,

SMB share, I saw on reddit someone else had same issue.

Regards
Alastair

On Sun, 20 Feb 2022, 17:50 CourvilleSoftware, ***@***.***>
wrote:

[2022-02-21 00:40] SpudR opened #576 "[FEAT]: Better sort option"
### Description

Posted a while ago on Reddit but it got buried so:
Can you please add a sort option to ignore the movie name articles (The, A, An etc...), so for example:

The Matrix - becomes - Matrix, The

I have over 2000 movies in my collection so as you can guess there's many with 'The ' at the beginning. The format is uniform as:

MovieName, Article (year) / MovieName, Article (year) [editi

[2022-02-21 00:46] SpudR opened #577 "[FEAT]: 85% watched = 'watched'"
### Description

Can you implement a system where if a variable % of the total movie is played (watched) then it triggers the 'watched' flag.
This will save on having to either skip through all the credits or stopping the movie and manually marking as 'watched'

Maybe make setting a spinner to set the total % before the flag is tripped..?

### Additional information

_No response_

[2022-02-21 01:01] Pentaphon commented on #577
I agree with this somewhat because sometimes the end credits can be as long as 5 mins. Mostly 3 min on streaming services. Perhaps reaching the last 5 minutes is a good threshold instead of 85% since you might miss something at that percentage of a video?

This is why I want the player to have a "next episode" button that also "marks as watched" so you can skip to the next episode without having t

[2022-02-21 01:12] Pentaphon opened #578 "[FEAT]: Make stop button command over HDMI-CEC actually close the video instead of pausing"
### Description

Apparently, when you use HDMI-CEC to control Nova and press the stop button on the remote that comes with the TV rather than the Android remote (like the CCwGTV remote, for example), you actually pause the video rather than closing the video and going back to the episode/movie menu.

PAUSE on Samsung remote = Pause Nova video
STOP on Samsung remote = Pause Nova video ( should inst

[2022-02-21 06:16] rahaaatul opened #579 "[FEAT]: Filter Watched items"
**Description**
A filter option to hide already watched items.

**Benefits**
- Won't be a hassle to navigate.
- Unwatched items will be more accessible.

[2022-02-21 07:49] GrumpyLoneWanderer commented on #575
Hi, the files are located on smb

[2022-02-21 11:52] rahaaatul opened #580 "[BUG] [6.0.46] Scraping Issue"
**Description**
Fails to scrape new items sometime. And gets stuck for some time and then crashes.

**Device**
Android TV, Lollipop 5.1

[2022-02-21 13:00] courville commented on #580
Probably a recent tvshow scraping format change. Only solution for now is to reinstall from scratch. This should cute the problem. Sorry for the inconvenience.

[2022-02-21 13:52] courville commented on #579
This feature exists only on the TV UI and not the phone/tablet UI yet.

[2022-02-21 13:55] rahaaatul commented on #579
I'm using TV UI on TV, and I didn't find this option. Where can I find this option? Is it available with all movies/shows/animations row toggled on?

**PS: I'm not talking about last played row.**

[2022-02-21 13:59] courville commented on #579
It is only available in the all movies or tvshow tile. There is an eye 👁️ displayed in the action top items for this purpose.

[2022-02-21 14:02] rahaaatul commented on #579
Got it, can you make it available with all movies/ shows/ animations row enabled?

[2022-02-21 15:49] rahaaatul commented on #580
No problem, I've reverted back to 6.0.43 and it's working fine now.

[2022-02-21 17:22] courville commented on #578
Indeed in `PlayerController` `KEYCODE_MEDIA_STOP` triggers a pause. Let's wire it to stop.

[2022-02-21 17:25] courville commented on #580
I need to see if it is possible to not have to rescrape all with the changes made for tvshow media information enhancements made. Thus reverting back to 6.0.43 is not the solution for now.
I guess reverting to 6.0.43 you had to reinstall from scratch.
If you were to install 6.0.46 from scratch, I anticipate that it would work too.
I think this issue is a duplicate of https://github.com/nova-video-

[2022-02-21 17:50] bronnel opened #581 "[Bug]: TV show overview window season grid overlapping other info (UI bug)"
### Problem description

there is a bug in TV show overview window, this was a long time bug in nova or archos, but I found this when I applied my UI changing  code.
This is not normally visible, first you must apply my code
When a Series has more than one season, Then TV show overview window with season list is accessible, this bug only happens in season grid view , it doesn't happen in season li

[2022-02-21 17:56] rahaaatul commented on #580
I wish I could say that but I tried couple of times doing that with 6.0.46 but the problem was persistent.

_Tried clearing App Data, uninstalling and reinstalling._

[2022-02-21 17:58] courville commented on #580
Interesting. Could you by any chance get some adb logcat logs (cf. https://github.com/nova-video-player/aos-AVP/wiki/Debugging)?

[2022-02-21 20:14] courville commented on #581
I do not think the picasso error is the source of the issue: must be another UI bug. To be investigated.

[2022-02-21 20:26] bronnel commented on #581
@courville , I will manually update my project with your debug, to pinpoint the issue hopefully , thanks

[2022-02-22 02:21] biogaea commented on #575
I can confirm this issue.
same device (armeabi-v7a, Android 10) --> fresh install NOVA Video Player & restart --> default setting & select "process '.nfo' files" --> index folders to add new content to the library

    When installing NOVA version 5.15.21:
    NOVA will process '.nfo' files and get metadata from '.nfo' files

    When installing NOVA version 6.0.43 and 6.0.46 :
    NOVA will ignor

[2022-02-22 07:58] KyleSanderson opened #582 "[Bug]: External player doesn't allow use of native 4K player."
### Problem description

Sony in a vindictive fashion has prevented Android apps not on their allow list to play media at 4K. This results in Just and NOVA being unable to play content at their native resolutions. Kodi has worked around this by allowing you to specify applications that can be opened. Specifically it's com.sony.dtv.smartmediaapp - https://kodi.wiki/view/External_players

### Steps

[2022-02-22 13:21] SpudR commented on #577
"Perhaps reaching the last 5 minutes is a good threshold instead of 85% since you might miss something at that percentage of a video?"
I'd suggest that it simply trips the flag - not actually stops the video. You will still be able to watch if you desire (to see all those Marvel scenes!), just that in the listings that movie would be 'watched'.

[2022-02-22 15:35] GrumpyLoneWanderer commented on #575
Yea can't seem to get bing mode working either

[2022-02-22 15:42] courville commented on #575
In nova v6.x processing of NFO files are disabled by default for the migration path.
Please check that re-enabling NFO processing in settings you still have the issue.

[2022-02-22 16:33] bronnel commented on #581
@courville
The visual bug of overlapping is related to the following method of `getView` in `HeaderGridView.java`
the problem is specifically related to `convertView`
and if I change the code from this
[code]

**To this, then the bug is fixed but now the season grid does not scroll with the header (it scrolls independently) and the info loses styling features like font color**
so I assume this is

[2022-02-22 18:27] Pentaphon commented on #577
Oh I know. I meant that, too. I was just saying that 85% might cause you to miss something if the video is marked as watched if you stop the movie for some reason and then think you watched it a week later and the 85% flag caused the software to tell you the movie has been seen in full, so the 5 minute flag much less room for error. 15% of a 90 min movie is 13.5 min, for example.

[2022-02-22 19:00] courville commented on #581
Thanks @bronnel for the analysis.
@PhieF any insight on the above issue since you might remember this code form an other life ;-) ?

[2022-02-22 20:06] mschumacher69 opened #583 "[FEAT]: Scraping Adult Movies"
### Description

Is there a way to enable scraping of adult movies or is this just not possible in themoviedb api?

I know there is a way to enable adult movies in the search results on the website, not sure if something similar is available on the api.

### Additional information

_No response_

[2022-02-22 20:23] courville commented on #583
tmdb provides this functionality which is disabled in nova in order to avoid the trouble of changing classification on google play. Google is quite picky around having a search showing some PG++ pictures.
You can enable it, if you want in `MovieScraper3` and `ShowScraper4` in the search queries.
I could make it a hidden option but I would like to avoid this due to Google thorough reviews.

[2022-02-22 20:29] mschumacher69 commented on #583
Thanks. How to enable it in MovieScraper3 and ShowScraper4?

[2022-02-22 20:34] mschumacher69 commented on #577
I believe this feature is already there because it happens to me all the time where I stop watching a movie and there are 5-10 minutes left and it marks it as watched and then I would have to manually forward it to the end to continue watching it.

[2022-02-22 20:39] courville commented on #583
Are you ready to rebuild your own version of nova?

[2022-02-22 20:50] mschumacher69 commented on #583
Oh, I guess not...

If you can make it a hidden option, that would be great.

Would it be that obvious if you add it to the code? In the end Nova is just a player, it is not providing any content. I mean you won't accidentally scrape an adult movie unless you already have it in your library.

You can search for adult movies in Chrome or the Google app after all...

[2022-02-23 01:11] morpheasgr opened #584 "[Bug] [Playlists] M3U/PLS with HTTP (tried only SSL) network streams does not play back or detect/enqueue items."
To reproduce:

1. Create a file, name it sampleplaylist.m3u or otherwise, keeping the m3u extension.
2. Paste the following 3 lines into it (with or without the newline at the end, Github added this), save it and try to load the playlist in Nova, either through the interface or through a file manager.
[code]

Note: The example video links are valid and play back fine as single links. The simplifie

[2022-02-23 01:37] morpheasgr commented on #583
@courville How about taking a patcher/addon approach that has to be sideloaded externally? As long as the code on Google Play does not include the feature (think of Grand Theft Auto - Hot Coffee situation as a bad example, the code was in the game files) I think you should be completely in the clear. They should age-restrict web browsers because you can go to PHub with that logic.

[2022-02-23 02:24] vasanthtt commented on #337
I love Nova and it's very hard to believe that it won't support cloud

[2022-02-23 09:03] rahaaatul commented on #580
@courville , Here is the [LOGCAT](https://drive.google.com/file/d/14yi_JlpNBZxOmJsBrKKn0IC0mCMyMsIo/view?usp=drivesdk). It was stuck for a long time, then 1 item was scraped. Then I ended the LOGCAT.

PS: I reinstalled 6.0.46 over 6.0.43.
PS2: I used [PIDCAT](https://github.com/JakeWharton/pidcat) to get Nova's LOGCAT.

[2022-02-23 18:45] courville commented on #580
Thank you a lot for sharing the logcat. Unfortunately, I do not see anything really exploitable (pidcat though nice makes it difficult to analyse).
I can share with you a custom build that will add debugs for the scraping and videoStoreImport to really figure out what is going on.
For capturing the logs, what OS are you using? I will provide details.
EDIT: BTW I do not see a crash in your report,

[2022-02-23 20:22] courville commented on #570
See https://github.com/nova-video-player/aos-MediaLib/commit/03458d4d38b540d79cff31ff7af86bf9922e3833 for ScraperTables showName should be unique (comment).
It is likely to be a side effect while fixing https://github.com/nova-video-player/aos-AVP/issues/479 following this specific commit https://github.com/nova-video-player/aos-MediaLib/commit/12ac6f816a58fca7e536659e087bda40e2698b2a
This is an i

[2022-02-24 04:24] rahaaatul commented on #580
I'm sorry to hear that.

I'm using Termux on Android 11.

It didn't crash, that time. But it was stuck for so long, so I stopped it.

Tried it just now, crashed while scraping. _I was changing info of all episode of incorrect scrapes while it was scraping other items._

[Crashed twice while scraping and after scraping when change info of all episodes.](https://drive.google.com/file/d/156g07EthPPjY

[2022-02-24 07:13] rahaaatul opened #585 "Feature: Backup & Restore"
### Description

Add Backup & Restore feature to Backup or Restore -

- Nova Settings
- Trakt & Open subtitles credentials
- Watched Movies & Shows
- SMB/ FTP/ UPNP Credentials and Indexes

**Reason**
It's hard to do the setup on Android TV everytime there's a bug in the app and have to uninstall and reinstall other versions. This feature would ease the hassle.

### Additional information

- Optio

[2022-02-24 09:02] rahaaatul opened #586 "[Bug]: Doesn't scrape items in USB"
### Problem description

Nova won't scrape items in USB if the TV UI is in use. But it works fine in Mobile UI.

### Steps to reproduce the issue

- Change to TV UI.
- Plug in USB with some video content in it.

### Expected behavior

It should scrape it automatically, instead have to manually click on the item and starts to scrape. (Works okay in Mobile UI)

### Your phone/tablet/androidTV model

[2022-02-24 13:15] SpudR commented on #577
Can someone verify this please? I don't think mine does this...

[2022-02-24 15:09] phhusson commented on #563
I tested that app.

So what it does is:
1. Despite the name "AFR", it doesn't detect the refresh rate (or it simply didn't trigger for me yet?), user sets refresh rate on its own via a shortcut (though anyway NOVA does know refresh rate)
2. it registers itself as an accessibility app, launch Settings app, and click on the refresh rate, like the user would do, but simulating the user.
3. It is so e

[2022-02-24 17:12] courville commented on #577
When activating trakt, there is a 85% `SCROBBLE_THRESHOLD` defined that will mark video as seen.
However when trakt is not activated, my reading of the current code (`PlayerService`) is that it does not apply any threshold for now (it should). One way is to add this threshold for displaying the check mark on top right corner in `PosterImageCardPresenter:bindVideo`.

[2022-02-24 17:21] mschumacher69 commented on #577
Oh OK, that explains it, I use trakt.

This might sound weird here, but is there a way to disable it?😆

It irritates me when it happens, I only want my video to be marked as watched when I watch it completely😅

[2022-02-24 17:30] courville commented on #577
I am afraid that making everybody happy is not possible.
Combined by the fact that I am against adding cryptic settings, this will be a tough one.
Let's make the current behavior consistent for now.

[2022-02-24 18:07] courville commented on #580
Termux: nice! Ok with termux please try directly: `logcat  > nova.txt`
Unfortunately termux pidof does not have access to all android processes (not sure termux is the right way).

Thanks: nothing really exploitable again here unfortunately.

Could you let me know the tv serie file names that were causing issues and made you rescrape?
I will reproduce on my end and add what I found in the issue.

[2022-02-24 18:24] mitch133 commented on #564
FYI no problem with 5.xx Google Play version on a Samsung Galaxy S21.

[2022-02-24 18:26] mitch133 commented on #564
On the other hand, one .mov file coming from an iPad lags a lot on both versions and both terminals

[2022-02-24 20:01] rahaaatul commented on #580
Komi Can't Communicate (2021)
_I have the anime but Nova scrapes the Korean drama_

Sorry, for not providing useful logcat. Thank you for your patience.

[2022-02-24 21:03] courville commented on #580
Thank you, I can reproduce the issue now creating these fake videos and requesting changing the info of the whole show:
[code]
Will fix it.
It is related to writer new tag.

[2022-02-25 02:39] Pentaphon commented on #577
That seems kind of low, no? If I have a 90 min movie, the last 15% is 13.5 min. That's a big chunk of the movie.

Maybe 90%?  Especially now that it's been activated for all users?

[2022-02-25 13:52] mschumacher69 commented on #577
Agreed, I would say 95%.

[2022-02-25 14:22] Pentaphon commented on #577
That's probably too high, since 5% of a 90 min movie is 4.5 min. Movie and TV credits tend to start anywhere from 2 to 6 min before the video file ends and the beginning of the credits is where people typically stop a movie so you want the "mark as watched" threshold to be tripped before the credits appear, but not too early into the movie's final act.

Therefore, the 90% threshold is more ideal b

[2022-02-25 18:42] courville commented on #577
Let's fill the following table to be able to decide based on measurements on a set of typical videos:

| video duration | 20mn | 40mn | 30mn | 90mn | 120mn | 180mn |
|----------------|------|------|------|-------|-------|-------|
| outro duration  |          |          |           |            |            |           |
| threshold %      |           |           |           |           |

[2022-02-25 20:57] mschumacher69 commented on #577
Can't we measure by minutes remaining instead of percentage watched? In other words, set is as watched when there's 5 minutes left? This way, it can apply to all durations instead of having different thresholds depending on the duration.

[2022-02-26 09:28] Pentaphon commented on #577
It's all over the place but I've found that credits for TV shows tend to take anywhere from 30 seconds to 5 min (they have subtitle credits on Netflix shows, too)  and movies take anywhere from 2 min to 6 min. I went through many of the movies and TV shows in my collection and that's the best summary I could take from it. There's really no telling how long or short credits can be until you see a v

[2022-02-26 09:51] Pentaphon commented on #585
That actually sounds great. I'd like to use the existing filesystem browser as well so we can do it easily with a remote control.

[2022-02-26 10:48] bronnel commented on #581
@courville case closed with this commit [ Season gridview height fixed (overlapping issue fixed) ](https://github.com/bronnel/aos-Video/commit/40d5f48b027d959499e86e0e4b22ddaf5e8172f6)

[2022-02-26 11:25] GrumpyLoneWanderer commented on #575
Any idea when this will be resolved? moviedb.org does not handle some tv shows well

[2022-02-26 12:06] courville commented on #581
@bronnel could you please make a PR?

[2022-02-26 12:10] courville commented on #577
Thanks @Pentaphon and @mschumacher69 for your comments. I can implement both fixed duration and percentage threshold but I would like the table to be completed first (even with intervals for credits/outro duration). I will check back at home as well for various videos (marvel, 20mn tvshows).
Please also provide reference of sites that details the info as well that could help.

[2022-02-26 14:02] courville commented on #580
@bronnel to reproduce it you can use this zip of fake files and wait for scrape to be complete.
[komi.zip](https://github.com/nova-video-player/aos-AVP/files/8146747/komi.zip)
Then go to tvshow and change tvshow info and pick the anime: it will crash with the error logs that I provided.

[2022-02-26 15:01] bronnel commented on #580
@courville , sorry I could not access IRC for some reason , fix coming up real soon, yes I knew about that issue , when changing the series info this issue happens, it may also occur for movie , I will have to test that out as well, this will be fixed

[2022-02-26 15:02] bronnel commented on #581
@courville I'm currently on **NewUIFeatures** branch, I have  many commits here , If I make PR it may mess things up on your end because I have unfinished changes , so what you suggest? or I shroud switch to v6, right?

[2022-02-26 15:13] courville commented on #581
Will cherry-pick easier indeed. Thx for the fix!

[2022-02-26 15:27] courville commented on #577
For reference datasets can be downloaded from https://datasets.imdbws.com/ and one can run some statistics https://towardsdatascience.com/are-new-movies-longer-than-they-were-10hh20-50-year-ago-a35356b2ca5b
Not yet checked that it includes credits.

[2022-02-26 15:40] courville commented on #583
I will think about it. I will make a paid addon ;-P (/me kidding)

[2022-02-26 15:44] morpheasgr commented on #583
@courville dude, this is among the best video players available for the android platform right now, you deserve every donation that comes your way. By the way, please take a look at #584 whenever you have time to test the demonstration file I created.

[2022-02-26 15:49] PcFish opened #587 "[Bug] Crash on "Change info of all episodes""
Version: 6.046-20220218.2132
Shield TV Pro version with latest update, just did a factory reset so Nova is a fresh install.

It scraped files individually fine, but when I try to batch scrape TV shows it crashes and goes to home.
The files are on my network SMB if that matters

[2022-02-26 15:54] PcFish commented on #585
I'd love this. So many times having to rescrape and it constantly uses the wrong info

[2022-02-26 16:10] courville commented on #587
You are right and it has been reported here https://github.com/nova-video-player/aos-AVP/issues/580
Let's close this one and follow through on this issue.

[2022-02-26 16:10] #587 closed, assigned to nobody

[2022-02-26 18:02] bronnel commented on #580
@courville , this does not happen for movie fortunately , only happens for show and episode
all tables seem fine , I'm not seeing any missing writer table, I've looked at `VideoOpenHelper` and `ScraperTables`

[code]

[2022-02-26 18:12] bronnel commented on #580
@courville , problem solved , commit coming up

[2022-02-26 18:33] bronnel commented on #580
@courville , I think it is better to cherry pick, please be careful
[Fixed crash when changing series or episodes info-MediaLib ](https://github.com/bronnel/aos-MediaLib/commit/34b9bfe27d0cb516715db61cf1f7f83758b8d4f9)
[Fixed crash when changing series or episodes info-Video ](https://github.com/bronnel/aos-Video/commit/28278da0550f3619687df0515630d0763e539725)

[2022-02-26 19:29] bronnel commented on #580
@courville , here is the fix , please cherry pick both of these commits from Video and MediaLib

**First pick these two commits**
[Fixed crash when changing series or episodes info -MediaLib](https://github.com/bronnel/aos-MediaLib/commit/34b9bfe27d0cb516715db61cf1f7f83758b8d4f9)
[Fixed crash when changing series or episodes info -Video](https://github.com/bronnel/aos-Video/commit/28278da0550f3619

[2022-02-26 23:15] courville commented on #580
Thx @bronnel will check tomorrow.

[2022-02-27 06:44] #510 closed, assigned to nobody

[2022-02-27 13:29] courville commented on #583
Do not get your hopes up, for now the feature is disabled by default and has to be enabled at compile time.

I will need to think about the best way to activate it.

[2022-02-27 16:05] courville commented on #580
Should be fixed via @bronnel contrib and https://github.com/nova-video-player/aos-MediaLib/commit/1c3bf555c826ee94c782f615896117e352cbc049 on top.

[2022-02-27 16:22] bronnel commented on #580
@courville , I assume problem solved after your additional commit , about this commit is it for db upgrade only or there are other changes? should I do this manually on my branch?

[2022-02-27 16:49] courville commented on #577
Based on https://docs.google.com/spreadsheets/d/15nNTyUQP288QWKZlLg24T8o0YeWoKBSQB8eccWLWsmI/edit?usp=sharing any challenger for 90%?
Fixed duration won't cover tvshows and movies at the same time.

[2022-02-27 16:50] courville commented on #580
yep problem solved at least according to my testing.

[2022-02-27 19:19] mschumacher69 opened #588 "[FEAT]: Auto update info on access"
### Description

Sometimes when a movie/show is still new, the description and/or episode names would not be up to date on thetvdb/tmdb when the show is first scraped, so I would have to manually use the change info for all episodes button at a later time and reselect the show for the info to update.

Would be nice if this can be done automatically every time a show/movie is accessed to always kee

[2022-02-27 19:43] courville commented on #575
Seems that the problem is in `relocateNfoJpgAppPublicDir`
[code]

[2022-02-27 20:23] courville commented on #583
Next release on github will have this hidden option that you can access after enabling nova advanced options by 10 clicks on nova settings->software decoding.

This will never be available on Google Play release.

[2022-02-27 21:03] bronnel opened #589 "[Bug]: season poster defaults to series poster when changing series info"
### Problem description

When you want to change series info to another series , after the change has finished , season posters are downloaded but are not loaded , series poster is loaded instead for all seasons

### Steps to reproduce the issue

change series info to another series

### Expected behavior

seasons must have their own posters loaded in the view

### Your phone/tablet/androidTV mode

[2022-02-27 23:40] SpudR commented on #576
Any advance on this guys?

[2022-02-27 23:43] SpudR commented on #577
Hi guys
So glad this will become an option! 👍
I'd still suggest a spinner for the % - and separate ones for movies and TV series. That way you can judge for yourself, but set it @90% to start...

Personally I'm not too worried about the accuracy of where the credits start - as long as the flag is tripped before the credits start, then it means when the actual movie finishes you can just stop it.

[2022-02-28 06:41] mschumacher69 commented on #583
Thanks! Would you consider releasing a self hosted version of Nova that would auto update itself through the app? You know considering Google have been rejecting your releases recently.

That would be the only way I would consider sideloading an external version, because I wouldn't want to have to manually sideload every time there's an update.

[2022-02-28 07:14] Ilithy commented on #585
Indeed, this would be a very practical addition, I like;
however, if possible, I will add to the exportable elements (saveable) the .nfo files
Thank you.

[2022-02-28 07:53] courville commented on #577
For clarity sake, for now making it an option is not yet considered.
Thus default percentage only is discussed.
Based on the measurements and data provided any opposition on a 90% default?
Any other data to consider?

[2022-02-28 07:54] courville commented on #583
Will update app via fdroid (need to reenable it).

[2022-02-28 11:18] mschumacher69 commented on #583
Great thanks! Would updating the app through fdroid update the current app that's installed through the play store while keeping the data or would I have to start over from scratch if I install Nova through fdroid?

[2022-02-28 11:20] mschumacher69 commented on #577
I think 90% seems reasonable, definitely better than the current 85%!

[2022-02-28 13:42] courville commented on #575
@GrumpyLoneWanderer, I do not know what basic version of TinyMediaManager does better when dealing with tmdb (apart from a manual editor).
FYI on v6 nova supports Movie collections/sagas which is very basic (no poster/backdrop) in TinyMediaManager but nova does create nfo with the required collections/sagas entries.
In other words with TinyMediaManager these images will be lacking and will create

[2022-02-28 14:23] GrumpyLoneWanderer commented on #575
@courville hi, thanks for that. I have tried to manually create no files, use TMM as use an nova export as template all with same result. Could you confirm which field is issue? And which are mandatory

[2022-02-28 14:24] SpudR commented on #577
Agreed - 90% is good.
"For clarity sake, for now making it an option is not yet considered." > Just glad it's on the radar :)

[2022-02-28 16:36] GrumpyLoneWanderer commented on #575
@courville I have tried with very basic kodi nfo file manually created in notepad++ it won't load the info, in v5 i had no problems. In v6 it won't load no matter method of creating the nfo file. The problem is nova does not recognise series with more than 2 digits so things like house hunters or megastructures won't get scraped. There is also alot of TV show episode info in moviedb that is not co

[2022-02-28 18:08] GrumpyLoneWanderer commented on #575
I have also tested an exported nfo file from v5 and tried to import into v6 no luck

[2022-02-28 19:45] courville commented on #575
Interesting comment about series with more than 99 episodes.
For now you need my patch to get it working back. Will make a release on github soon.

[2022-02-28 21:04] mschumacher69 commented on #577
I think he means that he will implement it, but not as a modifiable option, but rather a default that applies onto all videos.

[2022-02-28 21:41] GrumpyLoneWanderer commented on #575
@courville supper, thanks :) yea if you use manual nfo files nova v5 recognised series with 4 digits, but when scraping from online it only recognises 2 digits.

[2022-03-01 21:52] #583 closed, assigned to nobody

[2022-03-01 21:53] #580 closed, assigned to courville

[2022-03-01 21:53] #575 closed, assigned to courville

[2022-03-02 03:22] rahaaatul commented on #568
Off topic but do you know what to put in domain in SMB credentials?

[2022-03-02 05:29] mschumacher69 commented on #583
@courville can you please answer my question above?

Thanks

[2022-03-02 06:42] Ilithy commented on #34
As gestures to possibly add there are the triple tap on the left and right edge to move backwards and forwards slightly, and the forward is configurable
_(VLC uses it, I like this option)_

Thanks

[2022-03-02 06:56] rahaaatul opened #590 "Android TV: Rewire Shortcuts"
### Description

A feature to manually rewire remote shortcuts on Android TV.

### Additional information

In [TV Bro](https://github.com/truefedex/tv-bro), there's a feature to rewire remote shortcuts.

![Screenshot_2022_0302_124819](https://user-images.githubusercontent.com/86149861/156309857-6e41319a-04e9-497c-b045-57b031a6d499.jpg)
![Screenshot_2022_0302_124835](https://user-images.githubuserc

[2022-03-02 07:35] rahaaatul commented on #590
A [video](https://sendvid.com/k3pm9ag2) to demonstrate the problem regarding #510

[2022-03-02 07:59] courville commented on #583
Using fdroid you would have to reinstall since fdroid in the publication process recompiles from sources and sign the APK. But do not do it now since fdroid APK iOS very very old at the moment.

[2022-03-02 09:05] Pentaphon commented on #568
I'm not sure. We need a tutorial on how to connect to Linux shares.

@courville do you connect to Ubuntu or other similar Linux samba shares? Any tips on this?

[2022-03-02 10:07] mschumacher69 commented on #583
OK thanks, please let me know when I can do it. Would have been nice if I could install 2 instances of the app, one for adult stuff from fdroid and the other one from the play store for regular stuff, do you think this is possible? Maybe if you name the fdroid package differently?

[2022-03-02 12:20] Pentaphon opened #591 "[FEAT]: Allow users to rescrape individual TV shows/movies"
### Description

Sometimes you just want to re-scrape an individual show to get the latest info like missing episode screenshots, fetching more posters, etc . Can we have a button that re-scrapes just that individual show? There's "remove from library" but then you have to re-add it. Perhaps a "re-scrape" button next to that for just that individual TMDB entry instead of doing a whole re-scrape? T

[2022-03-02 12:24] mitch133 opened #592 "[FEAT]: Add "manage / show scraped files" option"
### Description

It is a very good option to prevent scraped files to appear again and again every time you refresh the library, but as a consequence it would be useful to have a "show scraped files" option. Indeed, if you scrap some files by mistake it can be tricky to find off the top of your head which ones are missing if you want to add them again to the library.

### Additional information

_

[2022-03-02 12:28] mitch133 commented on #592
Happened to me yesterday, I removed from the library, by mistake, some files, and couldn't remember which ones. As a consequence I had to delete all my entire library and restart from scratch

[2022-03-02 12:32] Pentaphon opened #593 "[FEAT]: Scrape trailers for TV shows as well"
### Description

TMDB has a videos section for TV shows that always includes trailers/featurettes, etc so since we already do it for movies, why not TV shows as well? It would be an easy way to preview a trailer for a new show when showing somebody our collection using Nova.

### Additional information

_No response_

[2022-03-02 12:33] mitch133 commented on #592
Guess the "videos without description" section could be the right place to implement this

[2022-03-02 12:52] mitch133 opened #594 "[FEAT]: implement a backup & restore library index"
### Description

As rescraping all library may sometimes be time consuming and painfull, it could be cool to have the possibility to backup the library index and restore it, if, for some reason, you lost everything (i.e: problem with SMB + "rescrape library at start" option activated = nightmare)

### Additional information

_No response_

[2022-03-02 15:31] Pentaphon commented on #590
This seems out of the scope of this player...

A volume control on a typical Android TV remote is meant to control your system audio, TV or audio receiver, not a certain player app.

[2022-03-02 16:30] mschumacher69 commented on #591
Yeah, or auto re-scrape on access like #588.

[2022-03-02 16:39] Pentaphon commented on #591
That seems like overkill. I would prefer an easy button that just does it for me when I see a problem, not doing it any time I access the show or movie.

[2022-03-02 16:42] mschumacher69 commented on #591
You can already achieve that with the change info button instead of removing from library and re-adding, but yeah a dedicated re-scrape/update button would make it easier, so would be an option to auto-rescrape that can be enabled/disabled for those who want it.

[2022-03-02 20:31] GrumpyLoneWanderer opened #595 "Add option for sorttitle"
### Description

Add option to use sorttitle field in order to be able to watch movie sagas in order (collections does not seem to do this)

### Additional information

This used to work in Archos app but not sure what happened.

[2022-03-03 20:58] courville commented on #586
Debugging some `VideoStoreImportService` stuff, I see that on tvUI `VideoProvider` is not started at application launch whereas on phoneUI it is. VideoProvider is responsible to launch `VideoStoreImportService`. It might be the cause of this behavior. `CustomApplication` registers the `VideoStoreImportReceiver` though on both interfaces.

EDIT: it is not a matter of tvUI or phoneUI since a `Conten

[2022-03-04 08:37] rahaaatul commented on #586
Yeah, I've tested again using Mobile UI and it didn't scrape it. Also if SMB and USB has same files, it prefers files from SMB even though I selected USB source for the first file. It prefers SMB for the next video with binge watch or folder option on.

[2022-03-04 10:12] courville commented on #572
For debugging add to the right target `logback.xml` for a `AllVideos` widget config:
[code]

[2022-03-04 10:38] courville commented on #572
What I found so far is that in `RemoteViewsFactoryBase.getViewAt` the list of videos is built and gathered into the extra of the intent for `WidgetProviderVideo` stuffed in the `RemoteViews.setOnClickFillInIntent`.
However `WidgetProviderVideo.onReceive` seems to get empty `videoId` leading to no launcheable video toast.
It used to work with nova v5 without noticeable change.

[2022-03-04 12:52] courville commented on #572
Might be related to https://stackoverflow.com/questions/30014217/android-sending-parcelable-with-setonclickfillinintent

[2022-03-04 19:19] #578 closed, assigned to nobody

[2022-03-04 21:07] #572 closed, assigned to courville

[2022-03-05 09:27] bronnel commented on #589
@courville There are more issues when changing series info, like episode stills not being scraped, episode guest stars tag also has conflicts, this needs to be looked at thoroughly and more deeply

[2022-03-05 09:55] courville commented on #589
I fixed something lately related to changing tv serie info. It will not cover all of what you saw though.

[2022-03-05 09:57] courville commented on #581
For now the fix causes more issues, I will revert the fix on v6 and let's fix it on your branch.

[2022-03-05 15:35] courville commented on #145
Perhaps the better fix is there https://github.com/nova-video-player/aos-MediaLib/commit/422d29881d9210fb51623bd4320ba53a0aafc425
Interesting discussion on `startForeground` found here:
- issue google:
- one solution: https://stackoverflow.com/questions/44425584/context-startforegroundservice-did-not-then-call-service-startforeground/53286232#53286232
- qualified as code is a mess from CommonsWare

[2022-03-05 15:35] #145 closed, assigned to nobody

[2022-03-06 20:20] bronnel commented on #581
@courville , on my branch I don't any issues,  but it is due to the viewmore layout, I have compeletly got rid of it , I will reimplent the viewmore in a better way later

[2022-03-06 20:21] bronnel commented on #589
Thanks @courville

[2022-03-06 23:32] biogaea opened #596 "[Bug]: Some videos info doesn’t show on the TV UI"
### Problem description

The studio, writer, and content rating do not show up in the movie description on the TV user interface.  However, they are shown in the movie description when you change interface to Tablet/Phone UI.  BTW, “Show all animations row” option doesn’t work on the TV user interface, too.

### Steps to reproduce the issue

Fresh install NOVA Video Player --> default setting & se

[2022-03-08 18:30] courville commented on #570
Again a problem with a corner case happening with Hawkeye 2021 tvshow and Hawkeye 1994 tvshow with exact same name. A back and forth rename on the overall show creates a crash. Do implement proper detection logic for reboots and when to update/create tvshow name or tvshow name with date.

[2022-03-08 18:32] #570 closed, assigned to courville

[2022-03-09 15:55] linsui opened #597 "[Bug]: F-Droid build failed"
### Problem description

https://monitor.f-droid.org/builds/log/org.courville.nova/600049#site-footer

Could you please take a look? Thanks!

### Steps to reproduce the issue

I guess that's because ndk r23b is preinstalled so it's used but not supported.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

None

### Operating system version

None

### Application version

[2022-03-09 16:11] courville commented on #597
Slowly progressing here https://gitlab.com/software9/fdroiddata/-/tree/nova/novaV6Update on separate branch for an upcoming MR.
Note that getting a turnkey docker working to check build that is inline with fdroid CI is an adventure.
No clue however why it has been picked up by fdroid official monitor since there is no official tag on aos-Fdroid repo corresponding to 600049.

[2022-03-09 16:38] linsui commented on #597
That's weird. I'll look into it. Thanks for pointing that!

[2022-03-10 03:22] morpheasgr opened #598 "[FEAT] Improve M3U/PLS/etc support"
Greetings dear dev,

To my understanding the support of playlist files such as M3U/PLS is not functioning, while Nova does offer to open these sorts of files, so I have been meaning to ask whether the behaviour I describe in #584 is indeed a bug or whether there is no playlist file support in general.

Expected behaviour (as a coding newbie sees it): parse playlist file, read items one by one (not

[2022-03-10 08:34] alexunderboots opened #599 "[Bug]: External Player + SMB"
### Problem description

External players not work (just, vlc) on SMB volumes
timeout error

### Steps to reproduce the issue

settings - external player

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

IO Pro

### Operating system version

Android 9

### Application version and app store

6.0.50

### Additional system information

_No response_

### Debug logs

_No re

[2022-03-10 13:36] rahaaatul opened #600 "Scrape error"
### Problem description

Won't scrape Lucifer TV Show's Season 5's episodes from 9 to onwards.

### Steps to reproduce the issue

Wait for scraping.

### Expected behavior

Should scrape all episodes.

### Your phone/tablet/androidTV model

Smart TV

### Operating system version

5.1.1

### Application version and app store

6.0.50 from GitHub

### TV Show info

[TMDB](https://www.themoviedb.org/t

[2022-03-10 13:44] courville commented on #600
From the logs:
[code]
Seems suspect and not related to scrape...

[2022-03-10 13:49] rahaaatul commented on #600
What does that mean?

It's not scraping after episode 8. Other shows are correctly scraped. I manually rescraped, did get info (doesn't get any info) . But it doesn't scrape the episodes from episode 9 from this show's season 5.

Can you check on your device? Lucifer Season 5? 16 episodes. Only 8 gets scraped.

[2022-03-10 14:00] courville commented on #600
Lucifer s05e09 seems to scrape ok on my side and I checked that on tmdb all info was there:
![lucifer-s05e09](https://user-images.githubusercontent.com/242843/157677100-f0e87fd9-a502-40a5-bcd7-415567437669.png)
What I mean is that there is a failed attempt to create files on a public data of nova which could cause issues.
Moreover the nullPointerException could mean that you attempt to scrape a fi

[2022-03-10 14:01] rahaaatul commented on #600
Checked with my phone, it's working fine.

[2022-03-10 14:24] courville commented on #600
Thus what we need to understand is why on the TV /mnt/shell/emulated/0/Android/data is not available.
Could you please do an adb shell to this device and check if it exits?
One should be able to cd to this directory and get into org.courville.nova subdir.
Which TV is this?

[2022-03-10 14:59] rahaaatul commented on #600
It exists. Checked with FX File Manager.

It's not a brand TV. It's a Chinese TV. Android 5.1.1.

_I reset my TV just now and reinstalled Nova and checked but the problem persists._
[code]

[2022-03-10 15:04] rahaaatul commented on #600
Created and deleted folder successfuly in

[code]

via ADB shell without any problems.

- Checked with 6.0.49 (Problem Persists)
- Happened with Luicfer Season 5 only. Didn't face this problem before.

[2022-03-11 13:24] rahaaatul commented on #600
[6.0.51](https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.51) didn't fixed the problem.

- If you do Get info, nothing comes up with the show name.

[2022-03-12 11:36] courville commented on #597
@linsui ok, it seems that my ongoing work has been merge when I asked a question about how to handle things causing the problem.
I witnessed this when creating my MR on fdroiddata which was conflicting.
Will redo a proper MR.

[2022-03-12 11:45] linsui commented on #597
Thanks!

[2022-03-12 11:50] courville commented on #597
Proper MR submitted https://gitlab.com/fdroid/fdroiddata/-/merge_requests/10746

Note that build CI fails with a timeout (e.g. https://gitlab.com/software9/fdroiddata/-/jobs/2192527632 since gitlab since is having some issues). However it has been "verified" to compile using https://gitlab.com/fdroid/docker-executable-fdroidserver for which you need to setup yourself the Android SDK etc... This wa

[2022-03-12 15:34] courville commented on #597
For the record, as pointed out by linsui, timeout can be extended to 3h in project settings, CI pipelines (search for timeout). This should help.

[2022-03-12 15:36] courville commented on #567
Let's merge the issue with https://github.com/nova-video-player/aos-AVP/issues/597 and pursue of the current f-droid MR https://gitlab.com/fdroid/fdroiddata/-/merge_requests/10746

[2022-03-12 15:36] #567 closed, assigned to courville

[2022-03-13 09:31] courville commented on #597
@linsui thanks for your support!

[2022-03-15 02:07] Pentaphon opened #601 "[Bug]: Pressing Pause over HDMI-CEC remote shows the touchscreen volume control UI on Android TV"
### Problem description

I use my Samsung remote over HDMI-CEC to control my box because it's a well-worn remote and I don't want to use my Android TV remote because it might break, get lost, etc. When I press pause using that remote over HDMI-CEC, the volume control UI on the left side of the screen shows up on my TV. It shouldn't be there, but it does. It's a minor issue, but it happens.

### St

[2022-03-16 05:56] courville commented on #597
@linsui bad news https://monitor.f-droid.org/builds/log/org.courville.nova/600052#site-footer
CI passes but "real build" fails. The issues seems to be that cmake is not found or sdkmanager for opus.
[code]
I will look into it.
Note to self, it seems that same lines and path are working a couple of lines above the same script and other `native/*/build.sh` scripts too and ` sdkmanager "${cmake}"` is

[2022-03-16 07:00] linsui commented on #597
See https://gitlab.com/fdroid/fdroiddata/-/blob/master/.gitlab-ci.yml#L256. sdkmanager from pip is only included in the CI for test. In the buildserver you need to use

[code]

[2022-03-16 17:41] courville commented on #597
@linsui, thanks for pointing this out. It is disturbing that the CI and build server are different but fine let's try to adapt.
This means that for now I just need to use the default `PATH` `${androidSdk}/tools/bin`
[code]
Now the real question is how to I cope with the java8/11 schizophrenia? All new sdkmanager versions are java11 and the one f-droid is using is java8.

For the record, all latest

[2022-03-16 19:04] courville commented on #597
@linsui I propose to do:
[code]
Will provide an MR.

[2022-03-17 19:01] courville commented on #597
See https://gitlab.com/software9/fdroiddata/-/commit/a6656afbecdf68745707d88acfe3c08190e0db11

[2022-03-17 19:45] courville commented on #597
@linsui seems that I am not the only one having sdkmanager paths issues:
[code]
Thus in the official f-droid build docker it is located elsewhere.
EDIT1: Adding `find $$SDK$$ -name sdkmanager` to find out...
EDIT2: Uh other yml have `$$SDK$$/tools/bin/sdkmanager` too --> but long ago
EDIT3: confirmed to be /opt/android-sdk/tools/bin/sdkmanager, trying without `yes`
EDIT5: better but no love for pr

[2022-03-18 02:33] linsui commented on #597
That's weird... It works for me.

[code]

[2022-03-18 17:51] courville commented on #597
OK I found what was wrong on my side.
Here you go: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/10776

[2022-03-19 02:45] Hotboy1987 opened #602 "Selectable mode for forward speed and backward speed"
### Description

plz and option to select forward speed and backward speed ,, 5 sec ,, 10 sec ,, 15 sec

### Additional information

_No response_

[2022-03-19 18:29] courville opened #603 "avos does not compile with latest ffmpeg 5.0"
[code]

[2022-03-20 09:31] Pentaphon commented on #603
Would it be better for this project in the long run if you dropped 5.0 in favor of mpv which already works on Android apps?

https://github.com/mpv-android/mpv-android

[2022-03-20 21:42] courville commented on #603
mpv is based also on ffmpeg.
Let's fix avos (nova) first and see what we do in the future. mpv is a good option indeed.

[2022-03-20 22:26] Pentaphon commented on #603
I'm aware its based on ffmpeg. I was just trying to save your project some work since MPV is already quite Android-friendly and you may find more dev help and community support by switching to mpv. The ffmpeg community isn't as focused on playback as the mpv community is, and that's all you need from an ffmpeg-based solution in the first place. I'll keep my mouth shut in this thread now but I want

[2022-03-21 09:27] courville commented on #597
OK closing the issue now cf. https://monitor.f-droid.org/builds/log/org.courville.nova/600053#site-footer

[2022-03-21 09:27] #597 closed, assigned to courville

[2022-03-22 12:03] courville commented on #603
Deprecated see http://ffmpeg.org/pipermail/ffmpeg-devel/2018-February/225051.html and https://github.com/leandromoreira/ffmpeg-libav-tutorial/issues/29#issuecomment-404939213 and https://stackoverflow.com/questions/57177855/how-to-fix-these-errors

[2022-03-22 21:04] alexanderadam commented on #284
This even happens if the VPN is not a "real" VPN (I experienced this on the current F-Droid version 6.0.53 of Nova).
For instance if an AdBlocker like [Blokada](https://f-droid.org/en/packages/org.blokada.fem.fdroid/) is used.

The Trakt settings query is the only one that doesn't work: OpenSubtitles, Blocklist fetching or local network queries are working perfectly.

[2022-03-22 21:13] alexanderadam opened #604 "[FEAT]: Ignoring directories"
### Description

It would be great if it would be possible to ignore directories.
For instance via context menu of the ˋFoldersˋ view.

If ignoring is seleced, it's content would be removed from the index and it wouldn't be indexed any more.
Unignoring could be done from this context view as well.

**PS:** Thank you for maintaining Nova and for bringing the latest version to F-Droid!

### Addition

[2022-03-23 04:39] mschumacher69 opened #605 "[Bug]: App hanging/crashing when browsing Episodes by date"
### Problem description

I use nova with an SMB server that auto re-scans on every app launch. This used to work flawlessly in the past, but not anymore.

Now, whenever I browse Episodes by date, I cannot play anything unless it finishes a scanning cycle without any changes to the database because it crashes if I visit Episodes by date while it's updating the library. For example if I try to play

[2022-03-23 07:13] courville commented on #605
Hi, have you been using the v6.0 of nova and then got back to google play release one?
It would help if you can get me some logs of the crash.
Since I have not touched for a long time the google play release, it could be an external factor.
Did you get an update of your TV firmware?
This is not something that has been reported before.
To capture logs please follow https://github.com/nova-video-pla

[2022-03-23 07:14] courville commented on #605
To capture logs please follow https://github.com/nova-video-player/aos-AVP/wiki/Debugging and do it via the network from a PC.

[2022-03-23 07:50] mschumacher69 commented on #605
Hey, no I never upgraded to v6 and then downgraded back to v5, I've always been on the latest google play release.

Ok I will wait for v6 to be released on the play store and see if the issue persists after the upgrade.

[2022-03-23 10:19] courville commented on #605
Can you please check that you have not selected always scan SMB shares at application startup (this in network share tiles rescan options).
I would really be interested to get debug logs of the crash you are encountering.
If you want a quick fix, I would also advise to install v6 before it gets release. It is supposed to be stable now with quite a large user base.

[2022-03-23 16:03] mschumacher69 commented on #605
I do have Always scan SMB shares at application startup enabled and I have enabled it on purpose since I started using Nova over 2 years ago but I only started having this issue recently.

I will try to get you debug logs when I get the chance.

What's the best way to install v6 before release? Is it on fdroid yet or should I just sideload the latest pre-release build from here?

[2022-03-23 16:13] courville commented on #605
It is now on f-droid (fixed it recently) but I would recommend sideloading the latest github one https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.52 since it comes with another signature (the one from google play).

[2022-03-23 16:22] mschumacher69 commented on #605
Oh perfect, this means I can install both at the same time, right?

[2022-03-23 16:25] courville commented on #605
I do not think so since it has the same package name.

[2022-03-23 16:45] mschumacher69 commented on #605
Oh ok. So if I wanna sideload the latest one from github, I have to uninstall the play store one first?

If that's the case, is there a way to backup everything and restore it after I sideload v6? Because I have a lot of scraped movies and tv shows and it might take a long time to re-scrape them all.

[2022-03-23 17:43] courville commented on #605
It is advised to reinstall from scratch migrating to v6 because of the migration from tvdb to tmdb for series scrape.

[2022-03-24 07:59] looloo86 opened #606 "[FEAT]: Subtitles opacity feature or a darker grey color"
### Description

It would great to have the feature to change the opacity of subtitles or have darker greys to make the subtitles even darker. I know there are a few options for greys, but it is still not dark enough. I am watching on an OLED tv, so when the subtitles are white or even light grey, it is still way too bright. So it is possible to add darker shades of grey or the opacity feature, so

[2022-03-25 09:21] markmov opened #607 "[Bug]: Can't select correct subtitles"
In case an MKV file has multiple subtitles with the same language (e.g. CC subtitles and normal subtitles), the first subtitles are displayed even when the second subtitles are selected.

[2022-03-27 02:31] rahaaatul commented on #603
Courville, kinda off topic, but why don't you merge this one in the code and collaborate with him?
https://github.com/moneytoo/Player

[2022-03-27 19:17] bronnel opened #608 "[Bug]: mHeaderView height issue"
### Problem description

here is the source of the issue of the height of `mHeaderView` in `BrowserWithShowHeader.java`

at the end of `onViewCreated` it calls `addHeaderView`, and this is wrong because:
in `private void addHeaderView() {`
`if (mArchosGridView instanceof HeaderGridView) {`
`mHeaderView.setLayoutParams(new HeaderGridView.LayoutParams(ViewGroup.LayoutParams.WRAP_CONTENT,ViewGroup.La

[2022-03-27 19:47] bronnel commented on #608
@courville , I temporarily **fixed** it by moving `addHeaderView()` from `onViewCreated` to the end of `private  class TvShowAsyncTask extends AsyncTask<Object, Void,TvShowAsyncTask.Result>{`
just after `mBackgroundSetter.set(mApplicationBackdrop, mBackgroundLoader, result.tags.getDefaultBackdrop());`
where the TvShowAsyncTask is full with data at the end.

But this gets me other issues,
1- if you

[2022-03-28 15:19] Pentaphon commented on #606
I think there's a lot of subtitle options that should be added and your opacity feature could be added to that list.

https://github.com/nova-video-player/aos-AVP/issues/183

[2022-03-30 03:38] cellistV opened #609 "[FEAT]: Hope add support for webdav"
### Description

Hope  add support for webdav

### Additional information

_No response_

[2022-03-30 14:06] bronnel commented on #608
the solution was to [Notify browser adapter](https://github.com/nova-video-player/aos-Video/commit/2d982c95bc5ad26eb9c20c9de06b6df5bbffdd6f) that the views are filled with data and now wrap content should work.

[2022-03-30 14:06] #608 closed, assigned to nobody

[2022-04-02 08:39] okan35 commented on #607
I think if you could leave media info of that mkv file it will definitely help.

[2022-04-02 09:00] courville commented on #142
MPAA badge implemented now.

[2022-04-02 09:00] #142 closed, assigned to nobody

[2022-04-02 09:07] markmov commented on #607
See info attached.
Notice tracks 15 and 16. Both are Hebrew, and when selecting track 16, the player displays track 15.

[Hit.and.Run.2021.S01E04.1080p.WEB.H264-EXPLOIT.txt](https://github.com/nova-video-player/aos-AVP/files/8402199/Hit.and.Run.2021.S01E04.1080p.WEB.H264-EXPLOIT.txt)

[2022-04-02 09:35] courville commented on #22
MPAA implemented, better rating not yet possible (rotten tomatoes not free). Sticking with tmdb for now.

[2022-04-02 09:35] #22 closed

[2022-04-02 10:05] okan35 opened #610 "Skipping intros of shows"
It would be amazing to have this feature. Basically like Netflix but could be an option to check so it would either pass like sponsorblock or just show a button to pass intro like on Netflix.

I am not sure which way is the easiest to do this since nova does not have any backend support.

But maybe this could be used if the video file has lets say intro chapter and nova would detect this and autom

[2022-04-03 10:53] Pentaphon commented on #610
Every intro is different so this is something that an open source player doesn't have the resources to make work for every video. A sponsorblock thing would never happen since that would imply piracy. I think we are just going to have to keep skipping forward as we normally do. There's no player in the world that can do this other than a generic "skip the first minute of every video" command.

[2022-04-03 11:26] mschumacher69 commented on #610
Agreed, scene releases don't have chapters, so I don't believe there's a way to do this.

[2022-04-03 15:23] Emporio1992 opened #611 "[FEAT]: Transperacy to subtitles"
### Description

Would be great to have some options to add transperacy to subtitles. At least ability to add semitrnsparent ( 50% ) but adding more options like 25, 50, 75 or even 1-100 slider would be great

### Additional information

_No response_

[2022-04-04 00:29] hinson21 opened #612 "[FEAT]:"
### Description

to use custom posters  from usb drive sd card or internal storage cause nova player lacks it for some reason

### Additional information

_No response_

[2022-04-04 20:02] mschumacher69 commented on #605
So here's a logcat:
[logcat.txt](https://github.com/nova-video-player/aos-AVP/files/8654693/logcat.txt)

[2022-04-04 21:21] courville commented on #605
Thanks for the logcat, crash is the following:
[code]
Is this with version 6 or 5?

[2022-04-04 21:22] courville commented on #605
Ah I see this one too:
[code]

[2022-04-05 07:08] mschumacher69 commented on #605
Thanks for your response, this is the latest v5 from the play store.

So what's causing this issue and would updating to v6 resolve it?

[2022-04-05 16:53] courville commented on #605
Unfortunately the two stacktraces do not provide details on where it fails in nova code.
Anyhow, there will be no other update on v5 on Google Play since it requires to target API30 now and v5 in API29.
Let's see if you can see the same issue on v6 the only possible next version on Google Play (it targets API31).

[2022-04-05 20:24] mschumacher69 commented on #605
Okay, I will wait for v6.

[2022-04-09 11:15] mitch133 commented on #564
DTS ES 6.1 not working properly either... (but DTS 5.1 does). With another backend player (i.e Just player) no more problem

[2022-04-09 18:11] HDGuy opened #613 "Can’t connect to NAS"
I’m getting a “Unknown host - Failed to connect to server” error. It’s showing my server as having “nogroup” which isn’t correct, it’s the usual WORKGROUP. Nova is having the same problem on every device I’ve tried it on, Shield Pro, Fire TV, Zidoo Z9X. 6.0.58 but the problem has existed for the last few versions.

Nova is the only app that’s having this problem, every other app and device I’ve tr

[2022-04-11 07:53] Emporio1992 opened #614 "[Bug]: Audio Delay on 6.0.56 when playing Dolby Vision TrueHD Atmos Audio"
### Problem description

On every movie 200-450ms audiodelay appearing after v.6.0.56, swapping to another track and then back to atmos used to fix this on 4.x.x.x but not fixing anymore.

I use Shield TV Pro 2019 + Hdmi 2.1 + AVR Denon x3500h + Hdmi 2.1 + Philips 77OLED806

### Steps to reproduce the issue

Launch Movie with DV and TrueHD Atmos sound track

### Expected behavior

Audio delay

###

[2022-04-11 07:57] Emporio1992 opened #615 "[FEAT]: Info of audio track to "select audio track" list"
### Description

When Movie have multiple audiotracks, name of different audiotracks should content the info of those tracks rather than just name (track 1, track 2 etc...)

To get my point, see how Just player handles the track selection screen

### Additional information

_No response_

[2022-04-13 00:58] Pentaphon commented on #615
@courville duplicate of https://github.com/nova-video-player/aos-AVP/issues/556 I think?

Overall, both of them are asking for more info in the track selector.

[2022-04-13 08:08] Emporio1992 commented on #615
Yes, except #556 only talks about language. Language is only part of story. The format of the track is at least as important as language

[2022-04-13 08:34] Pentaphon commented on #615
Yep, might as well describe every aspect like every player should.

[2022-04-14 19:55] luis-barreira opened #616 "[Bug]: Wrong show scrobbled and synched to Trakt"
### Problem description

Sometimes the show I'm watching is synched to Trak as this episode [Prison Break Special 1 Behind the Walls](https://trakt.tv/shows/prison-break/seasons/0/episodes/1). This has happened to me several times with different shows. It always syncs as that particular episode. The last show this happened today was [The Parker Andersons](https://trakt.tv/shows/the-parker-anderson

[2022-04-14 22:54] JJD2K opened #617 "[Bug]: Subtitles not listed for selection during playback"
### Problem description

1. The external subtitle files do not appear in the UP menu -> select subtitle. The files are listed on the INFO page of the movie below the integrated subtitles but are not available for selection during playback.
This issue usually happens on videos with multiple integrated subtitles. The file has 32 integrated subtitles - I do not know if the count is not a reason for t

[2022-04-15 09:19] arashqazx opened #618 "[Bug]: V 6061:The videos slows and freezes"
### Problem description

 videos slows and  freezes in the new version 6061

### Steps to reproduce the issue

videos slows and  freezes in the new version 6061

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

android TV chip hisilicon 3798m200

### Operating system version

7

### Application version and app store

6061

### Additional system information

_No response

[2022-04-15 09:33] courville commented on #618
Thx for the report, did you experience this issue before with earlier v6 versions?
I am asking the question because of the migration to ffmpeg 5.0.1 in 6.0.61 trying to figure if this is a regression.

[2022-04-15 13:36] mitch133 commented on #564
All of this still happens with 6.0.61 on Freebox Pop. Same issues with previsouly mentionned audio file formats

[2022-04-16 17:39] warintum opened #619 "[FEAT]: posters&info thai language"
### Description

In posters&info ,  pls. add choice  Thai language.

### Additional information

_No response_

[2022-04-17 01:27] HDGuy opened #620 "[Bug]: v6.0.61 no auto frame rate switch to 29.97 on Shield"
### Problem description

Doesn’t switch frame rate for all 29.97:content on Nvidia Shield.

### Steps to reproduce the issue

Play all 29.97 content.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

Nvidia Shield 2019

### Operating system version

Android 11

### Application version and app store

_No response_

### Additional system information

_No response_

### De

[2022-04-17 18:16] okan35 opened #621 "[Bug]: No DTS-HD.MA audio issue with ffmpeg 5.0.1 (v6.0.61)"
### Problem description

No audio from video

### Steps to reproduce the issue

Play the show and there will be no audio.

### Expected behavior

There should be audio

### Your phone/tablet/androidTV model

Xiaomi mi tv box s

### Operating system version

Android 9

### Application version and app store

v6.0.61

### Additional system information

There was audio on version v6.0.58 but not on v6

[2022-04-17 20:31] mjnewton commented on #560
Really disappointed to read this @courville - I have just updated to v6.0.61 and wondered where most of my movies had gone... didn't spot them sitting in a separate Animations row!

For me I too have a strong preference for putting all my movies (whether animated or not, it's not really a distinction I make) in the one place, but for my young kids the separation is proving quite a challenge for th

[2022-04-17 22:17] mjnewton commented on #560
As a rather crude (but effective) workaround I have run the following command which removes the 'Animation' genre reference in any of my .nfo files:

`find ~/Films -type f -name "*.nfo" -print0 |xargs -0 sed -i '/<genre>Animation<\/genre>/d'`

If I then execute 'Rescrape all' in Nova > Settings (ensuring 'Process .nfo files' is enabled) it runs through all my films and puts them all (whether anima

[2022-04-18 01:44] ffwell commented on #621
the same bug，no Dialogue sound。

[2022-04-18 09:31] courville commented on #560
A side note on @mjnewton `find` command, after migrating from v5 to v6 all NFO needs to be regenerated due to the change of media retrieval source for tv shows (tvdb -> tmdb) and addition of new field to track movie collections. It means removing all the NFO files first, rescrape all, then export all again (or just reinstall the app which is easier with no NFO file present).

[2022-04-18 09:35] courville commented on #621
@okan35 and @ffwell based on your comment I infer this is a regression compared to previous versions. I have pushed a new 6.0.62 version on github reverting the ffmpeg upstep to be sure. Please check if it solves your issue.

[2022-04-18 09:39] okan35 commented on #621
For me this fixes the issue, thanks for the swift response.

[2022-04-18 10:12] ffwell commented on #621
Unfortunately, my problem remains. Moreover, the video image quality is seriously stuck. I tried to install this software on the Android simulator of the computer, and found that there is a sound option on the Android simulator to the effect that multi-channel sounds can be mixed together for output (of course, this will sacrifice multi-channel), but install this software on Android TV. Without th

[2022-04-18 10:24] courville commented on #621
@ffwell can you please confirm that you are NOT using passthrough option on Android TV? If you are not using it it will resort to software decoding and this should fix the problem (and still perhaps do multichannel depending on your configuration).
Could you please let me know the configuration you are using (tv brand, version, if you are using a soundbar/AV receiver etc.)? Also providing a link t

[2022-04-18 10:46] ffwell commented on #621
![1](https://user-images.githubusercontent.com/29617777/163797715-e0a99ebf-7d5f-4b8a-b8ee-45c25599357c.jpg)
![2](https://user-images.githubusercontent.com/29617777/163797726-360a695e-d0c7-4b36-ac1c-c82fc350aeea.jpg)

https://user-images.githubusercontent.com/29617777/163797733-4f2564be-562e-4ce7-b78e-71f18032493f.mp4

you see the video,no dialogue sound， but some background sounds

[2022-04-18 11:08] courville commented on #621
@ffwell ok thanks: I get that you are not using any passthrough mode and you are loosing the voice channel (front ones) because of some reasons.
Can you please disclose the android device you are using? I could add an option to force stereo downmixing that would solve your particular (weird) case.

[2022-04-18 11:13] ffwell commented on #621
ok，thx，the android device is HONOR X1(HUAWEI HarmonyOS 2)，Can you make changes on ffmpeg 5.0.1 (v6.0.61)? I really like the quality of the new version. It feels better.thx a lot

[2022-04-18 11:51] courville commented on #621
@ffwell please try this build ONLY for you https://drive.google.com/file/d/147d3Xtni49O8LUSa0GgTALZltG85jmK3/view?usp=sharing (it is 6.0.62). If it works I will rework the logic so that it is android TV friendly.
And for the record, I think HarmonyOS is broken.

[2022-04-18 12:10] ffwell commented on #621
Already tried,it works。the sound is ok，Thank you for your work.

[2022-04-18 13:11] courville commented on #621
@ffwell thanks for the confirmation.
Note that in next release in your case you will have to enable new option to force downmixing in nova settings.

[2022-04-18 13:14] ffwell commented on #621
@courville copy that, looking forward to, thank you.

[2022-04-18 20:41] Soyhorrible opened #622 "Subtitle byond tv android 11 3840x2160p the subtitles are not shown only in that video resolution if I paused the video if they are shown"
### Problem description

Nova player does not show subtitles on android tv 11 byond tv 4k resolution when I pause the video or  use the volume of the tv shows the subtitles for a moment  it only happens in 3840x2160 p
In other players yes the subtitles appear in 4k 3840x2160p.

### Steps to reproduce the issue

no

### Expected behavior

no

### Your phone/tablet/androidTV model

tcl c715

### Ope