[2022-04-19 20:34] courville commented on #560
@mjnewton, I agree this is of course feasible just tedious.
Are you ready to contribute code? Merge requests or donations are always welcome and motivating.

[2022-04-19 22:17] mjnewton commented on #560
Unfortunately it's not so much being ready but rather being unable!

I've got no excuses on the donations front so I've just made one (via GitHub sponsorships but them only supporting recurring payments I set one up and cancelled after the first - let me know if it didn't go through). I know it's not a massive amount but hopefully a token of appreciation which if we all did would, I am sure, make

[2022-04-21 04:57] KyleSanderson commented on #280
@courville any update on this one? I'm eager to use this full time (changing from Kodi) but I'd need this functionality.

[2022-04-21 08:08] mschumacher69 commented on #605
Another user with a similar issue:
https://www.reddit.com/r/NovaVideoPlayer/comments/u7xn1h/nvp_and_sony_tvs/

[2022-04-21 08:24] courville commented on #560
@mjnewton thanks, really appreciated.
Started to work on the implementation. Bare with me it will take some time but we will eventually get there.

[2022-04-21 10:03] courville commented on #620
I trust adaptive refresh rate is selected in the options. Could you please let me know what is the selected refresh rate on the TV for 29.97fps content? What are the rates supported by your TV?
I can provide a special build with debug logs providing this information.

[2022-04-22 04:15] KyleSanderson opened #623 "[Bug]: Can't pause or seek without crashing Nova with DV"
### Problem description

Can't pause or seek without crashing Nova with DV content.

### Steps to reproduce the issue

Pause, or seek.

### Expected behavior

Audio doesn't die, video keeps playing as expected.

### Your phone/tablet/androidTV model

Firestick Max

### Operating system version

AMZN

### Application version and app store

6.0.62 GH

### Additional system information

SMB

### Debu

[2022-04-22 04:16] KyleSanderson opened #624 "[Bug]: Audio Drops out when seeking on DDP content"
### Problem description

Audio drops out completely when seeking a couple minutes on a DDP video.

### Steps to reproduce the issue

Seek.

### Expected behavior

Seeking works.

### Your phone/tablet/androidTV model

Firestick Max

### Operating system version

AMZN

### Application version and app store

6.0.62

### Additional system information

_No response_

### Debug logs

_No response_

[2022-04-22 04:56] KyleSanderson commented on #624
[code]

[2022-04-22 04:58] KyleSanderson commented on #624
Specifically these lines look suspicious that the audio device is never resumed. The additional invalid frame information also is likely related to the other issue I opened. https://github.com/nova-video-player/aos-AVP/issues/623

[code]

[2022-04-23 02:16] KyleSanderson commented on #624
The issue is with the AudioTrack backend it seems like - OpenSL ES does not suffer from the same defect.

Is there any more information I can provide?

[2022-04-23 11:38] courville commented on #624
Thanks for reporting and sharing the logs.  I can reproduce the frame drops on the firestick max:
[code]
@nnoury any idea?
No error on avos side:
[code]
MediaCodec logs:
[code]

[2022-04-24 02:28] KyleSanderson opened #625 "[Bug]: No Resolution switching with refresh rate"
### Problem description

Resolution is still 4k... doesn't look like the refresh rate changed either.

### Steps to reproduce the issue

Turn refresh rate switching on.

### Expected behavior

Display on my television should be 1080/24hz.

### Your phone/tablet/androidTV model

Firestick Max

### Operating system version

AMZN

### Application version and app store

6.0.62

### Additional system i

[2022-04-24 08:35] courville commented on #625
This is correct, the current algorithms pick the "best" refresh rate for a given resolution. This is a limitation especially with 4k display mode with reduced refresh rate set. I propose to take the highest resolution above or equal 1080p matching the best refresh rate when video resolution is not 4k.
I would be interested to know the supported rates of your TV though to verify that 24fps is not s

[2022-04-24 10:22] courville commented on #625
OK after some experiments here are some results.
I first need to correct an error in the refresh rate selection due to some rounding errors happening only on firestick.
Moreover, in order to get adaptive refresh rate on firestick you need to enable it in fireOS settings -> display & sounds -> Display, put video resolution to auto (up to 4k ultra hd); -> match original frame rate ON; -> dynamic ran

[2022-04-24 10:37] courville commented on #625
@KyleSanderson to simplify the message, I see no need to change resolution to get a better refresh rate.

[2022-04-24 13:15] wazerstar opened #626 "[FEAT]: Missing subtitles in Timed Text format & Codec tx3g support, made by SVT or youtube-dl with ffmpeg"
### Description

Recently found out this beautiful software, I tested play store version and latest version as of today v6.0.62

Both missing this feature or is it a bug?

Video, I could not make sample or split since that would change the way subs are built.

https://mega.nz/file/sJpkAYbR#WOSlL_ETXT8t2w0zUVHLkIAGK3d73XGq9tGw4nfOgOo

### Additional information

MediaInfo details

[code]

[2022-04-24 13:24] wazerstar commented on #626
I see there's another thread back in 2020, but the person did not really provide any sources or information test with.

https://github.com/nova-video-player/aos-AVP/issues/366

[2022-04-24 19:03] KyleSanderson commented on #625
This is the mistake that Kodi made that they have since corrected in 2018. TV upscalers are much more correct than using what's on the player. This is because the TV itself knows the native resolution of the panel, and has enhanced features to improve image quality if it knows the original source is 720p or 1080p on a 4K panel.

@courville refresh rate is there for tearing, resolution changing is

[2022-04-24 19:51] courville commented on #625
I understand your point of having TV upscalers of better quality than the Android hwcodecs ones.
There will be the question of is it any better than the AI upscaling on nvidia shield (hardware fragmentation).
I am against introducing zillions of settings in the app to cover all the corner cases.
I will think about it.

[2022-04-25 03:26] KyleSanderson commented on #625
I'm on the latest amzn build that's been pushed but I'm still not seeing the expected /24hz on the television (it could be it doesn't display properly on 23.976). Is there a way to view what mode / settings aos is expecting to be set?

This is what my panel is capable of re: Firestick.

`04-24 20:16:21.149   545   571 I DisplayManagerService: Display device changed: DisplayDeviceInfo{"Built-in Scr

[2022-04-25 05:20] courville commented on #625
Just checked a 24fps video that is displayed correctly on my TV.
You should see it in nova logs as well (I enabled the Player logs for this release).
You can use `adb shell am start com.amazon.ssm/com.amazon.ssm.ControlPanel` as well to check.
Please report nova player logs to see what is going on.

[2022-04-26 12:09] courville commented on #466
@mjnewton, I would be interested to know if you see the issue only with mp4 container or does it happen with mkv containers too?

[2022-04-26 13:56] mschumacher69 commented on #605
@courville any eta on the v6 google play release? Or shall I just sideload the github apk? Or shall I use the amazon app store or fdroid?

Which app store do you usually publish the latest version to first?

[2022-04-26 14:53] courville commented on #605
I am solving all the instabilities seen on amazon deployment before going wider scale with Google Play. ETA 2 weeks.
I would recommend to sideload github latest v6.

[2022-04-26 19:43] mjnewton commented on #466
To be honest I need to revisit this and see if I've still got the issue now that I'm on v6.0.62. I updated and reset all my settings (I think), which would include the OpenSLES workaround, and I haven't heard anyone complaining about it freezing up on them.

If I can reproduce it still I'll certainly look if there's any pattern regarding mp4 vs mkv containers.

[2022-04-27 09:16] mschumacher69 commented on #605
OK thanks. Is the github apk stable enough? Thing is, Nova is my main media center and I consume a lot of TV shows daily, so I cannot afford to come 1 day and find that it's not working. Like for example when you upgraded ffmpeg to 5.0.1 which broke playback and then had to revert back to 4.4.1, that would have probably cost me 1 day of playback.

So which github apks should I usually update to in

[2022-04-27 10:04] courville commented on #605
@mschumacher69 we are talking about store releases since it is published on amazon.
By instabilities, I mean existing issues that are also present on v5 Google play store since now I have more actionable information to fix these based on sentry debug backend information collected.

And I am sorry to hear about about your 1 day playback loss.

[2022-04-27 13:11] mschumacher69 commented on #605
Oh no I haven't lost any playback time yet, I'm just trying not to lose any playback time in the future.

Sorry if I might be sounding like an ass, but I don't mean any disrespect here and I appreciate all the work that you do and all the time that you put into developing Nova free of charge, I'm telling you it blows people's minds when they see it on my TV and they all swear that "this is better

[2022-04-27 13:22] courville commented on #605
Process: stick with github released apk for now, when google play will kick in it will update the github one (same signature).
Stability issues that I am fixing are not seen for "normal" users. I mentioned f-droid because the github release integrated changes that fixed the f-droid automatic build from source (i.e. it was not per say a specific f-droid release).

[2022-04-27 15:16] mschumacher69 commented on #605
Ok thank you.

[2022-04-27 15:33] 1nnersense commented on #430
Please add the option to transcode on the fly AAC 5.1 audio to Dolby Digital/AC3 5.1
Its one of the main things missing to make it the ultimate player!
Kind Regards

[2022-04-27 18:06] sentry[bot] opened #627 "NullPointerException in VideoInfoActivityFragment.onCreate"
Sentry Issue: [NOVA-VIDEO-PLAYER-2](https://sentry.io/organizations/nova-video-player/issues/3227611856/?referrer=github_integration)

[code]

[2022-04-27 22:39] mjnewton commented on #605
:laughing:

[2022-04-28 01:50] mo-han commented on #128
@courville
ssa/ass full support is urgent, maybe one of the last two pieces to make NOVA perfect/complete (the other one is guesture playback control, which is not quite urgent)
could we "borrow" some code from VLC, since VLC did pretty good in this (actually VLC does pretty job in many aspects, but still has some unacceptable bugs/cons)

[2022-04-28 11:32] ghost commented on #128
I second that. Nova is my favorite video app, however due to me watching a lot of content with ssa subtitles, I currently barely use it anymore.

[2022-04-29 20:11] mschumacher69 commented on #605
@courville I'm trying to sideload the latest APK from GitHub but it's not installing. My tv is arm64-v8a and I'm sideloading the arm64-v8a APK.

I tried both with solid explorer and file commander. I also tried uninstalling the play store version.
![PXL_20220429_200821203](https://user-images.githubusercontent.com/461871/166062656-f0de15b4-d540-49b8-a323-bed1033d3a6d.jpg)

[2022-04-29 20:21] courville commented on #605
Are you sure that your tv is arm64? Please try arm32.

[2022-04-29 20:42] mschumacher69 commented on #605
AIDA64 says the following:
Instruction Set: 64-bit ARMv8-A (32-bit Mode)
Supported ABIs: armeabi-v7a, armeabi
Supported 32-bi ABIs: armeabi-v7a, armeabi

Does this mean I need to install Video-armeabi-v7a-API_21+-release.apk?

Anyway, I sideloaded f-droid and installed it from there. Is that ok or should I uninstall the f-droid version and sideload the github apk?

[2022-04-29 21:04] courville commented on #605
Yes take the github armeabi-v7a one.

[2022-04-29 21:24] mschumacher69 commented on #605
Why not stay on the f-droid build? It would be easier to update through f-droid rather than having to sideload manually from github every time there's a new version.

[2022-04-29 23:44] drm-nz commented on #439
Hey Guys,

Any chance we can get this fixed sometime soon-ish? This is a major functionality on the main screen that has been broken for a very long time.

Cheers,
Laz

[2022-04-30 10:09] courville commented on #439
This is fixed in the upcoming V6 release. Pushed on Amazon. Can be sideloaded with github release.

[2022-04-30 11:13] courville commented on #605
F-droid is fine but APK is signed by them built from source which is not compatible with my own signature and Google play one.

[2022-04-30 11:57] procobain opened #628 "[Bug]: Does not work with Stremio."
### Problem description

Using NVP as external player in Stremio program, no video opens. Just a black screen with the video name at the top.

I don't know how to find the LOG and to be able to help.

<img src="https://i.imgur.com/ocTTXwA.png" width="360" height="240">

### Steps to reproduce the issue

When opening a movie or tvshow with Stremio.

### Expected behavior

_No response_

### Your ph

[2022-04-30 11:57] mschumacher69 commented on #605
Ok. I will probably not go back to google play because you said it doesn't have adult scraping.

If I install the github apk and then update to the google play version, I would lose adult scraping, right?

[2022-04-30 12:09] procobain opened #629 "[FEAT]: More subtitle setting options."
### Description

More subtitle setting options.

1 - Change the border size.
2 - Bold (Even using white caption, the caption is much stronger and beautiful).
3 - Change the font

### Additional information

_No response_

[2022-04-30 18:05] courville commented on #628
Nova relies on cling UPnP library and as stated in FAQ is not compatible with Stremio. UPnP is not subs friendly. SMB is the recommended network share protocol with Nova.

[2022-04-30 18:08] courville commented on #612
Please provide more details about your config and try with Nova V6 github release to see if this is still an issue. No fix will be provided on V5 since V6 will be released soon.

[2022-04-30 18:11] courville commented on #609
Closing as duplicate of #368. But yes it would be nice.

[2022-04-30 18:12] #609 closed, assigned to nobody

[2022-04-30 18:23] Pentaphon commented on #629
Duplicate of https://github.com/nova-video-player/aos-AVP/issues/183

[2022-04-30 20:08] procobain commented on #628
Got it, but does that mean it's impossible to happen? Is there hope?

[2022-04-30 20:21] procobain commented on #183
Any intention to add these requests? It will complete 3 years of such important requests.

[2022-04-30 20:31] courville commented on #628
This is not on my priority list but since nova is open source any contribution is welcome. SMB is enough for me and UPnP has severe limitations.

[2022-05-01 00:59] xrxca commented on #560
So while your at it, could any of the rows be disabled?
For instance, someone who uses their system strictly for movies doesn't need to see TV (and/or Animation).
Personally, my system is a frontend to my recorder, so all I use is the TV row, so it would be nice to turn off the perennially empty movie row.

[2022-05-01 01:16] xrxca commented on #576
Duplicate of #295 (But please look at it sometime),

[2022-05-01 23:13] procobain opened #630 "[FEAT]: Manual subtitle search / Show multiple subtitles after search."
### Description

1 - Option to search for subtitles by changing the name of the movie.
2 - Choose which subtitles to download from a list with multiple subtitles,

### Additional information

_No response_

[2022-05-01 23:14] procobain commented on #628
Need to create an order for this? Do you think that with a formal request, someone else could see it, and maybe do it?

[2022-05-02 05:39] courville commented on #605
Github release has adult scraping.

[2022-05-02 09:44] courville commented on #628
@procobain, please elaborate on why you do not want to use SMB instead of UPnP.
What do you mean by "create and order"?
In order to improve UPnP support, the best would be to migrated from deprecated cling libraty to [JUPnP](https://github.com/jupnp/jupnp) and resolve the divergence of the trees (note that jupnp is quite old and not that much active too).

[2022-05-02 14:18] bronnel commented on #589
this issue is resolved with these two commits
[fix episode picture](https://github.com/nova-video-player/aos-Video/commit/6ab258a62f87f1fba4202cc8ae4e20248002169b)
[fix season poster](https://github.com/nova-video-player/aos-MediaLib/commit/59b07886f5a41b04479b4ec724998c5221e97305)

[2022-05-02 14:18] #589 closed, assigned to courville

[2022-05-02 16:36] courville commented on #589
@bronnel, I guess that your fix applies also to the v6 branch: can you please confirm?

[2022-05-02 23:17] bronnel commented on #589
@courville , yes definitely works for v6 too, confirmed, I spent 4 days on this one :)

now when changing series info to another , everything works as it should.

[2022-05-03 02:11] procobain commented on #628
I never talked about UPNP, I just wish it worked on Stremio.
But to be honest, for me there would be no advantage in using it with Stremio, since I use Subtitles, and as mentioned in other topics, it still needs a lot of improvement in the subtitle part.
But I'm really rooting for NVP.

[2022-05-03 06:38] courville commented on #628
OK got it: my bad I made a confusion between stremio and serviio. Now it is clear.

[2022-05-03 08:49] mo-han opened #631 "[QUESTION] How to setup rescan at app launch"
I remember there was an option (not sure) to do such a thing, but cannot find it.

v6.0.62

[2022-05-03 11:39] mschumacher69 commented on #631
Press on the rescan button and the option is under there.

[2022-05-03 12:28] procobain commented on #628
So maybe we're close to running videos on Stremio huh...

[2022-05-03 14:09] mschumacher69 commented on #605
Right, but you said the play store release will overwrite the github release once updated. So if I install the github release and then it updates through the play store, I would lose adult scraping, right?

[2022-05-03 23:02] mo-han commented on #631
which "rescan button"?
the "rescan all files"? or those beside each indexed SMB shared folder? I tried long pressing on those buttons but nothing popped out.

[2022-05-04 04:17] ghost commented on #631
The option is only available in the TV mode interface. On mobile you can switch into it, turn on the rescan option and switch back to the mobile interface.

[2022-05-04 06:12] mo-han commented on #631
that's tricky, but thanks to your help now i set it up already.

then i realize it's a bit different between "rescan" and "scan all files", and they show different messages in notification panel.
when a "rescan" task is running, it says "indexing media files" with a remote path such as "smb://...", not like "scan files" task telling a progress of "there are in total some number of files remaing...

[2022-05-05 17:39] courville commented on #560
@mjnewton done.
@xrxca I already believe there are already too many customization options. Will take a look another time.

[2022-05-05 17:39] #560 closed, assigned to courville

[2022-05-05 17:44] courville commented on #613
@HDGuy, ok OpenmediaVault is a new one for me.
First you should not try to fill out the DOMAIN in the SMB dialog.
Would you be able to characterize at which point it started not working in terms of releases?
For instance, does it work on the latest v5 one?
Would you be ok to run a special build and collect logs for me (so that I can share these with the jcifs-ng author of the library I use for SMB

[2022-05-07 15:23] 2spider opened #632 "[QUESTION]Few things I need know"
1. How can I enable dark mode ?
2. How to block videos in some folders from been scanned.
3. I would like to edit library section and select movie source(s) for each label.
4. What's the best way to name and arrange movie directory  ( Movie Folders- Each movie saved in its own folder within the source or
    Flat Folder- All movie files are saved in the Source folder) ?

[2022-05-07 15:30] 2spider commented on #604
Add .nomedia file in the directory, it works for me

[2022-05-08 07:37] alexanderadam commented on #604
But this would ignore the directories in other application as well, right?

[2022-05-08 15:56] alvaromartinezmajado commented on #617
I can reproduce with Android 12. (A hopefully) relevant logcat output: `1118 16553 W InputManager-JNI: Input channel object 'a4c8b0f org.courville.nova/com.archos.mediacenter.video.utils.SubtitlesDownloaderActivity (client)' was disposed without first being removed with the input manager!`

[2022-05-08 19:03] mitch133 opened #633 "[Question]: Google Play Release"
### Description

Any idea when nova V6 will be available through the Google Play Store? I thought it would be a matter of days after reading comments weeks ago saying Nova was back on track after some issues with Google. But still waiting

### Additional information

_No response_

[2022-05-08 21:46] 2spider commented on #604
That's right.

[2022-05-09 15:41] HosePL opened #634 "[FEAT]: Option to prefer subtitles from local file instead of embeded"
### Description

Option to automatically load subtitles from local file (if exists) instead of embeded subtitles.
In almost every movie I have to manualy change language to SRT, because my prefered language isn't availible and Nova Player automatically choose first availible embeded subtitles.

### Additional information

_No response_

[2022-05-09 19:12] drm-nz commented on #439
Thank you, very much appreciated.

Cheers,
Laz

[2022-05-09 19:21] mschumacher69 commented on #605
So it still crashes from time to time on v6.0.63 (latest f-droid version). It doesn't crash mid playback, it usually crashes while I'm browsing to select what I'm gonna play.

Here's a logcat:
[logcat1.txt](https://github.com/nova-video-player/aos-AVP/files/8654694/logcat1.txt)

[2022-05-09 19:56] courville commented on #605
OK thanks for sharing the logcat, what I see is that the crash is due to OOM:
[code]
Now the question is why do we come to this memory consumption...

[2022-05-09 20:45] mschumacher69 commented on #605
Could it be because I have a lot of shows and movies in the library? How can we troubleshoot this further?

[2022-05-09 20:46] courville commented on #605
I do not think it is related to the number of shows or movies in the library. I will try to think of some extra logging to add in order to troubleshoot this issue.
Can you please tell me more about the exact browsing actions that lead to this behavior? Is this on a specific tile?

[2022-05-09 21:18] ydrob commented on #493
I can confirm, I have redbox 6 mini and the same behavior with volume slider on the latest version (v6.0.65)

[2022-05-10 01:27] Hotboy1987 commented on #634
me too

[2022-05-10 01:27] Hotboy1987 commented on #633
me too want to know

[2022-05-10 01:29] Hotboy1987 commented on #629
me too want this

[2022-05-10 08:16] mschumacher69 commented on #605
Ok thanks. I usually browse Episodes by date and Movies by year and this is where it mostly happens, but I will try to monitor closely to see if this is random or only happens on that screen or when I do a certain action.

[2022-05-10 20:13] mschumacher69 commented on #605
Ok so I did some further testing today and I think it always happens while browsing under Episodes by date. Also, something strange happened today where instead of crashing, it just started showing gibberish text.

Here's another logcat:
[logcat2.txt](https://github.com/nova-video-player/aos-AVP/files/8664723/logcat2.txt)

I tried uploading a video but it seems to be too large, so here are some sc

[2022-05-13 12:53] Chamal1120 opened #635 "[FEAT]: Can you add material you wallpaper based theming?"
### Description

A material you style user interface. something similar to retro music player or blackhole music player.
![Screenshot_20220513-182233_Retro Music](https://user-images.githubusercontent.com/103296294/168287183-10eef61a-8471-4476-bc90-0256e55a1f59.png)

### Additional information

_No response_

[2022-05-14 05:54] hanrotools opened #636 "Nova starts scanning and refreshing album art every time I open the application on TV after some time."
### Problem description

Everyday when I start the application, the database is missing and it takes sometime for Nova to populate the movie list again. This happened after new Sony Update. I have tried resetting the TV and installing Nova from scratch. Also after re-installing the Trailers section has a problem. If I select to play it with YouTube only once, then the trailers play, if I set it to

[2022-05-14 09:20] bronnel commented on #524
@courville , I tried to launch nova from from windows which I built in Ubuntu , I get this error

[code]

`CreateProcess error=2, The system cannot find the file specified`

I'm very close to do this, I can feel it, for some reason AS does not detect the **ndk** on Windows, this is the only roadblock , can you help

[2022-05-14 09:21] courville commented on #636
Are you using an external usb hdd plugged to the tv for storing your contents?
See https://github.com/nova-video-player/aos-AVP/issues/354

[2022-05-14 09:28] courville commented on #524
I never tried to build nova on windows and I guess this will not be that straightforward.
Note that I only have a dusty windows PC somewhere that I only power up if I have no other solution.
I will not be the one able to help you I am afraid. Sorry.

[2022-05-14 09:33] bronnel commented on #524
@courville , I have tried hundreds of solutions across stackoverflow and github google, you name it , all similar cases , non worked so far, the only problem is that android studio does not detect the ndk, thanks, no worries :)

[2022-05-14 11:54] hanrotools commented on #636
Hello Nova Team

Yes you are right. I’m using external USB HDD plugged into the USB port of the TV.

Before the new update also I was using it the same way, but never had the issue of rescanning.

Regards

[2022-05-14 13:24] hanrotools commented on #636
Please see the video attached for the Trailer playing problem

On 14-May-2022, at 2:52 PM, CourvilleSoftware ***@***.***> wrote:

﻿
Are you using an external usb hdd plugged to the tv for storing your contents?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.

[2022-05-15 18:16] courville commented on #636
For clarification sake, when mentioning update you are referring to Sony TV update or nova's one?
Nova has not been updated for a long time on google play and it is worth testing latest github release (6.0.66) to see if you still reproduce the issue cf. https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.66
It might be a sony problem...

[2022-05-16 19:52] courville commented on #577
OK closing this isssue since 90% seems to do the job.

[2022-05-16 19:52] #577 closed, assigned to nobody

[2022-05-16 20:41] mschumacher69 commented on #605
From my recent observations, I think this is mostly happening when I'm browsing Episodes by date.

[2022-05-17 02:28] HDGuy commented on #620
Oops, sorry, didn’t notice this before now.

Yes, 29.97 is definitely supported by my TV (Vizio P85QX-H1) as I said all other apps on the Shield than do auto refresh rate changing ( and even older versions of Nova) switch to 29.97 just fine. I installed the most recent 6.0.66 and it’s still having the same issue, it just outputs at 60Hz instead of 29.97. Only the more recent versions of Nova 6x ar

[2022-05-17 06:42] drm-nz commented on #439
Hi There,

I've just received the v6.0.65 update on f-droid and this functionality is still broken. Can you please confirm the version number that this fix is in?

Cheers,
Laz

[2022-05-18 16:36] pc77 commented on #490
It would be great!

[2022-05-18 18:03] mo-han opened #637 "[Bug]: external player, VLC, unable to play path with space, incorrect path handling"
### Problem description

unable to play.
toast msg: `http://localhost:xxxxx/video filename with space.mp4`

### Steps to reproduce the issue

when external player enabled, in my case, which is VLC.
and the video filename has space.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

meizu e3

### Operating system version

android 7

### Application version and app store

[2022-05-19 15:40] Haddouken commented on #636
This also happens to me, using any type of USB external media, on my Mi Box S running Android 9 (TV OS).
My solution was to stop using it on the box and connected it to the Router USB. Nova can find it via Network and only rescans when new content is added. Also the videos play smoothly over this protocol, so no losses.

[2022-05-19 15:41] Haddouken opened #638 "[FEAT]: Sound Equalizer"
### Description

I'm using a BT speaker connected to my Android TV Box, but the sound is pretty heavy on the bass, not ideal for movies.
Is there any chance of implementing a basic 3 to 5 bands EQ that we can fiddle with?

### Additional information

_No response_

[2022-05-20 12:58] courville commented on #633
The current situation is the following: I had issues in the past with Google that was seeing the donation button but this was proven to be an error in their review process (and still is).
Now all my submissions to google play store need to undergo manual review. The last submission is still under review and has been for 3 weeks.
At this point we all just need to wait :-(

[2022-05-20 14:20] hanrotools opened #639 "[FEAT]: File and Directory Rename"
### Description

Hi Nova Team,
Lot of times the movies stored on USB storage has year of movie in the movie name for correct info to be downloaded from www.themoviedb.org, Lot of times it so happens that the year gets changed due to suggestions provided by the users, after that the movie gets listed as a new movie. Please provide a feature to rename files in Nova, so that we don’t have to resort t

[2022-05-22 09:26] courville opened #640 "[FEAT]: re-enable watch up/next row for next episodes or movies in collection not watched"
### Description

For now the feature is disabled because of performance issue.
Inclusion of the working sql queries provided in the additional information section in the `WatchUpNextLoader.java` is not straightforward because we loose the `archos_lastTimePlayed` order from previous episode since the `FROM video WHERE video_online_id IN` query lead to `0` `archos_lastTimePlayed`.

### Additional in

[2022-05-22 09:27] courville commented on #640
Note that watch up/next row should not be the first.
Code can be re-enabled by setting in `MainFragment.java` `FEATURE_WATCH_UP_NEXT = true`.

[2022-05-22 11:15] GrumpyLoneWanderer opened #641 "Sort by title"
Sort By Title when using NFO files does not seem to be working it still uses title so you can't create playlist so you can watch movies in chronological order.

[2022-05-22 13:32] Pentaphon commented on #401
As an update, for anybody following this: AndroidX Media is in alpha status. When this project goes 1.0.0 stable, the Exoplayer project will be fully merged into AndroidX Media and cease to exist as Exoplayer. We can track the progress on this release page.

https://github.com/androidx/media/blob/release/RELEASENOTES.md

As soon as 1.0.0 goes stable, it would be a good time for Nova to begin incor

[2022-05-22 14:09] courville commented on #401
I was following progress of @moneytoo to have avi merged into exoplayer. To be honest, I am not convinced that google is very open and reactive enough for universal multimedia playback. Thus I do not have my mind set on the future external open-source library to use (exoplayer or libmpv or something else). Maintaining patches on top of exoplayer over time seems to be a sporty entertainment for whi

[2022-05-22 17:17] Pentaphon commented on #401
In that case, if I were you, I'd make it known on the README that switching to Exoplayer would mean users would have to report bugs to the AndroidX Media project only. Or simply close this issue and stick to what you're comfortable with while telling people to use Just Player as the external player if they want to use Exoplayer/AndroidXMedia.  After all, this project is yours to decide what to do

[2022-05-24 20:21] mjnewton commented on #560
Just spotted this! Absolutely perfect. Thanks @courville !

[2022-05-25 19:54] kralcak opened #643 "Unable to choose subtitle"
When playing local mkv tv show with many subtitle tracks included inside the file I can choose only first 32 subtitle tracks. I can't choose any subtitle files which are stored together with the movie in same directory nor any subtitle which I download from open subtitles. Please change the limit from 32 to at least 50.

[2022-05-25 19:56] kralcak commented on #634
Good idea

[2022-05-26 09:22] Pussylord1 opened #644 "[Bug]: Movies/series are no longer recognized and are no longer displayed"
### Problem description

hi, for several months after a while that varies.With my Sony bravia TV running on Android 10 I'm having a problem with the app.For no reason sometimes by going to the pkus application no series or movies. I still see the hard drive, I can browse and read the files but they are no longer displayed at all at the application level.The lists remain empty.The rescan does not w

[2022-05-26 09:58] okan35 commented on #610
@courville

How about having a txt file for each episode like subtitles but the info would be about timestamps that should be skipped. I believe since there is no backend for nova and reencoding a file to remove intro is too much work, this seems like the most viable option.

Of course the work would be done by a script which would output necessary files that have timestamps to skip.

And I would

[2022-05-26 20:38] GrumpyLoneWanderer opened #645 "Playlist"
### Problem description

Playlist not working on in tablet/phone Ui

### Steps to reproduce the issue

Works when in TV mode

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

Samsung Galaxy Tab A7

### Operating system version

Android 11

### Application version and app store

6.0.66

### Additional system information

_No response_

### Debug logs

_No response_

[2022-05-26 20:43] GrumpyLoneWanderer opened #646 "Sort Title"
### Problem description

Sort Title option in NFO file is not getting picked up when scraping it keeps using Title which makes it hard to get movies in chronological order

### Steps to reproduce the issue

Used to work in arches app

### Expected behavior

Should use sort Title instead of title to organise movies

### Your phone/tablet/androidTV model

Samsung Galaxy Tab A7

### Operating system

[2022-05-26 20:43] #641 closed, assigned to nobody

[2022-05-27 17:58] courville commented on #542
avos multimedia engine now reports audio stream title/language metadata that can be redundant with codec information displayed in the UI.

[2022-05-27 23:25] courville commented on #610
@okan35, I am all for this feature of course. I thought about it already and IMHO there is no need to add a column in the mediadb and we can indeed process an txt/xml file providing timestamps of the intro and outro and have nova skip these as an option.
As you pointed out, it would rely on an external process to construct this txt/xml file (like the xml bookmarks).
For the clever script, I found

[2022-05-28 15:07] okan35 commented on #610
I have checked some of those projects and hopefully instead of rewriting one, I will adapt one of them to produce timestamps where an intro starts and ends.

[2022-05-29 10:11] okan35 commented on #610
I was able to create some timestamps I believe from the project notrobro but I dont get what kind of timestamps are these. It gives outputs with .edl files which has some strange time format if even they are for timestamps.

Do you have any knowledge about edl files ?

Because if this works I could create an executable with all the dependencies and you could try.

[2022-05-30 07:42] courville commented on #610
@okan35 could you please post an edl file you generated? I will have a look.

[2022-05-30 07:46] courville commented on #610
FTR another project https://github.com/JacobEkedahl/detect-intros-from-video
Paper related https://www.diva-portal.org/smash/get/diva2:1412560/FULLTEXT01.pdf

[2022-05-30 07:54] okan35 commented on #610
I will send you edl files in the evening but from my research about it, it seems the timestamps I got are not correct since that notrobro does not use audio fingerprint but it uses frame comparison.

So I guess it is not that accurate, will need to find a project that is accurate or learn how to do it from zero :)

[2022-05-30 08:32] GrumpyLoneWanderer commented on #646
Any idea on how to resolve this? NFO file is correct as it works in Kodi and Archos.

[2022-05-30 08:33] #595 closed, assigned to nobody

[2022-05-30 08:34] GrumpyLoneWanderer commented on #645
If I create a playlist in TV mode I can see it works, however when I switch to tablet/Phone same playlist does not show anything

[2022-05-30 17:04] okan35 commented on #610
github does not let me upload here but it is basically like this.

s01e01.mkv and s01e01.edl with data below
210.335 242.909 4
1339.003 1339.003 5

s01e02.mkv and s01e02.edl with data below
179.638 232.023 4
1276.876 1276.876 5

s01e03.mkv and s01e03.edl with data below
112.946 122.914 4
1252.615 1277.2640000000001 5

From what I checked these are timestamps in seconds and first lines are for intr

[2022-05-30 20:58] kralcak commented on #644
Same problem. Problem develops when drive is unplugged and plugged back to player. I have this issue for over a year. Now I am not disconnecting my hdd but I am moving movies to hdd via ftp or network share from my pc over the lan.

[2022-05-31 00:11] eSkRo32 opened #647 "[Bug]: can't use Nova as external player for Stremio apk"
### Problem description

Hi, when using other streaming apk's,
Like Stremio
When I open files with Nova player
Well
The file doesn't play.
But does play when using VLC.

### Steps to reproduce the issue

Try to open a link with Nova as external player

### Expected behavior

Nova plays the stream

### Your phone/tablet/androidTV model

Shield TV 2017

### Operating system version

Android 11

###

[2022-05-31 00:47] eSkRo32 commented on #628
Yep, I too would like to see NVP work with Stremio
And Also have NVP see the embeded subtiles in streaming files as it does not as we speak. 👍

[2022-05-31 19:17] Nehemoth commented on #630
Just heard about this video player for the first time and came to see it has this feature, if a must for people that would like to switch from Kodi.

Being able to download subtitles from the same software you are watching a media, it's a major convenience.

TIA

[2022-06-02 18:06] courville commented on #610
OK, I tried to see if adding this skipping strategy could be a quick win on nova side, turns out that it can infer some quite invasive recoding to be done. It will take some time (i.e. I will not address it right away).

[2022-06-02 19:00] okan35 commented on #610
yeah, no worries, I am sure it would be necessary to do some recoding.

 I think easiest way to implement this would be the way resume works which is basically reading the xml for episode.
So when an episode is started app would also need to check and parse the intro timestamps and just skip those parts if not skipped already.

[2022-06-02 19:27] Pentaphon commented on #610
How would this work if not with some kind of Sponsorblock-type server that could be construed as implicitly encouraging piracy?

[2022-06-03 07:43] yherve commented on #340
I had limited success using nova as kodi external player on android tv: I was able to make it work with https streams from both an https datasource and a .strm file containing an https url. It didnt' work with files on an smb share though.

Note that in this case nova won't save the stream you're viewing in its history and won't remember the position if you close the player (vlc does that)

Here i

[2022-06-03 07:51] yherve opened #648 "[FEAT]: save https streams in recently played list and remember position"
### Description

Thanks for your effort. I've just discovered nova yesterday and it looks like an awesome software.

As described [here](https://github.com/nova-video-player/aos-AVP/issues/340#issuecomment-1145685444), it is possible to use nova as an external player for kodi to play https streams. However it does not save the reading position when you go back to kodi.

It would be great if nova c

[2022-06-03 07:58] yherve opened #649 "[FEAT]: open .strm files with nova"
### Description

kodi has a nice feature with these [.strm files](https://kodi.wiki/view/Internet_video_and_audio_streams):

these are simple text files containing a single url. The great thing is that kodi treats them as regular video or audio content. the library indexes these files. You can rename the file to help the indexer if the url has an obscure name, you can move the files in folder for

[2022-06-03 11:33] courville commented on #571
Add Thai scrape capability see https://github.com/nova-video-player/aos-AVP/issues/619

[2022-06-03 11:34] courville commented on #619
Let's handle it in https://github.com/nova-video-player/aos-AVP/issues/571 and declare it a duplicate (will do the code change).

[2022-06-03 11:35] #619 closed, assigned to courville

[2022-06-03 11:37] courville commented on #571
See https://crowdin.com/messages/560527:

[2022-06-03 12:47] courville commented on #571
See https://github.com/nova-video-player/aos-AVP/issues/490

[2022-06-03 12:48] courville commented on #490
Let's treat it there https://github.com/nova-video-player/aos-AVP/issues/571 and declare it as a duplicate.

[2022-06-03 12:48] #490 closed, assigned to courville

[2022-06-03 13:09] courville commented on #571
According to tmdb there is no Brazilian scraping capability (yet): cf https://api.themoviedb.org/3/configuration/languages?api_key=REPLACE_BY_YOUR_API_KEY
[code]

Cf. https://www.themoviedb.org/talk/5119221d760ee36c642af4ad?page=1

[2022-06-03 13:25] courville commented on #571
Add Ukrainian (recent addition on crowdin too).

[2022-06-03 17:53] courville commented on #571
See https://github.com/nova-video-player/aos-Video/commit/666d3ee730fddbcbc38b6d89bfb24e8c025fccf9 https://github.com/nova-video-player/aos-avos/commit/0828b052c703c57a3984de496bbaeea9c8a60240 and https://github.com/nova-video-player/aos-MediaLib/commit/423768d5e519a1d98ef55e8fa208c1e9e01d8810

[2022-06-04 01:16] Hotboy1987 opened #650 "[Bug]: youtube resolution bug on trailers"
### Problem description

When I want to play trailers for any movie or series and youtube open ,, it open in very big window and I can't see ant thing ,, that happen after I update from ver 5 to latest build of ver 6

### Steps to reproduce the issue

From ver 5 to ver 6

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

Nvidia shield pro 2019

### Operating system versi

[2022-06-04 20:49] MarcoRavich commented on #128
Well, @mpv-android uses @libass too:

- https://github.com/mpv-android/mpv-android
- https://github.com/libass/libass

Hope that helps/inspires !

[2022-06-05 03:34] eSkRo32 commented on #647
Here's the reddit link where another user Also has this issue

https://www.reddit.com/r/NovaVideoPlayer/comments/v1dnq6/cant_open_realdebrid_links_with_nova_player/

Thx

[2022-06-05 09:32] #650 closed, assigned to courville

[2022-06-05 09:32] courville commented on #650
Thanks for reporting, it is fixed in the code now.

[2022-06-05 09:33] courville commented on #647
Let's follow this in https://github.com/nova-video-player/aos-AVP/issues/628
Will close as duplicate (but indeed valid issue).

[2022-06-05 09:33] #647 closed, assigned to nobody

[2022-06-05 11:03] courville commented on #633
Status update.
Google has two bugs in their review process and current level of support I am able to reach does not help me getting a resolution on the issues I face.
Current published release of nova (v5) displays a sponsor link when the apk is sideloaded but not installed from Google Play. The sponsor link is against Google Play policy.
The review process does not install the apk under review vi

[2022-06-05 22:02] batuhankrmn commented on #140
@courville @JJD2K  I have the same issue and I really want to see this feature working on the next releases. I get online subtitles from nova player but can't pass the subs to MX Player. I have to say MX Player and Nova Player is perfect combo for local media server. Nova gets all the informations, posters, organize the episodes of TV Shows/Movies. MX plays them better than any media player on And

[2022-06-06 19:55] GrumpyLoneWanderer commented on #646
Does anyone know how to resolve this?

[2022-06-06 20:51] courville commented on #633
OK Google Play submission has been approved for release and is thus pushed to 5% users. \\o o// \o/

[2022-06-06 21:17] courville commented on #646
Can you please provide a file name and corresponding NFO file in order to reproduce?
If it works with Archos it means that it probably works in nova v5 and that it is a regression with v6.

[2022-06-07 06:14] courville commented on #646
OK I get it (I am slow).
You mean that you are using sorttitle tag in NFOs i.e. https://kodi.wiki/view/Movie_sets#Sort_Title as secondary means to sort videos and it used to work but not any longer.
I checked old Archos/nova ones and I cannot find any trace of processing this tag.
Are you sure it is working with Archos Video Player?

[2022-06-07 07:23] GrumpyLoneWanderer commented on #646
@courville no problem, I can be too :). Yes it used to work in Archos, but I don't see it working in v5 or v6 of NOVA. I can try and get a screenshot in Archos (app is very bad lately it keeps crashing). It would be nice to be able to create playlists so I can organise movies in chronological order, I would have tried to do it via movie sets but I would run into same problem, and movie sets are pu

[2022-06-07 07:24] GrumpyLoneWanderer commented on #646
@courville how easy would it be to add it to allow it to process?

[2022-06-08 09:20] Yves-Be opened #651 "[FEAT]: Option to remove hearing impaired tags from subtitles"
### Description

When downloading subtitles, it is not always possible to choose a non hearing impaired version of the subtitle, especially in English.
These can be an annoyance when not being hearing impaired, as they stand out because of the use of all caps and other symbols.

Examples of hearing impaired tags:
[code]
[code]
[code]

A toggle in the settings of the subtitles to strip these tags b

[2022-06-09 23:06] GrumpyLoneWanderer commented on #646
@courville is it possible to achieve this?

[2022-06-11 07:55] Cedvano opened #652 "[Bug]: stereo3d ffmpeg files not working"
### Problem description

When I encode 3D sbs files to convert them to anaglyphic with the _"-vf stereo3d=sbs2l:arcd"_ option, the file is not readable with the nova player (green glitches) although it is perfectly readable on VLC.

### Steps to reproduce the issue

Encoding a SBS 3D file with ffmpeg and the option -vf stereo3d=sbs2l:arcd

### Expected behavior

_No response_

### Your phone/table

[2022-06-11 16:17] mitch133 commented on #564
No problem on Samsung S21 and 6.0.67, but still the same problem on Freebox pop... I guess the terminal is the problem (again) but still strange because as mentioned previously the same files work fine with other players such as Just Player or Kodi. Otherwise what's not working properly on any of both terminals are the .mov files taken from an iPad. They play very slowly

[2022-06-12 17:03] courville commented on #568
I have just enabled SMB3 in latest jcifs-ng on an experimental release that could solve the issue. Please test and report nova v6.0.68 available here https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.68

[2022-06-13 00:01] nhockey opened #653 "[FEAT]: put the play button at the beginning where it should be"
### Description

Why is "play" the fourth option in between "change info"  and "remove from library" I would say in order of things that I use a media player to do is "play" a media file so shouldn't that be first?

### Additional information

Move play back to where it was.

[2022-06-13 04:13] courville commented on #653
Strange indeed. I guess you are referring to Android TV interface. Can you please provide a screenshot? This does not happen to me.

[2022-06-13 04:21] nhockey commented on #653
Yes, in Android TV. I don't have any way to take a screenshot directly on the TV but I can attach a couple pictures of the TV.

![PXL_20220613_041743346](https://user-images.githubusercontent.com/436149/173279042-897c4b1a-6a60-421c-8b52-2118357035d5.jpg)

![PXL_20220613_041902886](https://user-images.githubusercontent.com/436149/173279017-1c34d0a0-668c-41e8-9959-02aac2ed4aae.jpg)

[2022-06-13 04:29] nhockey commented on #653
Yes, in Android TV. I don't have any way to take a screenshot directly on the TV but I can attach a couple pictures of the TV.

Nova v6.0.67 (20220605.1136)

![173279017-1c34d0a0-668c-41e8-9959-02aac2ed4aae](https://user-images.githubusercontent.com/436149/173279858-6edfec05-344f-4c8c-b208-3955710f38ff.jpg)
![173279017-1c34d0a0-668c-41e8-9959-02aac2ed4aae](https://user-images.githubusercontent.com

[2022-06-13 04:34] nhockey commented on #653
Yes, in Android TV. I don't have any way to take a screenshot directly on the TV but I can attach a couple pictures of the TV.

Nova v6.0.67 (20220605.1136)

![173279042-897c4b1a-6a60-421c-8b52-2118357035d5](https://user-images.githubusercontent.com/436149/173280317-a800c44c-cac1-46b1-b338-da0099f5210e.jpg)
![173279017-1c34d0a0-668c-41e8-9959-02aac2ed4aae](https://user-images.githubusercontent.com

[2022-06-13 05:18] courville commented on #653
Ok thus is happens in the global tv show view and not in the single episode one

[2022-06-13 05:23] nhockey commented on #653
Yes, the overview not on individual episodes. The individual episodes have the play button at the beginning as it's been.

[2022-06-13 05:52] Pentaphon commented on #607
@courville I think this issue applies to me as well. I'd like to have Nova autoselect English tracks titled "SDH" (means subtitles for deaf or hard of hearing, very common on blurays and streaming) for a hard of hearing English-speaking person.

@markmov seems to want to autoselect Hebrew tracks titled "Hebrew CC". CC is another term for the same thing, with has speaker identification, dialogue, s

[2022-06-13 22:07] mjnewton commented on #466
Apologies for the slow follow up on this.

Now that I'm on v6.0.66 (20220515.2014) and with audio interface set to Default Logic I can confirm the problem exists with both mp4 and mkv containers alike.

[2022-06-15 20:19] mitch133 opened #654 "[Bug]: Search movie functionality not working"
### Problem description

Nova finds the file but cannot play it

### Steps to reproduce the issue

When using the search button (i.e in "all movies") the movie is correctly found, but without any description (even when already/previously added/recognized by Nova).

In addition, the path to the file is correctly identified, but it is impossible to play it. An error message is displayed saying that

[2022-06-15 23:08] GrumpyLoneWanderer commented on #646
@courville is this possible?

[2022-06-16 05:39] drm-nz commented on #439
Still an issue in yesterday's release v6.0.67

[2022-06-16 05:48] drm-nz opened #655 "[Bug]: Cannot display file info or play video from search results #2"
### Problem description

This was reported earlier in #439 The case is closed but the issue has not been fixed. It is still present in the most recent version as of 2021-06-16, v6.0.67.

I use Nova Player on Android. My files are stored on a NAS that I'm accessing via SMB. When I list my files, everything looks fine. When I click on a video, I can see the file info and can play without any problem

[2022-06-16 10:48] courville commented on #439
See https://github.com/nova-video-player/aos-AVP/issues/655

[2022-06-16 17:54] #655 closed, assigned to courville

[2022-06-16 17:54] #439 closed, assigned to courville

[2022-06-16 17:54] courville commented on #439
Indeed it was only working for local storage and not remote shares.

[2022-06-16 18:06] mschumacher69 commented on #605
So yeah I think I'm only experiencing this when browsing Episodes by date.

Any idea how to troubleshoot this further?

[2022-06-16 20:53] drm-nz commented on #655
Thank you!

[2022-06-17 19:26] branches78 commented on #462
Hello again, it's been a while since I created this topic and I wanted to update you about something:

This is an issue with Android 10 directly, it's doesn't have anything to do with Nova and it's present in every single Android TV box but I guess the Nvidia Shield is the only one except though I can't confirm it.

On Android 11, 96Khz streams don't play if it has 5.1 channels and the ones with 7

[2022-06-17 19:36] courville commented on #462
Interesting findings about multichannel AAC.
You are right nova should revert to PCM if receiver does not support passthrough on this codec. This is in my todos.

[2022-06-17 19:40] branches78 commented on #462
It's not only with AAC but any audio codec that gets decoded to PCM with a 96Khz sampling frequency.

[2022-06-19 10:43] #653 closed, assigned to courville

[2022-06-19 10:44] courville commented on #654
Valid report but duplicate of https://github.com/nova-video-player/aos-AVP/issues/655 which has been fixed (not released yet).

[2022-06-19 10:44] #654 closed, assigned to nobody

[2022-06-19 10:45] #633 closed, assigned to nobody

[2022-06-19 10:50] courville commented on #644
See https://github.com/nova-video-player/aos-AVP/issues/354
Perhaps not related, I will have to retest with latest Sony update.
Seems that Sony has still broken external HDD support.

[2022-06-19 11:00] courville commented on #632
1: not implemented yet
2: put a .nomedia file in the folder (see FAQ)
3: not clear to me
4: nova relies on scrape data to present the files in a structured media library way. Thus I would say there is no best structure unless you do file browsing to play files

[2022-06-19 11:01] courville commented on #632
Please ask questions on the reddit community page, more suited for this type of interactions.

[2022-06-19 11:01] #632 closed, assigned to nobody

[2022-06-19 11:14] courville commented on #643
Thanks for reporting.
I do not see obvious hard limit to 25 in the code (yet).
Could you please provide a file with 50 subs for me to test and debug (or at least the exact file name so that I can download it)?

[2022-06-19 11:21] courville commented on #643
I checked a 26 subs embedded file and selecting sub 26 works (you need to wait for the buffer flush on current sub read though or seek).

[2022-06-19 11:34] moneytoo commented on #643
When I tried a file with 34 subtitle tracks, only 32 showed - https://www.reddit.com/r/NovaVideoPlayer/comments/swrq1g/up_to_32_internal_subtitles_supported/

[2022-06-19 11:38] courville commented on #643
@moneytoo this is another issue.
Could you please provide a file (exact file name would do)?

EDIT: I have found one file with 32 subs.

FTR I can change sub track on all the 34 ones (after a seek).

[2022-06-19 13:43] nhockey commented on #653
Thank you. I look forward to checking out the fix.

On Sun, Jun 19, 2022, 6:43 AM CourvilleSoftware ***@***.***>
wrote:

[2022-06-19 15:39] courville commented on #643
OK thus for now I will classify the issue as "works for me (tm)".
Please react with more actionable inputs so that I do not close the issue.

[2022-06-20 08:36] Hotboy1987 opened #656 "[FEAT]: use external subtitle as default"
### Description

Can you make player auto select the external subtitle when it available as default option

### Additional information

_No response_

[2022-06-20 10:19] Pentaphon commented on #605
I'm surprised the new logger isn't capturing your crash by now. I also get a crash when doing my initial scan on v6 and just browsing around the UI while it scans but I'm not sure it's related to your crash.

[2022-06-20 12:51] mschumacher69 commented on #605
Is there a new logger? How do I use it to capture the crash?

[2022-06-20 13:57] Pentaphon commented on #605
I believe they added [Sentry](https://github.com/getsentry/sentry-java) to capture data to start going after crash bugs so there's nothing you have to do but I'm surprised this issue hasn't been resolved for you.

[2022-06-21 01:21] Hotboy1987 opened #657 "[Bug]: black bars from left and right the picture"
### Problem description

A lot of movies and series when I play it on original scale(resolution) it give me small black bar left and right sides of picture and that's not happening on the other players ,, and I have to switch to full picture mode to solve this one

And on other situation when I play movies on full picture mode ,, picture from the right side pixel and I have to return to original m

[2022-06-21 07:46] courville commented on #657
This is an interesting one since I do not experience it on nvidia shield on the videos I play.
Is there something specific in terms of video aspect ratio on the files creating the issue?
Do you confirm that you are using the zoom option "original" when it happens?
Could you please share one with software at courville dot org so that I can reproduce?

[2022-06-21 19:41] mitch133 opened #658 "[Bug]: Third party player menu doesn't show up properly"
### Problem description

Third party player menu doesn't show up properly (splitted & at the bottom of the TV screen)

### Steps to reproduce the issue

First activate the option to select a third party player, and then try to play a movie.
The menu will appear at the bottom of the screen. When the player you want doesn't appear at first sight because you have a long list of possibilities, you hav

[2022-06-21 20:16] courville commented on #658
This is an android "feature". The menu is from Android framework outside of nova jurisdiction...

[2022-06-21 20:46] phhusson commented on #658
What TV model is it? Is it a 1080p model?

[2022-06-21 20:56] courville commented on #658
Checked on nvidia shield both with a 4k and 1080p UI and 10 players (but still on a 4k TV...), the android selection menu shows now cropping and we can scroll through the full list.

[2022-06-22 00:28] mitch133 commented on #658
Nope, it's a Samsung 4K one (UE50KU6000)

[2022-06-22 00:33] mitch133 commented on #658
Ok, meaning that with future Android 10 upgrade for the Freebox it will finally work fine?

[2022-06-22 13:40] sentry[bot] opened #659 "NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference"
Sentry Issue: [NOVA-VIDEO-PLAYER-9V](https://sentry.io/organizations/nova-video-player/issues/3368249300/?referrer=github_integration)

[code]

[2022-06-22 14:48] phhusson commented on #658
Ok, I misunderstood the issue, I got it now thanks to @courville 's guidance

And err bad news, no it's not fixed in Android 10 on Player Pop. I'll look at it.

Edit: There it's fixed. It'll be in next Android 10 beta, and I'll add you then to the beta @mitch133

[2022-06-22 17:05] mitch133 commented on #658
Thanks @phhusson ! I'm already in for the beta (Thibaut added me a month ago if I'm right), but still waiting to receive it ;)

[2022-06-22 18:07] #659 closed, assigned to courville

[2022-06-23 00:28] Hotboy1987 commented on #657
No it's not video aspect ratio problem it happens on 1080p and 4k movies and series

Yes it only happens when I use original option

And it's not big black bar ,, it's very small bars from left and right sides and when I switch to full screen mode this bar disappeared

I will try to post some photos

[2022-06-23 03:24] thewalkerz commented on #649
I like that feature, I use it a lot in kodi, it would be nice to see on Nova.

[2022-06-23 05:54] courville commented on #657
OK, I would be interested to get a video sample too since I do not have it on my tv (original is same as full screen for me).
Can you please provide TV model, native resolution and resolution of video file?
Based on the description, I trust that you are not using any overscan option.

[2022-06-24 01:55] Hotboy1987 commented on #657
I hope this video show you the problem

https://www.youtube.com/watch?v=gqgPNONRLgk

[2022-06-24 06:43] courville commented on #657
Thanks it is clearer now. I still does not reproduce on my side. Could you please send me a link of the video file showing the issue or the exact resolution of the video file so that I create one that should exhibit the same issue on my side for debugging?

[2022-06-24 11:29] Hotboy1987 commented on #657
This is the torrent file for the series

https://drive.google.com/file/d/13XqhOeEHUHHCsM1XhsTTsFYSwQ_8xHzR/view?usp=drivesdk

And this is the video info

Video
Format : AVC
Bit rate : 3 160 kb/s
Width : 1 920 pixels
Height : 1 080 pixels
Display aspect ratio : 16:9
Frame rate : 23.976 (24000/1001) FPS

[2022-06-27 15:03] JellyVlad opened #660 "[FEAT]: add subtitle format"
### Description

add subtitle format ASS

### Additional information

_No response_

[2022-06-28 17:46] MarcoRavich commented on #660
https://github.com/nova-video-player/aos-AVP/issues/128

[2022-06-28 18:12] courville commented on #660
Indeed, closing as duplicate.

[2022-06-28 18:12] #660 closed, assigned to nobody

[2022-06-28 18:55] drm-nz commented on #439
Received v6.0.71 today. I can confirm that this is working now. Thanks!

[2022-06-28 18:55] drm-nz commented on #655
Received v6.0.71 today. I can confirm that this is working now. Thanks!

[2022-06-29 15:25] MarcoRavich commented on #660
Yup, but still needed by *many* users...

[2022-06-29 16:03] phhusson commented on #658
@mitch133 there you go, you should have it now

[2022-06-29 18:22] scruffynerf commented on #88
Still not on FireTV listings, despite being in Amazon Appstore (and in my library).  Sideloaded the GitHub version just fine, using Downloader app (which is easily found in appstore and super useful) and
Using 351271 aka
https://go.aftvnews.com/351271
(Which points to recent universal version url at GitHub)

[2022-06-29 18:37] courville commented on #88
@scruffynerf indeed it failed last review due to sponsor link. I will remove it and resubmit. Thx for the heads up.

[2022-06-29 19:32] mitch133 commented on #658
I just got it indeed, thanks! One question, where can I report bugs relative to this beta?

[2022-06-29 21:25] phhusson commented on #658
The same place you asked to join that beta

[2022-06-30 00:30] scruffynerf opened #661 "[Bug]: nfo files not being read at all"
### Problem description

New user, new setup... Works to see the SMB share.  Plays fine Video files all have valid .nfo matching files that Kodi sees and reads fine.  Nova won't read them at all. I've click on the checkbox to use .nfo files but doesnt make any difference. Bug?  User error?  Ideas?

### Steps to reproduce the issue

SMB with 192.168.1.X address, video files and matching nfo files i

[2022-06-30 11:26] #658 closed, assigned to nobody

[2022-06-30 11:29] mitch133 opened #662 "[FEAT]: Implement a "working" passthrough mode"
### Description

The actual experimental passthrough mode is not very stable and desynchronizes a bit audio and video.
Would it be possible to have a new one (Kodi and Plex ones work fine) ? Or a not so experimental one ?

### Additional information

_No response_

[2022-06-30 11:33] mitch133 commented on #564
Still have the same issues with the Android 10 beta on freebox pop.
Little change, the files generating lag with lags with ATMOS work a little better now (they keep playing when they stopped before).
Do you think it would be possible to send you the files so you could have a look to these several issues?

[2022-07-01 03:08] loongwar opened #663 "[FEAT]: Hope to add WEBDAV and NFS support"
### Description

Files on nas are shared via WEBDAV or NFS, and it will be more convenient to add these two protocols to use.

### Additional information

_No response_

[2022-07-01 14:18] Hotboy1987 commented on #657
this is other link for the series torrent file

https://we.tl/t-yN5qoOT1o2

[2022-07-01 15:29] rahaaatul opened #664 "MAL & AniList Sync"
### Description

### Add sync similar to trakt but for Animations (Anime).

- [MyAnimeList](https://myanimelist.net/)
- [AniList](https://anilist.co/)

### Additional information

**API Documentations**

- [MyAnimeList API](https://myanimelist.net/apiconfig)
- [AniList API](https://github.com/AniList/ApiV2-GraphQL-Docs)

[2022-07-01 16:45] mitch133 opened #665 "[Bug]: Problem with auto refresh rate option"
### Problem description

I use the auto refresh rate option in Nova (as well as in Android settings menu), in order to properly play a movie at 60 fps (the others generally play at 24/25 fps).
It works nice in Kodi and Plex, and in Nova as well (if you just consider refresh rate).
Problem with Nova is, once back in Android Home Menu, my resolution and bit depth, previously at 4K / 60 hz / YCbCr420

[2022-07-02 07:15] yaswanth127 opened #666 "[Bug]: Sony Bravia XR 3D audio processing issue"
### Problem description

Doesn't play surround in google tv

### Steps to reproduce the issue

While playing the dolby video in normal player the surround sound comes fine but while playing in nova player the sound is getting low and quality degraded even if we use audio boost or night mode the sound quality is not getting right as original media player. It can try to reproduce sound as produced b

[2022-07-02 08:54] courville commented on #666
It seems to be a downmixing issue with the sony TV. Could you please set force stereo downmixing in nova settings and see if it helps?

[2022-07-02 08:55] yaswanth127 commented on #666
Downmixing does loss the atmos data right?

On Sat, Jul 2, 2022, 2:24 PM CourvilleSoftware ***@***.***>
wrote:

[2022-07-02 09:04] courville commented on #666
Yes but please report the result.
And your comment indicates that you are not using the TV loudspeakers. Are you using a soundbar or AV receiver?
If this is the case please let me know how the connectivity is set up.

[2022-07-02 09:05] yaswanth127 commented on #666
I am using Tv speakers

On Sat, Jul 2, 2022, 2:34 PM CourvilleSoftware ***@***.***>
wrote:

[2022-07-02 09:14] courville commented on #666
Thus you are in stereo and require downmixing. TV should do it automatically on multichannel but perhaps for some reason it does not.

[2022-07-02 09:17] yaswanth127 commented on #666
But I am getting good audio in normal media player??

On Sat, Jul 2, 2022, 2:44 PM CourvilleSoftware ***@***.***>
wrote:

[2022-07-02 09:40] courville commented on #666
Any video player will downmix to stereo. Nova trusts the platform to perform the downmix. It does not happen thus you are loosing front channels resulting in poor sound. Forcing downmix in nova should restore the missing channels.
Can you please try my suggestion, compare sound with "normal media player" and report any difference?

[2022-07-02 10:23] yaswanth127 commented on #666
I will try.

On Sat, Jul 2, 2022, 3:11 PM CourvilleSoftware ***@***.***>
wrote:

[2022-07-02 14:00] yaswanth127 commented on #666
I have tried and the volume looks normal but no changes in surround or
dialogues as we are controlling in system settings. The sound from player
is independent of the system.

On Sat, Jul 2, 2022, 3:52 PM Yaswanth Nag1 ***@***.***> wrote:

[2022-07-03 01:55] ffwell commented on #660
In fact, picture, sound and subtitle are all important elements for playback effect. There is nothing wrong with adding ass subtitle and inner subtitle support.

[2022-07-03 07:56] Quaap70 opened #668 "[Bug]: Episode title not shown"
### Problem description

The episode title has not been shown since the recently released major update. Only Episode 1, Episode 2  etc

### Steps to reproduce the issue

No special steps requered, just starting the App

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

Sony KDL-50W805C

### Operating system version

7

### Application version and app store

6.0.71 (20220

[2022-07-03 08:18] courville commented on #668
Can you please provide more details? I.e. are your files located on SMB server or internal storage. I guess external USB HDD. Provide exact name of the files of it isa scraping issue.

[2022-07-03 08:29] Quaap70 opened #669 "[FEAT]: Search on ID when not found"
### Description

I understand that the official release in the google play store now uses TMDB. I had Nova scrape my SMB network share again, to create the new database. But I notice that, although most series are now better recognized, other local series are no longer recognized at all.. while known to both TVDB and TMDB.

Another users feature request (last year before the change) was therefore

[2022-07-03 09:12] Quaap70 commented on #668
@courville  My video files are on a network storage (Synology) Nova can access these files over a wired network. Nothing has changed in that since the last Nova version.

For a large part of my series database, Nova no longer shows the name of the episode, but only Episode 1 etc. So it is not about a single episode or series, but a larger part of the series database. The names of the files have no

[2022-07-03 09:48] courville commented on #668
OK thus SMB share: same use case I have. Please send some exact file names not well identified over email.
If this behavior appeared migrating from nova v5 to nova v6 please rescrape your overall video collection (v6 uses tmdb and v5 tvdb has highlighted in warning toast and release notes). Please let me know if this is a v6.0.71 recent regression otherwise.

[2022-07-03 10:33] Quaap70 commented on #668
@courville  Hopefully you have now received the mail in good order!  3 times is a charm..

[2022-07-03 16:47] courville commented on #668
Yep got it.

[2022-07-03 16:48] courville commented on #666
Now the next test is to disable "force downmix" and enable in nova setting passthrough mode 2 and check if it improves simulated surround effect on stereo speakers of the TV.

[2022-07-03 16:54] yaswanth127 commented on #666
I've done that already, downmixing provided some what better results than
mode 2

On Sun, Jul 3, 2022, 10:18 PM CourvilleSoftware ***@***.***>
wrote:

[2022-07-04 11:56] yaswanth127 commented on #666
For dolby digital, the mode 2 seems okayish but resulting in audio sync issues

[2022-07-05 04:16] vincentchen opened #670 "[FEAT]: Blu-ray original support"
### Description

need support Blu-ray original like iso or dir with blueray original file tree.for now ,it just load all the ts files.

### Additional information

_No response_

[2022-07-06 03:41] yaswanth127 commented on #666
VLC player is playing fine when I choose the audio engine manually

[2022-07-06 04:30] yaswanth127 commented on #666
Actually the sound is very good in mode 2, but audio sync issues are high

[2022-07-06 05:22] yaswanth127 commented on #662
Yes that feature would be a great addition to the player which is now experimental

[2022-07-06 12:31] ffwell opened #671 "[FEAT]:Ass subtitle style regression. PGs subtitle support."
### Description

I hope ass subtitle style returns and PGs subtitle support. After the current ass cancels the style, the bilingual ass subtitles occupy the screen and are not beautiful. thank you.

### Additional information

_No response_

[2022-07-07 17:18] Cowboy1968 commented on #669
I too would love this feature

Thank You

[2022-07-07 17:25] luis-barreira opened #672 "[Bug]: Series title shows with and without year"
### Problem description

Nova video player started adding the year to the title of some of my series. It does not happen on all the series, only some. Sometimes when new episodes are added they are added in a different way to the existing ones, resulting in two entries for the same series: one with the year appended to the title and another with just the title.
I've had it occur to me both ways (w

[2022-07-07 18:04] wzyoct opened #673 "Hope to add webdav support"
### Description

Hope to add webdav support

### Additional information

_No response_

[2022-07-08 12:26] courville commented on #672
Hi, thanks for reporting. Note that as highlighted in FAQ and release notes and app update toast, nova v6 switched to tmdb instead of tvdb for TV shows media information retrieval and as a consequence it is strongly encouraged to rescrape from scratch your overall video collection.
It should solve your problem.
Now the explanation: it happens that shows can have the same name (reboots etc.). In or

[2022-07-08 12:28] courville commented on #673
cf. https://github.com/nova-video-player/aos-AVP/issues/368 closing as duplicate.

[2022-07-08 12:29] courville commented on #663
webdav part is also reported here https://github.com/nova-video-player/aos-AVP/issues/368 and nfs here https://github.com/nova-video-player/aos-AVP/issues/544
Thus closing as duplicate.

[2022-07-08 12:56] courville commented on #669
Thanks for the valid report. I confirm the issue. I propose to first fix the incorrect scrape instead of implementing a new feature. The show should be scraped correctly.

[2022-07-08 13:13] courville commented on #671
PGS is already requested in another issue.
Can you please confirm that ass support is regressive in latest update?
I do not recall any modification on this part.
And yes ass support is too limitative.

[2022-07-08 13:20] ffwell commented on #671
Now SSA subtitles can be displayed, but the style is replaced by the default font and size. There will be a problem. If it is bilingual subtitles, the display takes up a large area. You know, generally speaking, bilingual subtitles have a language with a small font.

[2022-07-08 13:33] courville commented on #669
OK little update, indeed https://www.themoviedb.org/tv/27969-unit-13 is present but without poster and backdrop and no information. Nova thus declares it invalid.
To get it scraped, you need to fill out themoviedb info (contribute?).
Providing tv show id will not help int his case.
[code]
And I agree that tvdb has a proper entry https://thetvdb.com/series/unit-13

[2022-07-08 13:39] Quaap70 commented on #669
@courville No problem, I understand.  One problem at a time. Thanks!

[2022-07-10 13:08] bladyle commented on #643
Same issue here. I have file with 30+ integrated subtitles and my subtitle is on the storage. I can choose it but it won't show in the list if if there are too many integrated subs.

[2022-07-10 18:12] mikeoliphant commented on #430
Also note that some Android TVs (mine, for example) only support EAC3 - not regular AC3. Because EAC3 is backward compatible, you can send an unaltered AC3 stream as EAC3 (as long as you tell Android it is EAC3).

So, if you do add transcode to AC3 support, please also add the ability to send it as EAC3 if that is all the TV supports.

I recently added functionality to Kodi for this:

https://gith

[2022-07-10 20:16] moneytoo commented on #643
Here's a sample with 36 subtitle tracks. I'm unable to select last 4 subtitle tracks (Ukrainian, Vietnamese and Chinese Simplified/Traditional) in Nova 6.0.71.

[mn-sample.zip](https://github.com/nova-video-player/aos-AVP/files/9079793/mn-sample.zip)

[2022-07-11 09:51] Quaap70 commented on #669
@courville  OK I have completed the missing data for this series on TMDB (as far as images of a series from 1996 can still be found according to TMDB's standards in terms of size ). The series is now indeed recognized correctly, but the Trakt data for episodes already watched is not loaded. Is it because I can't find an image for the individual episodes?

[2022-07-11 17:39] ad-on-is opened #674 "[Bug]: Not resuming playback after waking Android TV from screensaver"
### Problem description

I use Nova Player as an external player for playing streams.

Sometimes, I pause a video for a longer time and my Android TV shows the screensaver. When I go back to Nova (which is still in the foreground) it starts the video playback from the beginning, instead from the current position.

### Steps to reproduce the issue

- Play a network URL
- Pause at some point
- Wait

[2022-07-11 18:47] luis-barreira opened #675 "[Bug]: Problem signing in to Trakt"
### Problem description

Because of some problems with some other software, I had to revoke access to my Trake account to all apps. When I tried to sign in to Trakt with Nova Video Player on an Android TV device I came across two problems:

1. On the screen where I had to fill my username and password, the on-screen keyboard completely obscured the fields that I had to fill, I had to do it complet

[2022-07-11 18:55] luis-barreira commented on #672
I have already rescraped my entire collection several times.

Some errors:

I have some episodes and specials of "Blackadder", the episodes are all named "Blackadder SXXEXX Episode title [File info]", and the specials are named "Blackadder S00EXX Episode title [File info]". If I rescrape (I just did it now to confirm the results), some of the special episodes are assigned to "Blackadder" and the n

[2022-07-12 09:05] BladPit opened #676 "[FEAT]: Need to show the hidden files (with a dot "." prefix in file name) through network (SMB/FTP)"
### Description

as you konw, for some people there are several files which not suitable to be shown for other fimily members in NAS. And it will be very simple to add a dot "." prefix in file name to make files hidden.

But  we do need to watch these hidden videos via this awesome video player, it will be such a trouble that can't directly see hidden files in FTP/SMB server.

Cause I could see al

[2022-07-14 00:08] Pentaphon commented on #676
You can easily just not index the folders with content that is unsuitable for children and then just browse those folders manually using the SMB browser as a workaround until you get this feature. I would never put inappropriate content in the same folder as content you would want to show your family.

[2022-07-14 00:09] Pentaphon commented on #673
This issue is still open.

[2022-07-14 10:49] okan35 opened #677 "[Feature] Option for blurry episode images to prevent spoilers"
Title basically.It would be nice to have an option to set on/off on episode images because they sometimes show characters and that can spoil the story of the show.

[2022-07-14 10:53] okan35 opened #678 "Sorting by newest played in shows work wrong"
Issue is actually sorting by newest played sorts by literally  by episode that is watched last not the show that is watched last. Since I delete episodes after I watch that show doesn't appear on top because sorting works in different way.

In my opinion it should sort by not last watched episode but by last watched show then deleting an episode from a show wont break the sort.

[2022-07-14 17:12] mschumacher69 commented on #605
@courville is there anything I can do to help you troubleshoot this further?

[2022-07-15 04:17] BladPit commented on #676
Thanks for suggestion, but I usually downloaded all the video by a software and it was hard to change the download path. So I just left all the video in the default download path

[2022-07-15 20:24] Root-FTW commented on #628
@courville
Any update on NVP working with stremio?

I see that they closed the problem, but it is not resolved yet, it still does not work with stremio, what can we do or support to make it work with stremio?

[2022-07-15 23:22] HDGuy commented on #613
Ok, sorry I took so long getting back to you, but this problem has popped up for me again and I noticed something interesting.

Just for the hell of it I switched to Legacy mode (on the Shield, although I am having the same problem on all platforms using Nova).

When I switch to Legacy mode I see two separate entries for my NAS under SMB (Monster is the name of my NAS):

MONSTER - SMB/CIFS
192.168

[2022-07-18 00:03] eSkRo32 commented on #628
I noticed that NVP can play MKV's from Stremio.

But if NVP doesn't know the file extension of the movie it won't play it.

[2022-07-18 05:56] rahaaatul commented on #128
@courville Please, work on this. This feature is very important for many of us. Thank you.

[2022-07-18 14:11] rahaaatul opened #679 ".nfo files issues"
# File Creation
Instead of creating file:
- file.archos.nfo
- file-poster.archos.jpg
- file-fanart.archos.jpg

Create:
- file.nfo
- file-poster.jpg
- file-fanart.jpg

# File Creation Directory

It creates a mess in folders. Create a new .nfo folder for files for a neat files and folder. And look for .nfo folder, it will stay hidden also.

[2022-07-18 14:53] YellCatt opened #680 "[FEAT]: TMM collated video cannot be read"
### Description

I use tinymediatmanager to organize my movies and TV series. The cover can be displayed in jellyfin, but after Nova video player creates an index folder, I can't display any movies and TV series in the movie and TV series directory, neither can I read the cover of the video nor the information of the video

### Additional information

_No response_

[2022-07-18 17:35] Root-FTW commented on #628
I use stremio every day, I use it from my Firestick 4k, do you have a movie that worked for you using sremio + NVP?

What movie or series was it? to test at home if it works for me.

[2022-07-18 19:13] eSkRo32 commented on #628
Like I said,
If NVP detects the file extension of the file
It seems it Will play it.
So far, NVP detects MKV files and it plays them ok.
I have to check at home as im at work for that particular show.

But So far
No movies work with NVP.
As NVP does not see the file extension like you can see on the first post Here. Procobain posted the image and as you see, NVP Does not see the file extension.

[2022-07-19 14:19] shanestonk opened #681 "Arm cortex a55 cant install arm64-v8 apk"
I think there a bug because i cant install the arm64-v8-api-21+.apk on my arm cortex a55. But when i tried the armeabi.apk it can be installed.

https://developer.arm.com/Processors/Cortex-A55

https://www.cnx-software.com/2022/02/04/amlogic-s905c2-quad-core-cortex-a55-processor-digital-tv-tuners-cas/

Amlogic S905C2 preliminary specifications:

CPU – Quad-core Cortex-A55 up to 2.0 GHz
GPU – Arm M

[2022-07-19 14:24] shanestonk opened #682 "[Bug]: Nova cant play av1 2160p"
### Problem description

Cant play av1 2160p on nova armeabi.apk

cpu: arm cortex a55
Android tv 10

### Steps to reproduce the issue

Use alien 1979 av1 2160p movie play on Nova player.

### Expected behavior

Player cant play the movie and only show blank screen.

using mitv media player i can play the av1 2160p without a problem. Prefer to use nova to play the movie because mitv media player ha

[2022-07-19 14:35] shanestonk opened #683 "[Bug]: Nova arm64-8a.apk cant be install on arm cortex a55"
### Problem description

I cant install the app arm64-8a-api-21+.apk on my android tv 10 but can install the armeabi .apk version.

my cpu

Amlogic S905C2 preliminary specifications:

CPU – Quad-core Cortex-A55 up to 2.0 GHz
GPU – Arm Mali-G31MP2 with support for OpenGL ES 3.2, Vulkan 1.0/1.1, and OpenCL 2.0

Architecture | Armv8-A (Harvard)

Extensions | Armv8.1 extensionsArmv8.2 extensionsCrypto

[2022-07-19 19:58] darkblaze69 opened #684 "[Bug]: stuttering when watching high bitrates 4k over SMB"
### Problem description

I experience stuttering in Nova player while watching 4k huge bitrates like >80 mbit over smb no matter wifi (240 mbit) or ethernet cable.
When watching from USB HDD it's all good.
When I watch the same movies over smb in other players like VLC, all is going smooth. Because of stuttering such films are unwatchable in Nova player over smb.

Tried in Android TV 11, and Andro

[2022-07-20 09:00] shanestonk commented on #683
https://stackoverflow.com/questions/46318682/apk-with-only-arm64-v8a-binaries-will-not-install

[2022-07-20 09:01] shanestonk commented on #683
https://issuetracker.google.com/issues/37134362?pli=1

[2022-07-20 09:01] shanestonk commented on #681
https://issuetracker.google.com/issues/37134362?pli=1

[2022-07-20 09:02] phhusson commented on #683
Your device's Android only support 32 bits. That's the case of the vast majority of Android TV devices (the only known exception is nVidia Shield with 3GB RAM)

[2022-07-20 09:08] phhusson commented on #681
Open a ticket with this issue. It is not related to with arm64-v8.

Closing as a duplicate of #683

[2022-07-20 09:08] #681 closed, assigned to nobody

[2022-07-20 10:04] mitch133 commented on #684
I guess this looks like pretty much what happens to me here : https://github.com/nova-video-player/aos-AVP/issues/564
Thought it was due to ATMOS but as some other files with same properties work fine, I guess it is very likely that the bitrate is the cause. Moreover the files causing issues in my particular case are not that big (1 to 1.5 Gb) but I play them over SMB and with an average 240mbit w

[2022-07-20 15:22] #683 closed, assigned to nobody

[2022-07-20 16:54] eSkRo32 commented on #628
Ok I Just found something. Check for Doctor Strange 2022. In the results column, try to play a file that the file extension isn't showned at the end of the file name...

Then, same movie, try a file that has the extension shown at the end... Like MKV, MP4...

NVP Will only play files with extension showned.

[2022-07-20 20:53] mschumacher69 opened #685 "[Bug]: Sound takes time to kick in whenever a video is played on Google TV"
### Problem description

I just installed a Chromecast with Google TV and using Nova on it. One small problem is that whenever a video is played, sound takes a few seconds to kick in. This happens when first playing a video or when pausing it and resuming it mid playback.

This doesn't happen when using Nova directly on the Android TV.

### Steps to reproduce the issue

1. Start playing a video
2.

[2022-07-21 07:18] Mellorman opened #686 "[Bug]: Nova turns off wifi on Fire 10 HD running FireOS 7.3.2.3"
### Problem description

Launching Nova turns off wifi, and will not allow wifi to be re-enabled until quitting Nova.

### Steps to reproduce the issue

Launch Nova.

### Expected behavior

Nova should launch and allow video play from internal or external sources without disabling wifi.

### Your phone/tablet/androidTV model

Fire 10 HD 9th gen

### Operating system version

FireOS 7.3.2.3

### Ap

[2022-07-21 09:08] courville commented on #686
I tested on fire 8 HD and did not reproduce.
Could I get a full logcat to understand what happens?

[2022-07-21 09:20] Mellorman commented on #686
I'll help if I can. I'm new to Github but if you can point me to some instructions on how to generate a logcat, I'll give it my best shot :-)

[2022-07-21 09:59] courville commented on #686
@Mellorman sure: check https://github.com/nova-video-player/aos-AVP/wiki/Debugging and get full "adb logcat" of the device. I suspect something upsetting the wifi driver/firmware triggered by nova yielding to this behavior. Perhaps a fireOS unstability on the fire 10 HD. There is nothing in nova requesting wifi shutdown.

[2022-07-21 13:21] Mellorman commented on #686
Well, that was educational. Logs are too long to fully post here, is this enough to get you started?

[code]

[2022-07-21 18:51] Quaap70 opened #687 "[Bug]: Library Issues"
### Problem description

The NOVA android TV app unexpectedly re-indexed the entire library this week. The SMB share (Synology NAS) is on 24 hours a day, so this (wired) connection has not been lost. After he finished indexing, the posters of several correctly found series remained on the blue placeholder. Before this incident, almost all series posters were correct, except for a few of which not

[2022-07-21 23:42] TechComputerServiceDunkerque opened #688 "Bug Fire Cube"
### Problem description

Hello,

I have a fire cube on my television on Android 9 and I notice that Alexa is not compatible with Nova player, when I ask Alexa, pause or play on your player, Alexa asks me what I want to listen while the video is playing in Nova. Also, the videos never resume where I stopped.

Is it possible to fix this bug?

Thanks
Traduit avec DeepL

### Steps to reproduce the iss

[2022-07-22 18:09] mschumacher69 commented on #685
So the issue was with surround sound, I disabled it in Google TV and that sorted out the issue.

P.S.: I also tested on VLC, while sound doesn't start immediately on initial playback (similar to Nova), further pause and play during playback doesn't exhibit the same issue.

So it's like VLC only needs to down sample surround sound to stereo once per playback (which I assume is what's causing the de

[2022-07-22 20:13] Pirokar opened #689 "[Bug]: Cannot connect to SMB server with android tv version"
### Problem description

suddenly the application just stopped seeing the SMB server. VLC recognizes. The phone recognizes. Nova Video Player android tv version no.I've tried switching the SMB recognition order in the settings - it didn't help.

### Steps to reproduce the issue

Just try to watch some video from SMB server.

### Expected behavior

_No response_

### Your phone/tablet/androidTV mod

[2022-07-22 21:57] courville opened #690 "[FEAT]: in passthrough mode probe HDMI AV receiver capabilities to fallback PCM decoding if encoding not supported"
### Description

For now in nova selecting passthrough enforces passthrough for any audio encoding without checking if codec is supported by AV receiver resulting in audio playback issues and cumbersome enabling/disabling passthrough.
Solution: only select passthrough avos codec if AV receiver supports audio encoding.

### Additional information

_No response_

[2022-07-22 21:58] courville commented on #690
Fixed by https://github.com/nova-video-player/aos-Video/commit/a1fe16e3279deaf73b7b84c05ec62d4856b30d00 and https://github.com/nova-video-player/aos-avos/commit/2ba2e3cdb5d273c6e454afe8187710141ed5505f

[2022-07-23 09:57] courville commented on #689
Thanks for reporting. In order to understand the situation: do you confirm that the same version of nova on your phone sees the SMB share? Can you please disclose what SMB server you are using? Do you confirm that going on android tv in the network shares you have no server listed?

[2022-07-23 14:34] yjiawqgj opened #691 "[FEAT]:"
### Description

It is recommended to add video categories, not just movies and TV shows, but animation, science fiction, documentaries and other types of categories.  Also showing multiple movies of a series as a series rather than a single display.  And the actors below are not just textual information, but show photos of actors, or directly use the kodi configuration type. Most of the players w

[2022-07-24 10:33] shanestonk opened #692 "[Bug]: nova show artifact on dark scene"
### Problem description

Watching Gattaca 2160p h265 Hdr tigole qxr and i can see there a blocky artifact at the black scene before the piano player scene.

Watching the same video on android kodi app suddenly there no artifact at the dark scene before the piano player.

### Steps to reproduce the issue

Play the gattaca tigole qxr 2160p h265 movie and wait until the dark scene before the piano pl

[2022-07-24 20:07] Pirokar commented on #689
Yes, I can connect from nova phone version. I'm using Asus ax88u Merlin firmware with SMB server v1+v2.

[2022-07-24 21:14] mschumacher69 opened #693 "[Bug]: No channels on Google TV"
### Problem description

There are no channels from Nova (recently played, recently added, etc...) that appear on the Google TV home screen.

Is this a limitation from Google TV or Nova?

Channels from other 3rd party apps do appear on the home screen.

### Steps to reproduce the issue

Check the home screen on Google TV.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

[2022-07-26 19:54] hongfengfeiyang999 opened #694 "[Bug]: subtitles can't be displayed"
### Problem description

I don't understand why after the apk is installed on the TV, several very  mkv videos cannot select external subtitles, no matter whether the subtitle files are srt, ass or sub, they cannot be displayed, only the built-in subtitles can be displayed! ! ! Can't understand why such a basic function can't be implemented?The latest version is installed Video-universal-API_21+-r

[2022-07-26 20:07] hongfengfeiyang999 commented on #694
I guess it's the same issue as him：
When playing local mkv tv show with many subtitle tracks included inside the file I can choose only first 25 subtitle tracks. I can't choose any subtitle files which are stored together with the movie in same directory nor any subtitle which I download from open subtitles. Please change the limit from 25 to at least 50.
For example, this video contains more than

[2022-07-27 13:36] hongfengfeiyang999 commented on #643
I am also unable to display external subtitles

[2022-07-27 19:39] mschumacher69 commented on #605
I'm using Nova on Google TV now and this still happens. It doesn't happen as often as on my Sony TV, but it still happens occasionally.

So the issue doesn't only affect Sony TVs.

[2022-07-28 16:37] #692 closed, assigned to nobody

[2022-07-30 00:50] branches78 commented on #462
Hello, I noticed that DTS 96/24 is not playing correctly anymore, I'm not sure from which version of the app the issue started but on the latest stable version it's present, I noticed the problem on Android 10, I don't have the Android 11 device at the moment to test it.

The video plays fast without audio, if you need any logs or a sample file please let me know.

[2022-07-30 23:31] MAMAHM2 opened #695 "[FEAT]: please add arabic language to movies info"
### Description

Thank you for this app
Please add the Arabic language to movie info
TMDB support the Arabic language

### Additional information

_No response_

[2022-07-31 09:07] Pussylord1 commented on #644
hi, the discs are well recognized and it works perfectly with the software.The problem often arises when I remove the disk to add files to it. By putting the disc back it is no longer recognized by the application, but still visible in the devices in the application and it is possible to launch an episode from the peripherals without problems. But episodes and movies are no longer displayed in the

[2022-07-31 21:07] Pirokar commented on #689
Uninstalling and installing again helped me. But I think this bus still should be fixed :)

[2022-08-01 16:07] showlee opened #696 "[壮举]：Are U add support for WebDAV ?"
### Description

Are U add support for WebDAV ?

### Additional information

Are U add support for WebDAV ?

[2022-08-01 16:09] showlee opened #697 "It is recommended to add support for WebDAV protocol"
### Description

It is recommended to add support for WebDAV protocol

### Additional information

It is recommended to add support for WebDAV protocol

[2022-08-01 17:16] Pirokar commented on #689
It has disappeared again :D

[2022-08-03 18:45] Pentaphon commented on #696
Duplicate of https://github.com/nova-video-player/aos-AVP/issues/368

[2022-08-03 18:46] Pentaphon commented on #697
Duplicate of https://github.com/nova-video-player/aos-AVP/issues/368

Please don't open 2 of the same issue.

[2022-08-03 18:50] Pentaphon commented on #694
Duplicate of https://github.com/nova-video-player/aos-AVP/issues/643

[2022-08-03 21:17] SolariuS007 opened #698 "[Bug]: Audio out of sync"
### Problem description

My audio is Out of sync from my Philips Oled tv to my Yamaha receiver.
I don’t have this problem with apps like VLC or N-Player, but Nova Video Player seems to be better for me, except the out of sync problem. Please advise.

### Steps to reproduce the issue

I tried all the audio-passthrough options without any success.

### Expected behavior

_No response_

### Your phon

[2022-08-04 00:25] Pentaphon commented on #698
Current passthrough is known to be out-of-sync. It's best to turn it off until it is fixed.

[2022-08-04 07:33] SolariuS007 commented on #698
Passthrough is off, problem remains

[2022-08-08 14:47] mschumacher69 commented on #605
@courville I now know exactly when this happens, it happens when I browse episodes by date while the app is  re-scanning. I have auto-rescan when opening the application enabled, so this happens every time I open the app and also after Ambient Mode, the app seems to interpret exiting ambient mode as opening the app so it re-scans every time I exit Ambient Mode when the Ambient Mode comes on top of

[2022-08-11 05:48] xanaduer opened #699 "[FEAT]: Should go directly to the library without a popup first."
### Description

Status:  When a directory such as "Movies" (there are many movies stored in the directory) is added to the library, every time the "Movies" library is opened, a window will pop up (which includes "Open", "Rescan" , "Delete from Library" three buttons), you need to click "Open" again to actually enter the "Movie" library.

Request:  Every time you open the "Movie" library, you can

[2022-08-14 12:40] Pentaphon commented on #698
How are you connecting the TV to the receiver? Optical or HDMI?

[2022-08-14 18:31] DenKuzn opened #700 "[Bug]: Subtitles not work properly with H.265"
### Problem description

I have a bug with subtitles on my android TV. When I try to watch any video with H.265 codec Subtitles are showed very fast, and only on pause showed normal.

### Steps to reproduce the issue

1. Connect a SMB Folder to the player on TV.
2. Add to the folder a video with H.295 Codec and subtitiles.
3. Turn on the video and turn on subtitles.
4. Problem was with 1080 and 25

[2022-08-14 18:50] GrumpyLoneWanderer commented on #646
@courville did you have any luck with this?

[2022-08-14 20:34] mschumacher69 commented on #700
Works fine for me on 1080p x265, must be something wrong with your subtitle file.

[2022-08-14 20:52] SolariuS007 commented on #698
Connected with hdmi

Gr,

Sjaak

[2022-08-15 07:52] DenKuzn commented on #684
Try this: https://rutracker.org/forum/viewtopic.php?t=6243632
In RF we dont have netflix =((

[2022-08-15 12:01] DenKuzn commented on #700
Try this: https://rutracker.org/forum/viewtopic.php?t=6243632
In RF we dont have netflix =((

[2022-08-15 12:01] DenKuzn commented on #700
Try this: https://rutracker.org/forum/viewtopic.php?t=6243632
In RF we dont have netflix =((

[2022-08-16 06:18] moneytoo commented on #700
I tried the mentioned file (S01E01) in Nova 6.0.71 and subtitles shows as they should on my phone.

[2022-08-16 09:16] DenKuzn commented on #700
But problem on the TV.

[2022-08-22 03:16] jesumguy opened #701 "Set as external player for jellyfin"
### Problem description

Jellyfin app set to use external player, NOVA can be selected  with "just once". It works perfectly fine. However when attempting to set NOVA as external player "always", nothing happens. Clarification, clicking the "always" button does nothing. The pop up closes. Clicking play brings the external player selection pop up back up and NOVA can be successfully selected with "

[2022-08-22 10:23] Pentaphon commented on #701
Why not just use Nova instead of Jellyfin? I tried Jellyfin and I find Nova way faster to use. If you can't get Nova to work with Jellyfin you might wanna try mpv-android as that is amazing for subtitles.

[2022-08-22 17:05] jesumguy commented on #701
Firstly I don't feel this is the right place to discuss all the details of my ordeal, however, you asked. I have the UI and mixed content folder structure customized to my liking in Jellyfin. I have tried kodi and others, and don't like the way content is presented to the user in the ui. There's no way that I can see to mimic that presentation in NOVA. I have tried mpv, and just player. Mpv wouldn

[2022-08-22 17:08] Pentaphon commented on #701
Ok just checking. Hope you get your issue dealt with.

[2022-08-22 17:15] jesumguy commented on #701
Thanks.

[2022-08-22 18:17] Unix-Kernel commented on #698
I don't know anything about "N-Player", however, VLC for android has always been out-of-sync so it most likely is in sync with the Yamaha receiver in the mix. Make sure that HW is set to default in NVP, remove the Yamaha and try it out.

[2022-08-22 18:43] Unix-Kernel commented on #643
Yeap, I can confirm that the last four subtitles will "not" show/display in the scraped page or when the video is playing, it only shows the first 32-subtitles, all other subtitles after that are not available.

[2022-08-24 12:15] RuthlessRuler opened #702 "[Bug]: Subtitles are Not Detected"
### Problem description

So I just DDLed a Show and the internal subtitles (subs inside the mkv files) are not showing up on Nova.

If I use MX Player, then the subs shows up correctly for available languages.

Video is from -  Westworld (2016) Season 3 S03 (1080p x265 HEVC 10bit AAC 7.1 Silence)

### Steps to reproduce the issue

1. Start playing any episode
2. Click on subtitles button

### Expe

[2022-08-24 15:04] moneytoo commented on #702
The file contains only PGS subtitle tracks but PGS isn't supported: #47

[2022-08-24 17:16] RuthlessRuler commented on #702
Okay. Didn't knew about it.
Will be tracking the mentioned Issues.

Thanks alot.

[2022-08-24 17:16] #702 closed, assigned to nobody

[2022-08-25 18:22] courville commented on #10
FYI implementation in progress. It works using audiotrack setspeed on playbackparams and scaling avos stream parser timestamps. What is still nok: subs are not yet at audioSpeed and on the fly adjustment of the playback speed causes crashes.

[2022-09-01 17:26] courville commented on #10
Updated status:
- on the fly playback speed modification KO (causes JNI error not in the `audio_interface_audiotrack_java:audiotrack_change_audio_speed`)
- when using shield on samsung soundbar, playback speed has no effect (just player as well) but `AudioTrack` `PlaybackParams` are correctly set (`setSpeed` ok)

[2022-09-03 16:46] Eugen68 opened #703 "Increasing the number of embedded subtitles"
Hi,
I want to watch a .mkv file that has 42 embedded subtitles but Nova Video Player displays only 32.
It is possible to increase the number of embedded subtitles over 32, for example 64...
Thanks

[2022-09-03 17:10] Eugen68 opened #704 "[Bug]: Nova Video Player incorrectly displays name of embedded subtitles."
### Problem description

I want to watch a .mkv file that has embedded subtitles.
Nova Video Player incorrectly displays name of embedded subtitles.
![Screenshot_20220903-195748](https://user-images.githubusercontent.com/3047899/188280950-a8a876c5-4116-4c58-9e6b-66e894438c87.png)
For example, the same file has correctly displayed embedded subtitles in KODI.

### Steps to reproduce the issue

I wan

[2022-09-06 08:53] liudehua333 opened #705 "[FEAT]: 不支持外挂字幕"
### Description

ass外挂字幕怎么使用，在线下载很麻烦，能不能本地读取外挂字幕

### Additional information

_No response_

[2022-09-06 12:17] ShlomobCohen opened #706 "[Bug]: Problem with episode air date prior to 1970"
### Problem description

When the air date year is less than 1970 it is not retrieved from the scraper nor is the field displayed in the episode information.

### Steps to reproduce the issue

Test with any TV episode that aired prior to 1970.  For instance:-
Look at Life.S01E01 which aired on 1959-04-01
or edit any TV episode ".archos.nfo" file changing the air date to a year prior to 1970.

###

[2022-09-06 17:40] Duss2000 opened #707 "[Bug]: Nova Player .nfo issue"
### Problem description

I have updated Nova Player from version 5 to 6.0.7 but with the newest version the .nfo files are not working anymore. It doesent recognize the Tags like Title, Genre, Cover and so on.

Thanks for your help.

Kind regards,

Duss

### Steps to reproduce the issue

Same as above

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

Nvidia Shield

###

[2022-09-07 03:49] seighero commented on #705
可以使用外挂字幕，字幕文件与视频同名就可以了。

[2022-09-07 19:09] Dogway opened #708 "SMB2 not finding shared folders"
I'm using Windows 7 with SMB2 protocol enabled, and made an user account with a password to use with my tablet Galaxy Tab S7 FE.
With this I can access my LAN network through Total commander, but before I had to define the access point as an IP instead of a domain name because I have set up a TP- LINK Deco router wlan which uses a different IP subnet.
Is it posible to explicitly define the access

[2022-09-10 00:33] nuo12138 commented on #705
smb下可以，但是如果视频内嵌了很多字幕就不支持了，dlna模式下不支持，还是和nplayer可以手动选字幕那样比较方便
Smb mode support, If the video has a lot of subtitles embedded in it, it is not supported.dlna mode doesn't support!It is more convenient as nplayer can manually select subtitles

[2022-09-10 09:21] courville opened #709 "[FEAT]: add 4320p/8K resolution parsing"
### Description

Add 4320p 8K filename matching and icons to be future proof.

### Additional information

_No response_

[2022-09-10 09:29] courville commented on #10
Update: on the fly playback is fixed but requires seeking to flush all previous timestamps and causes jump to closest iframe. It could be enhanced by waiting for the next iframe before applying the seek to not cause the time jump effect. Method to achieve this is to be found.

For soundbar problem issue happens when playing multichannel content only and `adb shell dumpsys media.audio_flinger` reve

[2022-09-10 17:30] Dogway commented on #708
Solved by custom adding a folder pointing to the IP.
I guess the UI is not very intuitive, should be explained better.

[2022-09-10 17:30] #708 closed, assigned to nobody

[2022-09-11 09:14] panosfil opened #710 "[Bug]: subtitles not showing"
Σας### Problem description

Subtitles only show up when opening a window such as the menu of the app or even adjusting the volume of the TV

### Steps to reproduce the issue

1. Playing a movie over SMB
2. Loading subtitles embedded in the file.
3. TV is the TCL 55c715
4. Subtitles do not show. When I press anything that brings up a window (app menu or even the volume of the TV) the subtitles show

[2022-09-18 13:22] andrzej-gmt opened #711 "[Bug]: non scraped videos not included in "all movies" category on Android TV"
### Problem description

I have added over 50 music movies to Nova on Android TV. For about 1/4 of them movie info is not found on Internet or found wrongly. If there is no info, movie is put in folder "non scraped videos", next to usb drive and playlists. The same happens if I remove wrong info.
Movies categorized as "non scraped video" are not displayed in "all movies" category.  But I can see t

[2022-09-19 03:24] Neverends4 commented on #705
dlna/upnp mode has limited external subtitles support by design, not the design of nova player, but the upnp/dlna protocol. Use smb if you want to use external subs.

[2022-09-19 15:40] nuo12138 commented on #705
smb在无线网络环境下传输速度只有10mb/s，播放高码率视频会卡顿！如果nova player能支持webdav协议就好了！
The transmission speed of smb in the wireless network environment is only 10mb/s, and it will be stuck when playing high-bit rate video! It would be great if nova player could support webdav！

[2022-09-19 15:42] nuo12138 commented on #705
webdav在无线环境下传输速度可以跑到70-80mb/s
The transmission speed of webdav can run to 70-80mb/s in a wireless environment

[2022-09-20 10:40] efokin73 opened #712 "[Bug]: Sometimes a scrape returns a similar title even there is an exact match"
### Problem description

On some files, when searching for a title in Russian, another movie wirh a similar title is returned, even if there is a movie with an exact match of the title
In some cases, even the year may not match, although it is indicated in the file name

### Steps to reproduce the issue

Enable TMDB search in Russian
Add the following files to your library
Слова (2012).avi - it fo

[2022-09-20 10:55] efokin73 opened #713 "[Bug]: In rare cases, scrape returns a completely different title"
### Problem description

When searching for the title of a movie in Russian, in rare cases, a completely different movie with a dissimilar title is returned

### Steps to reproduce the issue

Set up a search in TMDB in Russian
Add the following file to the library
Крёстный отец 3 (1990).avi - it founds [Чудеса (1989)](https://www.themoviedb.org/movie/25074) - but there is [Крёстный отец 3 (1990)](

[2022-09-20 11:06] efokin73 opened #714 "[FEAT]: Additional options for searching among the same titles within the same year"
### Description

Sometimes it happens that there are movies with the same ttitle released in the same year, and when scraping, the wrong movie is returned
It would be nice to be able to specify an additional parameter, such as the author or director of the movie, to narrow down the search
An example of such a situation (titles in Russian): [Тело  (2012)](https://www.themoviedb.org/movie/111083-el-

[2022-09-21 21:10] courville commented on #336
OK just noticed on Google Play console that I have been awarded the `android.permission.MANAGE_EXTERNAL_STORAGE` sensitive permission (after it has been denied). It appeared out of the blue somehow.

@moneytoo you should check too (finger crossed).

EDIT: I also checked that I can deploy an internal release with the perm.

[2022-09-21 21:29] moneytoo commented on #336
Knowing Google, something like that usually sounds too good to be true. But if it sticks, it's great. Could it be because you left a version of an app with such permission in some release channel untouched and they eventually approved it? At least for me, I only see my declaration for this permission in App content section and nothing more.

[2022-09-22 17:02] courville commented on #336
OK this was indeed too good to be true. After granted deployment it has been cancelled.
FTR this is what was indicated on the google play console:
<img width="915" alt="Capture d’écran 2022-09-22 à 19 01 18" src="https://user-images.githubusercontent.com/242843/191808265-b87844f0-a5c3-4f3d-9590-a98846bc8811.png">

[2022-09-23 15:28] courville commented on #493
I can reproduce the issue on the emulator (mac M1 arm64 one API31) now. It happens indeed on 320dpi.
[code]
It is linked on `layout-sw500dp-notouch` assets not matched.

[code]

cf. https://developer.android.com/guide/topics/resources/providing-resources#AlternativeResources

[2022-09-23 16:30] courville commented on #674
For now unfortunately I cannot reproduce this behavior on the nvidia shield but I will add some `saveVideoStateIfReady()` in the `PlayerService`  `onPause`/`onDestroy` to be safe.

[2022-09-23 20:41] mschumacher69 commented on #605
@courville any chance of fixing this?

[2022-09-24 05:42] ghost opened #715 "[FEAT]: Put 'Indexed Folder' at top of the list of SMBs"
### Description

It's not a big issue, but the indexed folders in the SMB list is at the bottom which means when you want to enter it you need to wait for the list of shared folders to be finished loading because the indexed folders get pushed down all the time. Currently, that makes me misclick a lot because of the indexed folders being pushed down right when I want to enter them.

If the indexed

[2022-09-24 05:45] ghost commented on #712
I have the same issue with Tarkovsky's 'Mirror' from 1975. Even though the year is in the file name the first movie Nova picks is 'The obescene Mirror' from 1973, so it is even from a different year.

[2022-09-26 00:57] Gakil13 commented on #710
Same all my Android tv. I have 3 type of tcl tv with Android 11 and same issue. Fix it please 🙏

[2022-09-27 15:46] JamesPodogorski commented on #541
I have the same issue.  VLC works fine.  I struggled trying to isolate the issue to no avail.  VLC it is for now.

[2022-09-29 13:28] ad-on-is commented on #674
Cool thank you... will there be a new release anytime soon? Or will I have to build and sideload it myself? Btw: right now, I've installed it through the google playstore

[2022-10-06 04:52] nick16 opened #716 "[FEAT]: Add Option to Modify Skip/Rewind Time (seconds)"
### Description

2 second rewind and skip time is way too low. Adding an option to change the seconds to 5, 15, or 30 seconds will be very useful.

### Additional information

_No response_

[2022-10-09 22:18] SkinnyPeteBB opened #717 "Add option to see how long the movie lasts and see the bitrate in real time."
### Description

Add the option to see when the video ends and to see the bitrate in real time and to change video track as on vlc.

### Additional information

_No response_

[2022-10-11 07:42] phhusson commented on #564
Got a sample to share?

Le sam. 9 avr. 2022 à 13:15, mitch133 ***@***.***> a écrit :

[2022-10-11 09:03] phhusson commented on #662
This is a bug in Freebox Player Pop, keep it in Freebox's bug tracker

Le jeu. 30 juin 2022 à 13:30, mitch133 ***@***.***> a écrit :

[2022-10-11 10:20] mitch133 commented on #564
https://we.tl/t-GqYfgfSSGp

Hello, 2 samples here in the link. One with DTS ES 6.1, another with EAC3 with ATMOS. The first one doesn't play sound at all on any device, so it's probably due to NOVA. The second one plays well in its sampled version... But the original file stutters on a Freebox Pop Player with Nova, when it does play well on a Samsung Galaxy S21 (same NOVA version & file over SMB i

[2022-10-11 10:58] mitch133 commented on #564
The original file here:

https://we.tl/t-BcNTunwEEe

Please tell me if these files suit you

[2022-10-13 20:48] boredjedi opened #718 "Watched status not syncing"
I watch a video on my nvidia shield, it is set as watched there, and on trakt, then I open my fire tablet and on it i still see it as unwatched. Even after running manual sync/scrape.

Sometimes I come back to fire tablet a few weeks later and see entire shows are unwatched.

[2022-10-13 21:30] courville opened #719 "[Bug]: local video files on Android 13 not getting added to nova media library"
### Problem description

Video files are not scanned and scraped.

### Steps to reproduce the issue

Add a video file via mtp.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

pixel 6

### Operating system version

androi 13

### Application version and app store

all versions of nova

### Additional system information

_No response_

### Debug logs

_No response_

[2022-10-13 21:36] courville commented on #719
It appears that now video gets _id higher than 1e9 interfering with nova's logic to reject these for scraping:
[code]
It comes from january 2022 changes in DatabaseHelper and a billion value used when next row id is not present in respective xattr...

[2022-10-14 09:40] courville commented on #719
1e9 shift is used for network shares (smb etc.). We thus need a migration process of network shares to new offset value (2e9) only to handle users in the field.
If "on update cascade" of the db is properly designed, it could be feasible otherwise we are doomed and only a clean reinstall would help.

[2022-10-14 12:34] DecalicatanDecalicatan commented on #675
Similar issue here with a Nvidia Shield Pro (2019)

[2022-10-15 09:37] robic77 commented on #644
Any solution to this bug? I experience it on chromecast with google tv accessing files on smb. Seem that force stopping app and/or clearing cach helps, but problem reoccurs.

[2022-10-16 17:40] alexjbarnes opened #720 "Files with % symbol in name won't play from sftp source"
Found some files I'd downloaded that had % symbol in file name wouldn't play.
Get the warning did not manage to access file in the file info panel. And if clicking play video get cannot play video.
The files where located on a sftp server.
As soon as % symbol removed works fine

[2022-10-20 10:54] mitch133 opened #721 "[FEAT]: implement a filter in passthrough mode"
### Description

Let the possibility, within the passthrough menu, to chose whether an audio format will be passed through or not, and convert other formats to AC3?

### Additional information

This is for users with SPDIF connections. Without this option, if the receiver cannot decode an audio format, you have no sound at all... Maybe a consequence of the new feature in 6.0.74 ? ("Do not apply au

[2022-10-20 14:54] mitch133 opened #722 "[Bug]: Nova doesn't unscrap information related to deleted files"
### Problem description

Nova doesn't unscrap information about deleted files in library (over SMB) after a new scrap at launch

### Steps to reproduce the issue

Make a copy of an existing movie, naming it "xxx V2.mkv" for example
Delete the original (V1) file
Launch Nova, wait for scrap, and go to your movie.
2 files are still identified for the same movie. The deleted one cannot be located, but

[2022-10-20 22:59] Pentaphon commented on #502
I looked on the wiki but there's no info there. What is binge mode? Does it just play an entire show no matter what you episode you are in the series?

[2022-10-21 03:09] HDGuy opened #723 "[Bug]: can’t sign into trackt, black window opens v6.0.74 on Shield"
### Problem description

Exactly as in title, I go to log into Trakt and all I get is a black square that opens up full screen, no browser.

### Steps to reproduce the issue

Try to log in to Trakt.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

Nvidia Shield Pro 2019

### Operating system version

Android 11

### Application version and app store

Latest hot fix 4

[2022-10-22 21:20] Kbalint94 opened #724 "[Bug]: Dolby Vision enabled files display with a red tint"
### Problem description

I've noticed this issue with 4k 2160p files that support Dolby Vision. After an initial stutter, the video resumes, but there's an overall red tint/filter over the video. Doesn't happen with lower quality (eg. 1080p, or regular 4k) files. I tried enabling forced software encoding, but in that case the video just won't start. The video itself plays fine, doesn't stutter mos

[2022-10-23 05:08] Pentaphon commented on #722
I can confirm this with 6.0.74

[2022-10-24 00:57] Jedir1 opened #725 "[Bug]: Unrecognized subtitle tracks in some MKV video files"
### Problem description

Hello:
Unrecognized subtitle tracks in MKV files.
When playing MKV files with both H.264 and H.265 video encoding and AC3, DTS, MP3 sound encoding regardless of the bitrate used, the Nova Video Player does not recognize the subtitles included in the Matroska container.
This bug doesn't always happen, it only happens in certain video files, I don't understand the reason.
Te

[2022-10-24 16:16] mitch133 opened #726 "[Bug]: 6.0.75 makes video stutters / no smooth playback anymore"
### Problem description

All my movies slightly stutters since 6.0.75 Google Play Release

### Steps to reproduce the issue

Play any movie and see how it's not smooth

### Expected behavior

Videos should play normally, as they did till 6.0.74

### Your phone/tablet/androidTV model

Freebox Pop

### Operating system version

Android 10 (beta)

### Application version and app store

6.0.75 Google

[2022-10-24 16:22] mitch133 opened #727 "[Bug]: Problem with EAC3 7.1 & DTS-ES 6.1"
### Problem description

No audio and/or very poor playback experience since 6.0.75 with EAC3 7.1 files. No problems with EAC3 5.1 or other 7.1 codecs (like AAC)

### Steps to reproduce the issue

Play a Dolby Digital Plus 7.1 channels track within a mkv file

### Expected behavior

We should listen all channels and have a smooth and normal playback.

With Samsung Galaxy S21 (Android 12), there's

[2022-10-24 18:05] courville commented on #727
Can you please share a sample showing the issue?

[2022-10-24 18:06] courville commented on #726
Unfortunately I cannot reproduce on nvidia shield and pixel6 phone. Might be pop specific. Will try on another amlogic when I get a chance.

[2022-10-24 19:03] mitch133 commented on #727
Sure, here you have

https://we.tl/t-y87I0NWt23

[2022-10-24 22:06] mschumacher69 commented on #726
Try disabling automatic refresh rate switch. This might not be 6.0.75 specific, but it started happening to me randomly since the latest update to my Chromecast with Google TV from Android 10 to Android 12.

I turned off automatic refresh rate switch both in the Google TV settings and Nova settings which seems to have resolved the issue.

[2022-10-25 07:53] mitch133 commented on #726
@mschumacher69, thanks for your answer. The automatic refresh rate is already disabled in Nova. In fact, I need this function active and I discovered it worked better if disabled in Nova but enabled in system parameters. I need it for movies like Gemini man which play in 60fps. It works nice this way, in Kodi, Plex, and Nova (till 6.0.74 at least).

[2022-10-25 08:05] courville commented on #727
Thanks. I guess there is indeed an issue with downmixing on nova. On your phone you can deactivate audio downmixing to stereo, it should bring sound back. I will investigate.

[2022-10-25 09:39] mitch133 commented on #727
Hello. Yes, deactivating audio downmixing solves the problem on my phone. But as I mentioned, no problem with AAC 7.1, even with downmixing active. This specifically happens with EAC3 from what I observed.

On the other hand, it makes me think I reported
here, some weeks ago, a similar problem with some EAC3 + ATMOS files. And more recently with DTS-ES 6.1 files. So downmixing may indeed be the is

[2022-10-25 12:13] buthig666 commented on #726
Same issue for me.  On Sony bravias, Android 11 and 10.  Video stutters on network play.  I love Nova but had to move back to vlc.

[2022-10-25 12:33] mitch133 commented on #726
Indeed, I play movies over network (SMB) as well.

[2022-10-25 15:27] xmha97 opened #728 "[FEAT]: Move subtitle to top"
### Description

I want to move the subtitle to top
Please add this feature

### Additional information

_No response_

[2022-10-25 15:32] xmha97 opened #729 "[FEAT]: Tap to Play/Pause"
### Description

Please add feature below:
- Tap to Play/Pause

Thanks

### Additional information

_No response_

[2022-10-25 21:46] SkinnyPeteBB opened #730 "[Bug]: Problem with dolby digital"
### Problem description

This app was the only one besides that of sony system that could transmit dolby and dts with optical cable . With the new version my files in dolby, and probably also in DTS are played only in pro logic 2 from the amplifier. I tried to redownload an old version and it's working again. I hope you can fix it because it was the only external app that broadcast surround format

[2022-10-25 22:56] buthig666 commented on #726
Ok after going back and testing both of my Sony Bravias, I would like to clarify if it helps devs identify the problem.

I am only using the tvs for network shared files (SMB.)  One Sony is an Android 10 and the other Android 9 (sorry I misspoke earlier.)  The Android 10 device doesn't seem to be stuttering for me, though the A9 clearly does after the latest update.

Settings regarding SMB2 or fra

[2022-10-26 03:20] branches78 opened #731 "[Bug]: multichannel PCM decoding doesn't work on option 2 of audio passthrough option"
### Problem description

The new multichannel PCM decoding implementation available in the recent 6.0.75 stable version doesn't work.

The feature should work when option 2 is selected in audio passthrough.

I tested a Dolby TrueHD video on an AndroidTV/GoogleTV device without Dolby TrueHD passthrough support and I though it was going to be decoded as multichannel PCM, instead, no audio was output

[2022-10-26 11:24] mitch133 commented on #731
How do you connect your sound receiver? Optical (SPDIF)? If yes, in that case, it is normal you don't get any sound.

I opened this ticket couple of days ago:

https://github.com/nova-video-player/aos-AVP/issues/721

[2022-10-26 11:59] kparal commented on #726
I have Sony Bravia KD-55XE8596 with Android 9. Two weeks back, Nova was playing my TV series (1080p) just fine. Yesterday, it was stuttering horribly. I have Nova 6.0.75. I tried toggling automatic refresh rate, doesn't help. Hardware decoding is on (when it's disabled, it's unwatchable). Disabling subtitles doesn't help. Stuttering occurs both when playing over SMB and **locally from a thumbdrive

[2022-10-26 12:24] t00gee commented on #726
Same problem for me since the last update on my Philips 55OLED706. I guess I'll revert to the previous version and I'll stop the automatic updates.

[2022-10-26 16:30] courville commented on #726
Thanks for the feedback: could you please test this build that deactivates the playback speed feature in order to figure out if the regression comes from this one or the ffmpeg upstep:
 https://drive.google.com/file/d/1i8ETPFNh9-klB46phDjECZHFz_TR42s_/view?usp=sharing ?
In you tests please make sure you have deactivated audio passthrough (just to be sure on the supported mode autodetected added in

[2022-10-26 16:45] mitch133 commented on #726
Hi, I downloaded it but cannot install it... At the end of the process I'm notified the installation could'nt complete.
Do we have to remove the previous installation of Nova? I still have 6.0.75. Maybe this is due to the release number if it hasn't changed?

[2022-10-26 16:58] branches78 commented on #731
I forgot to mention that the device is connected directly to the AV receiver which has TrueHD decoding.

[2022-10-26 17:01] buthig666 commented on #726
I had to remove the previous nova.  After struggling with it a bit I was able to log into my smb and I didn't test extensively but can attest that at least 3 different files that were previously stuttering are not anymore.  Tested on Sony X9500G Android 9.

[2022-10-26 17:37] courville commented on #726
OK thanks for the quick feedback. This means somehow that I might have to enable playback speed control only for Android 10+... Let's try this.

[2022-10-26 17:40] okan35 opened #732 "Episodes dont disappear after deleting even though they are successfully deleted"
Basically title. This happens in the newest current version.

[2022-10-26 17:43] mitch133 commented on #732
https://github.com/nova-video-player/aos-AVP/issues/722

[2022-10-26 18:09] buthig666 commented on #726
Shrugs....  Your the boss.  I'm just happy you are taking the time to work on it on our behalf.

[2022-10-26 18:11] mitch133 commented on #726
Works fine for me too. But I have to remind you I do have an Android 10 system, so you may implement the playback speed feature starting Android 11?

[2022-10-26 18:14] buthig666 commented on #726
I don't notice any stuttering on my sony x85j Android 10...  Maybe it's there ever so slightly.  Or maybe it's a different problem ????

[2022-10-26 18:15] buthig666 commented on #726
The difference could also be that my A10 is a google tv and my A9 is an Android tv with the google tv skin...  pretty much the same thing but they are a little different

[2022-10-26 18:24] mitch133 commented on #726
On Android 10, the stuttering was indeed a little stuttering, but enough for me to notice it. Sound did not stutter, just image. Stuttering on Android 12 is due to the downmix issue reported in some other ticket with EAC3 7.1 tracks. No problem with AC3 5.1, DTS 5.1 or AAC (independently of the channel numbers)

[2022-10-26 18:33] t00gee commented on #726
My Philips 55OLED706 is Android TV v11 and I got the stuttering with v6.0.75. However the test version which @courville posted earlier seems to have fixed the problem. This means that playback speed control problem is not Android version related..

[2022-10-26 18:35] mitch133 opened #733 "[FEAT]: add an option to show only duplicated files"
### Description

Add a filter to show only the files having the same description. Not talking about TV shows here, more likely movies.

### Additional information

It could help to quickly identify some mistaken descriptions or some duplicated files. And differeciate them from Extended Cut versions for example (which also appear with the same description)

[2022-10-26 21:02] courville commented on #726
I have rolled out a new version that disables playback speed control to be on the safe side.
I have another test release that enables playback speed control only on android 10+: https://drive.google.com/file/d/1hLlEiJvvUsiY8JVypvKGD1FOjoy_AQRq/view?usp=sharing
Please test and report if it is still ok on your side.
Thanks for the testing and quick feedback loop.

@mitch133, I know you are on Androi

[2022-10-26 21:16] courville commented on #726
OK, I tested on a miproj amlogic based Android 9 device and audio speed control works.
I will thus need to find another solution (i.e. when on 1.0x do not try to apply setSpeed on PlaybackParams from AudioTrack since feature has been added in API23).

[2022-10-26 23:13] mitch133 commented on #726
Hi @courville, ok, got it. For what you confirm in your last post, it's not related to Android's version.
As a consequence, is there still a need to test your last release? Or is it fine to stay with 6.0.76 for now?

[2022-10-27 02:09] allonli commented on #643
this bug still exists in the current version. 2022.10.27

[2022-10-27 08:47] claudiubo opened #734 "Nova video player does not play mp3 files"
Nova video player does not play mp3 files

[2022-10-27 11:29] Philofil92 opened #735 "Nova V6.0.75 More Recognized DTS Audio Tracks"
### Description

I'm on Android TV 11 on a TCL 65C825 TV! Then I don't go through the HDMI or P/dif port, but like many, I simply plug my hard drive into the USB2 port of the TV and for the DTS tracks to be detected by the TV until now, it was necessary that I enable "Passthought Mode 2" in Nova preferences for it to work and on 6.0.75 it doesn't work anymore!!! It's not too bad since I went back

[2022-10-27 11:43] courville commented on #727
OK issue is present on nova-5_15_21 and nova-6_0_71 thus not a regression at least.

[2022-10-27 14:52] mitch133 commented on #727
Hi @courville , ok, good to know indeed.

Another thing I have to mention, is I installed yesterday the 6.0.76 version you sent us on my Freebox.
But today, I have the 6.0.75 (20221023.1335) version again from Google Store!!! How is it possible ? It's weird because I did absolutely nothing, and it's weird because the little stuttering I could notice with this same version before (on the Freebox Po

[2022-10-27 18:07] courville commented on #732
Thanks for reporting closing as duplicate of #722
Let's follow the resolution there.

[2022-10-27 18:07] #732 closed, assigned to nobody

[2022-10-27 18:08] courville commented on #722
OK I reproduce and I know where it comes from. Will try to deploy a new version curing the database.
See https://github.com/nova-video-player/aos-AVP/issues/719

[2022-10-27 20:25] Pentaphon commented on #734
It's called a video player for a reason. This player is about playing videos on your TV or touch-device, especially over a home network. You should use a server-based local music option like http://www.subsonic.org or a streaming music player like https://github.com/vfsfitvnm/ViMusic

[2022-10-27 21:51] kparal commented on #726
I can confirm that 6.0.76 fixed the stuttering on my TV. Thanks a lot for a quick response.

[2022-10-27 21:54] claudiubo commented on #734
Thank you for your answer!

I would like to have a single payer for all media , not one for movies, one for photos, one for songs and so on.
Seems like VLC fits the bill.

[2022-10-27 22:37] Pentaphon commented on #734
VLC is fine but I personally think it is best to use different apps for different media. I use Nova for playing video on my TV, mpv for playing movies on my phone, ViMusic for playing music on my phone, and Simple Gallery for photos.

[2022-10-28 14:50] mschumacher69 commented on #726
Not sure if it's the same issue or not, but now when I play 1080p x265 videos, every 4-5 min of play back, it skips a few seconds and starts stuttering until I rewind or exit and re-enter playback.

This is also happening on  6.0.76.

[2022-10-28 16:43] courville commented on #722
OK I think I have a version that should cure this regression even for devices in the field. Could you please test is 6.0.77 does the job? It is available here: https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.77
Note that playback speed is re-enabled but should not cause stuttering if speed is not changed from 1.0x.

[2022-10-28 16:43] courville commented on #726
OK another test to be made with 6.0.77: I re-enabled playback speed control (that works depending on the device) but avoided to change audio speed if the speed is set to 1.0x. Thus it should not cause stuttering if speed is not changed (finger crossed). Please let me know if it is ok on your side. Pre-release is available here: https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.77

[2022-10-28 16:59] courville commented on #726
This should not be related to this problem unfortunately.

[2022-10-29 08:48] Philofil92 commented on #735
Hello everyone, I tried the 6.0.76 update, same problem, I still don't have DTS detection that works... So, back to version 6.0.71 which works!!!

[2022-10-29 14:38] courville commented on #734
Nice set of open-source apps.

For now nova is not intended to be a music player. I understand the request but it will not be met short term.
Once upon a time there was Archos music player (sharing some codebase of course) for this purpose.

Thus closing this issue for now.

[2022-10-29 14:38] #734 closed, assigned to nobody

[2022-10-29 15:29] mitch133 commented on #722
Hello, thanks for the feedback and this new version. I will be able to test it next Tuesday.

[2022-10-29 15:51] HDGuy commented on #47
Any update on this? Nova is my chosen video player and I can’t watch most of my anime with it.

[2022-10-29 17:32] DrGogu commented on #47
I gave up on it.  I use Kodi. On Oct 29, 2022, at 10:51 AM, HDGuy ***@***.***> wrote:﻿
Any update on this? Nova is my chosen video player and I can’t watch most of my anime with it.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you commented.Message ID: ***@***.***>

[2022-10-30 11:37] courville commented on #644
OK I think I can reproduce the issue with an hdd (not on smb) hooked to the nvidia shield when swapping disks. I will investigate.

[2022-10-30 11:50] mschumacher69 opened #736 "[Bug]: Video stutters every 4-5 minutes"
### Problem description

Since 6.0.75, every time I play a video, it starts fine, then every 4-5 min, it skips around 10 sec and starts stuttering until I rewind. This keeps happening every 4-5 min and I have to rewind every time it happens to fix it.

### Steps to reproduce the issue

Just play a video on 6.0.75 or 6.0.76 and wait 4-5 min until it skips 10 seconds and starts stuttering.

### Expe

[2022-10-30 14:30] HDGuy commented on #47
Kodi has microstutters on the Shield, that’s why I’m using Nova.

[2022-10-30 15:43] DrGogu commented on #47
VLC is another option. On Oct 30, 2022, at 9:30 AM, HDGuy ***@***.***> wrote:﻿
Kodi has microstutters on the Shield, that’s why I’m using Nova.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you commented.Message ID: ***@***.***>

[2022-10-30 17:01] HDGuy commented on #47
On Sun, Oct 30, 2022 at 11:43 AM DrGogu ***@***.***> wrote:

I’m just using Nova as the front end with JustPlayer as the actual player.
JP is ExoPlayer based, plays pretty much everything and has PGS sub support.

[2022-10-30 21:36] Pentaphon commented on #47
@DrGogu this is a good solution if you're still willing to check it out. https://github.com/moneytoo/Player and use this as external player.

[2022-10-30 22:19] mjnewton commented on #466
Finally got round to updating this with a video showing the locking up actually happening.

I am now on Nova v6.0.76 and the issue persists, and as shown in the video below it sometimes happens nearly straight away and other times takes a while. Seems to be quite random in terms of reproduction. I've ruled out the network/NAS completely as the video below was being played off the 4K Firestick's in

[2022-10-31 17:30] jungleclaptrap commented on #443
I still think this feature is needed, because currently you have to press 4 buttons (back button-> back button-> the next track -> watch from beginning) just to go to the next track, compare to just having 1 button to go to the next track like most video players.

[2022-10-31 18:31] Pentaphon commented on #443
Yep! This might be a part of the "new v6 look" redesign but I'm not sure. We'd have to ask @courville if this feature is part of that redesign.

[2022-11-01 08:31] HDGuy commented on #47
Main issue with doing it this way is having to manually mark everything in Nova as “watched” after. Not a big deal, only takes a few secs.

Also, JustPlayer’s audio is out of sync when you launch it this way, I have to manually rewind it it every time to get it in sync again.

That said I’m hoping whenever ExoPlayer is finally integrated into Nova it should fix a lot of problems. It’s unfortunate

[2022-11-01 13:54] Philofil92 opened #737 "Nova V6.0.75 More Recognized DTS Audio Tracks"
### Problem description

I'm on Android TV 11 on a TCL 65C825 TV! Then I don't go through the HDMI or P/dif port, but like many, I simply plug my hard drive into the USB2 port of the TV and for the DTS tracks to be detected by the TV until now, it was necessary that I enable "Passthought Mode 2" in Nova preferences for it to work and on 6.0.75 it doesn't work anymore!!! It's not too bad since I we

[2022-11-01 13:54] #735 closed, assigned to nobody

[2022-11-01 13:55] Philofil92 commented on #735
I didn't quite understand the inquiries, so I opened a "BUG" position

[2022-11-01 14:08] Philofil92 opened #738 "Dolby TrueHD and Dolby Atmos"
### Description

No sound on film with "True HD" and "Dolby Atmos" audio track

### Additional information

TV TCL 65C825 Android TV 11 Mediatek M9615

I know there may possibly be a licensing problem...But many TVs are compatible with these audio formats!!! Just like the "Dolby Vision" which was recently implemented on Nova Video Player, it's not about Nova decoding the sound, so no licensing pro

[2022-11-01 14:21] Philofil92 opened #739 "Added automatic detection of "Imax" or "Imax Enhanced" metadata"
### Description

If Nova perfectly detects metadata HLG HDR HDR10 HDR10+ and recently Dolby Vision, only the detection of the very old "Imax" and "Imax Enhanted" format is missing to be almost the perfect video player!!! Because as with the "Dolby Vision" added recently, if the "Imax" format is not detected by Nova, it cannot be activated manually later on the television...

### Additional informa

[2022-11-01 18:31] mitch133 commented on #713
Happens to me as well, for example with Wonder (2017) and The Lion King (2019). Reports me Wonder Woman (2017) and some other stuff related to the Lion King (2019). In both cases, the reported movie is from the same year and shares some words with the title. Don't know if it helps. Deleting the description and seeking manually solves the issue, but it has to be done for every mistaken description.

[2022-11-01 20:03] mschumacher69 commented on #736
@courville any ideas here?

[2022-11-01 21:50] phhusson commented on #739
Got any sample?

1 nov. 2022 15:21:53 Philofil92 ***@***.***>:

[2022-11-02 00:02] mitch133 commented on #726
No stuttering on my side with 6.0.77

[2022-11-02 00:09] mitch133 commented on #722
Problem solved here with this new 6.0.77 version. Thx

[2022-11-03 01:29] Molasar49 commented on #726
Can confirm v.6.0.76 has this same issue too on FireTV (Fire OS 7.6.0.8)

[2022-11-03 01:34] ghost commented on #722
Can confirm v.6.0.76 has this same issue too (not removing info once deleted) on FireTV (Fire OS 7.6.0.8). Downloaded from the official Amazon App Store.

[2022-11-03 12:54] Philofil92 commented on #739
Hello Jean-Pierre and thank you for your feedback, it's always nice to know
that there is some follow-up on Nova!!! Examples, yes, I have! but given
the size of the files, it will be difficult to send them to you... (unless you extract a few pieces...)

But here are some titles of films shot in "Imax"
All the files I have are in "MKV" format

Aquaman (2018) MULTi VFF IMAX 2160p 10bit

Tron, L'Héri

[2022-11-03 14:18] Philofil92 commented on #739
Hello, just to move the file forward and others..., you can visit this site, where there are practically all video and audio metadata formats on the market, these are test videos from the main television manufacturers, so, to do compatibility tests with Nova, I think this is the ideal site!!!

https://4kmedia.org/

[2022-11-04 18:24] courville commented on #690
Causes issues on some AV receivers cf. https://www.reddit.com/r/NovaVideoPlayer/comments/ydse0k/nova_vid%C3%A9o_6075/

[2022-11-05 04:07] Pentaphon commented on #713
I always leave names formatted as The.Lion.King.2019.mkv and it never makes a mistake. Same naming format when you get stuff from torrent sites.

[2022-11-05 10:06] courville commented on #737
Hi, thanks for reporting, it should be fixed on 6.0.78 github pre-release.
See https://www.reddit.com/r/NovaVideoPlayer/comments/ydse0k/nova_vid%C3%A9o_6075/

I would welcome the output of `adb logcat` logs searching for the string `isEncoded` like `adb logcat | grep "isEncoded: hdmi RX supports"`

[2022-11-05 10:07] courville commented on #730
Hi, thanks for reporting, it should be fixed on 6.0.78 github pre-release.
See https://www.reddit.com/r/NovaVideoPlayer/comments/ydse0k/nova_vid%C3%A9o_6075/

I would welcome the output of `adb logcat` logs searching for the string `isEncoded` like `adb logcat | grep "isEncoded: hdmi RX supports"`

[2022-11-05 10:11] courville commented on #731
Hi, thanks for reporting. Your issue is different from the others ones (see https://www.reddit.com/r/NovaVideoPlayer/comments/ydse0k/nova_vid%C3%A9o_6075/).
Note that 6.0.78 is out reverting to previous behavior with an option to check receiver codec capabilities which obviously does work in your case.

I would be interested in what your AV receiver/TV really reports in terms of codecs capabilitie

[2022-11-05 10:13] courville commented on #738
Hi, thanks for reporting, was this working with 6.0.71 or is it a recent regression?

[2022-11-05 11:10] mschumacher69 commented on #738
@courville why do you ignore my posts and reply to everyone else?

Did you see the issue that I reported in #736?

[2022-11-05 11:20] Philofil92 commented on #738
Hello to you and thank you for your return, I have just made other tests...I have just tested this morning a film in Dolby Digital Plus 5.1 Atmos, Nova sends the signal to the television set, the sound is perfectly decoded!! !so, I think that the playback problems on TrueHD Atmos movies come from a problem with the audio codec which does not take this format into account!

[2022-11-05 11:20] Philofil92 commented on #738
Excuse me! I don't ignore your messages, but English is not my natural language, but "French" so, I go through a language translator and I have a little trouble understanding how to best post...

[2022-11-05 11:22] mschumacher69 commented on #738
@Philofil92 my message was directed at @courville, not you.

[2022-11-05 12:04] courville commented on #738
@mschumacher69, I am not ignoring your issue (need to get home and test on sabrina since I do not reproduce on my side on other hardware). I am trying to collect debug logs on the regression I introduced on all issue related to my recent fixes.

[2022-11-05 12:05] Philofil92 commented on #737
Thank you! I just updated to 6.0.78 and DTS detection works again by activating Passtrought Audio Mode 2 and Force Audio Passtrought. I answered you on https://www.reddit.com/r/NovaVideoPlayer/, but as I told you, English is not my natural language, I have a little trouble... Also, I don't know if it's better to post on https://www.reddit.com/r/NovaVideoPlayer/ or https://github.com/nova-video-pla

[2022-11-05 12:06] courville commented on #736
Not yet, I will test on actual sabrina hardware to reproduce. I do not see any connection on the recent modifications I made so far.

[2022-11-05 12:25] mschumacher69 commented on #736
Great, thanks for your reply!

[2022-11-05 12:44] mschumacher69 commented on #738
Ok gotcha, thanks.

[2022-11-05 14:19] courville commented on #736
OK, I launched the a video and so far so good (plays from SMB share 1080p).
For clarification sake, when it starts stuttering, does it keep stuttering afterwards or it gets back to non stuttering (to be sure I do not miss it while doing something else in the background)?

[2022-11-05 15:53] HDGuy commented on #620
Still not working on latest Google Play release 60.80.

[2022-11-05 16:33] courville commented on #674
Should be in 6.0.80 on Google Play and on github release. Please report if it works on your side.

[2022-11-05 16:54] KyleSanderson opened #740 "25fps videos do not open with pixel6 smooth display off and adaptive refresh rate enabled on nova"
### Problem description

In the last week there's been some bad update that prevents SSH media from playing in full screen. Flipping to Windowed mode allows it to play??

### Steps to reproduce the issue

Play media, watch it load forever, flip to Windowed mode.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

Pixel 6

### Operating system version

13

### Application

[2022-11-05 17:25] courville commented on #740
Thanks for reporting the issue. I just tested on my pixel6 via sftp and it works on my side.
For clarity sake, I opened a video via sftp (no windowed mode) and it plays full screen as expected.
Could you please check that your video does not have any black bars on top/bottom?
If this is not the case, I am interested in a sample to reproduce.

[2022-11-05 17:30] courville commented on #723
OK sadly, I tried on my side and I am able to connect with nvidia shield.
Are you using any adblocker (e.g. pihole)?

[2022-11-05 17:33] courville commented on #586
I happen to see a bug in nova with external storage that might be linked with this issue.
Can you please test 6.0.80 and let me know if it solves the usb indexing issue?

[2022-11-05 17:49] courville commented on #713
Thanks for sharing the examples: I can indeed reproduce. I will look into it.

[2022-11-05 17:52] HDGuy commented on #723
Yup. That’s probably it. I’m using AdGuard DNS. It worked recently for some reason but it seems to be pretty spotty.

Please check the Framerate matching topic I started in April. Still having problems with 29.97 even though no other apps have problems with it.

[2022-11-05 17:54] courville commented on #723
Please let me know what you did for adguard, I will add it to the faq https://home.courville.org/nova_video_player-faq/index.html (there is already something for pihole that could help).

For the framerate matching I will have a look.

[2022-11-05 18:08] HDGuy commented on #723
Turned it off. Lol

But once you’re logged in Trakt works fine with it on, at leas it does for me.

Strangely I have no problem logging into Trakt on other apps with it on, it could be just the browser component of Nova that’s having the issue.

On Sat, Nov 5, 2022 at 1:54 PM CourvilleSoftware ***@***.***>
wrote:

[2022-11-05 18:35] courville commented on #620
OK I see something strange indeed:
[code]

[2022-11-05 18:43] courville commented on #713
Damn, it turns out that I use Levenshtein distance to discriminate search results for tv shows but not for movies... This explains the behavior since it picks the first result and not the closest string match. I will add this feature for movies too.

[2022-11-05 18:55] courville commented on #686
Sorry for the late reply. I can see in the logs that indeed the wifi driver of the fire 10 is crashing.
This should really not happen. Perhaps nova triggers a platform bug but not really nova's fault...
Perhaps linked to MDNS discovery process.

[2022-11-05 19:18] Mellorman commented on #686
No problem, I don't expect a personalised service :)

My Fire tablet has recently had a new release of code, I'll try re-installing Nova and see if the problem persists.

[2022-11-05 19:51] mschumacher69 commented on #736
Hey, thanks for trying to replicate this!

Are you trying on 6.0.76 or 6.0.80? Because I updated to 6.0.80 today and played 4 1080p episodes without a hitch, so I don't know what you changed but the issue doesn't seem to be there any longer on 6.0.80!

[2022-11-05 20:16] courville commented on #736
I am using 6.0.80. Perhaps 6.0.76 had still some experimental speed control messing up the playback at 1.0x.
I am glad that it seems fixed with 6.0.80.
Let's close the issue for now and reopen if need be.
Thx

[2022-11-05 20:16] #736 closed, assigned to courville

[2022-11-05 20:54] SkinnyPeteBB commented on #730
Now I play correctly in dolby and dts on the amplifier. I want to point out 3 other bugs, of little importance but that in everyday use can be annoying. 1) M2ts files do not go forward well, which does not happen for mkv files, for other containers I do not know. 2) in files with multiple languages I can not see which languages I can select, I attach photos. 3) even if a file on the home screen, w

[2022-11-05 20:54] mschumacher69 commented on #605
Hey @courville, any luck replicating this?

[2022-11-05 21:28] courville commented on #605
@mschumacher69 could you please replicate the issue while using the 6.0.80 github version? I might get crash traces on sentry crashnalytics backend and see where it happens. I get traces only with github releases.

[2022-11-05 21:31] courville commented on #686
Please share if it interacts better with the device.

[2022-11-05 21:39] courville commented on #620
OK debugging it a little more: with the 29.97fps video on the nvidia shield using 4k resolution it goes through the various modes and first picks the 29.97Hz and then sees that 59.94Hz works two (double rate 29.97*2=59.94) and decides to pick 59.94Hz as designed. For me there is nothing wrong.

Could you check on your side the `adb logcat` and let me know if another refresh rate is picked?

[2022-11-05 21:47] mschumacher69 commented on #605
@courville it did happen today on 6.0.80 github version. Did you get the crash traces?

[2022-11-05 21:54] courville commented on #605
Yes I think I have it (Android 12, Chromecast) in EpisodesByDateActivity:
[code]
For internal reference only: https://sentry.io/organizations/nova-video-player/issues/3721379768/?project=6363443&referrer=release-issue-stream#exception

[2022-11-05 21:56] courville commented on #605
I know what it is but it does not mean that it will be simple to solve.
Related to https://github.com/nova-video-player/aos-AVP/issues/141

[2022-11-05 22:08] courville commented on #605
OK it seems that a LinkedBlockingQueue of capacity 5200 is not enough for you...
Let's try to double it and see if it works for you.
@mschumacher69  please check this build and let me know if it helps: https://drive.google.com/file/d/1Bk5X_yNrFEAcGfeL51aL1rFBfa4bza8p/view?usp=sharing

[2022-11-06 03:15] KyleSanderson commented on #740
It's not media related. I don't know what's wrong. It plays through Nova in VLC (which I find to be hilarious), and Windowed. There's something very off with the latest set of releases with the native open.

[2022-11-06 09:03] courville commented on #740
OK thus if I understand correctly, you are using VLC as external player right?

[2022-11-06 09:10] mschumacher69 commented on #605
Great thanks, I will test it out when I get back home and let you know how it goes.

[2022-11-06 10:48] Dogway opened #741 "[Bug]: TV Shows not parsing correctly from nfo files"
### Problem description

When I add a SMB shared folder called SERIES (which include nfo files) and scan, not all TV Shows are being added to the library and some seasons or even episodes get mixed into other TV Shows. When I got to inspect the source folder, the episodes seem to be correctly parsed, at least for posters, but they don't appear in the library.

This is strange because as it is it's

[2022-11-06 12:05] ad-on-is commented on #674
In the meantime I've switched from the MiBox to a FireTV cube, just installed 6.0.80 and the problem still persists.

[2022-11-06 15:29] mschumacher69 commented on #605
@courville unfortunately it's still crashing when browsing episodes by date while it's still re-scanning.

[2022-11-06 16:43] courville commented on #605
@mschumacher69, I can see the crash. Now that I have your Id it is easier to spot.
Question: does it happen only while it is still scanning?
When there is no scanning are you still able to reproduce the crash?

[2022-11-06 17:59] KyleSanderson commented on #740
To make it work a bit better, yes. Popup player in Nova always works, native doesn't, VLC works 80% of the time.

[2022-11-06 19:15] mschumacher69 commented on #605
@courville ok I just tested thoroughly and it only crashes if I browse episodes by date while it's scanning. If I wait for the scanning to complete and then browse episodes by date, it doesn't crash.

But while testing, I noticed that some TV series have the wrong info, so I changed info for all episodes under list episodes, but when I go from list episodes back to episodes by date, it crashes. I

[2022-11-06 20:46] courville commented on #605
OK clear thanks, I will try to reproduce on my end.

[2022-11-06 22:51] Pentaphon commented on #605
I've actually seen this as well on my Onn 4K with 2GB of RAM. I browsed while it scanned and it crashed so I redid the scan without touching the player and it finished just fine.

[2022-11-06 23:07] BudB8996 commented on #686
I also have the same exact problem running fire OS 7.3.2.4
I've uninstalled and pre-installed several times. I also rebooted the WiFi router.  Nothing changed

I contacted Amazon and they said it was a vendor issue.   My fire HD 8 has the same program and it works fine.

Does anyone have any suggestions to try?
Thanks

[2022-11-07 07:37] Mellorman commented on #686
Sadly no, still problematic with 7.3.2.6

[2022-11-07 08:54] #722 closed, assigned to courville

[2022-11-07 10:07] rahaaatul commented on #586
Sorry, my TV is broken. So I'm unable to test that.

[2022-11-07 10:34] courville commented on #686
OK let's see if this is MDNS discovery related: could you please test this build and reports if it kills wifi?
https://drive.google.com/file/d/1-UAS7hfb-UHHBXcILJArqkaDWflOoyUy/view?usp=sharing

[2022-11-07 12:56] Mellorman commented on #686
Sorry, nope, still breaking the wi-fi. I might try and video myself launching the app and the effect on the wi-fi, as there is a set sequence (wi-fi is killed, wi-fi comes back with "no bars", wi-fi gets full bars but can't connect, and repeat). At the same time the app starts without UPnP and SMB options, then populates them briefly, then removes them (and repeat).

[2022-11-07 13:16] BudB8996 commented on #686
I tried to install apk.  But it keeps coming up app not installed.

[2022-11-07 13:28] BudB8996 commented on #686
I tested it by uninstalling the original nova.  I then installed the test app and it installed.  When starting Nova I have the same results.  WiFi bouncing on and off and then locks off until you exit the program. Then It turns on and works normal.  One thing I found that it does work 1 in 10 times you try it.

[2022-11-07 13:39] courville commented on #686
@BudB8996 thanks for testing. I was worth the try but does not bring us light yet.

[2022-11-07 13:49] courville commented on #686
Perhaps the SMB/UPnP discovery process triggers this scanning the localnet...

[2022-11-07 20:24] kparal commented on #726
Heavy stuttering is back on [my TV](https://github.com/nova-video-player/aos-AVP/issues/726#issuecomment-1291924958) with version `6.0.80`. `6.0.75` was stuttering, `6.0.76` was smooth, and I was still waiting for `6.0.77` to appear in Google Play so that I can test it, but I was surprised to see `6.0.80` instead. It's broken again.

Can we please reopen this issue?

[2022-11-07 20:27] courville commented on #726
@kparal, do you confirm that you are not using a different playback speed?

[2022-11-07 20:34] kparal commented on #726
No, I'm not. I didn't even know it was possible, but I found the menu now and checked it, it's at `x1.00`. As before, I also tried toggling refresh rate autoadjust and disabling subtitles, no change.

[2022-11-07 20:53] courville commented on #726
@mitch133, @t00gee could you confirm on your side that stuttering is back on 6.0.80?
I do not quite see what I changed between the two versions that could cause this.

[2022-11-07 21:40] courville commented on #739
I would prefer working on real similar samples (you never know with names).
@Philofil92 would you have a complete file name searchable over the net or even a torrent link to be sure that we are on the same issue?

[2022-11-07 21:42] mitch133 commented on #726
@courville @kparal No stuttering here, both of my devices play movies well with 6.0.80, reason why I had previously closed this issue

[2022-11-07 22:08] courville commented on #726
@kparal just to be on safe side, could you please retest with no adaptive refresh rate, no passthrough? I do not see what changed on this front from 6.0.77 and 6.0.80 (apart from other issues corrected).

[2022-11-08 00:00] buthig666 commented on #726
Just quickly tested no ad re rate and no passthru...  It's definitely still a problem.  When I set Vlc as player no stutter.

[2022-11-08 07:03] kparal commented on #726
I don't use passthrough and I tested adaptive refresh rate on and off, stuttering always.

The problem might be in the changeset between 6.076 and 6.077. Because 6.077 never appeared for me on Google Play, I could never test it. I might have some time today, I'll try to figure out if I can sideload 6.077 apk directly into my TV and test it. A stupid question, but how do I figure out which apk arch

[2022-11-08 07:14] mschumacher69 commented on #726
You can go with universal, but the apk is double the size. The easiest way to know which architecture to use is to simply try, the wrong one will not install.

[2022-11-08 08:09] courville commented on #726
Thanks for the feedback.
Could you please test this build: https://drive.google.com/file/d/1DJDiGk_uMcYEHr-tK3SYRlhmlnntdpTN/view?usp=sharing
This release simply disables speed playback control.
For clarity sake, 6.0.77 has never been released to Google Play (only github).
I thought (and rechecked) that speed playback control was disabled in 6.0.80 with 1.0x playback speed but I might be wrong.
If

[2022-11-08 09:42] kparal commented on #726
I figured out how to sideload apks on my TV. My results:
6.0.75 stutters
6.0.76 smooth
6.0.77 stutters
6.0.80 stutters
https://drive.google.com/file/d/1DJDiGk_uMcYEHr-tK3SYRlhmlnntdpTN/view?usp=sharing stutters

It might just be down to CPU speed 🫤

[2022-11-08 10:10] courville commented on #726
@kparal thanks for the summary. It helps. I do not believe in the CPU speed track.

[2022-11-08 10:15] buthig666 commented on #726
Regarding Cpu speed: my Bravia Tvs, x950G and x85j, use the MediaTek 5893 and MediaTek 5895, respectively.  Don't know if that means much to anyone.  While I see dramatic stutter on the x950g I see subtle stutter on the x85j. (regarding the current v80 on playstore not the test build above in this thread.)

[2022-11-08 11:21] courville commented on #726
@buthig666 thanks for the support on this.
I have found one difference on codepath regarding AudioTrack buffer size and I would like to request feedback on the following build if this is not too much to ask https://drive.google.com/file/d/1cLKowsrSr30SLof53WVIViRm_LIm53Ls/view?usp=sharing
If this is not ok then I will redisable completely this playback speed which was not entirely eradicated to be

[2022-11-08 11:24] courville commented on #726
Playback speed eradicated build to be tested only after the previous one (pretty please) (should be like 6.0.76): https://drive.google.com/file/d/1K2nByWthfFprf4xSmLCb5fAANcNUjfC7/view?usp=sharing

[2022-11-08 11:25] buthig666 commented on #726
Will do, will report back in 15-20 minutes or so... :)

[2022-11-08 11:27] kparal commented on #726
The playback seems smooth to me!

[2022-11-08 11:41] buthig666 commented on #726
Ok sorry it's taking me a sec...  Literally a brand-new build and had to reset some smb settings on android.   The first file seems smooth (Ironically, I noticed the passthrough option is checked) I touched zero settings.  will try the second now.

[2022-11-08 11:53] buthig666 commented on #726
So weird, the second one (something something no more) Seems to be smooth as well.  I don't know if that's any help I tested both on the Bravia that performs the worst.

[2022-11-08 11:57] courville commented on #726
If first build is smooth second one must be too.
Thanks a lot for your testing.
This means that in your particular situation, allocating 4x AudioTrack getMinBufferSize makes video stutter and 1x is ok.
I need to chew upon this discovery...

[2022-11-08 12:25] courville commented on #726
OK I found a discrepancy in the preload buffer size and buffer size in avos audiotrack code.
I am a bit doing some black magic there to align since I have no way to reproduce (I will ask the old guard about this behavior).
Could you check if this build meanwhile (pretty please again, when you get a chance): https://drive.google.com/file/d/1hXBat4cotfzZJev4y6nxYJfEj2mZKLFU/view?usp=sharing

[2022-11-08 13:24] kparal commented on #726
Stutters again.

[2022-11-08 20:46] courville commented on #726
FYI https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.81 released

[2022-11-09 00:33] BudB8996 commented on #686
I did some more testing.  Here is what I saw.  On start-up it kills the wifi. I continued to watch the movie, about ten 10 minutes later I turned the WiFi on and it stayed connected.  After watching the movie I stopped the movie it still was connected until I hit the back key. It went off-line.  I guessing it is something to do with trak connection.

Hope this helps

[2022-11-09 00:41] BudB8996 commented on #686
I think the problem might be with trak. I did some testing and found after watching a movie for a couple of min. You turn your WiFi on and will stay connected until you hit the back key. Probably trying to update play position in trak.  It will kill the connection.

[2022-11-09 07:16] kparal commented on #726
Just to validate - a smooth playback.

[2022-11-09 07:55] buthig666 commented on #726
Thumbs up!  Thanks so much for your hard work!

[2022-11-09 08:13] courville commented on #726
Let's close the issue for now.
TODO: put global experimental option for experimental playback speed.

[2022-11-09 08:13] #726 closed, assigned to courville

[2022-11-09 12:05] courville commented on #686
@BudB8996 easy test for you would be to disable the trakt sync in nova options.

[2022-11-09 12:21] Mellorman commented on #686
I don't use Trakt, but I get the wi-fi off/on headaches, so I would suggest
it isn't related to Trakt.

On Wed, 9 Nov 2022 at 12:05, CourvilleSoftware ***@***.***>
wrote:

[2022-11-09 21:10] mitch133 commented on #727
Hi @courville, I was wondering, is it something you're planning to work on (or already are), or is it not a priority ? As you mentioned this was already the case in V5 of Nova.

In all cases, thanks for your work and regular updates!

[2022-11-10 16:37] courville commented on #726
Note to self: issue happens on Mediatek CPUs (MT5891, MT9970B). Perhpas to reproduce on firetv dongle...

[2022-11-11 16:16] courville commented on #713
This should do it in next release (checked that it works with @mitch133 file names at least).

[2022-11-12 11:24] courville commented on #605
OK I have some suggestions to test. Let's not put any limit in the LinkedBlockingQueue for now. If this works, second step will be to implement 2 VideoLoaders, one for sequential non schizophrenic episode/movie by date display and another one for the other requests (might speed things up too).
Can you please test this build and report if you still have a crash (it might be the case): https://drive

[2022-11-12 14:50] mschumacher69 commented on #605
Ok so I tested and it didn't crash when I tried browsing episodes by date while it's scanning, but it got stuck when I backed from episodes by date and I had to press the home button on my remote to exit. This only happened the 1st time I tested. Subsequent tries went fine, it doesn't crash while browsing episodes by date while scanning and I can back out of it.

One thing I noticed though is that

[2022-11-12 15:09] courville commented on #605
@mschumacher69 thanks for the testing and report.
This gives a valid direction for a fix. I noticed the circle stopping and starting too (I need to see what it means: perhaps internal storage scan, then network storage scan).
I have other ideas to test as well. Perhaps this will result in another build to test.

[2022-11-12 17:08] mschumacher69 commented on #605
@courville ok so here's what's happening. I watched an episode and after I finished, it was still stuck on scanning under Network without showing the rounding circle in the top right. I tried exiting and re-entering the app several times but it was still stuck on scanning under Network but it wasn't actually scanning because it didn't add the newly downloaded episodes (this might be a one time flu

[2022-11-12 19:31] courville commented on #605
OK trading an issue with another one... Will try to reproduce.

[2022-11-12 19:49] courville commented on #605
Let's try this one with 5s throttling on VideoSelectionLoader and a threadpool of size 1:
https://drive.google.com/file/d/17TDo4Cbb7dFoAX4kljjhSVYSKPrgK6Bu/view?usp=sharing
Not sure it will help.
It could be interesting to wait for the app to crash following the freeze (or ANR) to get a better feel of what is stuck of you can.
P.S.: instead of providing universal builds, I could provide arm32 ones

[2022-11-12 20:00] courville commented on #605
FTR, now there is an "infinite" loader pool that are updated all at once when a new episode is detected which could be overwhelming for the device and cause the freeze. Perhaps this is the interpretation of what happens. If this is the case, I do not see any viable solution (other than blocking such heavy views while scanning).

[2022-11-12 20:49] mschumacher69 commented on #605
Ok I'll give it a try, but I have to wait until I have new episodes available. I'll also wait for the app to crash or ANR once it freezes.

Yeah you can provide arm32 builds instead of universal ones.

[2022-11-13 03:14] i990049 opened #742 "Can anyone tell me how to play videos from USB stick continuously?"
### Problem description

Can anyone tell me how to play videos from USB stick continuously?

### Steps to reproduce the issue

play videos from USB stick

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

zidoo x9s

### Operating system version

Android 7.0 32bit

### Application version and app store

_No response_

### Additional system information

_No response_

###

[2022-11-13 08:32] wawava commented on #643
this bug still exists in the v6.0.82 release,please fix it

[2022-11-13 08:34] wawava commented on #643
maybe 34 is not enough ,i see one video ,it's have 44 subtitles
if you need test ,pelase down the video though bt [v6.0.82 release](magnet:?xt=urn:btih:A26DD97E6F117A89E84645D2C66042C03AFC6EB6)

[2022-11-13 08:46] Pentaphon commented on #420
@phhusson @courville I've been playing 4K files and I've been running into stuttering issues more than I'd like. I think the current buffering settings should be re-visited and re-adjusted for today's increasingly 4K-heavy video landscape. I don't think that it is totally necessary to let users adjust buffering settings themselves, but the defaults most definitely need to be increased for 4K playb

[2022-11-13 11:28] courville commented on #643
I am able to reproduce the issue with @moneytoo mn-sample file on leanback interface.
In avos:
[code]

[2022-11-13 16:00] courville commented on #643
Works on mn-sample file. Will be released on github later today as 6.0.83.

[2022-11-13 16:00] #643 closed, assigned to courville

[2022-11-13 16:19] courville commented on #643
https://github.com/nova-video-player/aos-AVP/releases

[2022-11-13 16:28] courville commented on #605
BTW current fixes have been released on github as 6.0.83 pre-release with an arm32 build.

[2022-11-13 16:40] courville commented on #713
Please reopen if issue persists.

[2022-11-13 16:40] #713 closed, assigned to courville

[2022-11-13 16:43] courville commented on #620
@HDGuy please confirm that autorate switch in your case selects 59.94Hz (which is the current intended behavior)?
This is what I get.

[2022-11-13 16:45] courville commented on #586
OK let's assume that the issue is resolved in my latest changes.
See https://github.com/nova-video-player/aos-MediaLib/commit/8933b8e33c228f1d35b820bd7c4e1637b1bbb712
Reopen the issue if need be.

[2022-11-13 16:45] #586 closed, assigned to courville

[2022-11-13 16:47] courville commented on #191
Issue should be solved.

[2022-11-13 16:47] #191 closed, assigned to courville

[2022-11-13 17:56] courville opened #743 "[Bug]:"
### Problem description

Nova crashes when playing a video on motorola in desktop mode (motorola ready for).

### Steps to reproduce the issue

Open a video with nova in desktop mode.

### Expected behavior

_No response_

### Your phone/tablet/androidTV model

moto g(100)

### Operating system version

Android 12

### Application version and app store

6.0.83

### Additional system information

_

[2022-11-13 18:04] #743 closed, assigned to nobody

[2022-11-13 21:40] mitch133 commented on #713
Works for me with 6.0.83, thank you.

I still have one file not being scraped. It's : "Les Aventures De Tintin (S01E13) - Tintin Au Pays De l'Or Noir (1992)"

I have to remove the beginning of the filename (Les... E13) in order to find the description.
It might be due to its long name, but as it works for the other 20 episodes I'm still a bit surprised.

Not a big deal in the end, but for you to k

[2022-11-14 08:43] mschumacher69 commented on #605
Ok I'll test on 6.0.83 and report back, but still waiting for new episodes to be available.

I'll let you know.

[2022-11-14 12:12] courville commented on #703
Issue fixed in 6.0.83.

[2022-11-14 12:12] #703 closed, assigned to nobody

[2022-11-14 12:16] courville commented on #420
I will add a hidden option to play with buffering sizes for you to experiment and report if any change would be beneficial.

[2022-11-14 15:18] Pentaphon commented on #420
Thank you!

[2022-11-15 18:34] courville commented on #420
I have a version that has max compressed iframe size and stream buffer size to play with.
Unfortunately, I do not think it will help.
What I can observe is that over SMB shares using Wi-Fi or Ethernet nova stutters on very large 4k videos while other players don't.
However this is not the case over SFTP.
For me the issue is more linked to https://github.com/AgNO3/jcifs-ng/issues/263
See https://gi

[2022-11-15 20:56] courville commented on #420
Noet to self: https://stackoverflow.com/questions/43109872/performance-android-jcifs-file-reading-is-slow
-> not relevant too old.

[2022-11-16 01:21] Pentaphon commented on #420
Unfortunately I don't use SFTP since it's simply not as quick to use as SMB which is very fast and simple to use on Windows or Linux. However, if you say that SFTP is faster on Nova at the movie then I will take your word for it and I might give it a shot if I can find tiny, simple SFTP solutions for Windows and Linux.

If that issue with AgNO3 is actually the problem then I apologize for pressing

[2022-11-16 07:50] courville commented on #420
@Pentaphon, I will let you play wit the buffer tweaking but I do believe that the current settings are really ok.
Solution for increasing SMB performance would be either i) wait for mbichler to implement multi-credit requests but this could take a while (or never happen), ii) switch to https://github.com/hierynomus/smbj which is limited to SMB2/3 (users will complain about loss of SMB1) and would

[2022-11-16 08:09] Pentaphon commented on #420
Fair enough. I wasn't aware that the current SMB implementation was currently that slow so that may indeed be the actual core issue at hand. However, if buffer tweaking can help with the current slow SMB performance then perhaps it may help users see less buffering.

Well considering that 1) SMB1 is very insecure by today's standards 2) everybody should be using an up-to-date OS/NAS that supports

[2022-11-16 08:20] Pentaphon opened #744 "[Bug]: SFTP shares do not get scraped and added to the library like they do with SMB"
### Problem description

SFTP shares do not get scraped and added to the library like they do with SMB

### Steps to reproduce the issue

1) Clean install Nova from the Play Store
2) Connect to SFTP server
3) I'm able to browse the share as expected and add it as an FTP shortcut
4) I'm also able to add it as an indexed folder to the section below.
5) However, it doesn't automatically scrape all th

[2022-11-16 09:35] Pentaphon commented on #742
You mean have them play one after the other when one is done?

When playing a video, press up on the D-pad and browse right to the playback menu and select "folder" mode. This will play all the videos in a folder.

[2022-11-16 19:38] Tellivision opened #745 "[Bug]: cannot use nova as external player on Android 12"
### Problem description

On Chrome Cast/Google TV 4K since android 12 Nova player can not be used as a external player, app dont even see Nova Player it doesnt show up as a option. After a look at the apk it does not have a V3 signature (android 9+). This would be my guess why it cant be seen by other apps.

### Steps to reproduce the issue

Update Chome Cast 4K to Android 12

### Expected behavio

[2022-11-17 17:43] okan35 opened #746 "Video lag when downloading stuff on torrent."
Title it is basically. Nova lags when I have downloads or seeds on while vlc doesn't get affected from this. No idea how it does not lag on vlc though.

[2022-11-18 16:41] mschumacher69 commented on #605
@courville ok so I got new episodes, I browsed episodes by date while it was scanning, all was fine until it detected the new episodes and froze. I waited for it as you suggested, it crashed and restarted. I tried browsing episodes by date while scanning after it restarted and it was freezing and crashing every time even though it wasn't adding new episodes. This happened around 3 times and after

[2022-11-18 21:13] courville commented on #605
Thx for the feedback and testing.
I guess I could  `LoaderManager.getInstance(this).destroyLoader(cursorLoader.getId());` when in the `EpisodesByDate` activity. This could prevent the freeze and crash. Will experiment on it.

[2022-11-18 21:49] courville commented on #605
Strangely enough, there is no recorded crash for Chromecast device on sentry backend these last days...

[2022-11-19 03:19] KyleSanderson commented on #740
Any luck? I'm having to do this on every play.

[2022-11-19 09:54] courville commented on #740
I am sorry but either I fail to reproduce your use case on my pixel 6 or I have not quite yet understood the problem.
Could you please give me steps to reproduce with nova video player itself (no external player, sftp, non PIP mode).
Screenshots might help.

[2022-11-19 10:12] courville commented on #744
Unfortunately, I tried to reproduce on my synology NAS and I get the overall network share added to the library when indexing the sftp folder (this behavior is independent of the fileprovider in the code).

[2022-11-19 10:20] Pentaphon commented on #744
@courville is there anything I am doing wrong that you can see from my screenshot?

[2022-11-19 10:28] courville commented on #744
No I am not seing anything wrong.
What I did on my side is:

- add a sftp shortcut without indexing indicating the root of the filesystem I am interested in
- browse from this shortcut to add couple of folders (e.g. movie, serie etc.) this time ticking the indexing option

It worked.

[2022-11-19 10:59] Pentaphon commented on #746
@okan35 I do notice the same thing. Whenever I stream over SMB from my PC to my TV and I download a torrent on my PC and I'm not even close to saturating my connection, Nova stutters on the TV as if my PC is lagging but I'm running a fairly recent CPU with an SSD on a strong Wifi connection so my PC isn't being overwhelmed at all.

I think it might have to do with courville's comment here about ho

[2022-11-19 11:28] Pentaphon commented on #744
@courville Oh I think what's wrong is that Nova is unable to index movies from the root folder from the SFTP share and it can only index subfolders that come after the root folder. Is there any way to force Nova to index SFTP shares from the root folder? For example, when I go to ftp://192.168.4.24:22 I see all the folders and video files in the root share. Is there any way Nova can just index all

[2022-11-19 13:47] mschumacher69 commented on #605
That's strange, it crashed at least 4-5 times when I was testing yesterday.

I'm on the latest 6.0.83 from github.

[2022-11-19 14:31] Pentaphon commented on #420
@courville So I tried SFTP with a bunch of high-ish bitrate 4K files that would stutter over SMB and it's definitely faster. I just wish Nova could scrape the entire root share the same way Nova does with SMB shares.

A configurable buffer value may still mitigate the current stuttering over SMB though. I'd have to experiment. I do think that I could find a better buffer value that may end up help

[2022-11-19 14:58] courville commented on #605
Anyway the solution is for complex views (EpisodesByDate, MoviesByGenre) is to use cursor loaders that do not update so that the overall system does not explode while scanning network shares.
Downside If there is new video file, users might have to exit and re-enter the activity for a refresh.

[2022-11-19 15:17] Mellorman commented on #686
And here's an interesting (YMMV) thing... if I turn Wi-Fi off, then launch Nova, I can't turn Wi-Fi back on again while Nova is running. Not sure if that's a useful diagnostic or not?

[2022-11-19 15:37] mschumacher69 commented on #605
Yeah I think that would be an acceptable trade off as long as we don't have to exit and re-enter the whole app for a refresh.

[2022-11-19 18:32] courville commented on #605
OK let's experiment to `stopLoader` when result is available with `onLoadFinished` cf. https://stackoverflow.com/questions/21149917/is-it-actually-unsafe-to-call-stoploading-on-a-loader-that-is-being-managed even if this is not recommended in https://developer.android.com/reference/androidx/loader/content/Loader.html#stopLoading()
This should stop the Loader to update in case of newer videos.
@msc

[2022-11-19 19:39] mschumacher69 commented on #605
Sure, I'll let you know once I have new episodes.

[2022-11-20 00:38] KyleSanderson commented on #740
OK so it's a fundamental playback problem unrelated to networking. It's trying to change the display refresh rate from 60hz to 90hz because it feels that's the better fit for the media, but because Smooth Display is disabled (which you do under Settings > Display, no developer tools needed) on the Pixel 6 the application gets stuck in a refresh rate attempt loop and spins on "Loading Video" foreve

[2022-11-20 09:42] courville commented on #740
Ok sounds like we are jumping to another potential issue.
First, thanks for sharing a logcat. However it does not show any issue and logcat stops before refresh rate negotiation.
If this is not a problem of network playback please let's focus on local storage playback.
When disabling "smooth display" on pixel6 system display settings, and activating adaptive refresh rate on nova, I do not reproduc

[2022-11-20 12:30] KyleSanderson commented on #740
No, it's the same issue.

Are you playing media where Nova thinks it should refresh rate change? (PAL vs NTSC?). I can reproduce this 100% of the time now that we know what it is.

Nova spins on trying to change the display settings, but because Smooth Display (which is disabled) is blocking the 90hz change, it never happens. There's an underlying Android bug here, that it's still advertising 90hz

[2022-11-20 12:43] KyleSanderson commented on #740
I suppose the other way to not hit this bug is if you have "Automatic Refresh Rate Switching" disabled in Nova.

[2022-11-20 13:00] courville commented on #740
According to your logs, it seems indeed that it tries to switch mode in loop.
I tried with more videos and indeed I can reproduce now with a 25fps video and not with a 24fps video.
Setup: smooth display disabled on p6 and adaptive refresh rate on on nova.

[2022-11-20 13:24] courville commented on #740
OK fixed. Thanks for helping converging towards the core of the issue.
6.0.86 released on github, please give it a try and reopen the issue if need be.

[2022-11-20 13:24] #740 closed, assigned to courville

[2022-11-20 13:26] courville commented on #744
OK this could be it indeed: I need to check the code in that direction.

[2022-11-20 13:28] #723 closed, assigned to nobody

[2022-11-20 13:52] courville commented on #706
I just added fake file "Doctor_who-s01e01.mk" and it got scraped correctly to a 1963 aired episode. I did not check with nfo file.

[2022-11-20 13:53] #697 closed, assigned to nobody

[2022-11-20 13:53] #696 closed, assigned to nobody

[2022-11-20 13:55] courville commented on #705
Duplicate of https://github.com/nova-video-player/aos-AVP/issues/368
Let's follow this issue there.
Note: for higher speed support, use sftp instead meanwhile.

[2022-11-20 13:55] #705 closed, assigned to nobody

[2022-11-20 13:55] #663 closed, assigned to nobody

[2022-11-20 14:49] Pentaphon commented on #420
@lars18th @mickeul the stream buffer size option was just added in the 6.0.86 build if you want to get started on tweaking it for your needs. Thanks to courville for making this happen.

[2022-11-20 15:20] okan35 commented on #746
Hello, thank your for sharing the information. I might try this once. I found a simple looking tutorial. If you try before me please also share the result here.

https://www.youtube.com/watch?v=4swyomSB6wI&t=1

[2022-11-20 16:17] courville commented on #420
FYI in order to access the buffer sizes in nova settings you need to enable advanced option by clicking several times on enable sw decoding (6 or so). However it will no help with SMB because bottleneck is on jcifs-ng and buffer starvation will occur.

[2022-11-20 16:24] Pentaphon opened #747 "[FEAT]: Seekable Buffer that does not get destroyed when seeking within buffering range"
### Description

The buffer collected by Nova seems to get destroyed when you skip ahead within the buffer range and has to rebuild itself all over again. Let's say you have the equivalent of 20 seconds of video buffer while playing a video and you skip ahead 10 seconds in the video. As soon as you skip ahead, the visible buffer in the progress bar (the faded blue portion to show buffer) is gone e

[2022-11-20 16:26] Pentaphon commented on #420
@courville I was just playing around with the stream buffer size option and it has yielded a massive improvement in playback for me, especially for 4K files. There's no stuttering with higher bitrate files over Wifi anymore since I now have a visible readahead buffer in the progress bar with a healthy amount of buffer. Great work! I think a lot of people will appreciate this! I've had no problem r

[2022-11-20 16:32] Pentaphon commented on #746
I think this might be an issue for Windows and not Nova because I've seen this issue today as well when using SFTP for streaming. I'm using Windows 11 and torrenting slows down Nova playback on the Fire Stick 4K when I torrent to the Windows 11 PC I have my shares on so that might be a performance issue related to the OS I am using.

What OS are you running your shares on?

[2022-11-20 16:32] ShlomobCohen commented on #706
Doctor_who-s01e01 does not show air date, nor is the "<aired>" in it's corresponding .nfo file.
![image](https://user-images.githubusercontent.com/95410397/202913914-efb6f98f-5bbc-4fb6-b98e-13d25e95e3dc.png)

[2022-11-20 16:35] courville commented on #706
OK issue is clear to me now. I will investigate.

[2022-11-20 16:35] ShlomobCohen commented on #706
Whereas in Doctor_who-s07e01 which aired on  3 January 1970, the correct air date is shown and the <aired> tag is in the .nfo file.
![image](https://user-images.githubusercontent.com/95410397/202914034-984705f1-b50a-4864-ba8e-2b674f8be1ff.png)

[2022-11-20 16:36] ShlomobCohen commented on #706
tag above refer to the aired tag

[2022-11-20 16:36] ShlomobCohen commented on #706
Thank you

[2022-11-20 16:37] Pentaphon commented on #744
Thanks. This would make using SFTP shares just as simple as it is to use SMB shares, for anybody affected by the current SMB bottleneck and wants to try SFTP in order to get much faster throughput when streaming over their home network. The indexing experience when using both should be virtually the same but currently is not.

[2022-11-20 16:37] ShlomobCohen commented on #706
Using the lastest version of Nova
![image](https://user-images.githubusercontent.com/95410397/202914172-453403e7-730c-4706-a192-ed75a5572cf8.png)

[2022-11-20 16:43] okan35 commented on #746
I use windows 10 as my server on an not very amazing old laptop but it has been sufficient mostly except for 4k streams which I think it is actually stemming from my xiaomi mi box not handling it.

[2022-11-20 18:28] Pentaphon commented on #746
Well that could be due to any number of issues. The speed and type of storage of the laptop, the way you're streaming over WiFi or Ethernet, the speed of your router, the quality of your WiFi signal, etc.

I tried using VLC with torrents as you described and got the same slowdown with torrents on VLC so I personally don't think Nova is the issue here. You may have to do more testing on your side t

[2022-11-20 20:07] courville commented on #420
@Pentaphon, thanks for the feedback.
Does it help in your case for smb (it should not)?

[2022-11-20 20:23] Pentaphon commented on #420
I think it does, actually. The extra read-ahead gives me enough buffer data to not have any stutter even on SMB with the current bottleneck. Before, I would get stutter on 4K movies but now I have yet to experience that on the same movies on the same network from the same SMB shares. I think 24MB is actually too little for 4K content based on my testing. Have you tested the default value with 4K c

[2022-11-20 20:42] mschumacher69 commented on #605
@courville does this last change only apply to new videos or does it also apply to removing videos?

Because today I deleted episodes from the share and it crashed once in episodes by date after the deletion, do you see it in the sentry backend?

I'm still waiting for new episodes to test with new videos.

[2022-11-20 20:56] KyleSanderson commented on #740
will do, and no worries - thank you very much.

[2022-11-20 22:11] courville commented on #605
The last change only says to make a query on the db to display the current view only once and do not refresh it if there is changes while on the current view.
Thus it should not be the cause of your crash.
Perhaps your crash is this one https://sentry.io/organizations/nova-video-player/issues/3753224570/?project=6363443&query=release%3Aorg.courville.nova%406.0.84-20221119.1915%2B2547701+error.unha

[2022-11-21 06:09] courville commented on #605
Ok, I am able to reproduce and I will fix the issue.

[2022-11-21 10:15] Lucky390163 opened #748 "Auto Rotation"
### Problem description

Auto rotation is not working in nova player it cannot rotate even the option is on.

### Steps to reproduce the issue

Play the video.

### Expected behavior

Not good.

### Your phone/tablet/androidTV model

SM-M127G

### Operating system version

12

### Application version and app store

6.0.81 - 20221108.2142

### Additional system information

_No response_

### Debug

[2022-11-21 13:58] mitch133 commented on #748
Works for me with 6.0.81 + Galaxy S21 (android 13)

[2022-11-21 16:57] mschumacher69 commented on #605
Ok great. So shall I update to 6.0.86 or do you still need me to test anything on this current test build?

[2022-11-21 18:00] courville commented on #605
Please wait for the 6.0.87 release later tonight.

[2022-11-21 19:09] mschumacher69 commented on #605
Ok I'll wait for 6.0.87.

But something odd happened today, I deleted episodes from the share and browsed episodes by date while it's scanning to see if it's gonna freeze/crash, it didn't and the episodes didn't disappear from episodes by date (which I know is working as intended), so I exited episodes by date and re-entered to see if it's going to update and if it's going to freeze/crash, it upda

[2022-11-21 19:10] Pentaphon commented on #605
It's already up on github releases.

[2022-11-21 19:12] mschumacher69 commented on #605
Ok thanks, I'll give it a go and let you know.

[2022-11-21 19:20] courville commented on #605
For your video stuttering issue, it might be that the multimedia stack of the chromecast was fubar. Will need some logs if it happens again.

[2022-11-21 19:45] mschumacher69 commented on #605
Ok I will let you know if the stuttering issue happens again.

But the freezing/crashing issue is still happening on 6.0.87. I browsed episodes by date while it's scanning right after I installed it (no new files or deleted files), but it froze after a while and restarted, tried episodes by date again, froze and restarted again, I then waited for it to complete the scan (waited for the rounding ic

[2022-11-21 21:07] courville commented on #605
OK thus throttling with 1 hour delay does not help. The only way is to stop loaders according to your feedback on 6.0.85 leading to the crash when entering videoIDetailsFragment and getting back to episodesByDate fragment. I thus need to understand how to not confuse loaders/cursors. Thanks for the testing and feedback.

[2022-11-22 09:23] Lucky390163 commented on #748
But not in my device i tried all rotation methods.

[2022-11-22 09:25] courville commented on #748
@Lucky390163, perhaps an accelerometer issue. Have you tried to reboot the device?

[2022-11-22 10:08] Lucky390163 commented on #748
Yes 5 time while in other video players app working too smoothly.

[2022-11-22 10:09] Lucky390163 commented on #748
And Sir Nova video player is consuming more batter than i expected it consumes 3 percent battery in 15 minutes while my Samsung video library player consumes 2 percent battery in 35 minutes.

Device - SM-M127G battery - 6000mah

[2022-11-22 10:13] courville commented on #748
Let's not mix issues please and focus on the first one.
In nova video player, can you please check that in the player menu (i.e. while playing the video), you have the option "Automatic screen rotation" enabled?
Of course you need to have global phone setting to autorotate too (but that I trust is ok).

[2022-11-22 10:19] Lucky390163 commented on #748
Yes.

[2022-11-24 01:42] Lucasy0113 opened #749 "[FEAT]: fast forward and backward videos with the middle wheel of a mouse"
### Description

Could you provide support so that on Android TV with a Xiaomi mi box s, a video can be moved forward and backward using the middle wheel of a mouse connected to the mi box s?

Pudieran dar soporte para que en Android TV con una Xiaomi mi box s, se pueda adelantar y atrasar un video usando la rueda del medio de un mouse conectado a la mi box s ?

### Additional information

Being a

[2022-11-24 06:52] Lucky390163 commented on #748
Yes.I tried system auto rotate not works in nova place while vlc, mx pro can rotate easily.

[2022-11-24 08:13] so1ar opened #750 "[Bug]: Audio explodes with some DTS-HD audio tracks."
### Problem description

When I play A video with DTS-HD audio track using nova player, the audio sometimes have sharp noises like explosion, which is very annoying.

### Steps to reproduce the issue

- Play some video with DTS-HD video track using nova player, like [this one](https://rarbgprx.org/torrent/ms9do4n);
- The noise appears at the very beginning of the video that I mentioned above;
- Pl

[2022-11-24 13:14] courville commented on #748
OK I did extensive tests on a samsung s22 and I am sorry to report that on this device I am unable to reproduce your regression behavior. For now, I have no way to reproduce/debug.

[2022-11-24 20:43] courville opened #751 "implement app bundle"
### Description

Cf. https://developer.android.com/guide/app-bundle
It will become mandatory in May.

### Additional information

For now Google Play Console upload fails via triple-t: `./gradlew publishNoamazonReleaseBundle` yields:
[code]
Manual upload yields to Google Play Console message: `The domain name '*' you have specified is invalid. Specify a valid domain name.` even after enabling Goog

[2022-11-24 20:50] #751 closed, assigned to courville

[2022-11-25 21:50] courville opened #752 "API33 migration issue with storage permission"
### Description

Migrating to `targetSdk 33` makes `PermissionChecker` fail.

### Additional information

Cf. https://issuetracker.google.com/issues/249438918

[2022-11-26 16:19] #752 closed, assigned to courville

[2022-11-28 14:12] phhusson opened #753 "[tech debt] Switch from 7point1 to 7point1_surround for sdk >= 25"
### Description

native/avos/Source/audio_interface_audiotrack_new.c should use CHANNEL_OUT_7POINT1_SURROUND instead of CHANNEL_OUT_7POINT1, cf https://developer.android.com/reference/android/media/AudioFormat#CHANNEL_OUT_7POINT1_SURROUND

Kodi uses CHANNEL_OUT_7POINT1_SURROUND https://github.com/xbmc/xbmc/blob/master/xbmc/cores/AudioEngine/Sinks/AESinkAUDIOTRACK.cpp#L145

### Additional informati

[2022-11-28 20:00] ghost opened #754 "[Bug]: SMB connection ends after 16/17min when using Just Player as an external player"
### Problem description

I originally posted this in the justplayer bug report:
"I have a very specific error using Nova Video Player with just player as the one actually playing the files. This issue does not occur when I start SMB videos from the Just Video Player itself, but when starting them from NOVA player.

After 16-17min (every time) the video stops playing with the following error: "java

[2022-11-28 20:44] ghost commented on #754
It seems me posting here was unnecessary, as I seem to have fixed it. Apparently, Nova was not allowed to run in the background by the OS. I did not expect that Nova was feeding justplayer the stream in the background.

[2022-11-28 23:17] phhusson commented on #754
Ok thanks for the report. So how did you fix it?

Worst case we probably can have JustPlayer do a foreground service bind to us to keep us alive

[2022-11-29 08:45] courville commented on #754
Perhaps we need to have a notification while playing not to be killed. I will implement it.

[2022-11-29 10:19] ghost commented on #754
The NOVA app was actively restricted as a background process in the samsung android OS. I now changed it to unrestricted and will later try if it also happens when the app is in 'automatic/balanced mode' (There is unrestricted, automatic and restricted modes on my tablet). I am not sure if the OS itself decided to restrict the app or not. Can't imagine me actively restricting Nova though.

 So I'm

[2022-11-29 11:00] courville commented on #754
FYI, I do not reproduce on pixel device, must be a specific samsung behavior.

[2022-11-29 11:19] phhusson commented on #754
I think it's possible that Android automatically switches that mode (the "this app has been unused" notifications)... Anyway, we can probably check the value of that setting, to tell the user to switch it on when enabling external player

[2022-11-29 12:16] Lucky390163 commented on #748
Can i send u a video recording of this.

[2022-11-29 12:23] courville commented on #748
@Lucky390163, yes this could help indeed. Thank you.

[2022-11-29 14:10] ghost commented on #754
It was also only occuring on my tablet. Neither my Oneplus, nor my pixel showed this behaviour, so it definitely is Company/OS specific.

[2022-11-29 14:50] bladyle opened #755 "[Bug]: Can't access SMB share as a guest on Android TV"
### Problem description

As title says cant access SMB from Unraid server on Android TV. I have tried on my phone and there was no problem. Also from file explorers on the TV smb share is also available.

### Steps to reproduce the issue

Nova Video Player (on android TV) -> Network & Files ->Network ->SMB/Network shortcut

### Expected behavior

_No response_

### Your phone/tablet/androidTV mode

[2022-11-29 14:52] bladyle commented on #755
Success when switched to Legacy interface, so I guess it's interface problem on the new interface?

[2022-11-29 17:27] Lucky390163 commented on #748
-

[2022-11-29 17:34] Lucky390163 commented on #748
Sending u on email github cannot exceed size.

[2022-11-29 20:00] courville commented on #748
you can send it to software at courville dot org

[2022-11-29 20:19] courville commented on #755
This is surprising that the legacy interface behaves differently: I will investigate.
Could you please detail what SMB server you are using and which SMB version it serves?

[2022-11-30 09:16] Lucky390163 commented on #748
There are many options i cannot find sending option.

[2022-11-30 11:59] courville commented on #745
Indeed:
[code]
Adding missing:
[code]

[2022-11-30 12:05] Philofil92 opened #756 "[FEAT]: Request for brighter "active selection" field"
### Description

Hello everyone and support, I would like to know if it is possible to make a very small improvement (I think it's very easy to do and shouldn't take a lot of time!!!) let me explain. .. From an Android TV, when consulting a film or series file, the background of the file is never the same color, but roughly corresponds to the original color of the cover of the movie...Then from th

[2022-11-30 14:26] mitch133 commented on #756
I completely agree, happens to me as well, particularly with red background and buttons.
If possible, could be a nice improvement indeed (if not at the API level, because I can observe same things on other apps)

[2022-11-30 14:37] mschumacher69 commented on #605
@courville anything I should lookout for in 6.0.88 or did you not attempt to change anything regarding this issue in this version?

[2022-11-30 15:05] mschumacher69 commented on #748
Share a link via google photos.

[2022-11-30 17:45] okan35 commented on #746
For it is always the same case. When a lag happens on nova I go check VLC and I don't see the same lagging issue on VLC which is strange.

[2022-11-30 19:36] bladyle commented on #755
Samba on the server is: Samba version 4.17.3 and used protocol is: SMB3_11.
I think the problem is with Guest mode and option Shared folders under network.
On my phone I have option to add new index folder under Shared folders menu and there is only address requirement.
On the TV I have to use Network shortcuts menu and from there it is required to add address of the server and login information.

[2022-11-30 19:39] Tellivision commented on #745
Great! Please keep me updated I will also keep an eye out on releases! Thanks!

[2022-11-30 20:33] mschumacher69 commented on #755
Have you tried entering Guest as username and leaving the password blank? This works for me.

[2022-11-30 22:34] courville commented on #605
@mschumacher69 not yet sorry (working on it still).