[2020-11-08 03:16] DrGogu opened #389 "[Feature Request] Sorting Movies by Country"
Please add an option to sort movies by country of origin, like the option of sorting movies by genre or year.  This will help organize movies from different countries.

Thank you!

[2020-11-08 03:21] DrGogu opened #390 "[Feature Request] Search by cast (actor)"
Please allow searching of movies by typing cast names.  This will help list many movies from a certain actor or actress.

Thanks!

[2020-11-08 07:01] DrGogu opened #391 "No deinterlacing noted in MPEG-2 DVD rips"
Unlike VLC Player, Nova does not seem to apply any deinterlacing to MPEG-2 DVD rips, causing very visible interlacing.  Any chance of introducing this basic feature?

Thanks!

[2020-11-08 09:23] lucianolingnau commented on #367
@mschumacher69  From the user's perspective, it makes a ton of sense to repeat the learned pattern of "blue ribbon = watched" instead of using a different pattern on a particular part of the software.

Additionally, the wording is also the exact opposite. "Mark watched" means you haven't watched it yet and "Mark not watched" implies that it was already watched.

I'm not arguing this is the most im

[2020-11-08 14:05] courville commented on #49
cf. https://github.com/nova-video-player/aos-AVP/issues/391 there is no de-interlacing supported on ffmpeg for now.

[2020-11-08 20:59] mschumacher69 commented on #367
The wording is not the opposite, watched videos would show "Mark not watched" which means they have been watched.

[2020-11-10 07:45] DrGogu commented on #391
Is it possible to incorporate the VLC code for that into Nova?   Since both apps are open source.

[2020-11-11 04:37] DrGogu opened #392 "[Feature Request] Allow choosing specific folders to include in library like in VLC"
I have 3 HDDs connected to the shield.  There are separate folders inside folders, and choosing folders by clicking the + icon and removing ones with the - is just very impractical, and many times doesn't work for some reason.  I have to do it multiple times and hope it works.  I had to delete the data and cache and start over today, because it wasn't seeing the folders although they were marked!

[2020-11-12 22:11] Generator opened #393 "[Android TV Box] Crash on start"
## Description
Fresh install on an Android TV Box (X99 Max+) with custom ROM ([SLIMBOX](https://forum.xda-developers.com/android-stick--console-computers/amlogic/project-slimbox-t4152049)), then trying to start the app imitatively crashes on start (after accepting storage access permission).

Other video players work without issues (VLC/MX Player/Kodi/Plex)

From debugging: `E ActivityThread: Fail

[2020-11-13 06:34] courville commented on #393
Hum custom ROM... Thanks for the logs.
It crashes when creating tv channels failing to find provider for `android.media.tv` missing from the custom ROM:
[code]
What is the custom ROM you are using?

[2020-11-13 10:34] phhusson commented on #393
This is a bug in the ROM, I've answered this here:
https://forum.xda-developers.com/showpost.php?p=83914869&postcount=415

[2020-11-13 14:17] Generator commented on #393
@courville SLIMBOX ([XDA Forum Project Thread](https://forum.xda-developers.com/android-stick--console-computers/amlogic/project-slimbox-t4152049))
However i didn't find any sources or if the OP of that thread is one of ROM developers or just an english version of 4pda.ru forum.
Here's the forum thread from 4pda https://4pda.ru/forum/index.php?showtopic=993324

@phhusson thanks for reporting, also

[2020-11-15 10:03] user3536 opened #394 "Auto play videos in folder doesn't work"
With last 4.49.11 version auto play folder function doesn't work again. Playback stops when video ends. I've also updated Android version on TV (Philips 43pus7304) maybe it correlates...

[2020-11-15 19:35] 2803media commented on #381
did the android tv app add this modification:

@courville
bump trakt-java to latest version capable of handling rate limiting

Update:
After disable and enable the resume option it seems working...

[2020-11-16 08:25] YouROK commented on #362
Access for all cleartext
https://stackoverflow.com/a/54827498

[2020-11-20 17:16] Wolsey20 opened #395 "Smb does not work"
Bonjour,

Le smb ne fonctionne pas, j’ai essayé sur ma shield tv, mon OnePlus 7 et ma tablette rien ne marche j’ai toujours un message d’erreur de connexion avec la version officielle et la dernière bêta, il n'y a que la version 5.15.7 qui fonctionne.

Merci

Hello,

The smb does not work, I tried on my shield tv, my OnePlus 7 and my tablet, nothing works I still have an error message connecting w

[2020-11-20 17:39] courville commented on #395
Thanks for reporting. I guess this is in front of an SMBv2/3 server. Could you please check that in the settings the SMBv2 support is activated?
If this is the case then I guess some logs would help.

Merci

[2020-11-20 17:40] courville commented on #367
@lucianolingnau, you are right and the request is valid.

[2020-11-20 17:59] DrGogu commented on #367
Also, watched items are not removed from recently played. I have to
manually mark them unwatched, then watched, then they get off the list.
 Kind of annoying.

On Fri, Nov 20, 2020, 11:40 AM CourvilleSoftware <notifications@github.com>
wrote:

[2020-11-20 18:02] courville commented on #367
well a watched item is recently played. Moreover, selecting a watched tvshow item enables to hit next episode.
Kind of nice.

[2020-11-20 18:13] courville commented on #367
Track code modifs, see https://github.com/nova-video-player/aos-Video/commit/8c505bfbe08f922beb9191fb03a3b31e1245a6e9 and https://github.com/nova-video-player/aos-Video/commit/f1803b560d26cba69f06ccd135bdcedada6c9758

[2020-11-20 19:52] Wolsey20 commented on #395
Indeed, smb2 support was not activated by default on version 5.15.10, I activate them and everything works again.

Thank you

[2020-11-20 19:54] #395 closed, assigned to nobody

[2020-11-21 21:57] Argon-D opened #396 "SMB linux <20> can't connect"
Hi guys, first of all your app is amazing! i just installed XFCE (ubuntu) and last version of samba. All works exept on my sony tv (android tv), from all my device share works but not from my tv :( i tried many ways but i am stuck with <20> can't connect
and i dont know how to fix it . Can you help please to try to fix my issue? . With W10 works but i must use XFCE on that computer linked to the T

[2020-11-21 22:17] DrGogu opened #397 "Choppy playback in videos with FLAC audio"
I noticed the playback is choppy in a video with FLAC stereo audio.  The video codec is H.264.

Device is nvidia shield.

Is this a known issue?

[2020-11-21 22:29] courville commented on #396
SMBv2 support is only available on the beta version of nova (5.x) available here: https://github.com/nova-video-player/aos-AVP/releases/tag/v5.15.10 (take the armeabi-v7a for the sony).
Check also that SMBv2/3 is enabled in settings.

[2020-11-22 08:55] courville commented on #397
Can you please share the exact name of the file or even the video file at software @ courville dot org so that we check?

[2020-11-22 09:28] Argon-D commented on #396
thanks for the quickly reply, there is any ETA for the official release on Play Store or it will be in beta for the months to come?
I'll let you know of course if i will got some problem with beta rls
thanks again for the amazin app

[2020-11-27 20:24] bronnel commented on #161
Hi
these are the final design concepts
![Grid view](https://user-images.githubusercontent.com/15629916/100482143-7c9b0b80-3107-11eb-8715-5eba52340720.jpg)
![Movie Overview Design](https://user-images.githubusercontent.com/15629916/100482194-94728f80-3107-11eb-922c-4e1cdce241f9.jpg)
![TV Show Overview Design](https://user-images.githubusercontent.com/15629916/100482215-a5230580-3107-11eb-8cb7-12db7

[2020-11-27 20:51] bronnel commented on #161
![Episode details 5](https://user-images.githubusercontent.com/15629916/100483913-84f54580-310b-11eb-93d4-af7fcb71e855.jpg)

[2020-11-28 15:37] bronnel commented on #161
Here is a video demonstration
[NOVA Player concept design (Android)](https://www.youtube.com/watch?v=j7L5L6yLuZ0)

[2020-11-28 16:10] Ilithy commented on #161
Hi,

 your design is superb,
but I have a small question if you allow me.

 In the presentation video, you can see two "tabs".
*Movies
*TV Shows
 How is the ranking for video clips?
Would it be possible to add a customizable "tab" for this?

Thank you very much, congratulations for the work done, it's a nice evolution of the current design, without losing interest (provide a max of info in a clear

[2020-11-28 16:17] bronnel commented on #161
Thank you , I'm really glad you like it.
yes it is possible to make three tabs , Movies, TV Shows, All Videos
but it has to be made via icons , since the text would be too large
I will see what I can come up with, hopefully something nice.

In my concept designs I spent a lot of time not to lose any current functionality , I made sure of that, if I forgot anything please let me know.

[2020-11-28 19:59] Ilithy commented on #161
Thank you for your prompt response

I love him for sure.

but it has to be made via icons , since the text would be too large
I will see what I can come up with, hopefully something nice.

Indeed, for that to remain clear it is not easy, but if nothing is convenient for you to do that it is not serious issue, I will continue to read these files directly from the folder, it is not what will block m

[2020-12-01 02:15] JJD2K opened #398 "v5.15.11 No SMB connection due to timeout on wrong IP"
v5.15.11 - does not see network with or without smb v2 enabled.

[2020-12-01 05:47] courville commented on #398
Can you please provide more details (or remind me) on your network network setup:
- NAS type and SMB protocol used
- AndroidTV or phone/tablet interface
- do you confirm that the issue is that you do not see network being discovered (i.e. no host popping up) in the SMB section?
- does your former network shortcuts (indexed folders) still work?

Thank you,

[2020-12-01 12:25] JJD2K commented on #398
Hello
1. It is a Win 7 share - no password. I think I switched something to SMB 1 in win settings for past Android applications to work properly. Note that I am using a no passwords acces EVERYONE account.
2. Sony TV
3. Completely missing ANY network. Network is browseable through old ES File explorer instance.
4. Initially I could see the shows and movies listed - just nothing was playing. Now th

[2020-12-01 12:32] courville commented on #398
Thanks for the feedback: I tested a lot of SMB servers including windows ones but not win7.
This is normal that the whole list of video scraped disappears because it is hidden by nova (it is still there): it is simply marked as hidden when detected not available (a bug in your case).
Thus you confirm that no network share is displayed in the smb section under nova.
I can provide a rollback apk to

[2020-12-01 12:46] JJD2K commented on #398
Hello
That would be very nice thank you!
If you want me to test something let me know before switching back. I have not removed the non-functional version yet.

[2020-12-01 12:49] courville commented on #398
Here it is: https://drive.google.com/file/d/1zyF_AEreUmeuITA3xW_MnZgELJ_UfMA2/view?usp=sharing
I will try to reproduce on my side if I can lay my hands on an antique win7.

[2020-12-01 12:59] courville commented on #398
Before installing new version, if you could just take some adb logs when performing discovery, this could help.
Thx

[2020-12-01 13:01] JJD2K commented on #398
Could you please provide me the command for the log - I forgot it. Maybe add it sticky somewhere.

P.S. Win 7 is much more reliable than newer Win 8 and Win 10. Latest updates to Win 10 always cause incredible problems.

[2020-12-01 13:03] courville commented on #398
The command is `adb logcat --pid=$(adb shell pidof -s org.courville.nova)` cf. https://github.com/nova-video-player/aos-AVP/wiki/Debugging
Before you need to `adb connect` to your sony TV.

[2020-12-01 13:32] JJD2K commented on #398
Hello I sent you the log to your email.
Those commands do not work in Windows command line - I think you can not nest the ADB commands like in linux:
the "adb shell pidof -s org.courville.nova" part.

[2020-12-01 16:28] mschumacher69 commented on #398
I have a Windows 7 PC and a Sony TV, let me check if SMB is working on the latest version.

[2020-12-01 16:35] mschumacher69 commented on #398
Works fine here, using guest share, no password.

[2020-12-01 18:05] JJD2K commented on #398
@courville  SMB is working on the version that you sent, but it is a strange version thta has choppy video playback like the one before you fixed the SOUND sync that was causing the stutter issues in the past. Maybe it is version 6 - still no version info in UI - I can not check.

[2020-12-01 18:27] JJD2K commented on #398
My recents list is also lost...maybe I should delete all and go to the previous release?

[2020-12-02 06:35] courville commented on #398
Regarding error log it fails listing the SMB share:
[code]

[2020-12-02 06:40] courville commented on #398
Just to be clear: I assume we are talking about the version that I sent in the link.
This version is based on the v4.x branch thus without any change with jcifs-ng and movieCollections.

[2020-12-02 07:18] courville commented on #398
On your side you confirm that with a Sony TV and the latest version (v5.x.y) of the app including jcifs-ng and a win7 SMB share without password it works?
/me confused now

[2020-12-02 11:34] JJD2K commented on #398
Hello
I do not understand why you are confused.
1. LATEST VERSION from google play store does not work - the log that I sent
2. The version that you sent me works.
3. Please remove my log - I sent it by email - I do not want my logs published online.

[2020-12-02 12:38] courville commented on #398
Logs deleted though it does not help tracking the real issue: github is about code.
To avoid confusion perhaps it would be easier not to use two different users to comment: I thus assume @mschumacher69 = @JJD2K

[2020-12-02 12:52] courville commented on #398
One test that would be nice is to re-enabled SMB2 support on win7 and check if it works any better.

[2020-12-02 12:58] JJD2K commented on #398
Hello
NO I do not know that guy.
 @mschumacher69 != @JJD2K
 @mschumacher69 <> @JJD2K

[2020-12-02 13:00] JJD2K commented on #398
I tested further the version that you sent, with heavy files that I keep for test and it seems ok. The stutter is only on very heavy scenes so maybe it reaches the maximum of the CPU - 4K scenes with multiple moving particles.
So I confirm again.
1. The version that I downloaded via the Playstore update - does not see network.
2. The version that you sent me works.

[2020-12-02 13:01] mschumacher69 commented on #398
@courville we're 2 different users, we're not the same user.

Yes I confirm that on my side, with a Sony TV and the latest version (5.15.11) of the app (not sure about jcifs-ng though, how do I check that?) and a win7 SMB share without password, it works fine.

I also checked in nova's settings and smb v2 is enabled.

[2020-12-02 13:03] JJD2K commented on #398
I now looked at the LOG and it seems WRONG:
The IP of the PC is not: 192.168.25.1
The correct ip is 192.168.1.2

[2020-12-02 13:10] courville commented on #398
OK thus based on this and that I was replying to @mschumacher69 who states that he has smb working with latest nova version using a win7 network shares, I think it warrants some more investigations.

[2020-12-02 13:15] JJD2K commented on #398
Look towards IP - the IP of the computer in the LOG is WRONG.
I do not have a 192.168.25.* subnet at all.

Also it seems both SMB1 and SMB2 are enabled:

PS C:\Program Files\PowerShell\6.0.0-alpha.18> sc.exe qc lanmanworkstation
[SC] QueryServiceConfig SUCCESS

SERVICE_NAME: lanmanworkstation
        TYPE               : 20  WIN32_SHARE_PROCESS
        START_TYPE         : 2   AUTO_START
        E

[2020-12-02 14:35] dhlavaty commented on #398
Same problem here:
AndroidTV (version 9) on TCL 55C815.
Nova Video Player 5.15.11-20201128.1642
QNAP NAS TS-410 with fw. version 4.2.6

SMB does not work / cannot connect with "Timeout" error message after a long time.

Also tried other Android apps on same TV (VLC, KODI, ...) and they work.

[2020-12-02 14:48] courville commented on #398
@dhlavaty could you please try with SMBv2 enabled/disabled in settings?
Do you have SMBv2 enabled on your QNAP?
If you can get some logs too this would help.

[2020-12-02 14:49] courville commented on #398
@JJD2K good finding, thanks for highlighting this.

[2020-12-02 14:53] dhlavaty commented on #398
Tried both settings.

There is no such settings on NAS. There is "Allow only NTLMSSP authentication" only. And I've also tried both on and off settings.

Sorry, I don't have resources to get logs. :-(

[2020-12-02 14:55] JJD2K commented on #398
@courville I tried both with v2 enabled and disabled befor going back to the version that you sent. I also restarted the application and TV two times.
The incorrect IP: 192.168.25.1 seems to be a good starting point. If the lib is scanning an incorrect subnet it defnitely will not find any shares.

[2020-12-02 14:57] courville commented on #398
@JJD2K I am wondering how the 192.168.25.1 was discovered. Was it a previous shortcut already stored or you are browsing and selecting the share that has been discovered by the SMB scanning?

Can you please disclose your local network subnet and if you have special setup (if your carrier (operator) has anything in .25).

[2020-12-02 16:10] JJD2K commented on #398
@courville 192.168.25.1 NEVER existed on my network.
I tried to access the previously listed shared folders befor they completely disapperared from NOVA. I also tried to access the PC itself.

192.168.1.255 is the LOCAL network - external IP has nothing to do with it.

192.168.1.1 is the router
192.168.1.2 is Win7 PC
129.168.1.252 is the TV

If @dhlavaty has issues too I guess there is something w

[2020-12-02 17:28] courville commented on #398
thanks for the feedback. Note that all 192.168.x.x addresses are private networks.
The issue is clearly in the new jcifs-ng lib.
Now the question is how does it get 192.168.25.1 instead of 192.168.1.2.
Let me please ask you to walk me through how you get to the issue.
1) you go in the network shares: you have both the network shortcuts and the SMB discovery process
2) do you click on the old netwo

[2020-12-02 17:47] JJD2K commented on #398
Hello @courville
I thikn I entered the old shares - they were listed.
I am not 100% sure though. I also entered the COMPUTER - it was listed too.
All were displaying timeout after some time.

I am willing to help - you fixed lots of stuff that I reported...though some still open ;)
Send me the debug and rollback apks...I will provide the logs.

[2020-12-02 17:51] courville commented on #398
Thank you!

[2020-12-03 02:10] John-Wy commented on #398
I am also having the same time out problem. This started 3 days ago. I am using an amazon fire tv stick. I have noted the new version of nova is not working, and on another fire tv that still hasn't gotten the update, it is working. The server is a windows server 2016 with smb 1,2,3 enabled. I have tried disabling the new smb2 checkbox with no help. This media player has worked wonderfully until M

[2020-12-03 06:24] courville commented on #398
For those having timeout issues with new release, roll back release is being propagated on Google Play and Amazon and you can find corresponding apk here: https://github.com/nova-video-player/aos-AVP/releases/tag/v4.49.12

[2020-12-03 07:14] courville commented on #398
Log of the issue is the following:
[code]
Note that the fail to connect happens with `SERVER<20>/xxx.xxx.xxx.xxx` and `xxx.xxx.xxx.xxx` is not an IP belonging to the subnet used.

[2020-12-03 07:22] mschumacher69 commented on #398
I wonder why this issue is not affecting me? 🤔

[2020-12-03 07:25] courville commented on #398
@mschumacher69 the beta has been live for 2 months with 2k users and I am using it everyday without an issue.
This is thus not systematic.
But, I wonder why too.

[2020-12-03 07:39] dhlavaty commented on #398
~~Installed Nova Video Player 4.49.12-20201202.1839 - was offered as an update on Google Play store. But the same "Timeout" problem still persist.~~

EDIT: My bad. I'm so sorry. Version 4.49.12-20201202.1839 works. Please ignore this.

(AndroidTV (version 9) on TCL 55C815, Nova Video Player 4.49.12-20201202.1839, QNAP NAS TS-410 with fw. version 4.2.6)

[2020-12-03 07:43] courville commented on #398
@JJD2K could you please check this v5 apk https://drive.google.com/file/d/1ie4bF7fSirMqYPbu8H-Ylw1jCatrnYxr/view?usp=sharing that has logs on the samba udp/tcp discovery process and send me the `adb logcat` output?
The rollback v4 apk is this one: https://drive.google.com/file/d/1_Wd6a57bJS2vK9zpaj1ELKtzyVhCe9RU/view?usp=sharing
This should tell us if the issue is that nova discovery injects wrong

[2020-12-03 07:49] courville commented on #398
@dhlavaty this is thus another issue.
If you cannot enable SMBv1 on your QNAP NAS, nova v4 will never work because v4 is only capable of SMB1.
This is the point of doing nova v5 with SMB2/3 support via jcifs-ng that creates some timeout issue on some users.
In your specific case, I would retry version https://drive.google.com/file/d/1ie4bF7fSirMqYPbu8H-Ylw1jCatrnYxr/view?usp=sharing with making su

[2020-12-03 08:32] dhlavaty commented on #398
My bad. I'm so sorry. Version 4.49.12-20201202.1839 works for me. Please ignore my previous message.

[2020-12-03 13:27] JJD2K commented on #398
@courville I sent you the new log - same incorrect IP is listed.
Rollback version is working perfectly.

[2020-12-03 13:31] JJD2K opened #399 "Preferences items selection not clear"
On the movies and shows rows when CURRENT item pops up there is a shadow below.
There is no such shadow on the last row with the preferences and the currently selected item is not easy to distinguish. The item also does not zoom much to be clearly obvious that it is the ACTIVE one.

Not something important, but it is a poor user experience.

[2020-12-03 13:52] courville commented on #398
Thank you very much for the logs.
What is seen is that your correct win7 PC is detected by nova discovery:
[code]
But jcifs-ng is using for some reason indeed the wrong address:
[code]
If this is not too much to ask, I would like to propose another apk to test (and the rollback version). The purpose would be to check if the issue does not come from an impact of the change we did in the resolver or

[2020-12-03 14:14] courville commented on #398
@JJD2K ok I have updated the two former links with new apk for some more testing if you can bear it:

- v5 apk https://drive.google.com/file/d/1ie4bF7fSirMqYPbu8H-Ylw1jCatrnYxr/view?usp=sharing
- v4 rollback apk https://drive.google.com/file/d/1_Wd6a57bJS2vK9zpaj1ELKtzyVhCe9RU/view?usp=sharing

`adb logcat` would be nice.
This version reverts to default jcifs-ng resolver in case there are side eff

[2020-12-03 14:28] JJD2K commented on #398
@courville I guess that is - the new version is working
Both with SMB1 and SMB2 option.
I sent you the new log.

P.S first test I did is with v2,3 enabled, second test is with disabled v2,3 option.

[2020-12-03 15:25] courville commented on #398
This is a real good news.
Thank you for your help in testing and debugging the issue and the really appreciated quick feedback loop.
I will thus push a new release soon to all with the fix I sent.
There is really something strange with jcifs-ng resolver when you deviate from default resolver order.

[2020-12-03 16:09] JJD2K commented on #398
@courville I am glad to help. As I noted I am thankful that you did fix a lot of performance issues that I reported in the past.

Just to note I did test the performance of this new jcifs and it seems to be on par with the previous implementation. I mean that the heavy test files seem to be playing as before.

[2020-12-03 18:06] John-Wy commented on #398
The 4.49 released today that replaced 5.15 has fixed the smb issue.

[2020-12-04 06:30] courville commented on #398
OK rolling out now 5.15.13 for everyone containing the found fix for this issue.
Let's try to get SMBv2 support out.
Thanks all for the comments and support.

[2020-12-04 09:41] Pentaphon opened #400 "Please add current version number in about section on preferences."
Hi, right now, development is moving pretty quick and there's a lot of small updates, the github-only versions, and the experimental version as well. It can be a lot for new users who want to report bugs, compare versions, etc.

I've noticed there's nothing to indicate the version number in the app itself. Can we have the current version posted somewhere in the app itself like in the about section

[2020-12-05 07:45] Pentaphon commented on #2
@courville probably should close this issue.

[2020-12-05 08:33] Pentaphon opened #401 "Use Exoplayer to improve playback and compatibility?"
It may be worth looking into using [Exoplayer](https://github.com/google/ExoPlayer) (or the [Amazon fork of Exoplayer](https://github.com/amzn/exoplayer-amazon-port)) to solve many of the existing playback issues and to improve [compatibility with Dolby Vision, etc. ](https://github.com/nova-video-player/aos-AVP/issues/383)

It seems every commercial Android TV app is using Exoplayer in some form

[2020-12-05 09:37] courville commented on #401
Yes this is being considered https://github.com/nova-video-player/ExoPlayer and https://github.com/nova-video-player/aos-Video/tree/dev/exoplayer but do not expect it anytime soon. It is quite some work and there are a lot of codecs/containers missing from exoplayer. It needs to be replugged to ffmpeg etc... There have been some attempts but nothing turnkey.

[2020-12-05 09:39] courville commented on #2
@Pentaphon let's wait a little more that the deployment goes ok and there is not again any rollback... cf. https://github.com/nova-video-player/aos-AVP/issues/398

[2020-12-05 09:46] Pentaphon commented on #401
That's fine and expected. I just wanted to get an official response whether it was being considered so myself and others would know for sure . Also, this issue would be good for tracking the progress of such an enormous undertaking. Thanks for letting us know. I think moving to Exoplayer is the only reasonable way forward for an Android-only player, and gives the project a massive advantage over o

[2020-12-05 09:56] courville commented on #396
SMBv2 support is out thus let's close this issue.

[2020-12-05 09:56] #396 closed, assigned to nobody

[2020-12-05 20:22] courville opened #402 "Investigate TheTvDB alternative"
TheTVDB has notified nova that after change of API to v4, there will be a change of licensing and might become a paid service for apps and users.
It means that probably we need to evolve towards a new online db for tv show scrape.

[2020-12-05 20:23] courville commented on #402
cf. https://www.reddit.com/r/NovaVideoPlayer/comments/jvousc/thetvdb_alternative/

[2020-12-05 20:44] mschumacher69 commented on #402
From the email that I received, it says "License fees are based primarily on usage, company size, and how the data is used."

So maybe because Nova is a free and open source app with no source of income whatsoever (not even ads), you'll get an api license for free (hopefully).

[2020-12-05 20:50] courville commented on #402
@mschumacher69 this is what I hope and replied on reddit. But let's keep this issue open to list alternatives and record what other communities are leaning towards.

[2020-12-06 09:39] dhlavaty commented on #254
Same problem on AndroidTV. Cannot sign in to trakt. It displays "no internet connection" message.

After reading this thread, I found out that I had to whitelist these domains on my Pi-hole:
static.criteo.net
www.google-analytics.com
stats.g.doubleclick.net

AndroidTV version 9 on TCL 55C815 ; Nova Video Player 5.15.13-20201203.2027

[2020-12-06 09:52] courville commented on #254
@dhlavaty thanks you for pointing out this is very useful information: I will put it in the howto.

[2020-12-06 11:49] JJD2K opened #403 "SMB not working if no Internet on local network"
@courville
This is most likely related to #398
Yesterday the internet went down and NOVA stopped working.
Again the SERVER IP was incorrectly resolved. It was something like 10.0.0.1 while it is 192.168.1.2
Today Internet was fixed and I started NOVA and it worked.
I am using the latest versions that you pushed to GOOGLE PLAYSTORE.

I will disable the internet manually later to see if I can reprod

[2020-12-06 12:26] bronnel commented on #402
I hope they will give NOVA a free license , v3 of tvdb will continue to work until march 2021 then v4 will take its place , with a yearly fee of $11 or so .
Here a discussion about a free alternative on kodi forums
https://forum.kodi.tv/showthread.php?tid=352588
https://www.theshowdb.com/

here is another free alternative
https://www.tvmaze.com/

and there is always themoviedb

[2020-12-06 12:26] bronnel commented on #402
here is another free alternative
https://www.tvmaze.com/

[2020-12-06 14:42] courville commented on #403
Thanks for pointing this out. In the past I got it fixed (before opensourcing). I will check.

[2020-12-06 15:16] courville commented on #398
FTR https://github.com/AgNO3/jcifs-ng/issues/258

[2020-12-06 16:33] courville commented on #403
Possibly a regression after new network state monitor.

[2020-12-08 00:07] JJD2K commented on #403
Just to note that this issue was not present prior to the new SMB libs.

[2020-12-08 12:28] sherpajosh commented on #10
Any update on this? This seems like a basic feature in most video players now.

[2020-12-09 07:00] courville commented on #2
Current attempt of deploying jcifs-ng in v5.15.x failed: many connectivity problems were spotted and reported with more or less description https://www.reddit.com/r/NovaVideoPlayer/comments/k793s6/not_reading_smb_on_firestick/ and https://www.reddit.com/r/NovaVideoPlayer/comments/k79t6u/smb_problem_please_make_sure_you_upgraded_to/
The version of jcifs-ng library used was https://github.com/AgNO3/

[2020-12-10 13:24] courville commented on #403
I fear that this issue results from the change of jcifs resolver because it tries first DNS and if there is no Internet it will cause issues.

[2020-12-10 19:56] courville commented on #398
OK changing resolver makes all Western Digital to timeout on SMB connectivity.
Let's reopen this issue and try to fix it another way: @JJD2K and @dhlavaty I will probably need to understand why jcifs resolver does provide the wrong IP address on your network.
First thing to determine: when in your LAN you try to resolve the IP address from your NAS using Broadcast or DNS, why does it return anothe

[2020-12-10 20:38] JJD2K commented on #398
@courville No - I already wrote that.
The local network has nothing to do with the WAN. The IP addresses reported for the SERVER do not exist and never existed on my network. The IPs that are displayed by that lib seem absolutely random. The WAN is not on 192.x.x.x. of course.
My network is properly functioning and has nothing special in it. The router is a high-end ASUS RT-AC68U - the top model a

[2020-12-10 20:58] courville commented on #398
@JJD2K please bare with me a little. Your ASUS RT-AC68U is acting as a router or a passive switch?
What are the IP addresses shown on web interface of the asus for the various interfaces?
What I am trying to find out is if you have such a setup: Internet->|HOME GW|<-192.168.25.x->|ASUS ROUTER|<-192.168.1.x->|your PC or TV|.

[2020-12-10 21:40] JJD2K commented on #398
@courville I do not get why you do not understand that 192.168.25.X  DOES NOT EXIST IN MY NETWORK?
**192.168.1.255** is my local network - the router works as a router.
**" The IP addresses reported for the SERVER do not exist and never existed on my network. "**

All the devices as I initially described are on the 192.168.1.* subnet

[2020-12-10 21:49] courville commented on #398
@JJD2K I do not understand why you do not try to understand what I request.
I understand that the network behind you asus is 192.168.1.x (trust me I deal with gateways in my line of work) this is not what I consider there.
Your asus router is connected to your home gateway (i.e. ISP router) right?
What I am trying to know is what is the IP allocated to your asus from your home gateway by its inter

[2020-12-10 21:56] JJD2K commented on #398
@courville I already replied that: "The WAN is not on 192.x.x.x. of course."
Of course, the WAN uses a different IP.
I answered that too: "192.168.1.255 is my local network - **the router works as a router.**"

Honestly, I do not think that any of the above is relevant to the issue. My network is the same as for 90% of the users:
WAN IP (EXTERNAL IP) -> ROUTER -> LOCAL NETWORK 192.168.1.XXX

[2020-12-10 21:59] courville commented on #398
@JJD2K but the question I ask now is not about WAN IP anymore because meanwhile you mentioned your ASUS router.
Let do babysteps then.
How is your asus router connected to internet?
Do you have another box from your ISP?
If this is the case then your router does not have a WAN IP.
It has the IP assigned by the DHCP server from your ISP GW.
This IP address, let me think... what could it be?
I will

[2020-12-10 22:04] JJD2K commented on #398
That is what I was just going to clarify to you as I read your message a few times to try to understand what you miss.
NO I do not have any ISP box. My router is connected to the ISP directly by LAN. That is why it has an ISP WAN IP address directly -designated by the ISP DHCP with a long lease time.

All that is absolutely irrelevant in my opinion as the issue is not when there is internet - the

[2020-12-10 22:06] JJD2K commented on #398
This IP address, let me think... what could it be?

That address is my WAN address and is not: 192.x.x.x.
I am not listing it nor I think it is relevant to the issue.

Maybe that lib uses some internet service to resolve stuff....though that would be really dumb.

[2020-12-10 22:12] courville commented on #398
OK clearer.
What you miss probably is that I am not talking about the "no internet issue" that you reported.
The problem faced is that the fix applied to your specific issue is causing a huge regression for other users (WD NAS users) that cannot connect anymore.
Reverting the fix for this issue solves their problem.
Thus I need to find another way to work around the wrong IP resolution by jcifs-ng

[2020-12-10 22:16] JJD2K commented on #398
Maybe the issues are related - I just disabled the Internet connection via the router UI and NOVA stopped working - failed to connect SERVER/10.0.0.1

[2020-12-10 22:19] JJD2K commented on #398
As soon as I enabled the internet NOVA started scraping without any interaction from me (I was on the NETWORK-SERVER) page - the count appeared in the top right corner.
It displayed some old stuff as recently added....the same happened last time too....

[2020-12-11 15:20] courville commented on #398
@jjd2k could you please check if this apk (TEST5) https://drive.google.com/file/d/1fTmdGh5fcvAFtEdRgDbxCkt2PuNHRUcI/view?usp=sharing works in your case with respect to the very topic of this issue?
I.e. to check if you have a timeout on wrong IP?
adb logcat logs would help.
To elaborate, this apk has the old jcifs resolvOrder (BCAST, DNS) but the nova UDP discovery injection inside jcifs-ng cache

[2020-12-11 18:32] JJD2K commented on #398
adb shell pidof -s org.courville.nova returns no PID
The message is only TIME OUT - no ip.

Please provide rollback version .

[2020-12-11 18:38] courville commented on #398
@JJD2K thanks for the testing and confirmation that issue is still there. The nova jcifs-ng udp cache injection is thus not the one creating issue, this is an internal jcifs-ng problem.
Here is the rollback version: https://drive.google.com/file/d/13HJfx3HfjrMr9-z1r3Mp0FPTPOl3ph5K/view?usp=sharing

[2020-12-11 18:39] JJD2K commented on #398
@courville ok managed to produce a log - sent to your email.

[2020-12-11 18:42] JJD2K commented on #398
@courville
It seems that lib jcifs has issues.
You properly detect the IP and server name: 12-11 20:30:40.394 19355 20255 D TcpDiscovery: found share at 192.168.1.2
Then that stupid lib reports an incorrect IP :
12-11 20:31:41.604 19355 19472 W System.err: jcifs.smb.SmbException: Failed to connect: SEVER<20>/192.168.25.1

[2020-12-11 18:52] mschumacher69 opened #404 "Choppy playback on x265 1080p videos"
I've been experiencing choppy playback when playing x265 1080p videos.

Not sure if this is due to hardware limitations on my Android TV (Sony 4K TV) or if it's Nova.

You can test with the following video:
Aquaman.2018.IMAX.1080p.BluRay.x265-RARBG

[2020-12-11 21:37] courville commented on #398
yes indeed. It means that the error does not come from nova even with the udp discovery cache injection technique since it has been disabled in the build I shared. Thank you for the testing and log shared.

[2020-12-12 09:57] courville commented on #398
@JJD2K, would you be able to run a java program directly on your pc/mac (I can provide simple instructions)? I think I can isolate the jcifs-ng part in a java program which will enable to do much quicker tests and get logs that the jcfis-ng author will request when he looks into the issue.

[2020-12-12 10:36] spiderdaz commented on #398
Hi guys Spiderdaz is onboard

[2020-12-12 10:40] courville commented on #398
@spiderdaz thanks for joining the party. @JJD2K is the one having another problem described in this github issue that when solving creates the regression you face. I will pack a simple java program and share it to get logs and to reproduce the issue directly on a pc.
Can you please let me know the OS and java version you have installed?

[2020-12-12 17:15] dhlavaty opened #405 "Some videos does not switch TV to HDR mode"
TL;DR; Player does not switch my TV to HDR mode, when playing some (all downloaded from YouTube for example) videos.

Long version:

Some HDR videos play ok, and my TV is correctly switched to HDR mode. For example "Sony Bravia OLED" video downloaded from https://www.demolandia.net/4k-video-test/hdr10/page-1.html?highlight=3

But none HDR video downloaded from Youtube, does not switch my TV to HDR

[2020-12-12 18:54] bronnel commented on #161
Here is a redesign of the playing screen
![Player UI](https://user-images.githubusercontent.com/15629916/101992469-9a01d500-3cc4-11eb-82bb-90928cf3f56a.png)

[2020-12-12 19:23] bronnel commented on #161
[NOVA landscape](https://www.youtube.com/watch?v=-D7-Y_SyoVU)

[2020-12-12 20:04] spiderdaz commented on #398
@courville hi, im on win10 home and java is latest update build 1.8.0_261-b12

[2020-12-13 13:19] courville commented on #398
@spiderdaz and @JJD2K, I have put up a simple java test program available here https://github.com/nova-video-player/smbcli that is able to emulate nova samba browsing with jcifs-ng and able to provide extensive logs.
The resulting archive is provided here:
[jcifsngtest.zip](https://github.com/nova-video-player/aos-AVP/files/5684960/jcifsngtest.zip)
In order to run the program you need to have java

[2020-12-13 14:03] spiderdaz commented on #398
@courville
i think you need to edit out the user password in the guest login instructions!!
all my devices are guest login do you need me to try making a password protected share??
how many of my shares do you need me to carry out the tests on, considering they are all displaying the same problem?
limited time available due to funky shiftwork.

[2020-12-13 14:12] Pentaphon commented on #404
Have you tried other players like VLC and Kodi? It's probably your TV because those shrunken videos from that site run fine in everything I use including Nova on my FireTV and Nova on my Android phone and tablet.

You may want to tell us which model TV you have so we can find the chipset it uses. I'm sure other people with your TV can't play x265 that well.

[2020-12-13 14:24] courville commented on #398
for guest login you can remove `"" USER PASSWORD` and use simply `java -jar jcifstest-1.0-SNAPSHOT.jar 2 DNS smb://SERVER/` with your server name instead of SERVER. No need to setup protected shares.

[2020-12-13 14:29] spiderdaz commented on #398
@courville
yeah id sussed that ,was just suggesting an edit for the instructions above to avoid confusion. how many of my shares do you need/want me to access
four logs should be attached
[smb 1 dns output.log](https://github.com/nova-video-player/aos-AVP/files/5684720/smb.1.dns.output.log)
[smb 2 bcast output.log](https://github.com/nova-video-player/aos-AVP/files/5684721/smb.2.bcast.output.log)

[2020-12-13 14:41] courville commented on #398
@spiderdaz thx for sharing the logs and performing the tests.
If you do the test on the WD device that was experiencing issues, this is enough.
However I do not see in the logs the timeout issues you are experiencing with `DNS` specified.
When you remove the `log4j.properties` and you simply run the program to list your shares, do you see the timeout?
Also what would be interesting is to list dire

[2020-12-13 14:48] spiderdaz commented on #398
yeah if you dont mind ill delete my last post to remove the logs let me know if you need me to resend you them. ill try with the shared folders and no without the log4j.propeties the op was the same i think ,did not see a timeout??

[2020-12-13 14:53] courville commented on #398
@spiderdaz no problem I have the logs. There was nothing private anyway in the logs (it gets more private when you list your shared folders).
Just to be clear on my side, I would expect that with the DNS option you get a timeout when listing shared folders.
Let's see if you see that.

[2020-12-13 15:15] spiderdaz commented on #398
dont think its my syntax but maybe multi word file names ,these are with folder bluray films
if i just put bluray in cmd i get a return but i dont actually have that folder name.
[smb 1 dns output.log](https://github.com/nova-video-player/aos-AVP/files/5684815/smb.1.dns.output.log)
[smb 2 bcast output.log](https://github.com/nova-video-player/aos-AVP/files/5684816/smb.2.bcast.output.log)
[smb 2 dn

[2020-12-13 15:16] spiderdaz commented on #398
just experimenting making a single name folder and copying some files to it

[2020-12-13 15:48] courville commented on #398
ah I see, perhaps you can put your share/folder between "" to escape the space in your folders

[2020-12-13 16:08] courville commented on #398
@JJD2K the only test I would be interested in from you is this one `java -jar jcifstest-1.0-SNAPSHOT.jar 2 BCAST smb://SERVER/SHAREDFOLDER "" USER PASSWORD 1> output.log 2>&1` where it should lead to the wrong IP.
Please do not hesitate to ask for help if need be.

[2020-12-13 16:09] courville commented on #398
@spiderdaz wait, it seems that the resolver is always using BCAST in the logs. I means that you are never triggering DNS resolver (and your error). I must have something wrong in my script.

EDIT: no it seems fine somehow... strange

[2020-12-13 16:30] courville commented on #398
OK new set of program since the jcifs-ng author is recommending some more logging options: please use this one
[jcifsngtest.zip](https://github.com/nova-video-player/aos-AVP/files/5684959/jcifsngtest.zip)

[2020-12-13 16:43] JJD2K commented on #398
@courville Hello
Sent you the logs to your email. All tests seem to be working.

[2020-12-13 16:43] spiderdaz commented on #398
im assuming same syntax/commands??

[2020-12-13 16:54] courville commented on #398
correct

[2020-12-13 16:56] courville commented on #398
thank you! I can see in the logs that the correct IP is found this time with the same options used in nova.
Damn! This means that it is either Android or nova specific.

[2020-12-13 17:04] spiderdaz commented on #398
more logs with new program ,using a folder named test.
my cmd looks like this
jcifsngtest (1)\jcifsngtest>java -jar jcifstest-1.0-SNAPSHOT.jar 2 BCAST smb://another4mycloud/test 1> output.log 2>&1
[smb 1 dnsoutput.log](https://github.com/nova-video-player/aos-AVP/files/5685005/smb.1.dnsoutput.log)
[smb 2 bcast output.log](https://github.com/nova-video-player/aos-AVP/files/5685006/smb.2.bcast.outpu

[2020-12-13 17:11] courville commented on #398
Thanks, it seems that nothing is listed as a result of the command. Could you please check that you can list your share doing the same command:
[code]
but without the `log4j.properties` this time to see things (and not just logs)?
Perhaps this time we see the error.
And perhaps it happens only with the shares and not the toplevel. We might be getting somewhere.

[2020-12-13 17:15] courville commented on #398
@JJD2K, ok based on spiderdaz comment, I guess we need to check the next level on a real shared folder, can you please check:
[code]

[2020-12-13 17:39] spiderdaz commented on #398
@courville
ok its finding folders /shares but only smb 2 on both settings i think
[smb 2 bcast.txt](https://github.com/nova-video-player/aos-AVP/files/5685051/smb.2.bcast.txt)
[smb1 bcast.txt](https://github.com/nova-video-player/aos-AVP/files/5685052/smb1.bcast.txt)
[smb1 dns.txt](https://github.com/nova-video-player/aos-AVP/files/5685053/smb1.dns.txt)
[smb2 dns.txt](https://github.com/nova-video

[2020-12-13 17:47] courville commented on #398
ok, thus your nas is SMB2 only which makes sense.
And it is able to find files when forcing SMB2 either with DNS as first resolver or BCAST.
This is exactly what does nova but apparently fails in your case when resolvOrder has DNS first.

[2020-12-13 18:05] spiderdaz commented on #398
iv e just checked the newer mycloud home device (which you will recall is different from the my cloud) and the results are the same.
no more help until tommorow am im afraid.,although i should be able to reply.

[2020-12-13 18:09] courville commented on #398
Thanks for all the logs and help.
If a new log is required I will ping you but for now I am clueless.
Anyway in your case you can restrict yourself to do only SMB2 tests.

[2020-12-13 18:16] spiderdaz commented on #398
I'll see if I can run all the tests on all devices tomorrow for completeness but I'll just remind you that all of them were failing with the last update not just the odd one like my original problems.

[2020-12-13 18:23] courville commented on #398
@spiderdaz thanks for all you tests. For now I need to process everything but it seems that all is fine with jcifs-ng used from a PC and not from nova under android for some reasons. This is unfortunate. I will have to find another way to track the issue...

[2020-12-13 19:07] JJD2K commented on #398
@courville
Everything seems to be working properly.
On my side also the shared files are listed.
I think somewhere during the initialization of the libraries an incorrect IP sneaks in. Maybe uninitialized VARIABLE ....

[2020-12-13 19:12] courville commented on #398
I agree that the PC track is not conclusive.
Thus this must be android specific.
I thus need to enabled deep logs for jcifs-ng on android.
I need to figure this out.
I stop bothering you for a while until I set it up properly.
Thank you for your help.

[2020-12-13 20:28] bronnel commented on #161
[Landscape mode](https://www.youtube.com/watch?v=-D7-Y_SyoVU)
![landscape](https://user-images.githubusercontent.com/15629916/102022898-dacc1d80-3d9a-11eb-9994-91b0378bbf4e.jpg)

[2020-12-15 10:49] spiderdaz commented on #398
@courville
just to confirm ,i have tried the tests with both programs on my all variants of the wd mycloud devices and they are returning the same results
the smb 2 tests bcast or dns will return the files nested in the folder structure correctly.
the smb tests seem to pick up the top layer folders but none of the lower folder/file structure
i dont know if the smb 1 problem is from my win 10 pc or

[2020-12-15 11:12] courville commented on #398
thanks for the clarification which begs for me questions.

this is interesting and deserves clarification. What I understand from your feedback is:
- root of shared folder i.e. smb://server/ -> shared folders are listed using BCAST or DNS
- some network shared folder smb://server/shared_folder/ -> nothing listed using BCAST or DNS
- some nested folder in a network share smb://server/shared_folder/

[2020-12-15 18:27] spiderdaz commented on #398
No ,sorry for adding confusion.
some network shared folder smb://server/shared_folder/  using BCAST or DNS
 Does indeed list the folder structure when using smb2.
It was only when using smb 1 that I had a listing of the top level folders but  would not drill down any further.
I hope this makes sense.

[2020-12-15 19:01] courville commented on #398
I am struggling to get full logs for jcifs-ng inside nova but I will get there.
Meanwhile, I would like to propose to check the two following apk with their respective rollbacks
- @spiderdaz https://drive.google.com/file/d/1qtFjI2E0GQLj370-ADNLapUs1zPpj2zT/view?usp=sharing and rollback https://drive.google.com/file/d/1MIVNrM6IDoDVc34okgYL835UPR3AUh5f/view?usp=sharing
- @JJD2K https://drive.google.

[2020-12-16 08:23] spiderdaz commented on #398
@courville
hi ,i can confirm that the new apk broke the smb shares on all my devices whether smb2 was selected or not .
happily the rollback fixed it .
thanks

[2020-12-16 08:38] courville commented on #398
thanks for the feedback. Was worth checking.
@JJD2K thus there is no need to perform the test on your side.

[2020-12-16 09:27] spiderdaz commented on #398
no problem, i'm happy to help where i can ,i haven't had much cmd line experience and its a good exercise to pick up little bits and tricks by necessity when doing these checks etc.

[2020-12-16 12:00] JJD2K commented on #398
@courville thank you for letting e know. I am a bit busy these days was going to test this today.

[2020-12-17 20:19] courville commented on #398
@JJD2K and @spiderdaz, I finally figured out to create detailed jcifs-ng logs using slf4j framework under android and nova.
The logs will be saved on the device in `/sdcard/log.txt` file.

I have also added a setting to configure jcifs resolver order so that with one apk we will manage to get both a working and non working configuration in your cases (i.e. ticked BCAST,DNS working for @spiderdaz a

[2020-12-18 08:57] courville commented on #398
@spiderdaz, thanks for the logs.
We see very early `[Transport1] DEBUG jcifs.smb.SmbTransportImpl - Connecting in state 1 addr 92.242.132.24` (not in your LAN) while nova discovers the right IP `[Thread-26] DEBUG c.a.f.samba.SambaDiscovery - onShareFound WORKGROUP "WDMYCLOUD6TB" smb://192.168.0.53/` and it fails to connect `jcifs.smb.SmbException: Failed to connect: WDMYCLOUD6TB/92.242.132.24`

Th

[2020-12-18 09:02] courville commented on #398
*[EDITED AND NEW APK]*

I am sorry but I will need a little more logging for jcifs-ng author.
Here is the new apk https://drive.google.com/file/d/1EZyJ4eDK65QQErxygPFb85ni2cv6y3Gz/view?usp=sharing (Video-LOGS2.apk).
Please note that the logs are not in the same location, it is now on the device here: `/sdcard/Download/org.courville.nova/` and the log file is `nova-smb.log` thus to get it and flush

[2020-12-18 19:00] courville commented on #398
OK new apk since the previous one was boggy (logs not accessible)

[2020-12-18 21:55] JJD2K commented on #398
@courville
I do not want to ruin my installation again. How to solve this?
G:\ADB>adb install Video-LOGS2.apk
Performing Streamed Install
adb: failed to install Video-LOGS2.apk: Failure [INSTALL_FAILED_ALREADY_EXISTS:
Attempt to re-install org.courville.nova without first uninstalling.]

I thought this was a separate application. Is ti overwriting NOVA?

[2020-12-18 21:56] courville commented on #398
you need to do `adb install -r Video-LOGS2.apk` since nova is already installed.

[2020-12-18 21:57] JJD2K commented on #398
@courville I thought this was a separate application. Is it overwriting NOVA?

[2020-12-18 21:57] courville commented on #398
yes it is. But it will not wipe your media-db.
I can provide a rollback if necessary.

[2020-12-18 21:58] JJD2K commented on #398
how to rollback after?
I will do the test now and send.
Yes I need one as I do not want log to be created every time ?

[2020-12-18 22:00] JJD2K commented on #398
@courville Should SMBv2 be ticked?

[2020-12-18 22:04] JJD2K commented on #398
@courville
G:\ADB>adb pull /sdcard/log.txt logENABLED.txt
adb: error: remote object '/sdcard/log.txt' does not exist

Sorry my mistake you have new locations.

[2020-12-18 22:06] courville commented on #398
Sorry: I am messing around with the new logging system.

Here is your rollback version https://drive.google.com/file/d/1fwP6HC7cgTfM5HVA4_XtFfltyCVn19Wf/view?usp=sharing
There should be no logs but we could activate the logs on this version if need be.

[2020-12-18 22:06] courville commented on #398
@JJD2K note that you will need to untick resolver option in your case and force close app and relaunch to have it working.

[2020-12-18 22:07] JJD2K commented on #398
I read that - I amd testing with V2 disabled
Do you want it enabled?

[2020-12-18 22:08] courville commented on #398
Please keep SMBv2 enabled and resolver ticked to get BCAST,DNS that does not work in your case.
It would be good to get a log for the working case too to compare.

[2020-12-18 22:22] JJD2K commented on #398
@courville
V2 enabled does not want to produce log.
G:\ADB>adb pull /sdcard/Download/org.courville.nova/nova-smb.log nova-smb.log
adb: error: remote object '/sdcard/Download/org.courville.nova/nova-smb.log' doe
s not exist
Could this be, because I deleted the file? I will try to reinstall

Works with both resolver orders.

V2 disabled did produce logs amd works only if order is disabled.

[2020-12-18 22:27] courville commented on #398
this is interesting but strange.
Just for me to be sure to get it right:
- SMBv2 enabled does not produce logs but is working with resolver order option ticked and not ticked (after application force close between each change of settings)
- SMBv2 disabled produces logs but works only if resolver order option is ticked off

I am interested in getting the logs to check the SMB traces.

Thank you ver

[2020-12-18 22:28] JJD2K commented on #398
yes that is what happened ... I will try to reinstall it...maybe because I deleted the file it can not create it.....

[2020-12-18 22:30] courville commented on #398
it could not recreate it if you do not force close the app (at least this is the only explanation I could come up with).

[2020-12-18 22:40] JJD2K commented on #398
@courville something is messed up with this test. Now v2 does not work with both enabled and disable.
Logs are not recreated if I delete the log file - I have to install the app again for them to be created.

[2020-12-18 22:43] courville commented on #398
Just to be sure, when you go in settings and apps and do force stop of the application and relaunch the app it does not recreate the logs right?

You can reinstall the app anyway and do the test one after each other without deleting the logs, I will manage to find the sequence back anyway. What is important is that you force stop the app.

[2020-12-18 22:48] JJD2K commented on #398
@courville
I sent you the logs.
I force stop the app from the HOME button - hold the button and you have the option to kill apps.

I do not know what is wrong but V2 first was running with both orders, then was not working with both orders, then in my test it was working with the disables order and not with the enabled one.....

I had to reinstall the app for the logs to be created.

P.S file name

[2020-12-18 22:49] courville commented on #398
@JJD2K thx for sharing the logs. I will provide the protocol traces to jcifs-ng author. Let's hope that he responds soon (it needs to be in the weekend window: thus just in time).

[2020-12-19 00:16] spiderdaz commented on #398
@courville im just in the process of getting the latest logs if its not too late.

i have sent logs by 2 seperate emails the smaller set is just from starting the app.
the larger set is the same logs from the same start point but with an attempt to select a share after about 10/15 mins.

[2020-12-19 21:52] AlexisTM commented on #405
In my case, it does not switch to HDR and it completely fail to decode the colours for Dolby Vision, identically to VLC. (TCL C715)

Content used: https://4kmedia.org/lg-earth-dolby-vision-uhd-4k-demo/

[2020-12-19 22:34] dhlavaty commented on #405
I can confirm @AlexisTM

Nova Video Player does not switch TV to **DOLBY VISION** mode for **LG Earth Dolby Vision UHD 4K Demo**.

But when I use TV's built-in **com.tcl.videoplayer** it turns on both DOLBY VISION and DOLBY AUDIO:

![IMG_7728](https://user-images.githubusercontent.com/513138/102700978-92a57300-4252-11eb-9f57-c04f650afee8.jpg)

[2020-12-20 10:46] courville commented on #398
I am sharing a new apk for testing in the future (no need for now):
With this apk https://drive.google.com/file/d/1BnB7M6LTjGyTawebVO7vYsJWBqAoZVS0/view?usp=sharing you can enable logs via pushing this `logback.xml` file https://drive.google.com/file/d/1M-wB-bZU4zb-0gcir15qF7AZDaAaP6_6/view?usp=sharing in `/sdcard/Download/org.courville.nova/` via:
[code]
After force stop nova and relaunch of nova

[2020-12-20 14:22] courville commented on #398
@JJD2K, @spiderdaz ok thanks to your testing and logs, we got feedback from jcifs-ng author and I will share shortly a build that should with the same option solve both your problems cf. https://github.com/AgNO3/jcifs-ng/issues/258
I will need however some more testing on your side to share more logs with mbechler.

[2020-12-20 14:38] courville commented on #398
OK here you go: Video-TEST7.apk that should work with default options (SMBv2 enabled, resolv order BCAST,DNS) https://drive.google.com/file/d/1b3pR1pV2-A-GbZBsKMTGIcNsyOvBkRKl/view?usp=sharing
In oder to collect logs, you need to refer to last procedure (there is no log enabled by default).
What I would need is logs with and without resolv order ticked with between each test a nova force stop).
Th

[2020-12-20 18:40] spiderdaz commented on #398
ok tests with test7.apk
as per instructions.
hopefully got whats needed.
https://drive.google.com/drive/folders/16sCy6IxWYROyYbunSMGUpD72_5SM8SJY?usp=sharing

[2020-12-20 20:06] spiderdaz commented on #398
Not sure if it has any bearing but I did try to ping the 92.xxxxxxxx address and it just returns a timeout ,so it's definitely not on my network anywhere.

[2020-12-20 22:15] courville commented on #398
@spiderdaz thanks for the logs. I shared them with jcifs-ng author: let's see what comes out of it.
It seems that there is something fishy about your DNS provider/configuration.
Perhaps you can do `nslookup 92.xxxxxxxx` and provide the result to me.

[2020-12-20 22:20] courville commented on #398
@spiderdaz even better if you could do too `nslookup WDMYCLOUD6TB`

[2020-12-20 23:18] spiderdaz commented on #398
ns lookup gave me this
92.242.132.24
Server:  cache1.service.virginmedia.net
Address:  194.168.4.100

Name:    unallocated.barefruit.co.uk
Address:  92.242.132.24

nslookup wdmy cloud gave me this!!!
nslookup wdmycloud
Server:  cache1.service.virginmedia.net
Address:  194.168.4.100

Non-authoritative answer:
Name:    wdmycloud
Address:  92.242.132.24

i googled and found this
https://community.vir

[2020-12-20 23:56] spiderdaz commented on #398
Just noticed that mbechler posted the exact same link on the Ng jcifs thread.
My apologies to everyone involved on behalf of virgin media (bastards)

[2020-12-21 01:21] JJD2K commented on #398
@courville Hello I sent you the logs - this version is working with both detection orders on my side - ISSUE solved.
Your logs still don't work though.
After pulling the first log and killing nova.
If I execute the code that you provide:
`adb shell
cd /sdcard/Download/org.courville.nova
rm nova-smb.log
exit`
in order to clear the old log, the log is no longer generated. Even if I push an empty log

[2020-12-21 07:40] courville commented on #398
I am glad that we we found the root cause. I guess that some other provider will behave the same. I will thus leave the option to switch resolve order. This is important.
Thank you for all the help provided in converging!

[2020-12-21 07:49] courville commented on #398
@spiderdaz, @JJD2K thank you again for your support and all the testing.
I think mbechler fixed the issue. We are good to go for yet another attempt to get SMB2 out at next release for next year.

[2020-12-21 07:49] #398 closed, assigned to nobody

[2020-12-21 13:47] mschumacher69 commented on #398
Let me get this straight, so the issue was actually with the external DNS server and not with Nova??

[2020-12-21 14:01] JJD2K commented on #398
@mschumacher69 No these are two separate issues. A fix in NOVA is applied.

[2020-12-21 15:41] phhusson commented on #405
If it's just Dolby Vision support, then it's a dupe of https://github.com/nova-video-player/aos-AVP/issues/383 ?

[2020-12-22 11:12] Vinz62 commented on #365
Hello. I don't have a Shield but have a HDR to SDR tone mapping issue as well :
I use Nova Player on my TV Box Set (Bbox Ultym 4K) and that works perfectly (by far the best player on this device)
I tried to play a movie in 4K HDR but as my TV is not HDR, the colors are washed out...
Will Nova Player be able to do HDR to SDR tone mapping in a future release ? or is there a hardware question ?
Thank

[2020-12-22 15:02] dhlavaty commented on #405
My original report was just about HDR10 not working. I'm not sure, if Dolby Atmos is related or not

[2020-12-25 04:50] Neverends4 commented on #405
Have you tried switching to customized decoding mode? Press "Force software decode" in option several times brings up hidden options.
For my buggy TCL OEM TV, using "android media player" as decoder fixes HDR. Under this mode Nova has exactly the same decoding capability as TV system player.

[2020-12-27 21:14] fredbcode opened #406 "Some videos are played as pcm 2.0 with Passthrough"
Hello,

With Android TV Philips (the one) I'm using internal player without any issue.
But with nova player with or without Passthrough mode 2, some videos (AAC 5.1) are played only as pcm 2.0

There is no information at all in the integrated player but my av shows dolby digital + 5.1 (with internal player)

The situation is worst with vlc all the videos are played as 2.0, Passthrough or not

With

[2021-01-03 05:21] LostSoul99 commented on #406
I am having the exact same issue except every video I have tried that are AAC 5.1 are played as PCM 2.0.  I am using the ARC to send the sound to my Onkyo receiver.  I have tried all 3 audio modes in your app.  If I use the built in media player app they play as DD 5.1.

I am using your app on a Sony XBR-930E TV updated with the latest firmware.

Another issue I am having with my 4k video files en

[2021-01-03 08:06] fredbcode commented on #406
Seems similar, do you have also the same issue with vlc ?

[2021-01-03 22:35] LostSoul99 commented on #406
Exact same issue with VLC, the only media app on an android TV that can output sound in 5.1 is the default one for me

[2021-01-04 11:54] courville opened #407 "ftp does not work with vsftpd"
Confirmed issue https://www.reddit.com/r/NovaVideoPlayer/comments/j19te6/ftp_still_broken/

Note that vsftpd server does not support "recent" 2007 MLST commands (see https://tools.ietf.org/html/rfc3659) which nova uses.
I would suggest at this point to use a more up to date ftp server (proftpd?).

[2021-01-04 11:55] courville commented on #407
Thus it will not be solved: vsftpd is declared incompatible.

[2021-01-04 12:40] dhlavaty commented on #405
I didn't know about press-FORCE-SOFTWARE-DECODE-option-several-times feature. (Why the h**k is it hidden in the first place?)

Switching to Android-MediaPlayer, forces my TV to switch to HDR mode correctly. BUT most video files I have and tested, just freezes after first 8-9 seconds. It just stops playing - video is frozen, sound stops playing. I can only exit the player.

And some video files (fo

[2021-01-04 13:04] dhlavaty opened #408 "Another-video-player dialog rendered outside of the TV viewport"
TL;DR; Use-another-video-player dialog is outside of the TV's viewport, so I cannot see all video players available to me.

Long version:

After I have turned on "**Allow-using-another-video-player**" feature in Settings. There is a choose-another-video-player dialog before every video. It is positioned on the bottom of the TV, but outside of the viewport. I'm able to see only first two players av

[2021-01-05 13:37] Neverends4 commented on #405
You experienced the very reason why it is hidden--it could cause more trouble.

I'm no programmer but to me Nova uses different "video mode" compared to other apps, like MX player, which has more success rate in switching TV to HDR mode.

[2021-01-07 11:18] courville commented on #408
I am afraid that this dialog is managed by the platform itself and not by nova.
Thus no easy solution there.

[2021-01-07 11:19] #407 closed, assigned to courville

[2021-01-07 11:26] courville commented on #406
You are using ARC to connect your TV to your external AV receiver for multichannel I guess. In this case, note that AAC5.1 is likely not supported resulting in PCM 2.0.
I suspect that your native player does re-encoding to AC3 in order to get 5.1 through.
Perhaps with eARC it will be better.
Note that when not using and AndroidTV TV but an AndroidTV box, you could get AAC 5.1 converted to multicha

[2021-01-07 14:22] fredbcode commented on #406
I will check (I'm not sure) but I think with spdif output the result still the same, I tested before but maybe something was wrong

[2021-01-07 15:04] Pentaphon commented on #177
@courville I also experienced this when using SMB Windows 10 shares in the 5.x series.

[2021-01-07 16:33] ian1182 opened #409 "SMB Resolver Order Question"
With the release of V5.15.16 on 7th January what is the recommendation for setting the "SMB resolver order" option. Checking after the google play store download in my case the option was ticked indicating that "BCAST,DNS" was in use. It is not obvious, to me at least, if it should be ticked or not. Under what circumstances should the option be enabled?

For me it did not seem to cause a problem e

[2021-01-07 18:05] courville commented on #409
The default setting i.e. resolver order BCAST,DNS is the one recommended since in a home network SMB servers have no real DNS entry. I introduced this setting because it was causing issues for some but this issue has been resolved.

[2021-01-07 18:42] ian1182 commented on #409
OK, that makes it clearer. I'll leave the option ticked

[2021-01-07 19:48] #409 closed, assigned to nobody

[2021-01-08 02:46] natis1 opened #410 "AV1 videos with grain synthesis do not playback"
To encode a video with grain synthesis: aomenc --denoise-noise-level=[1-50]. Playing it back in aos-AVP does not work and just shows a black screen.

the backend, dav1d does support it and the video plays back perfectly in vlc, although you can disable it in dav1d with --filmgrain 0

[2021-01-08 15:32] random404-bot opened #411 "Can't download to local storage"
I try with a plex server and kodi via dlna it s instant fail. Work with other app so it ss not an issue on the host side.

[2021-01-10 10:53] courville commented on #410
Thanks for reporting the issue. Would you have a sample available to share?
We are using dav1d 0.8.1 with ffmpeg 4.3.1. I will check if this is related.

[2021-01-11 00:22] natis1 commented on #410
It looks like it might not actually be grain synthesis related but instead may have something to do with keyframe-filtering=2, "filter with overlay." This file plays on my phone in vlc and on my pc with mpv, but does not want to work in aos-avp:
[10bit.zip](https://github.com/nova-video-player/aos-AVP/files/5793580/10bit.zip)

[2021-01-11 06:33] courville commented on #410
Thanks for sharing. I am interested to use ffplay to check if it plays well. For now nova forces ffmpeg/dav1d for AV1 but could rely on the phone hw/sw own codecs.
Could you please tell me what phone/android version you are using?

[2021-01-11 10:24] fredbcode commented on #406
You are right, ARC is a very limited method

I made a test with spdif all works well

[2021-01-11 10:35] courville commented on #406
@fredbcode one question: for sdpif are you using nova passthrough option or not?

[2021-01-11 11:25] fredbcode commented on #406
Sorry, I'm wrong, AAC videos still in PCM 2.0 mode, with ARC all the videos are, now with spdif AC3 works well
I'm using passtrough mode 2

[2021-01-11 11:30] fredbcode commented on #406
And the native player still working with Dolby Digital 5.1 with SPDIF

[2021-01-11 16:57] natis1 commented on #410
I’ve tested it on a Lenovo Z6 Pro with stock Android 10, which has a Snapdragon 855 CPU and on a ZTE Axon 7 with Android 9 and a Snapdragon 820. Neither has hardware decoding support for av1

[2021-01-12 06:21] courville commented on #410
What I meant is that recent version of Android provide AV1 software decoding support and applications could use the codec provided by the platform instead of embedded dav1d one in nova. Nova choose to force upon using its own software codecs instead of the platform ones in case platform ones are software and not hardware based.
This could explain the difference. I will make a version of nova remov

[2021-01-12 06:28] courville commented on #406
It means that the native player is re-encoding in ac3 on the fly.
This is a nice feature enabling to go around the limitations of ARC with respect to bandwidth and codecs supported by your AV receiver.

[2021-01-12 09:13] fredbcode commented on #406
Yes nice feature, but I disabled ARC, and AAC is supported by my AV Yamaha RX-V479

The sound seems better in Amazon videos, not yet tested with Netflix. I think my AV displayed "Dolby Digital +" and now "Dolby Digital" (I just tested one movie so I'm not sure)

[2021-01-12 10:24] mkinell opened #412 "Playlist not working"
Am not able to use playlist. It says that I have no poster and description for the movies.

[2021-01-14 02:41] Pentaphon commented on #401
Here is a promising new app based on Exoplayer if you guys want to see an existing project that plays video well.

https://github.com/moneytoo/Player

[2021-01-14 11:13] courville opened #413 "SMB slow on fritz router"
Seems that fritz router requires SMB resolver to be DNS,BCAST instead of BCAST,DNS to provide good SMB browsing experience cf. https://www.reddit.com/r/NovaVideoPlayer/comments/ksjafc/v51516_google_play_release_smbv23_for_all_again/gj0jzdm/?utm_source=share&utm_medium=web2x&context=3

[2021-01-15 05:12] YuzuNow opened #414 "Audio delay and Delete function not working"
I have found that all audio files are delayed or out of sinc. with the video.
Also the delete function does not work, says 'delete failed'.

[2021-01-16 18:08] courville commented on #414
I am afraid there is too little information about your hardware, setup, way to reproduce etc.
Can you please disclose more?
Are you using A/V receiver, is it android TV or phone, where are you files located for the delete (network share, external hdd which filesystem etc...).
Please have a look at https://home.courville.org/nova_video_player-faq/index.html too.

[2021-01-17 09:41] YuzuNow commented on #414
Sorry for lack of info.
Sony TV x9500G using android.
The files that refuse to be deleted are on a USb connected to the TV. Files are by themselves, not in a directory.
Regarding audio delay, it seems to have corrected itself.

[2021-01-22 10:08] cfal opened #415 "Enable picture-in-picture mode on Android phones and ChromeOS devices"
Native picture-in-picture mode would be very useful, especially on Chromebooks, which doesn't work well with the window overlay method.

AFAICT, it's only enabled at the moment for Android TV due to this clause:

https://github.com/nova-video-player/aos-Video/blob/baad60a492651f7a7802edb5635924cd88767cfd/src/main/java/com/archos/mediacenter/video/player/PlayerActivity.java#L1808

Is it possible to

[2021-01-24 10:05] #413 closed, assigned to nobody

[2021-01-24 10:17] courville opened #416 "v5.15.18 WDMyCloud SMB timeout regression"
See https://www.reddit.com/r/NovaVideoPlayer/comments/l3vgjp/beta_version_5518/

[2021-01-24 10:19] courville commented on #416
I can see two possible source of regression:

- special port
- else with resolver forced to BCAST,DNS

[2021-01-26 09:15] spiderdaz commented on #416
hi marc ,ive done some logging and it seems to me that there is an addressing problem again ,the wdmycloud has a 192.168.0.22 address on my network but it seems like its looking for 169.254.7.23 i have no clue as to why ,the address does not respond to a ping ,nslookup gives my virgin media address and cant find domain?? ive linked to the logs from startup after forced stop and no further interact

[2021-01-26 09:31] courville commented on #416
@spiderdaz ok thank you for the logs. It tells that your server is not resolved.
I will re-add the UDP IP discovery injection in the cache that should provide a solution for you.
I think that if you keep BCAST,DNS order it should be better.
Now what I do not understand is why the BCAST resolver does not kick in correctly since it picks up a 169.254.X.X address meaning that there is no real valid I

[2021-01-26 09:44] spiderdaz commented on #416
well i have tried both settings of resolver order with force stops inbetween and the results are the same. i have noticed that after it times out on this device selecting another device afterwards also times out until i try a second time.

[2021-01-26 18:42] courville commented on #416
OK I see in the logs that you are not using the latest build I shared. Let's try this one (simplified SMB probing) with all the corrections I found out so far: https://drive.google.com/file/d/1ZiKE3_RMZ_j-8aiduFWEQxL25zsLIgM2/view?usp=sharing file is Video-TEST15.apk.
DNS resolver fails in your case thus please use BCAST,DNS resolver order and let me know if there is any improvement. Logs welcome

[2021-01-26 21:38] spiderdaz commented on #416
yes those logs were from the latest test apk you sent me.
test 15 is giving the same results except when in dnsbcast order the error on screen says failed to connect to 169.254xxxx which it wasnt earlier.
so logs here ,from start after forced stop ,resolver order bcastdns option ticked.
https://drive.google.com/file/d/1yO1T2cXxQ1ln2RqrlZbsfjxm5AGEOK2d/view?usp=sharing

[2021-01-26 21:45] courville commented on #416
@spiderdaz ok thanks for the testing, logs and report. Will dig it up.

[2021-01-27 01:01] spiderdaz commented on #416
marc ,im sorry for messing you around, but it seems i have sorted it after a fashion.
in the ui for the wdmycloud i changed its name ,which presumably flushed its address cache or something ,it immediately started to respond. i have changed the name back again to check and it now seems to be working. its odd because its only the nova player program that was affected ,everything else on my network

[2021-01-27 06:30] courville commented on #416
@spiderdaz thanks for the context: this explains the behavior. When using network shortcuts with nova it registers it with the name of the SMB share (that has been changed I guess when you renamed it on your wd interface). Thus when trying to access the share via the shortcut, it failed to resolve the name into the address (hence resulting in the 169.254.x.x reporting).
No need for logs for now.
A

[2021-01-27 07:44] spiderdaz commented on #416
I think you may have misunderstood me. The failure to read the SMB share occured when I updated the nova APK. It was previously working fine.
It was only after checking the logs and trying to understand any differences between the 2 identical devices that I decided to alter the display name within its client UI. This is when it started working again . So the cause is still unknown, I think hopeful

[2021-01-27 08:42] courville commented on #416
OK thanks for the clarification: re-opening the issue.
Perhaps the link was registered not to the NAS name and to the NAS IP address for some reasons but I do not see this in the logs.
The way it is designed, only NAS share name should be referenced which makes it stable even if NAS address changes.
But perhaps playing around with resolver order this changes something (though it should not). I wil

[2021-01-27 09:10] courville commented on #416
OK what is strange is that the BCAST resolver returns a result with no find:
[code]
In your case anyway DNS resolver never kicks in (but this is not an issue).

[2021-01-27 09:30] spiderdaz commented on #416
The IP address of the devices is fixed also through dchp reservation at the router, I also double checked the reservations and that the address and name resolved correctly from Windows while the problem with nova still existed.  By my understanding when using broadcast the program asks all network devices to report Thier name and IP ,is this correct ? And does it mean that the wdmycloud was for so

[2021-01-27 11:31] courville opened #417 "manage links with ftp"
Symlink are not managed in ftp and are managed with sftp (check `FtpListingEngine` versus `SftpListingEngine`).
Need to extend `FtpFile2` for this.

[2021-01-28 08:05] damngood18 opened #418 "Cannot play video"
Recently, Nova can't play most of my video files.  I'd like to keep using it but will have to look for another media player for my Nvidia Shield---Samsung Tv.  My samsungs (2016 tv) native media player has no problems.  I found Nova much neater though.

[2021-01-28 10:04] courville commented on #418
Can you please elaborate a little more on the problem seen and use case to reproduce (where the video files are located, is it a recent issue, etc.)?
I am using nvidia shield without a problem on my side.
Taking logs would help too to figure the issue you are specifically experiencing: https://github.com/nova-video-player/aos-AVP/wiki/Debugging

[2021-01-30 12:52] Pentaphon commented on #416
So v5.15.18 is in beta now? I haven't gotten v5.15.17 in the stable Play Store. I just have v5.15.16.

[2021-01-30 13:52] courville commented on #416
Play Store still in v5.15.16, beta went through v5.15.17 and is now v5.15.18. Trying to get a sense of new v5.15.18 config on 2k users before going full scale.

[2021-01-30 15:56] spiderdaz commented on #416
I'm still running the test 15 that you sent me, should I be changing to the playstore beta ? Don't know if I'm ahead or behind the curve??

[2021-01-30 17:52] courville commented on #416
you are ahead of the curve. Update will be proposed when I update the beta track anyway.
Do not forget to remove the logs (logback.xml) otherwise it will slow things up.

[2021-01-31 13:38] courville commented on #417
Note to self: do not use `ftp.mlistFile(f.getLink())` since it always returns null with 3.7.2 of apache commons-net.
Instead use `ftp.listFiles(f.getLink())` and bring up a gaz plant logic based length to determine if link points to file or directory... (yay)

[2021-02-04 20:47] fredbcode commented on #278
FI, tried with Philips 'the one" works well, but no sound at all

[2021-02-05 06:05] cfal commented on #415
@courville Any chance you would consider enabling this or would accept a PR to do so?

[2021-02-05 10:40] JeedHome44 opened #419 "Add 4k Light video!"
All my 4k Light mkv file don't work with this player...

[2021-02-05 12:24] courville commented on #415
@cfal sorry for the late reply on your query.
We have a kind of PIP (window mode available in player mode) on phones and chromebook should inherit the androidTV framework one and option in format tile (need to check that it is working).
Perhaps instead of `ArchosFeatures.isAndroidTV,` we need to use `TvUtils.isTV` to capture chromebooks.
Do you confirm that your problem is chromebook specific?
And

[2021-02-05 12:37] cfal commented on #415
Thanks for responding! Yes, I can confirm that my problem is Chromebook specific. The popup window doesn't work well and the native PiP integration (which AFAICT only VLC supports atm) works much better and integrates with ChromeOS's own PiP functionality.

[2021-02-05 13:37] courville commented on #419
I will need more details here (device, CPU, setup, android version, sample, etc.). I can confirm that 4k "light" mkv works on my side on many devices (not saying that you do not have an issue).

[2021-02-05 14:01] #419 closed, assigned to nobody

[2021-02-12 13:50] lars18th opened #420 "Read-ahead or Prefetch configurable values"
Hi,

I'm testing the use of the SFTP access, and it works! I'm happy, but I see one problem: when using it in a LAN the functionality is very rebust. However, when using it over a VPN (remote access, with a large network latency), then even if the play works, I see a very large starting time (between 30 to 60 seconds). Futhermore, I've checked that the problem is not the bandwith, as the "streamin

[2021-02-15 18:28] JeedHome44 opened #421 "Option block delete files NAS serveur"
Can you add an option to avoid deleting files in a NAS serveur?

If I connect Nova with a profil with only Play right, I can't have picture in movie.

I want to have pictures in movies but block delete option.

Thank you

[2021-02-15 22:48] phhusson commented on #383
This extremely crude patch works on both samples mentioned in the first commit:
https://gist.github.com/phhusson/d2dcfe685af303ac2d85e8ecbc87f2cd

This can't be merged, because a fallback from DolbyVision decoder to HEVC decoder needs to be implemented.
Also this has been tested exclusively on HEVC, not H264.

Exoplayer reference to see the quirks that might be needed:
https://github.com/google/Ex

[2021-02-15 23:15] phhusson commented on #383
it's possible to add `&& acodecs_is_type_supported("video/dolby-vision", 0)` in `stream_parser_ffmpeg.c`, but this poses the issue of isolation, because stream_parser_ffmpeg.c shouldn't call android-specific calls

[2021-02-16 08:48] lars18th commented on #421
Hi,

I feel you're requesting for three different functionalities:
1. When connecting with a READ-ONLY network share, enable full support. At time, some glitches appear when the filesystem is readonly.
2. When connecting with a READ-WRITE network share, add a configuration value (for the share, at folder level) to disable the delete functionality in the UI (the button may be grayed out). Then the

[2021-02-16 09:03] JeedHome44 commented on #421
yes, it would save my family from being able to delete movies by mistake

[2021-02-18 12:10] lars18th opened #422 "[Feature Request] NAS support: complete shared folder support"
Hi,

I'm using NVP only with shared NAS storage. And I'm using three different clients around my home. In all of them I have configured the shared folder to "auto-update when opening NVP". And it works well. Futhermore, I've selected the option to "auto-export NFO files of scrapped content". But this seems to not work as expected:
- If new content is scrapped, then a _new_ NFO file is created insi

[2021-02-19 11:57] lars18th commented on #420
Hi,

As I don't see any response, I suggest for one idea to improve the _efficiency_ when using SFTP connections: Why not include a _LOCAL CACHE_ of files in the local storage? The idea is quite simple: when listing the SFTP share then you compare the content with the local cache. If some file is different, then remove it from the local cache. Then when loading a file, use the local storage _only

[2021-02-19 12:05] lars18th commented on #422
Hi,

Additionally I found another annoying error: Using this distributed environment (one centrallized NAS, and three players over the home accessing to it with SMB protocol), when some player has scrapped a new file, and generated the NFO files... in some cases some of the other players, even enforcing the re-index of the folder, doesn't load the metadata. All the NFO files are in the folder (I c

[2021-02-19 18:50] courville commented on #422
In the current implementation of nova, the NFO file is used once during the initial scraping for media db import.
It is create at the first scraping or when rescraping a specific information.
You are right that when updating the poster/backdrop the NFO is not updated for now.
Reloading the folder on another player will not make the NFO re-parsed (need to see what would be the performance penalty).

[2021-02-19 19:10] phhusson commented on #420
Hi,

What's your latency, available bandwidth to sftp server, and media bandwidth?

Startup buffering is hard-coded at 24MB in https://github.com/nova-video-player/aos-AVP/wiki/Buffering

If you're playing low bandwidth stream on a 1-5Mbps upload server, that'll make ~ 1 minute startup time

[2021-02-20 12:49] lars18th commented on #420
Hi,

Bandwith: 10-15Mbps max.; over SFTP between 6-12Mbps of real throughput.
Latency: >100ms and less than 500ms.

So, why not make this value configurable, almost with a file configuration (whitout changes in the user interface)?
I suggest, a value around 8MB.

Yes! Over WAN I see around 1 minute start time, and over LAN this is reduced to 15 seconds.
I feel there is some space for improve this.

[2021-02-20 13:06] phhusson commented on #420
That's still additional work for a pretty limited use-case. (it's possible other people will have same issue, but the number of those people who would know to edit config file is pretty slim). Anyway, we're not totally sure about our understanding of our buffering, so could you recompile the APK with 8MB to confirm this is the issue?

Uh 15s over LAN is very high (unless it's a 20Mbps WiFi)

[2021-02-20 13:10] courville commented on #420
If it is changed, we need an adaptive formula that will take into account real throughout bandwidth (how to probe it?), video and audio bitrate of the video file etc...

[2021-02-21 09:14] lars18th commented on #420
That's in fact the real solution! You need to calculate the buffer based on time. For example you can use this strategy:
- Initial buffer size: 1MB.
  - Start to read, and determine the FRAME-RATE.
  - Based on the FRAME-RATE read 1/2 second; and if the buffer is full, then increase size in steps of 1MB chunks.
  - After readed the 1/2 second, determine the BITRATE; and based on the bitrate calcul

[2021-02-21 09:15] lars18th commented on #420
In my case, I need for a configurable value, as for some videos the current 24 is small. But for regular ~5Mbps VBR H.264 videos over SFTP I need to reduce it to a half or quarter of the current value.

[2021-02-21 09:22] lars18th commented on #422
Hi @courville ,

Then I hope you can improve the "network shared functionality", in the sense of support multiple players sharing the same folders.

If you want to support this environment I suggest to take into account these ideas:
- Implement the option (or force it) to write _all_ changes in the NFO files. This can be done inmediatly or when the player exists.
- Implement the functionality to _

[2021-02-22 08:00] lars18th commented on #420
Hi,

Sorry for the stupid algorithm presented before. That's an enhanced idea:
- First, increase the buffer size to 64MB. This will improve the speed load over slow links.
- Second, get the FRAME-RATE of the file to play (that's mandatory).
- When the buffer has 1/2 second, or 1 second or 1.5 seconds (configurable by user) then START to PLAY.
- However, continue reading the buffer until it will fu

[2021-02-22 09:07] phhusson commented on #420
We know we need to take video timestamps into account, and it's been in the todo list for years, but so far we've considered it's too much work.

[2021-02-22 09:40] lars18th commented on #420
Then, perhaps with some collaboration we can help. From my point of view, the first, and perhaps the simple step is to implement a callback function to instruct to the player to start to play. Then with some help we can try to implement the function that checks the tiemestamps and calculate when the buffer has sufficient data to start playing. Futhermore, with this "simple" enhancement can be poss

[2021-02-24 16:58] cehnzz opened #423 "display and text distortion in list and table view"
![Upload
![IMG_20210224_194059](https://user-images.githubusercontent.com/49096330/109036060-4c4d1400-76da-11eb-88c3-96e8cde8ce8f.jpg)
ing IMG_20210224_194051.jpg…]()

device: Redmi Note 9 Pro
 app version: 6.0.5-20210117.1149

[2021-02-26 08:43] lars18th commented on #422
Hi,

After thinking more on the NAS sharing, I propose another different approach. I feel this will be more confortable for the current developers, as it doesn't require changes to the UI and it's easy to use for the advanced users.

- The basis is a new hot file in the shared directory: `.shared.archos.xml`. This is a hidden file that indicates that the content is shared, and it can be used to st

[2021-02-26 19:11] mschumacher69 opened #424 "Locust not sorting properly"
[Locust](https://thetvdb.com/series/sarancha) is always shown first in all tv shows when I sort by date premiered or date aired, even though it's detecting that it aired in 2016.

[2021-02-27 00:09] Unix-Kernel opened #425 "Did not manage to access the file"
When accessing and trying to play SMB network video files, Nova is unable to play the video and the “File info” shows: “Did not manage to access the file”, so I have to click the back/return button and enter the file again in order for it to play.

It does not occur for all video files and I could not find any pattern to establish why it does it for some and not for others when they are in the sam

[2021-02-27 09:24] courville commented on #425
In latest nova versions (v5.x) since January, SMB2/3 support has been added migrating to a new jcifs library.
I have been trying to fix all the incompatibility last years but some might remain.

Can you please specify the frequency of appearance of the problem? Is this quasi systematic?

In your specific case, could you please disclose your NAS server and brand? Can you please also confirm what ex

[2021-02-27 11:43] Unix-Kernel commented on #425
1.)	I’m still on v4.49.15-20201208.2106 so only SMB1
2.)	Frequency = 90% or 9 out of every 10 files (keep in mind that I’m still able to play the video files but not unless I click the remote’s “return” button and then go back in and click play/resume.
3.)	NAS server = WinXPSP3-32bit via SMB simple shares and no authentication.
4.)	Force close of nova app and restart helps? = No
5.)	No SMB2 since

[2021-02-27 13:49] courville commented on #425
OK thanks for the answer and details provided.

This means that it is not a regression due to jcifs-ng introduction since you are using v4 version. I sadly missed that part in your last sentence.

Note that the debug procedure provided will not help in your case since it is new in v5.

I would propose at this point to update to v5 version https://github.com/nova-video-player/aos-AVP/releases/tag/v

[2021-02-27 14:14] cfal commented on #415
Thanks for following up on this!

[2021-02-27 16:00] mickeul commented on #420
I vote 1 UP to make the possibility to increase buffer size (in MB or in milliseconds as VLC does)
I have UHD HDR10 videos in a local NAS and the video stops every 4 min
In Kodi, no, neither in VLC

[2021-02-28 09:19] gigabyte-1000 opened #426 "DLNA/UPNP Not listing all files"
I use the "Mezzmo Media server" and Nova video player is not listing all the files it seems to cut off or stop listing after about 50 items, I checked logcat but didn't notice any obvious errors

I also have another problem setting nova player as the default player on Android TV
it says Open 192.168.1.44 links with Nova Video Playyer
Just Once  Set to always open

If I set to always open it closes

[2021-03-01 10:25] lars18th commented on #420
Hi @mickeul ,

Not only to increase the buffer size, but to reduce it too!
I suggest to do this soon, even using an XML configuration, that can be implemented for example at folder level with the `*.archos.xml` files.

However, the fundamental required functionality will be the enabling of the dynamic use of the buffer. This will be achieved when the start of playback is based on time rather than

[2021-03-01 12:48] mickeul commented on #420
The goal is to make available the opportunity to change the buffer size (increase or decrease) all other vidéo players can do it so Nova should too
And has to be available easily, not only via a trivial modification like editing the xml file, it has to be well accessible

[2021-03-01 13:11] phhusson commented on #420
Actually I was wrong, the line mentioned does NOT hard-code startup buffer size.

@lars18th did you try changing its value, and actually see improvement?

[2021-03-01 13:36] lars18th commented on #420
Sorry @phhusson , at time I don't have tested it.

[2021-03-03 15:14] Pentaphon commented on #426
Try another DLNA server before blaming Nova. I always see all my files with Nova.

[2021-03-03 15:19] Pentaphon commented on #418
It sounds like you mean over DLNA? You need to give us more details. I have no problem playing videos on Nova, even over DLNA.

[2021-03-03 15:22] Pentaphon commented on #410
All @courville can do is update to dav1d 0.8.2 and ffmpeg 4.3.2 which came out since the last post.

[2021-03-03 21:29] gigabyte-1000 commented on #426
The server is fine and I have no reason to change it, I can see all the files using BubbleUPNP , VLC, Mezzmo (android app), Kodi, nPlayer, DLNA Channels (small app for Android TV to list content on homescreen).

So since most other players can show all content fine I am sure there is some kind of bug in Nova Player, I didn't see anything in logcat but I will check again and see if I notice any err

[2021-03-03 22:40] kjb70 opened #427 "Firestick 4k when playing forward in hnags in a loop forever"
When I play a Video (smb or dlna) on Firestick 4k an I want to to a fast forward it hangs and loops forever.
Is the Version delivered from Amamzon the latest version?

[2021-03-04 22:23] courville commented on #427
Let's try to focus on SMB support.
What is the NAS you are using?
Could you please try out this apk: https://github.com/nova-video-player/aos-AVP/releases/tag/v5.15.17 ?
If it does not work please try disabling SMBv2 and change resolver order in nova settings (do force close nova between each test).

[2021-03-05 09:33] courville commented on #426
nova is using cling java opensource library for UPnP support. It has known limitations and some compatibility issues with some UPnP servers.
For now there is no plan (manpower) dedicated to migrating to another solution.
For network shares, SMB is the preferred way (no srt file guessing with UPnP not supported by standard etc.).

[2021-03-06 07:25] Pentaphon commented on #426
Can you give us an example of this? With screenshots maybe?

If there's a better UPNP solution, you should consider creating an issue with the label "help needed" that will call upon the community to migrate us to a better solution. Also, ask the reddit community for help in anything you don't have the time to complete.

[2021-03-06 07:28] Pentaphon commented on #423
Your screenshot is broken.

[2021-03-06 18:04] Pentaphon commented on #47
PGS is supported on Exoplayer, which Nova will be adding in v7, so look out for that in the future.

[2021-03-06 19:15] lars18th commented on #401
Hi,

Regarding the "upgrade" to Exoplayer, I want to know if this change will remove any current functionality. For instance, I use some container formats not supported by ExoPlayer. So the question is: You will provide support of these formats? Or if not, you will continue providing a version with the current player?

I hope almost you continue providing a version with the "current" player.
Regar

[2021-03-06 19:25] Pentaphon commented on #401
The dev has stated that you will be able to toggle between Exoplayer and ffmpeg which is the best solution for everybody. He is well aware that Exoplayer has format limitations along with the benefits. With time, Exoplayer's limitations will fade away as more features are added to Exoplayer and certain formats become less and less used, but I expect the dev to continue supporting both Exoplayer an

[2021-03-06 19:29] DrGogu commented on #47
We are at v5 now.. any idea when v7 will be coming?

Thanks.

On Sat, Mar 6, 2021, 12:04 PM Pentaphon <notifications@github.com> wrote:

[2021-03-06 19:53] Pentaphon commented on #47
He is working on v6 and I believe another person is working on v7 at the same time. V7 is a bigger project so that is further out. You can follow the progress at this issue.

https://github.com/nova-video-player/aos-AVP/issues/401

The dev has stated that test builds are coming but not to expect them soon. I've already asked him to let us know via the releases page or that issue when test builds a

[2021-03-08 14:55] kjb70 commented on #427
Does not help. I tried the smb (with all the varieities) and also the upnp
The thing is when I watch a movie and presse pause and then play again, it coult be, that it hangs (in 80% of the cases)

[2021-03-09 09:58] courville commented on #427
What type of NAS you are using?
Is this a regression compared to an earlier version of nova?

[2021-03-09 15:25] kjb70 commented on #427
I'm using ReadyMedia (minidlna) 1.3.0 on a linux system.
There is no change in behaviour. Prssing the big round button on remote the video is paused. After pressing play it plays in slow motion and the loading cycle is cycling. After a while it stops.
Also when spooling sometimes it works, but after a while spolling back and forward and back and so on it hangs in a loop forver...

[2021-03-10 13:38] lars18th opened #428 "[Feature Request] Print FILE metada"
Hi,

Previous to the (manual) scrapping we can see the full filename and the streams of the file. However, some container formats include _some_ medatada. This information can be useful (specifically with TV recordings) to select the correct program when searching in the database. So, please can you print in the UI not only the file structure (video resolution, audio tracks, etc.) but also the MET

[2021-03-13 00:25] MD77MD opened #429 "remove delete file in upnp"
deleting a file whlie browsing in upnp mode, results in the app crashing... although it works fine in smb mode...

 i suspect that deleting files is not possible in upnp mode that's why the app crashes... i would suggest removing the delete option while in upnp mode

[2021-03-13 08:35] kjb70 commented on #427
I have done some testing.
I took a second Fire TV 4K Stick. Same problem.
I changed from LAN to WLAN. Same problem.
But:
When I plug in the Fire TV 4K Stick into my Samsung TV dierectly, it seem that nothings hangs.
When I plug in the Fire TV 4K Stick into my Denon AVRX100, I have the hang Problems.
What is the difference for the FireTV Stick 4K when it is plugged in into the TV or onto the AVR?
H

[2021-03-13 20:52] courville commented on #402
OK reading https://github.com/UweTrottmann/SeriesGuide/issues/762 suggests that we need to switch.

[2021-03-14 08:32] mschumacher69 commented on #402
If trakt and seriesguide are moving away, I guess you're gonna have to follow suit.

Don't trakt provide episode data, posters and backdrops via their API?

I mean't can't you pull episode data from their API or is their API just for syncing watch progress?

[2021-03-16 09:49] courville commented on #427
OK, I think your problem is a passthrough issue.
What I recommend is to use your stick on the Denon but not to select any audio passthrough option on your stick. This should result in nova decoding in multichannel PCM that should be supported by your Denon AV receiver with less incompatibility.

[2021-03-16 12:27] kjb70 commented on #427
In the settings of the Fire Stick 4K i cannot find any passthrough settings.
In the settings of Nova Video Player it is disabled
hang problems are still there.

What settings do you mean?

[2021-03-19 14:46] bahusoid opened #430 "Audio passthrough: Add option to transcode not supported by receiver audio formats to AC3"
Useful for formats like multichannel AAC or Dolby Digital Plus  and old receivers. Ideally it should be possible to manually specify list of formats for AC3 transcoding.

[2021-03-20 07:13] homeboy-xie opened #431 "FTP中文显示乱码"
华为Mate 30，从Google Play下载的版本以及github下载的正式版FTP中文均显示乱码。但测试版6.0.5-6都正常。
![Screenshot_20210320_144957_org courville nova](https://user-images.githubusercontent.com/33028584/111862086-ddd43c80-898d-11eb-9db3-15d7034ea607.jpg)

[2021-03-20 22:04] HDGuy opened #432 "6.0.7 Auto-refresh rate switching broken on Nvidia Shield"
Doesn't switch refresh rates. Tried it on both my Shields, 2017 and 2019.

[2021-03-21 10:01] courville commented on #432
Thanks: fixed by https://github.com/nova-video-player/aos-Video/commit/1f751cdc87ebefabbed91153c4a1703229be712e

[2021-03-21 10:01] #432 closed, assigned to nobody

[2021-03-22 00:42] HDGuy opened #433 "6.0.8 Auto indexing all mounted drives on Nvidia Shield"
For some reason 6.0.8 is indexing everything on my NAS automatically, which isn’t good for the obvious reasons. Should be an option to add mounted drives/folders rather than to just have Nova start indexing everything the first time you start it. Going to spend more time removing things than adding it.

On the Shield you can manually add individual SMB drives/folders, but the drives mounted to the

[2021-03-22 07:40] courville commented on #433
If you are not using SMB mount special feature from shield and go through nova SMB management, you should have control over what you index.
You can always prevent indexing with Android .nomedia file trick in the folders you do not want to index.
Nova for Android system managed content (i.e. local storage, external drives and in shield case mounted drives), nova relies on the internal android media

[2021-03-22 21:12] mschumacher69 opened #434 "Watch state not syncing with trakt"
None of the Formula 1: Drive to Survive episodes synced with trakt for some reason.

Edit 1: None of the shows are actually syncing with trakt anymore.
Edit 2: Another show just synced actually, not sure what's going on...
@courville

[2021-03-23 17:07] ian1182 opened #435 "[Feature Request] V6 Beta Make Animations section an option"
Could you consider making the appearance of the Animations section a selectable option. That then allows some flexibility in how an individual wishes to present the list of videos.

Can you also explain what criteria is used to decide if a video falls into the animation category. For example would "The Simpsons" be TV or animation or both?

[2021-03-24 02:56] Sazaju opened #436 "SFTP folder with dash not properly managed"
I access my own server through SFTP.
When opening a folder starting with a dash (e.g. `#favorites`) it behaves strangely.
It opens it but immediately goes back.
Or maybe it shows the content of its parent folder instead of its own.
Anyway it looks like we are in a loop: I open it, I see the parent directory again, open the folder again, and so on.
No particular error is displayed.

[2021-03-25 10:41] eesheesh opened #437 "[Feature Request] Sort by date when browsing files"
I'd like to be able to see the newest files first when browsing a folder (specifically, a network folder).

It would be great if that option could be added. :) Thanks for the great player!

[2021-03-28 20:08] mschumacher69 commented on #434
@courville any idea why is it not syncing with trakt?

[2021-03-30 11:01] Sec-ant commented on #368
Plus one for this feature, any plan yet?

[2021-03-31 20:12] kjb70 commented on #427
Any solution for Firestick on an AVR Receiver?

[2021-04-01 08:32] courville commented on #427
Try not using passthrough. You will still get 5.1 PCM multichannel if hooked directly to AVR.

[2021-04-01 09:23] kjb70 commented on #427
In the Nova Video Player I set "not using passthrough". It doesn't help. When playing and press "pause" and the "play" again, it hangs. Or if I make fast forward or fast backward in hangs.
Like i said it depends on where the Fire TV Stick is plugged in. Directly in the TV it is working. In the AVR receiver it hangs.
I also tried SMB, DLNA, .... and many other settings. Other players like MMC or vi

[2021-04-01 21:03] courville commented on #427
OK I tried and indeed I reproduce the behavior you have.
I managed to have a stable working state this way: in nova settings click several times on enable swcodecs (it will enable some advanced options) and then select audio codecs and pick openSLES.
It seems that audiotrack is having issues on AV receivers.
Please let me know if it helps.

[2021-04-02 00:34] YuzuNowggfgbdfgb opened #438 "Still does not allow delete"
Hello,
I have posted this issue previously and in the latest update it still does not function.
It will not allow the deletion of files on a USB when attached to the TV.
Sony TV X9500G (Australian) with latest android version installed.
All files are in the root directory of the USB no directories.

Thanks

[2021-04-02 05:11] hellofriendgleech commented on #337
Really need this. If this happens i dont think will ever need any other video player or something like plex ever

[2021-04-02 08:25] kjb70 commented on #427
selecting audio codecs and picking openSLES helps. It does'nt hang anymore.
But now I have another problem: Playing avi leads to too fast playing and jumping while playing. Any idea, why this is like that?

[2021-04-03 01:55] drm-nz opened #439 "Cannot display file info or play video from search results"
Hi There,

I use Nova Player on Android. My files are stored on a NAS that I'm accessing via SMB. When I list my files, everything looks fine. When I click on a video, I can see the file info and can play without any problems. But when I search for a file and I click on the video name in the search results, I get a "Did not manage to access the file".

So, in other words this works:
* Open Nova Pl

[2021-04-03 16:59] courville commented on #427
When using audiotrack everything goes fine until seek is performed and NdkMediaCodec sf errors are encountered (no sound). Back creates ANR.
[code]

[2021-04-07 18:03] courville commented on #439
Indeed this is a bug: thx for the report.

[2021-04-07 18:28] courville commented on #435
For now it is not considered to have animations an option simply because it would impose a complex logic to switch between loaders and result in a complex code to maintain and test.

The criteria used to decide if a video falls into the animation category is based on the tvdb or tmdb scrape genre.
There is a distinction made between animation movies and tv shows.
The animation row contains one til

[2021-04-07 18:32] courville commented on #431
Translation: "For Huawei Mate 30, the version downloaded from Google Play and the official version of FTP downloaded from github all show garbled characters. But the test version 6.0.5-6 is normal."

Thanks for pointing this out: I have been working on improving the ftp support and did not know that it had a positive impact on the foreign language support. Good to know. It will thus be fixed when

[2021-04-07 18:46] courville commented on #430
It is indeed the only universal robust passthrough option.
It is on the todo list...

[2021-04-07 19:25] courville commented on #416
Closing the issue. Will reopen if need be.

[2021-04-07 19:25] #416 closed, assigned to nobody

[2021-04-07 19:26] #415 closed, assigned to nobody

[2021-04-07 20:32] ian1182 commented on #435
OK

[2021-04-07 20:32] #435 closed, assigned to nobody

[2021-04-08 06:55] courville commented on #429
Just for clarification sake, I take that this remarks applies to the phone/tablet interface. The leanback TV one seems to be immune.

[2021-04-08 06:59] #429 closed, assigned to courville

[2021-04-08 12:36] courville commented on #336
getPath is greylisted reflection denied on API30:
See https://github.com/nova-video-player/aos-FileCoreLibrary/commit/e81467beab3e6c47090448674870d8b7bbeb1c46
See https://github.com/nova-video-player/aos-FileCoreLibrary/commit/04839cae17ed8547006c74eec99e660e11cd180e

[2021-04-08 13:34] Gaba90 opened #440 "No Playback possible as external player for Synology Nas (DS Video)"
I want to use the DS Video App for my Sony Android TV to browse movies and select nova as the player for playback. This sends a vgistreaming.cgi file which nova doesn't play and shows only black screen with the file title on top. Other players work fine.

[2021-04-08 19:11] courville commented on #336
Pending google play to be ready to manage properly android.permission.MANAGE_EXTERNAL_STORAGE and request exemption.

See https://github.com/nova-video-player/aos-Video/commit/fa42e916de4ffca7758d68e83d8b0f5915d3a1b3

[2021-04-09 07:25] courville commented on #336
Check https://support.google.com/googleplay/android-developer/answer/9956427 to request exemption.

[2021-04-10 01:15] silverag123 opened #441 "SMB connection not working in latest version for Android TV I downloaded from Google Playstore: 5.15.19-20210319.1842"
SMB connection not working in latest version for Android TV I downloaded from Google Playstore: 5.15.19-20210319.1842
I am using shared folder on Windows 10 within domain and player detect my PC but keep asking for user/password - whatever I enter, it won't login but keep asking for user/password. The same folder is visible in VLS so it is not due to problems in sharing.

Problem is the same with

[2021-04-10 09:36] courville commented on #441
Could you please try to change in nova settings the SMB resolver order and
retry after a force close of the application?
Was it working on an earlier version of nova?

Best regards,

Le sam. 10 avr. 2021 à 03:15, silverag123 ***@***.***> a
écrit :

[2021-04-10 13:42] silverag123 commented on #441
Thanks for fast reply!
OK - I turned option "SMB resolver order" on, but no luck - problem is the same. Player shows my Laptop in network option but when I click on it, it keeps asking for user/pass and whatever I use - and I tried combination domain;username for username and only username without domain - both with proper password and combinations that works in VLC.

This is my first use of Nova

[2021-04-10 14:38] courville commented on #441
OK sounds like in your case, I need to add the domain parameter.
I will share a test build when I have time to see if it solves your issue.

[2021-04-10 15:23] silverag123 commented on #441
Excellent! Inform me where to download APK to try. Thanks in advance!

[2021-04-15 20:47] counttiefre opened #442 "[Feature Request] Display director of movie"
Hi, been hoping to see this feature for a while - having movies display the director’s name where the cast list is would make it a a lot easier to remember/know what is being watched.

[2021-04-16 19:53] gggirlgeek commented on #254
doubclick? Seriously? Grrrrrrrr. That would allow many many ads to get through your firewall -- way too many. So this would be a deal-breaker for me.

[2021-04-17 10:04] Pentaphon opened #443 ""Next file/episode" button in player that also marks as played?"
I'm not sure if you're planning a player UI overhaul which may include this feature, but I think it is important to add ASAP.

The age of streaming TV is moving faster than ever before and we're going to have more and more TV series than ever. Streaming services have an easy way for you to skip to the next episode, even if streaming player remotes don't have a "next track" button.

Therefore, it i

[2021-04-17 10:19] Pentaphon opened #444 "Show the time that playback of the current video will end?"
I know we have the clock in the corner, and we can do the math in our head, but it's handy to see the exact time a video will end so we quickly see if we will be able to finish a movie before we need to do something else around that time.

Kodi does this, and long movies especially benefit from this. Picture below.

Not sure if you're planning to add this in a possible UI overhaul, but it's someth

[2021-04-19 19:41] Textator commented on #254
I dididn't check which domains would've to be whitelisted - but: you just need to diasble firewall /adblock / pi-hole while siging in into trakt.tv. After that you can block again. We'll I can.

[2021-04-21 12:57] svemonix commented on #40
I do have the same behavior with DTS audio and passthrough on my Android TV box connected directly to my AV. According to the UI, it is using hardware decoding.

Disabling passthrough is not an option as it results in Stereo only output encapsulated in Dolby Digital Plus (EAC3). This is because my device like many others can't output multi-channel PCM but only stereo PCM, AC3, EAC3, DTS and DTS-HD

[2021-04-25 08:01] courville opened #445 "opensubtitle has fps, filter results"
See https://trac.opensubtitles.org/projects/opensubtitles/wiki/XMLRPC and more specifically `'moviefps' => $moviefps, 'movieframes' => $movieframes`.

[2021-04-26 12:43] lars18th commented on #428
Hi,

After some time without feedback/request about this feature, I feel I need to describe it a litte more:

- With some titles the manual scrapping returns multiple options. And perhaps you don't know what's the correct one. This is really true when scrapping DTV RECORDINGS. Then, it will be interesting to print as <FILE METADATA> the potential content inside the _file_. Remember that some filef

[2021-04-26 12:48] lars18th commented on #422
Hi,

I changed the title of the issue from "Auto-export NFO files doesn't work as expected" as the Request is to add FULL support for shared storage... for _multiple_ Nova clients. I feel that at time this is one of the most must-have functions.

I hope you want to share here ideas about how to implement it. My suggestion it's in the previous post.
Regards.

[2021-04-26 12:49] lars18th commented on #422
Here a list of linked functionalities/requests related to this "NAS shared support":
- Block deletes: #421

[2021-04-27 09:32] newme21 opened #446 "App crashes when trying to access OneDrive content"
When accessing content from my OneDrive the app crashes

 If you click cloud on the app it brings up the android file manager and when I select my file from the OneDrive the app would crash.

Samsung s10e android

[2021-04-29 02:24] nadr21a21 commented on #337
Please support google drive team drive

[2021-04-30 18:58] desdinova2220 opened #447 "duplicate video files that are inaccessible in 90% of nova movie library after rescan of external drives new movies"
No matter how many times i reinstall the app on my sony bravia and try to delete the library, reinstall nova video player and rescan the drive on my pc's shared network folder to novas library, i still get 2 copies of the same movie files in almost every movie selection under my storage info but one is inaccessable and it wont delete or go back to one copy and i have to select the new file before

[2021-05-07 15:54] okan35 opened #448 "Whenever I click shared smb folder app crashes"
Basically title.

[2021-05-07 16:01] courville commented on #448
Basically can you please provide more details (SMB server type, android device used, logs, etc...)?

[2021-05-07 16:16] okan35 commented on #448
Phone is Sony Xperia xz premium android 9,
Smb data is in the screenshot, imgur.com/a/vfFnXh5

Even if you clean app data when you go.to left menu and click shared smb folders it just crashes.

Dont know what kind of logs I can provide.

[2021-05-07 16:20] courville commented on #448
OK this is SMB1, could you please disable SMB2 support in nova settings, force close app and see if it helps?
This is strange that it crashes (I do not experience this).
In terms of logs adb logcat logs would be nice: https://github.com/nova-video-player/aos-AVP/wiki/Debugging this would capture the android app crash at least.

[2021-05-07 16:23] okan35 commented on #448
Yep, that was it. I disabled smb2  and reentered smb address and it worked no crashing. I will try for logs.

[2021-05-07 16:24] courville commented on #448
OK thanks for the confirmation. I am very interested in getting the logs to fix it.

[2021-05-07 17:09] okan35 commented on #448
So I tried again and got the log, it is this error;

05-07 18:56:47.382 10659 10744 E AndroidRuntime: FATAL EXCEPTION: Thread-9
05-07 18:56:47.382 10659 10744 E AndroidRuntime: Process: org.courville.nova, PID: 10659
05-07 18:56:47.382 10659 10744 E AndroidRuntime: java.lang.ArrayIndexOutOfBoundsException: src.length=576 srcPos=2541 dst.length=6 dstPos=0 length=6
05-07 18:56:47.382 10659 10744 E A

[2021-05-07 21:45] bronnel commented on #402
@courville thank you for switching to TMDb for tv show data, it is the right move, everyone is getting away from TVDB,  TVDB was build by the userbase community and now they are asking money for data that was provided by the userbase, well they should go and F**k themselves.

[2021-05-07 21:47] courville commented on #402
not finished yet but soon.

[2021-05-07 21:51] bronnel commented on #402
thank you , no problem take your time with it, TMDB is perfect , I read somewhere that users are now uploading their data to TMDB instead of TVDB, which means more support and that's what we want.

[2021-05-07 22:06] courville commented on #402
Adapting the code to TMDB, I am optimizing the scraping process with caching that should boost the tvshow scraping speed. .. Now I need to iron out all the corner cases.

[2021-05-07 22:52] bronnel commented on #402
@courville Great work this would be really awesome.

[2021-05-14 17:45] okan35 opened #449 "Randomly loosing everything and rescraping"
So sometimes app loads everything like it never loaded, I set it to recheck for new files every time app opens but I think it should not loose what it already has from the list of movies, shows.

[2021-05-19 07:25] Levantin79 opened #450 ".ISO Files are not playable"
Hello together,

I use the player on my stand alone media player (HiMedia Q10 Pro). Playing video files, is thus done via the Q10's own player, not via Nova. All my files are on an internal hard drive, as well as an external drive connected via USB. All movie files are recognized, played and added to the library.

However, as soon as I want to play .iso files, the player crashes and restarts. Also

[2021-06-02 12:33] bkarlson commented on #301
Hello,
I have the same problem. Using Nova on an XGIMI projector, and USB drives when connected appear under /mnt/usb/ folder. Nova should have access to this folder (just like any other app), but in Network and Files I can see only Network | Internal | Playlists sections ,no USB drives. Internal leads to /storage/emulated/0 and I cannot go any level higher than that. Any fix coming?

[2021-06-08 11:56] bronnel commented on #402
@courville I have one suggestion , in future when you release tmdb for shows, I think it is a good approach not to get rid of tvdb completely , what I think is best is that  you can make new option in preferences where the user chooses the  source for tv shows data scraping , it should either be tvdb or tmdb, I think it is a good choice , just in case we get a free license from tvdb, I really like

[2021-06-08 15:24] mschumacher69 commented on #402
Agreed, especially that thetvdb has a per user license as well, so if any user pays for thetvdb subscription, they can make use of it in nova.

[2021-06-09 04:56] lys1980 opened #451 "Resume does not work"
Last play store version, Sony Kd48A9 (2020). I stream MKV movies via SMB. If I use external movie player apps it works correctly, but not with  nova player

[2021-06-12 08:23] courville commented on #451
I unfortunately cannot reproduce. Could you please check that when exiting the viewing of the movie that you have on your SMB share there is a .movie.archos.resume.xml file and its content (for the last played timestamp)?

[2021-06-12 08:27] courville commented on #402
@bronnel and @mschumacher69 in principle I agree with you and this is what I did initially but I ended up with difficult code to maintain. For now unfortunately this is not what is implemented.

[2021-06-28 17:48] marilabs opened #452 "v6 does not have an anime saga box"
v6 version is lacking an anime saga box making it hard to binge watch anime movie collections.

[2021-06-28 17:52] courville commented on #452
Indeed for consistency sake it should be there.

[2021-07-04 21:18] dellt211 opened #453 "Problem with Nova Video Player for Andriod TV"
Hi, I'm most likely the less tech savvy person around.  I have been using the Nova player for our television for some time now without any problems.  However, it seems for about the last month or so, Nova fails to see many of my videos.

There also appears to be a limitation of total files, since it will not see any files titled A-T except for around 970 when in fact there are over 1200.

I stream

[2021-07-06 01:26] Ionaru opened #454 "App crash on launch"
Since a few weeks I am no longer able to open Nova Video Player on my phone. When I open the app, it shows the blue app background and then returns me to my home screen, the app is then also removed from the running apps.
I believe some issue is causing the app to crash on launch.

I've tried a few things to try and get the app to work, but no luck

- Reinstalled from Google Play.
- Toggled app pe

[2021-07-07 09:40] courville commented on #454
Hi, what would be helpful is to get some logs (adb logcat) of the crash since I am not able to reproduce.
Could you please check if you can get these following https://github.com/nova-video-player/aos-AVP/wiki/Debugging ?
Thank you

[2021-07-07 22:06] Ionaru commented on #454
Here are my log files, they are the recording of me trying to open the app through the default EMUI launcher.
The `nova_only.txt` files is all lines filtered by `org.courville.nova`, the other file is unfiltered.
I hope this helps.

[nova_only.txt](https://github.com/nova-video-player/aos-AVP/files/6780279/nova_only.txt)
[full_log.txt](https://github.com/nova-video-player/aos-AVP/files/6780280/ful

[2021-07-09 08:01] courville commented on #454
There is unfortunately nothing noticeable in the logs.
Have you tried to reboot your phone?
There has been cases of this "stuck on blue screen issue" that was resolved by a reboot.

[2021-07-09 08:46] courville commented on #454
Before you reboot, I could send you a debug apk to trace where the application is stuck using a debugger if you are ok to proceed with this.

[2021-07-09 14:03] courville opened #455 "RuntimeException dans makeApplication on AndroidTV (Sony/Philips)"
According to Google play console there are quite a number of crashes reported:
[code]
According to some research https://stackoverflow.com/questions/44278561/unexpected-crash-in-basedexclassloader it seems to be a transient state perhaps during upgrade:

Conclusion for now: `/dev/null` won't fix.

[2021-07-09 21:41] Ionaru commented on #454
I rebooted my phone and that seems to have fixed the issue.

[2021-07-10 10:34] courville opened #456 "freebox: no smb host resolution after upgrade"
Prior to circa May 2021 freebox was using solely smb v1 and shares were correctly recognized under `\\FREEBOX\Disque Dur`.
After freebox update to support smb v2 (and corrective maintenance release) with smb v2 support, TcpDiscovery detects IPs but name resolution is broken i.e. only `\\192.168.0.254\Disque Dur` is visible and any attempt to access previously indexed content results in:
[code]

[2021-07-13 11:33] courville commented on #336
Exemption requested and denied.
For the record here are the elements sent.
App functionality requiring the permission (limit 500 chars):
[code]
Why can't your app follow good confidentiality practices (i.e. Storage Access Framework or Media Store API or Scoped Storage) (limit 500 chars):
[code]
Less than 30s video explaining the claim: https://home.courville.org/nova_video_player-faq/nova-MANAGE_E

[2021-07-13 11:34] courville commented on #336
Note that Google failed to implement on Android TV (at least API30 emulator) the required dialog to manage properly `android.permission.MANAGE_EXTERNAL_STORAGE`:
[code]
This is a mess.

[2021-07-13 18:16] courville commented on #336
For SSA/ASS cf. https://android-review.googlesource.com/c/platform/packages/providers/MediaProvider/+/1764553

[2021-07-13 20:48] courville commented on #336
Found old issue on issuetracker somehow related https://issuetracker.google.com/issues/136774034
And precious command:
[code]

[2021-07-14 13:58] courville commented on #336
API30debacle plan of record:
* rely on Media API to import storage content (valid for video&srt, no ssa/nfo --> request to google?)
* use storage access framework for video delete/subs download? (groupped actions possible?), check if there is no annoying directory picker
* possible use scoped storage to replicate external/local storage tree for NFO/cover/(no XML on internal storage) with /sdcard/A

[2021-07-14 14:01] courville commented on #336
In terms of deadline 2021/11/1 for nova cf. https://support.google.com/googleplay/android-developer/answer/9859152#zippy=%2Ctarget-api-level-requirements-for-play-console

API level requirement | Starting date
-- | --
Android 8.0 (API level 26) | August 1, 2018: Required for new appsNovember 1, 2018: Required for app updates
Android 9 (API level 28) | August 1, 2019: Required for new appsNovember

[2021-07-15 01:34] dellt211 commented on #453
Finally got it to list/show more than 1k videos, at last.  Seems there may be a limit to amount within a single folder.  I split them up and got over the 1K mark.  It still does not list the entire amount but it's presently within a 100 or so.

[2021-07-15 01:34] #453 closed, assigned to nobody

[2021-07-15 19:45] courville opened #457 "Android 12 beta3 crash"
Same apk run on Android 11 works but crashes on Android 12 beta3:
[code]

[2021-07-16 04:03] courville commented on #457
Cf. https://stackoverflow.com/questions/24701029/how-to-properly-pass-an-asset-filedescriptor-to-ffmpeg-using-jni-in-android
[code]

[2021-07-17 16:37] courville commented on #457
Crash happens in `SambaDiscovery`: `System.loadLibrary("filecoreutils");`

Checking: `/opt/android-sdk/ndk-bundle/toolchains/x86_64-4.9/prebuilt/darwin-x86_64/x86_64-linux-android/bin/readelf -a ./build/intermediates/library_jni/release/jni/x86_64/libfilecoreutils.so | grep NEEDED`, we see that `libnativehelper.so` is correctly embedded:
[code]

Renaming `libnativehelper` to `libnvpnativehelper` f

[2021-07-18 13:56] courville commented on #457
Check: `/opt/android-sdk/ndk-bundle/toolchains/x86_64-4.9/prebuilt/darwin-x86_64/x86_64-linux-android/bin/readelf -a ./build/intermediates/library_jni/release/jni/x86_64/libfilecoreutils.so | grep NEEDED`

[2021-07-18 14:25] courville commented on #457
Keeping the issue open pending better fix.

[2021-07-18 16:14] courville commented on #457
Issue created on Google IssueTracker https://issuetracker.google.com/issues/193933286

[2021-07-18 16:24] courville commented on #454
Good to know. I should find a way to debug this one since after some time it happens. Not clear if it a real nova issue though. Will reopen when I reproduce with a debug apk.

[2021-07-18 16:24] #454 closed, assigned to nobody

[2021-07-18 16:24] #452 closed, assigned to courville

[2021-07-18 16:26] courville commented on #448
Realignement of UdpDiscovery with latest version of jcifs-ng probably required. @nnoury please check.

[2021-07-18 16:31] courville commented on #456
It appears that `UdpDiscovery` does not pick up freebox and only `TcpDiscovery` does but with no name resolution. MDNS required for that and new discovery is required with Android NSD. First attempt contributed there https://github.com/nova-video-player/aos-FileCoreLibrary/pull/7
Potentially the right course of actions is:
- launch own discovery at app launch via CustomApplication depending on Net

[2021-07-19 01:37] Unix-Kernel opened #458 "Online streaming playback from other applications"
Using v5.15

It seems that Nova does not support video streaming from the internet (http) when trying open them from other applications.

For example, when using Cinema, Tivimate, or Kodi and trying to use Nova to playback the online streams, nothing happens and the screen goes black.

I may be wrong but I don't think that Nova supports playback from http-internet streams, is this correct?

Is the

[2021-07-22 12:07] courville commented on #458
Hi,

you are right in the sense that nova supports only http (not https)
streaming for now.

BR,

Le lun. 19 juil. 2021 à 03:38, linuxlad ***@***.***> a écrit :

[2021-07-22 12:08] courville commented on #453
Thanks for reporting this issue and sorry for the late reply.

Do you confirm that you observe this issue on UPnP browsing?

BR,

Le jeu. 15 juil. 2021 à 03:34, dellt211 ***@***.***> a écrit :

[2021-07-22 13:48] Unix-Kernel commented on #458
Ok, thanks

[2021-07-30 15:52] Unix-Kernel opened #459 "Bug with auto-play of multi-audio files"
When there are two audio tracks and play mode is set to “folder” so that the following file automatically plays and I want to use the second audio-track (English) for all the videos in that folder, Nova plays the incorrect audio in (Spanish) when the correct audio-track (English) is enabled.

For example; when the first audio-track is Spanish and the second audio-track is English for all video fil

[2021-08-11 07:09] yulelong opened #460 "Crash on HarmonyOS TV"
NOVA keeps crashing once I launched it on my Huawei TV (HarmonyOS 2).
I've tried following steps, yet this issue remains.
- installing and uninstalling v6/v5/v4
- rebooting my TV
- grant file access permission

The Download/org.courville.nova//nova.log file is empty (0 bytes).
How can I help to solve this?

[2021-08-15 05:40] Pentaphon commented on #177
@courville Nova changes the display name of the video currently playing only when the videos it plays have been scraped which is  why you probably haven't encountered this. I am confused why the player doesn't keep up with the filename of the videos when playing them in "folder mode" because it should be able to tell you the filename of the video it is currently playing no matter how many videos i

[2021-08-16 19:24] courville commented on #460
Hi, thanks for reporting the issue.
What would be helpful is to get some logs (adb logcat) of the crash since I do not own an HarmonyOS based device.
Could you please check if you can get these following https://github.com/nova-video-player/aos-AVP/wiki/Debugging ?
Thank you

[2021-08-16 20:47] Pentaphon opened #461 "Nova's phone player UI does not rotate video at all; stays at 90 degrees counterclockwise position in portrait mode"
This is easy to reproduce. Moto G 2021 stock ROM, Nova 5.15.20

1) Play video on your phone in portrait mode.
2) Note that video is playing in the orientation that is correct when you turn it 90 degrees counterclockwise.
3) Turn phone 180 degrees.
4) See that video is upside down even though it should conveniently flip.
5) Note that "enable automatic screen rotation" is checked but video doesn't r

[2021-08-16 21:05] courville commented on #461
It works on m'y side. Have you tried enabling autorotate in phone quick
settings?

[2021-08-17 03:26] yulelong commented on #460
Unfortunately, ADB debugging is not supported on Huawei HarmonyOS TV sets...
Stranger still, NOVA works fine on my Huawei HarmonyOS phone.

[2021-08-17 03:36] yulelong commented on #460
KODI uesd to crash on HarmonyOS TV as well, and they figured out a solution (see: https://github.com/xbmc/xbmc/pull/19171)
Hope this will help if it's similar here.

[2021-08-17 03:38] Pentaphon commented on #461
Yes, it works when I enable autorotate but I always use portrait because I find autorotate very annoying and video apps like YouTube and Newpipe still rotate in portrait mode because otherwise your video would be upside down if you rotate your phone for any reason such as having to plug it in which forces you to turn the phone the other way, etc.  Is there any way to make the video always rotate e

[2021-08-17 06:33] courville commented on #461
OK I see your point now.
There are two autorotate options: one in Android quick setting in notif bar and one in nova player menu.
In your specific case, I understand you deactivate Android autorotate.
If in nova player menu you deactivate nova autorotate option, it should force landscape video play mode always.
Would this meet the expected behavior?

[2021-08-17 09:01] jerryn70 commented on #25
@courville did you guys stopped updating app in fdroid ? The last fdroid release was on october 2020

[2021-08-17 10:11] Pentaphon commented on #461
Whether I uncheck "enable automatic screen rotation" or not, the video never flips upside down when I turn the phone the other way. It always plays in landscape and only when you hold the phone 90 degrees counterclockwise. Here's what I mean. Let's pretend the following images are Nova playing a video.

Here's how Nova plays a video on my phone. You turn your phone counterclockwise 90 degrees to s

[2021-08-17 15:48] courville commented on #460
Thanks for sharing Kodi's fix.
Please try this Kodi inspired blind fix on nova and report if it helps: https://drive.google.com/file/d/14SBFN0T6kjHm8VVPM8HU1E9C-cphKHWZ/view?usp=sharing

[2021-08-18 20:34] branches78 opened #462 "Passthrough Audio issues on Android TV"
I recently got a Google certified Android TV box with Android 10 and I was testing Nova against my AV receiver and I got the following passhtough audio issues, I tested different audio codecs using mode 2:

Dolby Digital = OK.

Dolby Digital Plus = OK.

DTS = OK.

DTS 96/24 = OK.

DTS-HD High Resolution Audio = OK [It plays the CORE].

DTS-HD Master Audio = It plays the video without audio when th

[2021-08-19 04:59] Pentaphon commented on #462
You should tell the dev what box you have. Google certified doesn't mean its the same hardware. Also, master audio passthrough might require Exoplayer support which is coming to Nova when the devs are able to find time to integrate it.

[2021-08-19 06:37] branches78 commented on #462
I have two devices, Formuler GTV and Mecool KT1, both with Android 10 and the issue is reproducible on both.

[2021-08-19 10:56] courville commented on #462
The simple solution for you is to select no passthrough for now (cf. https://github.com/nova-video-player/aos-AVP/wiki/Audio-and-passthrough). I will still provide multichannel support as long as you do not use ARC to connect your AV receiver via your TV.

Now to get back to your points, nova does not probe yet AV receiver audio capabilities (which are often not reliable anyway) and does not imple

[2021-08-19 16:02] branches78 commented on #462
I'm not using ARC, the TV boxes are connected directly to the AVR.

The AVR supports all the codecs, except Dolby Atmos and DTS:X.

[2021-08-20 05:12] aston314 opened #463 "As a player to play google driver’s video can not download subtitle"
subtitle download fail.

[2021-08-20 08:40] phhusson commented on #462
Hello,

Can you share the result of `adb shell dumpsys media.audio_policy` from your TVBox with HDMI connected?

This will help us see what are the declared capabilities

FWIW, Dolby Atmos is either Dolby Digital Plus + metadata (when coming from streaming services) or Dolby TrueHD + metadata (when coming from BluRays), so you can playback the DDP tracks, though TrueHD tracks well not :shrug:

[2021-08-20 09:00] yulelong commented on #460
thanks for looking into this. unfortunately, nova still crashes...

[2021-08-20 09:17] courville commented on #460
Damn... I will thus need logs to pinpoint the issue.
I read that you could enable adb (wireless) on the Huawei TV.
Could you please give it a try?

[2021-08-20 09:34] yulelong commented on #460
No, I can only access certain files using FX Explorer, and I can not enable adb on Huawei TV... There's no such option in settings (even if I clicked the build number many times)
I have also confirmed this at club.huawei.com, which really sucks...

[2021-08-20 15:35] jerryn70 commented on #136
@courville as you said DCIM & whatsapp folders are blacklisted , is there way to whitelist it ? I need to display that folders in the player .

[2021-08-20 18:24] courville commented on #460
OK I will figure out how to (re)enable  the Download/org.courville.nova/nova.log and get back to you.

[2021-08-23 11:19] stobczyk opened #464 "Trailer from .nfo"
Hey. Please add support tag trailer from .nfo And export & import database.

Ps.where the base is held

[2021-08-23 21:41] sunilroy007 opened #465 "inbuilt subtitles are not showing on videos"
not even one video shows subtitles which are inbuilt and pgs type. other video players shows it but i like nova player for trakt support and posters and night mode sound

please fix subtitles issue , i know i can download from online option but they are always messed up not good

[2021-08-24 09:33] courville commented on #465
Sadly nova does not support yet PGS subtitles.
Duplicate of https://github.com/nova-video-player/aos-AVP/issues/47, thus closing this issue.

[2021-08-24 09:33] #465 closed, assigned to nobody

[2021-08-24 09:39] courville commented on #464
See https://kodi.wiki/view/NFO_files/Movies `<trailer></trailer>` tag.

[2021-08-24 10:12] stobczyk commented on #464
I know it should work this way, but it doesn't.

I have .nfo files built like this

`<trailer>https://youtube.com/watch?v=rt-2cxAiPJk </trailer>`

Nova sees no trailers.

Trailers are automatically added by raking online.

[2021-08-24 12:12] courville commented on #464
Sorry my comment was meant for reference only. You are right: nova does not support trailer tag yet. Hence the "enhancement" label added.

[2021-08-27 06:35] Pentaphon commented on #404
@mschumacher69 @courville I have stumbled across the solution to this issue while having a massive framedrop issue with a similar file.

It seems that the RARBG file the OP told us to test with (which seem to be very widely used online by people who torrent from that site) is somewhat at fault because according to this post:

It seems that because Nova Video Player is one of the players that relie

[2021-08-29 19:10] mjnewton opened #466 "Video stuttering/unresponsive following pause and resume"
Nova Version: 5.15.20-20210509.1910
Device: Amazon 4K Firestick with wired 100Mbps Ethernet adapter
TV: Sony XH9505 (2020)
Video Source: Samba Fileserver (on Ubuntu 20.04) with Gigabit Ethernet adapter

Issues/Symptoms:

- If I press pause then on resuming playback the video plays very slowly and the user interface becomes unresponsive
- If I fast-forward/rewind the video sometimes freezes on rele

[2021-08-30 11:15] courville opened #467 "very slow network share rescan when moving a lot of video files"
When moving or deleting a lot of video files during the rescan of the network share db is stuck during the delete batch triggered in `NetworkScannerServiceVideo` part of the `FileVisitListener:onStop`.

[2021-08-30 16:10] mjnewton commented on #466
Looks like I spoke too soon - I've just had the same issue with SMBv1 too.

So, it looks like both my title and subsequent diagnosis are incorrect. The thing is, I'm not sure what else to say now as I've got nothing to pin it down further!

[2021-08-31 19:31] mjnewton commented on #466
I've attached a log below. I paused and resumed a few times without issue before triggering the problem at (I think) 08-31 20:23:29.220:

08-31 20:22:54.135 14675 15352 V AvosMediaPlayer: Initializing AvosMediaPlayer
08-31 20:22:54.156 14675 15356 V avos_media_player: event_thread: start
08-31 20:22:54.158 14675 14701 D avos_player: 0x8341ec00|avos_mp_create:
08-31 20:22:54.185 14675 14701 D avos_

[2021-08-31 21:47] courville commented on #467
It appears after analysis to be a performance issue linked to ScraperTables delete triggers.
@s-stark proposed to add indexes for every non-indexed foreign key with delete resulting from the delete of the files not found in `files_scanned` to avoid costly scans. This first optimization yields a 4.8x performance increase \o/.
In order to debug the sql requests by inspecting the query plan one can u

[2021-09-01 13:54] courville commented on #467
1k delete original 109s, with indexes 27s, with removing v_.*_deletable delete triggers (done afterwards) 0.7s

[2021-09-01 16:27] #457 closed, assigned to courville, nnoury

[2021-09-01 17:22] #467 closed, assigned to courville

[2021-09-02 12:02] lars18th opened #468 "[Feature Request] Always show file time"
Hi,

This is a very small suggestion: When reading a new file that is not already indexed at the top we can see the TIME of the file, based on the size of the file or other metadata included in the source file. However, when the file is indexed the time value indicated is from the scrapped data. And this is good. No problem at all.

However, when we move to the FILE data, we can show only the SIZE

[2021-09-03 03:13] HDGuy opened #469 "6.0.11 crashes immediately upon start on 2019 Shield Pro"
Just an FYI- I know it’s not a public release but it crashes every time.

6.0.10 exhibited similar behavior if you set it to scan library for new content on launch.

[2021-09-03 05:41] courville commented on #469
Thx for reporting, though I do not reproduce, according to stack trace collected:
[code]

[2021-09-03 07:20] ldsz commented on #469
Hi, I have the same on Freebox Pop.

Maybe this can help :

[code]

[2021-09-03 07:45] okan35 opened #470 "Crash when back button clicked on smb discovery"
Click back button when smb servers ar being discovered, after this app goes to crash loop when Shared smb is clicked.

Enabling smbv2 support from preferences doesn't solve the issue.

[2021-09-03 07:46] courville commented on #469
Thx this part helps:
[code]

[2021-09-03 08:04] courville commented on #470
Could you tell me more (device/phone/tv, version of the app) and get logs (https://github.com/nova-video-player/aos-AVP/wiki/Debugging)? Unfortunately I cannot reproduce.

[2021-09-03 08:07] okan35 commented on #470
Version is the one from GitHub releases, sony Xperia premium android 9, I try to get logs from your link or android studio itself

Can you send me a debug app to get logs ?

It is the same as last time I gave this log.

pastebin.com/9WrEctZH

[2021-09-03 08:34] courville commented on #469
@ldsz, one thing that would help me is that you send me via email (software at courville dot org) your media.db that you can dump on storage if you click multiple times in settings on "force software decoding" (it will enable some advanced options) and then click on "export media database".
The media.db will be on /sdcard/org.courville.nova-media.db
I could see where the db corruption is.

[2021-09-03 08:39] courville commented on #470
On github relases there are many releases. Do you confirm it is 6.0.11?
Sorry but pastebin provided is empty.
Best way to get logs is through adb via usb.

[2021-09-03 08:50] okan35 commented on #470
I did get them through usb adb logcat. It was the same as the last error. It this crash.

--------- beginning of crash
09-03 09:26:12.776 30961   798 E AndroidRuntime: FATAL EXCEPTION: Thread-12
09-03 09:26:12.776 30961   798 E AndroidRuntime: Process: org.courville.nova, PID: 30961
09-03 09:26:12.776 30961   798 E AndroidRuntime: java.lang.ArrayIndexOutOfBoundsException: src.length=576 srcPos=210

[2021-09-03 08:55] courville commented on #470
OK I see now. This is thus the same as https://github.com/nova-video-player/aos-AVP/issues/448

[2021-09-03 09:00] okan35 commented on #470
Yeah I also saw it later, I thought this was different as the app is newer but yeah this same issue.

[2021-09-03 09:01] courville commented on #470
Thanks for the confirmation, let's follow the progress on the other issue.

[2021-09-03 09:01] #470 closed, assigned to nobody

[2021-09-03 12:49] courville commented on #469
Could you please test this test apk to be sure that there has not been any issue on the release process? https://drive.google.com/file/d/1da85HKrlK5BkZ968XFgBrv0rQRG3it6x/view?usp=sharing
And if it does not work clear nova app storage data.

[2021-09-03 12:55] courville commented on #460
Sorry for the late reply: could you please try out this test apk that has some crash reporting to a debug backend for me to be able to see errors: https://drive.google.com/file/d/1jJnt5Sb4_r5Katat0rxVSgX4a5GrFNbg/view?usp=sharing
Thanks

[2021-09-03 14:08] courville commented on #469
OK this does not help and crash seems to be in:
[code]
Thus let's try out instead cf. https://sqlite.org/forum/forumpost/157dc791df
[code]
Resulting apk for test: https://drive.google.com/file/d/15YEvvIiFfpKwkKfSkGEfR-N88GrvFXFB/view?usp=sharing

[2021-09-03 15:12] courville commented on #469
Update: I am able now to reproduce the issue on one device. Previous fix KO.

[2021-09-03 15:22] ldsz commented on #469
This one is working for me :)

[2021-09-03 16:20] courville commented on #469
To be on the "safe" side could @ldsz @HDGuy test this apk that should do the trick (same link new version): https://drive.google.com/file/d/15YEvvIiFfpKwkKfSkGEfR-N88GrvFXFB/view?usp=sharing
Thanks again for your testing.

[2021-09-03 17:12] ldsz commented on #469
This build works if I update from the previous one but not if I uninstall Nova first...

[2021-09-03 17:20] courville commented on #469
The crash happens in the database scheme upgrade. If you update the previous apk that has already performed the scheme upgrade it will of course not crash. But it means that you reproduce the crash on your side when installing the app then still undergoing the db scheme update. Bug is thus somehow random and not fixed.

[2021-09-03 18:14] ldsz commented on #469
That means the previous build can perform the db upgrade but not the last one. At least for me.

[2021-09-03 22:33] HDGuy commented on #469
Did a fresh install of the 2nd build you posted, still crashed.

[2021-09-04 10:06] chromer030 commented on #469
Same here on VipeOS , Android 7.1.2 , arm64.
Nova v6.0.11

[2021-09-04 18:24] courville commented on #469
Yet another build to test please: [Video-universal-API_21+-release-TEST1.apk](https://drive.google.com/file/d/1iAgnnti2-OS3oe4WeLvfVFj_5lK0j-d5/view?usp=sharing)
Since the bug is not systematic, my confidence level in the fix will increase with the number of users having the crash fixed.
Thanks for the collective help.

[2021-09-04 18:29] ghost commented on #469
That fixes it for me on Chromecast with Google TV.

[2021-09-04 20:23] HDGuy commented on #469
OK, so on my Shield it works but I already had the last release installed. I'm not seeing movie sets, do I need to rescrape everything for movie sets to work? If so then I will do a fresh install to see if it crashes or not.

Also, I assume it installs the 64bit arm release on the Shield automatically in this build?

Excellent work BTW. Really looking forward to the day when ExoPlayer is integrate

[2021-09-04 22:10] courville commented on #469
@HDGuy, I added some migration instruction in the release notes to support movie collections (see https://github.com/nova-video-player/aos-AVP/releases/tag/v6.0.14).
I would recommend a fresh install since I switched to tmdb for TV shows now instead of tvdb.
We still need to add proper DV support indeed.
ExoPlayer is for after proper API30 migration since it depends on it and we need to get Scoped

[2021-09-05 03:11] HDGuy commented on #469
What is the difference between the universal and the standard arm/arm64 releases? I assume it just includes both builds and installs the correct one?

Found a few more bugs-

Did a fresh install of 6.0.14 arm64 and after adding some SMB drives and starting to scrape the selection will automatically always jump to the top row (Movies for me). Making it virtually impossible to use while scraping. It

[2021-09-05 05:09] ghost opened #471 "Animation row lists every single episode of shows"
I like using rows, however, if I activate it for animation the row lists every single episode there rather than just the show itself like it is for normal TV shows.

[2021-09-05 05:51] Pentaphon opened #472 "Feature Request: use libmpv instead of ffmpeg for improved playback"
I know this is a major architectural change but I think that in the long run, Nova Video Player would greatly benefit from replacing ffmpeg with libmpv. Here's why:

1) libmpv is ffmpeg-based, with their own open source Android app called mpv-android. The groundwork has already been laid out for anybody willing to use libmpv in their projects, and big commercial projects like Plex currently use li

[2021-09-05 06:42] ldsz commented on #469
This one is working for me  :)

[2021-09-05 08:18] courville commented on #471
Since all categories have changed migrating from tvdb to tmdb, what you describe could be a consequence of this migration if you have not fully rescrape all your video collection. At this point with 6.x version, I would recommend to perform a fresh install.
Unfortunately there is no easy migration process for movie/tvshow categories especially with the various translations/locales given the former

[2021-09-05 08:21] courville commented on #469
universal contains all archs (arm/arm64/x86/x86_64) and installs the right one on the device.

<snip>

OK I will look into it and follow it in separate issues. Thanks for the feedback and testing.

[2021-09-05 09:16] ghost commented on #471
Did a completely fresh install and made sure not to process nfo files. Issue persists and the app also crashes on me (Chromecast) when using the rescrape all option in the preferences.

[2021-09-05 09:19] courville commented on #471
Yep you are right sorry I misread your issue.
Fresh install does not require to do the rescrape all since it will scrape all once.
Crash noted:
[code]

[2021-09-05 12:50] courville opened #473 "Rescrap all makes application crash"
See https://github.com/nova-video-player/aos-AVP/issues/471
Systematic:
[code]

[2021-09-05 12:51] courville commented on #471
Proposed resolution: list animation shows (not episodes) and animation movies only.

[2021-09-05 12:54] courville commented on #469
See https://github.com/nova-video-player/aos-AVP/issues/471 to follow the resolution.

[2021-09-05 13:00] courville opened #474 "MainFragment jumping focus issue during rescrape with 6.0.14"
See https://github.com/nova-video-player/aos-AVP/issues/469

@HDGuy, I do not reproduce this one: could you please tell me which row options you have selected in settings?

[2021-09-05 13:00] courville commented on #469
Lets follow this issue here https://github.com/nova-video-player/aos-AVP/issues/474

[2021-09-05 13:01] courville commented on #469
Movie collections are only visible in a specific tile when not using movie row for now. I acknowledge this is a limitation.
See https://github.com/nova-video-player/aos-AVP/issues/475 for further discussions.

[2021-09-05 13:02] ghost commented on #474
Have the same 'problem' having all rows activated except the new additions and recently watched.

[2021-09-05 13:03] courville opened #475 "List movie collection as specific item (like tvshow) in Movies row"
See https://github.com/nova-video-player/aos-AVP/issues/469
For those using only the Movie row, there is no way to view movie collections.
This is a limitation.

[2021-09-05 13:05] jaqarll commented on #469
My stylistic suggestion would be that, if possible, when movie row and collections are activated the collections are just listed as an item in between all the single movies.

[2021-09-05 13:07] courville opened #476 "When activating all rows, still TV Shows tiles are active until new refresh"
![Screenshot_1630847215](https://user-images.githubusercontent.com/242843/132128018-8e848fa7-af4d-4606-8b2e-6fc05291d28b.png)

[2021-09-05 13:10] courville commented on #474
With above settings issue is reproduced and confirmed.

[2021-09-05 16:31] HDGuy commented on #469
Ok, for now I guess I won’t list any individual rows.

[2021-09-05 16:42] HDGuy commented on #474
Even with all rows off it’s still happening- jumps back to the top during scraping then random jumps back to the top “Movie”  selection afterwards.

[2021-09-05 17:00] HDGuy opened #477 "6.0.14: Automatically get info for new videos adds all existing episodes and movies 2x?"
I like to use this feature because I’m constantly adding and removing content.

Upon starting build and recraping, there is now a number “2” on the left side of all my content (movies and episodes). This also screws up the listing order with Trakt so I can no longer list by last content watched- it doesn’t work, and no longer lists properly what I’ve watched and not watched in general.

It also re

[2021-09-06 10:25] yulelong commented on #460
still, nothing in the log file...i attempted to delete the existing nova.log file, and then run nova. once nova crashed, the nova.log was created automatically again, but was still 0 byte

[2021-09-06 10:33] yulelong commented on #460
by the way, this version runs for a bit longer time than previous versions does, i can even see the settings button show up. previous versions immediately crashes when i run them...

[2021-09-06 10:43] courville commented on #460
Thank you for your testing with this special version that reports crashes to my acra backend.
Crash is:
[code]
This is related to channel management that apparently I did not completely removed for harmonyOS

[2021-09-06 11:53] courville commented on #460
I just have uploaded a new version of a test apk that could fix the issue https://drive.google.com/file/d/1jJnt5Sb4_r5Katat0rxVSgX4a5GrFNbg/view?usp=sharing on same link. If you are not tired of testing please give it a shot and report. Thanks.

[2021-09-06 15:46] yulelong commented on #460
Oh i see... i thought i should get the log file and report it to you... tried the newest version, and you can check the new log now, bro

[2021-09-06 16:19] courville commented on #460
Apparently the app you run is still 5.14.21 and I should have uploaded 5.14.22 with the proposed fix.
Please use this fresh link [Video-TEST2.apk](https://drive.google.com/file/d/1sGIagOwRMD1qYD0yVQJgDGRqtkbdR4GT/view?usp=sharing) and let me know if it is any better.
Sorry for the inconvenience.

[2021-09-07 09:48] yulelong commented on #460
hi, i have tested test2.apk already. still crashes however, please check the log. thanks!

[2021-09-08 21:35] courville commented on #460
Same player shoot again: https://drive.google.com/file/d/1O1Rx0bfiElWKekIZLNQCgeKABWpRSYHA/view?usp=sharing

[2021-09-08 23:51] yulelong commented on #460
finally! fixed! nova doesn't crash anymore! thanks for your efforts, bro!

[2021-09-09 18:30] #473 closed, assigned to courville

[2021-09-10 07:44] #469 closed, assigned to courville

[2021-09-10 07:46] #460 closed, assigned to courville

[2021-09-10 16:27] courville commented on #448
@okan35 could you please check out if this build https://drive.google.com/file/d/1qgp3CpYnxMgMicdvrwVRNL8QPgF3KpaQ/view?usp=sharing solves the issue on your side?
Since I am not (yet) able to reproduce, I am trying to blindly solve the problem.
One question: are you using a VPN when using nova?
Thx

[2021-09-10 16:34] okan35 commented on #448
It is very interesting that I never thought of this because for some apps I turn off blokada ad blocker which uses dns blocking for ads.

  I just tested couple of times and whenever I turned on blokada nova app didn't even open, it crashed from beginning and when I turn off blokadait works. I will try with the app you gave and let you know.

[2021-09-10 16:41] okan35 commented on #448
It still keeps crashing with app you sent when blokada is turned on. When I turn it off, nova works.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: okan kaya ***@***.***>
Sent: Friday, September 10, 2021 6:34:45 PM
To: nova-video-player/aos-AVP ***@***.***>; nova-video-player/aos-AVP ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [nova-video-player/aos-

[2021-09-10 17:42] courville commented on #448
@okan35 could you please get me the log of the crash with blokada turned on?
Especially if you could also tell me what is displayed here after this (i.e. if it is 576)?
[code]

[2021-09-10 17:44] courville commented on #448
Scratch that: I am now able to reproduce with blokada.

[2021-09-10 17:46] okan35 commented on #448
That is it then, great that you are able to produce. So it what I gave before ? Array out of bound error ?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: CourvilleSoftware ***@***.***>
Sent: Friday, September 10, 2021 7:44:52 PM
To: nova-video-player/aos-AVP ***@***.***>
Cc: okan35 ***@***.***>; Mention ***@***.***>
Subject: Re: [nova-video-player/aos-AVP]

[2021-09-10 21:06] courville commented on #448
yep this is why I am using this very same issue.

[2021-09-14 12:50] ghost opened #478 "Smb broken, can't login to smb drive"
Smb is not working anymore after the auto-update of the beta version of nova via the play store.

When I try to access my smb drive and insert my login details it just throws me back into the prior screen.

Have tried smb1 and 2 and neither works. Have this issues on Google TV and my smartphone.

Maybe connected to #448?

[2021-09-14 19:15] courville commented on #478
Indeed:
[code]
And not related to https://github.com/nova-video-player/aos-AVP/issues/448

[2021-09-14 20:12] courville commented on #478
I think I see what happened. Do you confirm that you tested a recent 6.xx build? If this is the case the nova internal NetworkCredentialsDatabase version got updated to version 2 and is remanent even after app suppression. This creates a crash in the expected version 1 of NetworkCredentialsDatabase with nova 5.xx version.
Only 6.xx users getting back to 5.xx will be affected (and it needs to be fi

[2021-09-14 20:46] courville commented on #478
Easy fix: go in android settings -> apps -> nova and clear cache (to purge NetworkCredentialsDatabase cache).
Other remedy: install latest 6.0.17 version from github on top of 5.xx latest version.

I will fix it properly in a new 5.xx version.

[2021-09-15 03:07] ghost commented on #478
Installing the new version did the trick,  thanks!

One question: why did the play store version update over the manual version with a higher version number?

[2021-09-15 03:07] #478 closed, assigned to nobody

[2021-09-16 03:40] Pentaphon opened #479 "v6.0.17 does not separate TV shows with a reboot/revival with a different year with TMDB, which TVDB did fine"
Let's say you have all episodes of a TV show that has had a revival like iCarly.

Here's the TVDB for that show and the subsequent revival.

https://thetvdb.com/series/icarly  <-- original

https://thetvdb.com/series/icarly-2021  <-- 2021 revival

Your episodes would be named for iCarly (Original)...

iCarly.S01E01.mkv and so on

Your episodes would be named for iCarly (2021)...

iCarly.2021.S01E0

[2021-09-16 08:32] courville commented on #479
I just checked with fake files `iCarly.S01E01.mkv` and `iCarly.2021.S01E01.mkv` and it gets scraped correctly on my side.
I did implemented the year detection part of the filename cleaning and it should be passed correctly to tmdb API used.
What could interfere in the process are some existing NFO files that would be parsed not correctly. Could you check if prior to the scrape process there are no

[2021-09-16 09:06] ghost commented on #479
Just as a sidenote: I have the 'issue'  that for movies the year only gets detected when put into brackets, but not if it is just somewhere in the name.is it meant to be this way? Maybe it's the same for TV shows.

[2021-09-16 09:17] courville commented on #479
it is not the same issue than for TV shows. Note that I tried to implement a fallback on movies for v6.xx only addressing this problem. The tricky part for movies is that a date can be part of the name of the movie (hence the bracket convention that sometimes is not respected).

[2021-09-16 09:20] Pentaphon commented on #479
Just cleared data on my v6.0.17 install to try again and I have 2 scraping errors with 2 shows with revivals. I definitely do not have any .nfo files, either.

More importantly, Nova v6.0.17 doesn't seem to label revival shows with the correct year. It's showing me the revival shows with the artwork and metadata, but no year after the title to show that it is a revival or anything to differentiate

[2021-09-16 09:26] courville commented on #479
@Pentaphon can you please provide the exact file names that you want me to test for which you encounter the issue so that I can replicate on my side? I assume that your locale is english.

[2021-09-16 09:33] Pentaphon commented on #479
Sure, the last 2 screenshots I gave you were created by the following files. I don't have the entire seasons. Just those episodes. I have the entire iCarly episodes, with the same type of filenames, title-year.blahblah.mkv, etc. The fact that it's not showing you the year of the revival show while showing you the poster and metadata, etc, should be troubling enough.

Edit: I just tried with v5 wit

[2021-09-16 11:54] courville commented on #479
I will check but amazing stories can be based on the fact that I sort the results by popularity which could bring 2020 show first though it helps in many other cases (not complying with the year convention for reboots).
And for iCarly, the problem could come from some caching strategies applied in order to boot performance and avoid requeries to tmdb backend. These are just speculations that I wil

[2021-09-16 12:11] courville commented on #479
I know it will be frustrating: fake files,
[code]
Result:
<img width="320" alt="Capture d’écran 2021-09-16 à 14 07 39" src="https://user-images.githubusercontent.com/242843/133609580-b2b7864c-97fb-4ced-93bb-a00162cca84e.png">
Please let me know what I did wrong to reflect your setup.

[2021-09-16 12:22] Pentaphon commented on #479
Those iCarly filenames should be fine and what I currently have but the Amazing Stories filename is not at all what I showed in my screenshot.

I just did a clean install of v6.0.17 on my phone and got the same result I do on my FireTV and tablet. Why doesn't it give me the year for iCarly 2021 and Amazing Stories 2020 when its showing me the poster for the new revivals?

![Screenshot_20210916-051

[2021-09-16 12:31] courville commented on #479
Did a full rescrape and I get now your issue. I can proceed now.

[2021-09-16 17:18] okan35 opened #480 "Embedded subtitle cant be chosen"
Basically you cant choose or even if you choose it doesn't show the subtitles, not sure how İ can help with this issue other than sending the episode file itself.

[2021-09-17 14:16] arnabghorui opened #481 "App trying to connect unknown domain"
I just installed this app. I have Blokada adblocker installed which has a logger that shows all the connection requested. Whenever I open Nova player it tries to connect the domain "ckaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa". That's it, no .com or something. I'm attaching a screen shot.
App installed from f-droid via IzzyOnDroid repo
![Screenshot_2021-09-17-19-46-02-45_28e7e250715ee4f6466531e60931a5bc](htt

[2021-09-18 08:43] courville commented on #481
This is strange indeed. Looking at "ckaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" refers more to udp nbtscan pattern and could be triggered by nova scanning the local network for SMB shares.
Blokada putting in place a VPN, and nova before 6.0.17 was prioritizing vpn over other network interface causing coexistence issues and could explain this.
I do not explain for now why blokada is classifying this as a dom

[2021-09-18 15:35] mjnewton commented on #466
Is there anything I can do to help this be looked at?

[2021-09-18 19:43] JellyVlad opened #482 "treat properly tv show videos combining two episodes in one file"
add the ability to add information about two series to series (if they are doubled into one file)

[2021-09-19 12:31] Pentaphon commented on #482
I'd rather prevent accidental merging of 2 series altogether. Just report to the dev which series get merged for no reason, and make sure you are using good file names.

[2021-09-19 12:36] JellyVlad commented on #482
The series are not combined, I just have a series where there are 2 episodes in one file (this was not done by the application)

[2021-09-19 13:36] Pentaphon commented on #482
The information is scraped from online databases that you can help curate. You'd have to go to those online databases and see their information about your show. Nova is just bridging your files to the online databases.

[2021-09-19 16:04] okan35 opened #483 "Smb folder button doesn't show when connected to mobile internet"
Instead it should show it but disable or give a warning that it can't connect since it is not on the same network.

Because of this when I was on mobile internet I couldn't see my smb folder so I cleaned app data thinking there was something wrong and noticed after this that I was not on my wifi. ![Screenshot_20210919-180219.png](https://user-images.githubusercontent.com/19223877/133935101-ff22a1f

[2021-09-20 21:01] courville commented on #479
Little update on the issue. It turns out that nova does store in `SHOW` `Scrapertables` `ShowTags` with a contraint in the name of the show to be unique instead of `s_online_id` to be unique. This results in an auto merging of shows to have the same name. Correcting the db scheme with sqlite involves unfortunately (removing the `UNIQUE` constraint) a cumbersome migration process. In order to avoid

[2021-09-20 21:03] courville commented on #479
Note that now the algorithm is to chose shows sorted by date picked via Levenshtein metric. This insures that the oldest show is preferred to a reboot one in case of similar names if the date is not present in the title.

[2021-09-20 21:04] courville commented on #479
Amazing stories mixup is solved by setting aside shows without airdate in themoviedb search result.

[2021-09-21 15:54] courville commented on #480
If these embedded subs are PGS subs it is normal since nova does not support it yet cf. https://github.com/nova-video-player/aos-AVP/issues/47

[2021-09-21 15:55] courville commented on #483
I understand your point but it has been the way nova works since day one. No plan is made for now to change this behavior.

[2021-09-21 17:46] Thewisem opened #484 "[UI improvement] Smoother popup zoom"
When you zoom in and out in popup mode the upper part of the video becomes jittery. It could be smoother.
If you want example, newpipe's implementation is a lot smoother

[2021-09-22 06:57] okan35 commented on #480
I don't know if it is PGS, I just know that vlc is able to show in subtitle choices while nova does not show at all in subtitle choices. I will check if it is PGS.

[2021-09-23 19:31] mjnewton commented on #427
I too appear to be having this very same issue, and may have inadvertently raised a duplicate issue in the form of https://github.com/nova-video-player/aos-AVP/issues/466.

The workaround to select 'Force OpenSLES' appears to work insofar that I haven't been able to reproduce the hanging/stuttering following pause/seek (unless I'm celebrating too early and it's just luck!), however I have noticed

[2021-09-23 20:20] courville commented on #466
@mjnewton thanks for sharing the logs and analysis.
I will need to reproduce. Do you confirm that:
* you are not using passthrough mode (passthrough disabled) when using audiotrack advanced sound output
* it is kind of working with openSLES sound output option
* when you do not use your ethernet adapter (i.e. via wifi) are you able to reproduce the problem?
Could you please share a link to the mov

[2021-09-23 20:28] mjnewton commented on #466
Hi @courville, thanks for the input (and thanks for the software whilst I'm at it!)

I can confirm passthrough is *disabled* and, from what I can tell, the use of OpenSLES does appear to have resolved this.

I haven't tried using wifi though so will experiment with that. I have another firestick (non 4K, different TV) and I've never had this issue on that one... and that one happens to be connecte

[2021-09-23 21:52] mjnewton commented on #466
Okay, after some further experimentation I can confirm I can recreate the issue over wifi too.

I've just sent a link to a video sample (and indeed a link to a different video that works totally fine).

As I've written in the email, the best (quickest) way to trigger the issue appears to be to continuously seek forwards then backwards, forwards then backwards - basically give it a really hard time

[2021-09-24 18:55] courville commented on #466
@mjnewton for some reasons I did not receive the link to the video.

[2021-09-24 19:06] Pentaphon commented on #420
I agree with this. It seems like something that should be available to the user as an advanced option rather than be hardcoded.

@courville do you think the ability to change buffer size is worth pursuing? I've been running into buffering issues on 4K video sources, even on my very rock solid network connection and I think Nova users will begin to come across these issues more as they start to pla

[2021-09-24 19:16] mjnewton commented on #466
Ah, okay, it looks like it got delivered but I wonder if Google's spam filter trapped it?

Sep 23 22:50:44 rugrat postfix/smtp[23841]: AC3B11C14DE: to=<software@courville.org>, relay=ASPMX.L.GOOGLE.COM[74.125.140.27]:25, delay=1.2, delays=0.01/0.03/0.32/0.88, dsn=2.0.0, status=sent (250 2.0.0 OK  1632433844 r6si8435126wma.35 - gsmtp)

Let me try again without a link and see if that's get through t

[2021-09-24 20:36] courville commented on #474
OK I managed to get it again: could be linked to this code path:
[code]

[2021-09-25 14:18] courville opened #485 "NPE at application start in JcifsUtils accessing preferences"
Cf. https://bug.courville.org/app/1/bug/323/report/f9a9d8d6-3b76-458c-ae72-d36f7ed71d9b
[code]

[2021-09-26 02:46] Thewisem opened #486 "Add playback speed speed"
Could you please add playback speed?
You could do it the newpipe or vlc way and have a bar that increases or decreases the speed
Or
You could just have options like 0.25,0.50,0.75,1.0 etc till 3.0.

[2021-09-26 12:40] wanghaihua opened #487 "Can nova video player support webdav"
Hi，I want to add video form webdav，but nova only support ftp.can nova support webdav?

[2021-09-26 22:13] Pentaphon commented on #486
That seems more for a general video player than a media center type player, which Nova is. I'd use another player for that.

[2021-09-27 14:08] Pentaphon commented on #479
I can confirm that v6.0.22 has fixed this issue. Reboots are correctly indexed separately from the older versions and the reboot year is finally showing in front of the reboot title. Amazing Stories is also identified correctly as the older show.

[2021-09-27 17:46] courville commented on #479
Thanks for the testing and confirmation of the fix.

[2021-09-27 17:46] #479 closed, assigned to courville

[2021-09-27 18:13] #485 closed, assigned to courville

[2021-09-27 18:16] courville commented on #480
Closing the issue as duplicate of https://github.com/nova-video-player/aos-AVP/issues/47 until proven wrong (feel free to reopen issue if this is not the case).

[2021-09-27 18:16] #480 closed, assigned to nobody

[2021-09-27 18:17] courville commented on #474
@HDGuy, @jaqarll  please check if latest 6.0.22 has fixed the issue on your side.

[2021-09-27 18:20] courville commented on #466
@mjnewton thanks for sharing the sample clip.
I have tried to reproduce the issue on my side seeking forward/backward for several minutes without success so far.
I am using a firestick4k (first gen, not the max) over Wi-Fi 5GHz connected to a Synology NAS hosting the sample video file.
Will try more later but so far so good (I know it does not work on your side).

[2021-09-27 18:22] courville commented on #466
One thing to check on your side is that when it happens, in the UI while playing the video (up key, info tile) if hardware decoding is reported (it could be that there is a codec error and then nova fallsback to software decoding).

[2021-09-27 18:40] mjnewton commented on #466
Would it be of any use for my to video the issue occurring, if only to describe it better in pictures than what I can do in words?

I'll check the decoding type too, assuming the UI allows me too (I'm not sure if I've tried opening the on-screen menu).

[2021-09-27 18:42] ghost commented on #474
@courville seems fixed here.

[2021-09-27 19:38] courville commented on #474
Please reopen if you witness the issue again (one never knows).

[2021-09-27 19:38] #474 closed, assigned to courville

[2021-09-27 19:39] courville commented on #487
Still in the todo list cf. https://github.com/nova-video-player/aos-AVP/issues/368

[2021-09-27 19:39] #487 closed, assigned to nobody

[2021-09-27 20:48] courville opened #488 "leanback: delete video in videoinfoactivity yields to a forever initial scan overlay"
Subject says it all.

[2021-09-28 21:47] mjnewton commented on #466
Only just had chance to test this and I confirm it *does* reporting Hardware Encoding when the issue occurs.

[2021-09-29 17:15] #488 closed, assigned to courville

[2021-09-30 21:05] Pentaphon opened #489 "List animated TV shows for PG++ in TV shows instead of putting them in "animations""
Feature Request: list animation shows for PG++ in tv shows instead of how it shows below.

This affects animated shows meant for adults such as "Archer 2009" and "Rick and Morty".

[2021-09-30 21:05] courville commented on #383
File 2 tested to work on chromecast with google tv (need to select match dynamic range to content in display settings).

[2021-09-30 21:06] courville commented on #405
DV issue should be solved on 6.0.24 experimental release.

[2021-09-30 21:06] #405 closed, assigned to nobody

[2021-09-30 21:19] ghost commented on #489
Isn't this the same as #471?

[2021-09-30 21:24] courville commented on #489
I will indeed solve this one through #471
I guess that the additional request would be to list animation shows for PG++ in tv shows.
This is not really planned for now.

[2021-09-30 22:22] Pentaphon commented on #489
Crap, I didn't see that other issue when searching. Instead of closing this issue, I will just turn this issue into a feature request to list animation shows for PG++ in tv shows.

[2021-10-03 22:57] loopbackbr opened #490 "Scrapper in Brazilian Portuguese"
It's possible to add Brazilian Portuguese(PT-BR) option for media scrapper?

[2021-10-04 16:45] darkblaze69 opened #491 "Cannot watch with E-AC3 with 7.1 sound"
Cannot watch with E-AC3 with 7.1 sound
Tried Google play version and latest 6.x pre release.
When choosing eac3 7.1 sound track, video plays stuttered and no sound.
Android 12 beta5

[2021-10-05 18:53] Pentaphon commented on #476
Not sure if this is related or not but when I enable "show all" for movies, TV and animations, they often do not show up immediately when I open Nova but rather, show up a second or two later after the default UI displays, as if the setting is being applied every time I open Nova instead of being permanently applied. I expect it to immediately "show all" when I open Nova, not show up after a sligh

[2021-10-08 12:28] luigidotmoe opened #492 "Add a video speed controller"
Hi, I like to watch some show at increased speed because it's too slow, but i couldn't find any video speed option as in vlc, kodi, or some other video players.
It would be great if it could be added in Nova

[2021-10-09 10:21] wsnake65 opened #493 "Not work volume indicator"
Not work volume indicator on Android TV (Android 9, Amlogic s922x)

![Not work volume indicator_2](https://user-images.githubusercontent.com/91004545/136654246-bac3fcdc-6cd9-482e-b2d7-9f23649e414a.jpg)

[2021-10-09 12:01] Pentaphon commented on #34
I agree that gestures would be a great addition for touchscreen users and anybody who doesn't like it can just not enable them. The touchscreen UI is a bit cluttered the volume and progress bar sitting there like an axis.

@courville any toughts on touchscreen gestures? I think they would add a modern touch to an otherwise aging touchscreen player UI.

[2021-10-10 19:11] moneytoo commented on #336
As mentioned [here](https://developer.android.com/about/versions/11/privacy/storage#media-direct-file-native), it is still possible to use the classic File API, though it is limited to media files only (just like the MediaStore API). The greylisted methods could be possibly replaced by [MediaStore.getExternalVolumeNames()](https://developer.android.com/training/data-storage/shared/media#storage-vo

[2021-10-12 17:52] courville opened #494 "implement binge watching repeat mode"
Subject says it all.

[2021-10-12 17:53] #494 closed, assigned to courville

[2021-10-13 20:22] Pentaphon opened #495 "Subtitles download language should already be ticked with the subtitle reading language"
Whenever I do a clean install of Nova, I find myself always making sure the subtitle download language in the settings is ticked "English" to go along with my reading language, which already defaults to English.

Can we have Nova already have the reading language ticked under subtitles download language in the settings to save us from having to tick it each time we install it? It makes sense to ha

[2021-10-16 18:18] ghost commented on #471
Issue fixed on my end with newest build.

[2021-10-16 18:18] #471 closed, assigned to courville

[2021-10-16 20:18] wsnake65 opened #496 "Does not start playing video from categories of a atv launcher"
Android ATV (android 9), Nova v6.0.27: Does not start playing video from categories of a atv launcher.

[2021-10-17 09:31] courville commented on #496
Clearly a regression: thanks for pointing this out.

[2021-10-17 09:34] #496 closed, assigned to courville

[2021-10-17 12:20] courville commented on #493
Could you please disclose the tv box hardware you are using? It appears to me that it is not detected as and android TV box.

[2021-10-17 12:21] courville commented on #486
This is TBD see https://github.com/nova-video-player/aos-AVP/issues/10
Closing as duplicate.

[2021-10-17 12:22] courville commented on #492
This is TBD see https://github.com/nova-video-player/aos-AVP/issues/10
Closing as duplicate.

[2021-10-17 12:22] #492 closed, assigned to nobody

[2021-10-17 12:22] #486 closed, assigned to nobody

[2021-10-17 12:24] courville commented on #491
Could you please share a sample of the file causing this issue?
Which hardware are you using?
If this is an AndroidTV are you using any audio passthrough mode?

[2021-10-17 12:26] #483 closed, assigned to nobody

[2021-10-17 12:26] #481 closed, assigned to courville

[2021-10-17 12:30] #448 closed, assigned to courville, nnoury

[2021-10-17 12:46] Pentaphon commented on #472
@courville any thoughts on my suggestion? I would be interested in hearing them.

[2021-10-17 17:04] Thewisem commented on #10
Looks like no progress

[2021-10-17 17:38] courville commented on #10
@Thewisem yes but there is already an issue open no need to have duplicates. Playback speed is on my todo but no time for now to make progress.

[2021-10-17 17:58] courville commented on #472
mpv seems nice indeed. For now we are using ffmpeg only for swdecoding and parsers not really for video decoding which relies on Android decoders. The improvement might not be noticeable. The next multiplayer engine to consider is to switch to exoplayer either coupled with ffmpeg or libmpv. But first before resuming this work, we need to switch to API30 since deadline is end of the month for new a

[2021-10-17 19:33] Pentaphon commented on #472
Edit: moving to new issue

Keeping this open in case libmpv becomes more necessary than the current nova ffmpeg fork, which is a promising development.

[2021-10-18 09:59] wsnake65 commented on #493
Box Zoomtak King S22 on Amlogic-S922X
Initially firmware android 9 pie.
Now modified firmware and added mod for Android TV (Loncher ATV, Google Market ATV and applications).
But apparently still identified as ordinary android 9, not ATV.
Although Google Market ATV understands the device as ATV and applications offer appropriate.

![18-10-2021 13-04-33_2](https://user-images.githubusercontent.com/9

[2021-10-18 12:23] wsnake65 commented on #493
As an option: Can you add the device type selection in the application settings? Or selection interface TV / tablet / smartphone.

[2021-10-20 01:50] thataboy opened #497 "Nova always plays first audio track rather than audio track matching system language"
Nova appears to always plays first audio track regardless whether it matches the system language

For example, given

`
Video: MPEG4 Video (H264) 1920x1080 23.976fps [V: h264 high L4.0, yuv420p, 1920x1080 [default]]
Audio: DD+ 48000Hz 6ch 256kbps [A: French [fre] (eac3, 48000 Hz, 5.1, 256 kb/s) [default]]
Audio: DD+ 48000Hz 6ch 256kbps [A: English [eng] (eac3, 48000 Hz, 5.1, 256 kb/s)]
`

it will

[2021-10-23 01:55] Unix-Kernel opened #498 "Feature Request to add support for Bluray PGS subtitles"
Please consider adding support for Bluray PGS (zlib) subtitles.

[2021-10-23 04:13] Unix-Kernel opened #499 "How to reset image viewer setting"
How to reset the "open image with" setting in v5.15.16.

I have one installation on Nova trying to open every ".jpg" image file with kodi and a second installation that will not open with the image viewer after I set it to "always open with image viewer" and copies the ".jpg" image files to the "/storage/emulated/0/download" folder.

I just tested NVP in an emulator and clearing the data does not

[2021-10-23 14:35] ghost opened #500 "[Feature request] .info.json scanner"
Youtube-dl can produce json files containing metadata.
By default these are in the form videofilename.info.json

They are documented here:
https://github.com/yt-dlp/yt-dlp#output-template

Another (.Net) implementation of this idea is https://github.com/Mikescher/youtube-dl-viewer

I've logged this same idea in another (server-based) project at https://github.com/Dusk-Labs/dim/issues/242 . Maybe t

[2021-10-23 15:02] courville commented on #336
Reading https://stackoverflow.com/questions/56468539/getexternalstoragepublicdirectory-deprecated-in-android-q
leads to the conclusion that nova needs to use MediaStore API.

Code sample to implement create/delete/etc... classes compatible with Android Q/R (`FileUtilsQ.java`) are available here https://gist.github.com/fiftyonemoon/433b563f652039e32c07d1d629f913fb and mentioned here https://stackov

[2021-10-23 15:11] courville commented on #336
Experimenting a bit:
- when srt files are created by nova, nova can delete them without a securityException handling using directly `content://media/external_primary/file/##` uri
- video files can be delete only using  `content://media/external_primary/video/media/###` uri
- nova is unable to create NFO (no XML resume point files on local storage) anywhere (SRT ok) --> use scoped storage for this

[2021-10-23 18:01] #499 closed, assigned to nobody

[2021-10-24 01:17] HDGuy opened #501 "6.0.28 What platforms support Dolby Vision?"
It’s not working on my 2019 Shield Pro and it doesn’t appear ExoPlayer is part of this build, so I’m curious what hardware supports it?

[2021-10-24 08:46] courville commented on #336
TODO:
- check why srt can be created and not nfo reading `Video/src/main/java/com/archos/mediacenter/video/utils/SubtitlesDownloaderActivity.java:953` and `MediaLib/src/com/archos/mediascraper/NfoWriter.java:326`. For this use nova setting "Export all descriptions" to see the `FileNotFoundException` errors (`open failed: EPERM`). Perhaps use new `FileUtilsQ` create method?
- verify that video dele

[2021-10-24 09:43] phhusson commented on #501
I'm pretty sure it works on Shield Pro, but we currently have issue with formats supported.

I'm pretty sure I tested my code on Shield Pro 2019, so it should work on the supported formats. I recommend that you test with the samples on Dolby's website for starter https://developer.dolby.com/tools-media/sample-media/video-streams/dolby-vision-streams/ I tested the implementation with one of those (

[2021-10-24 09:50] courville commented on #501
See https://github.com/nova-video-player/aos-AVP/issues/383 and https://github.com/nova-video-player/aos-AVP/issues/405
Let's reopen #383 if need be.

[2021-10-24 09:56] courville commented on #383
Seems that some people have still some issues with DV.
Please check comment on https://github.com/nova-video-player/aos-avos/commit/a24c7e4111b14b0f674f2aa7c2fd58935464cd3e too.

TODO: investigate kodi's branch https://github.com/quietvoid/FFmpeg/commits/release/4.4-kodi and more specifically quietvoid/FFmpeg@0aaf8ea and check if it is not included in incoming 4.4.1 release.

[2021-10-24 14:47] ghost opened #502 "Binging videos after returning from sleep Nova jumps back to first video played"
I've been having this issue for a while, but I never reported it. When I play numerous videos like from a show in binge mode or folder mode when my devices go to sleep and I wake them up again, nova jumps back to the beginning of the very first video I originally started in thar session. It's not a huge issue, as nova saves the last played location of the current video, but it is still a bit annoy

[2021-10-24 14:54] mcirsta commented on #383
I've used the latest version of Nova Player and had problems with a DV file in a mkv format. The colors were off with purple and green.
  Would be great if we could get support for this as otherwise this player served me very well.
 The hardware I'm using is a TV box ( generic ) with Amlogic S905X3.

[2021-10-24 20:08] adirt4289 opened #503 "subtitles RTL text is displayed LTR"
subtitles RTL text is displayed LTR.

what can i do?

[2021-10-25 10:23] courville commented on #502
I noticed it too and in latest 6.x, I introduced a logic to remember last file played. Perhaps it works in your case.
I will push my latest fixes on binge watching mode soon too.

[2021-10-25 10:55] Eugen68 opened #504 "In some cases, Nova Video Player can not show the external subtitle"
Hello,
First of all I want to congratulate you for your work.

I have a .mkw video files with 33 subtitle embedded tracks and one .srt external subtitle file in the same folder as video file.
The external subtitle file has the same name as the video file and appears in the "Select Subtitle on Storage" menu as attached to the video file... But when Nova play the video file, the external subtitle fi

[2021-10-27 11:20] lars18th commented on #422
Hi,

One question for the main developers: You will consider at some time the scenario with _two_ (or more clients) connected to the same shared folder?

It's quite frustrating to use two devices in different rooms with the current implementation that doesn't share the library metadata. 😢

[2021-10-27 15:04] courville commented on #422
You have very valid suggestions. The only real multiple clients on same NAS feature implemented is the network resume and also multidevices via trakt.
Implementation fo full refresh of the mediadb based on folder/nfo sync based methods is not planned on my todo list to be fully transparent. All effort for now is to comply with API30 deadline.

[2021-10-27 17:27] courville commented on #383
Just compiled version 6.0.xx with 4.4-kodi latest branch of ffmpeg fork mentioned above as suggested by @Tyaap available here https://drive.google.com/file/d/1wbZokxWSCsGNNkk6cMLSFFdcCK9UxyM2/view?usp=sharing
@HDGuy, @mcirsta @kristofferR and @dhlavaty please test and report if it yields any improvement.

[2021-10-27 17:27] courville commented on #405
Let's follow up on #383 for the remaining problems.

[2021-10-27 17:28] courville commented on #501
Let's do follow up using #383 to avoid duplicates. I close this issue.

[2021-10-27 17:28] #501 closed, assigned to nobody

[2021-10-28 08:13] courville commented on #336
NFO files (`text/plain` mime type only https://cs.android.com/android/platform/superproject/+/master:packages/providers/MediaProvider/src/com/android/providers/media/util/MimeUtils.java?q=MimeUtils.java) can only be created in `Documents/Download` folders. It does not make sense to prefix them in app private directory `getFilesDir()` since nobody would access them. See https://developer.android.co

[2021-10-28 10:01] lars18th commented on #422
Hi @courville ,

Thank you for your reponse. I feel you're a very organized developer. And my request is not related to a short timeline. I agree with you that the first effort requires to focus in the new APIs. So don't worry _now_ about my suggestion.

In any case, can you please comment if _from your point of view_ the incorporation of any type of multi-device synchronization will be targeted a

[2021-10-29 17:48] moneytoo commented on #401
Seems like ExoPlayer is moving into [AndroidX Media](https://github.com/androidx/media):

[2021-10-30 16:15] courville commented on #336
Some TODO (for me):
- check nfo/jpg relocate in AutoScrapeService (should be abstracted from nfoParser)
- wire back the UI notif of the delete for browser refresh
- bug (not a regression): when removing folder it does the associatedFiles on folder name (not a video)

[2021-10-30 17:17] arikoza opened #505 "Stopped displaying some TV shows in the "TV Shows" tab"
Stopped displaying some TV shows in the "TV Shows" tab. They are in "Recently Added" and "Obsolete Interface"
Version v6.0.28
![6fun83ui66w71](https://user-images.githubusercontent.com/93445603/139542733-4b1c6c93-2416-4616-9c55-f2836a3ddc86.jpg)

[2021-11-01 21:36] mcirsta commented on #383
Thanks. For me it didn't fix the issue. I do think though that it might be an Android issue. The SOC itself should support this DV but I'm not sure the Android that's on it has this support.
 Could that be the case ? Any way to detect if indeed this DV is supported on you hardware and OS combination ?

[2021-11-01 22:30] Tyaap commented on #383
This new build fixed the issue I had with MKV support. All the Kodi sample files played back fine on my Nvidia Shield.

[2021-11-02 10:10] Tyaap commented on #383
NB: Using a Nvidia Shield Pro 2019 and an LG CX. I also have the adaptive framerate option enabled.

[2021-11-02 11:22] Tyaap opened #506 "[Feature Request] Fine control of automatic refresh rate selection"
I am using a Nvidia Shield 2019 Pro, LG CX and the latest Nova Player release.
With this setup the automatic refresh rate algorithm is selecting these refresh rates:
* 23.976fps --> 24Hz
* 25fps --> 50Hz
* 30fps --> 60Hz
* 59.94fps --> 60Hz

I would like to override these selections:
* 23.976fps --> 23.976Hz
* 25fps --> 25Hz
* 30fps --> 30Hz
* 59.94fps --> 59.94Hz

Perhaps it can be configured in

[2021-11-04 20:50] ghost commented on #502
I think using the latest version, thd issue persists.

[2021-11-08 01:47] bda4life85 opened #507 "Scrapped local files not displaying"
I am using the Nova Video Player AndroidTV version on a 2021 Sony TV with Google TV. The app continues to not display my scrapped TV shows and movies from my connected external hard drives. The initial scrapping works fine (upon installing the app) and it will scrap new files. Old files (previously scrapped) do not show any meta data information and appear like they're unscrapped. This happens eac

[2021-11-08 14:31] phhusson commented on #383
@mcirsta  Dolby Vision require specific HW support, the tvbox oem must have paid Dolby Vision licensing specifically. S905X3 can support Dolby Vision only if this license has been paid. Do you know if that's the case?

(Chromecast with Google TV or Freebox Player Pop are examples of Amlogic s905x* devices actually supporting Dolby Vision)

Edit: It could be possible to provide some kind of softwar

[2021-11-08 20:27] courville commented on #154
Seems that washy color happens using RGB8 and is ok with YUV420.
Forcing on shield Android setting in display/audio->advanced to match color space to content solves the issue for me.
I end up in `3840 x 2160 @ 50.000 Hz (YUV420/8/Rec.709)`.

[2021-11-08 20:27] #154 closed, assigned to nobody

[2021-11-08 20:33] courville commented on #507
I could be related to this: https://github.com/nova-video-player/aos-AVP/issues/354 and be a sony problem.

[2021-11-08 21:53] bda4life85 commented on #507
Thanks for the info but if I read issue #354 correctly then i believe these are two separate issues. Issue #354 seems to state that there is an entire rescan every time there is a power up / return from suspend. While I can see why that would be annoying that doesn't happen with me. My problem is there is a rescan but Nova only recognizes / adds / displays metadata for new files, not things previo

[2021-11-08 21:55] bda4life85 commented on #507
As an aside this problem of not displaying the scrapped metadata does not happen with VLC. On my TV it saves the previous information and displays it each time. Nova is the superior program because the metadata is organized better with posters, trailers, etc. However this doesn't seem to be a Sony problem because it doesn't happen with other apps, just Nova.

[2021-11-09 08:04] magusone opened #508 "play video from Ftp problem"
hello,
I'm useing FTP local server to play my media (hdd conected to router rt-ac86u) on my Bravia TV. I prefer FTP becouse I can load external subtitles (srt file) and it's faster then SMB. I can navigate to video file but Nova (v6.0.28) can't play it ("cannot play video" message).
Btw. is there possibility to do this in Kodi (Jarvis 16.1) useing Nova (v0.67)? I was trying to do this with adding

[2021-11-10 13:38] vs40 commented on #368
Any updates on WebDAV support implementation?

[2021-11-11 03:16] asitkumar789 opened #509 "Sign in trakt not possible"
![Screenshot_20211111-084123](https://user-images.githubusercontent.com/40228837/141230951-b28d2aeb-8a11-4e7d-a862-6636edc36c92.jpg)

Why i get this error always?

[2021-11-14 11:31] rahaaatul opened #510 "Volume up/down by Remote's Up/down button"
Hello. Can you add an option to enable volume up/down by the tv remotes up/down button or the keyboards up/down keys? Even better if we can remap buttons in-app.

Reason: My TV doesn't support Bluetooth. So I bought a Bluetooth transmitter/receiver to connect with my Bluetooth speaker. But the problem is, with the tv remote's volume button, doesn't change Bluetooth volume, it changes only tv's vol

[2021-11-14 19:06] thewalkerz opened #511 "[Feature request] Strm file support"
Thanks you for making this amazing app, I want to suggest a feature I love from Kodi,  strm file.

That's allow you to play your movies an tv shows directly from the cloud using Google Drive, YouTube, etc. You put the link video into a .strm file.

This link from Kodi website explains what I mean.

https://kodi.wiki/view/Internet_video_and_audio_streams

[2021-11-16 16:17] Pentaphon commented on #510
That seems quite unnecessary and out of the scope of this project.

[2021-11-17 03:22] rahaaatul commented on #510
I don't know what's you're reason to think that, I just explained my reason to open this issue. If it was unnecessary, I wouldn't open this issue.

Anyway, I really need this option to be added because-

Please, help this option to be added by the developer. Thank you.

[2021-11-18 09:50] courville commented on #510
@rahaaatul in the player volume can be increased via real keyboard with U/D (old mplayer shortcuts?) https://github.com/nova-video-player/aos-AVP/wiki/Keyboard-shortcuts
Sorry but I do not get really the setup: how you are controlling from the tv (it should be android handling that) the volume of your BT TX/RX?

[2021-11-18 12:12] rahaaatul commented on #510
I thought so too, but it doesn't control the way I thought it would.

In MX player, there's a Controls option called "Key up/down action", I enabled it in there and it changes the volume, but it changes in-app volume, but not the real volume (meaning: it thinks the originally set Bluetooth volume as the maximum volume, so if it's set to 50, MX thinks that's as 100). But Nova changes and is linked

[2021-11-19 14:08] rahaaatul opened #512 "Fetched Subtitles from online don't appear on subtitle settings."
Here's a [demo](https://drive.google.com/file/d/13-bRDuv84E4cScBpOiV3Bti6gxlIugGs/view?usp=drivesdk) of the problem.

The external subtitles won't appear in Nova or any other player. Similar to issue [#504](https://github.com/nova-video-player/aos-AVP/issues/504).

[2021-11-19 14:14] rahaaatul commented on #509
Try VPN, mine's working fine.

[2021-11-19 14:20] rahaaatul commented on #508
You can try enabling **Play with external media player** in Nova settings and it will play with other media players. See if it plays the media.

[2021-11-19 14:22] rahaaatul commented on #507
It doesn't happen with my TV though.

[2021-11-21 17:14] rahaaatul opened #514 "Trakt won't sync correctly or won't sync at all"
@courville after watching any video, I expect the video to be marked watched (automatically) with Trakt but Nova won't mark the video watched. Although in the app, it's marked watched.

Also manually marking (watched/not watched) not working either.

It's marking the incorrect video as watched.
i.e., I watched Boruto, it synced Sunshine Beach.

Android Version: 5.1 (Android TV)
App Version: ~~6.0.

[2021-12-01 06:16] hassonipulus commented on #503
Create a pull request with appropriate fix/wait

[2021-12-04 08:52] Pentaphon opened #515 "10-bit x265 files always default to Software Decoding and look washed out on Snapdragon 460 device"
I have a device where Nova always fails to hardware decode 10 bit x265 files. Allow me to show you two screenshots from a Moto G Play (2021) phone which runs a Snapdragon 460 using Nova v6.0.28. I suspect the phone's stock firmware has buggy decoders.

One is mpv with flawless playback and correct colors. The other is a clean install of Nova, with choppy playback and washed out colors.  MPV is rep

[2021-12-04 14:29] Pentaphon opened #516 "Nova does not fall back to SW decoding when encountering files an Exynos chip does not support HW decoding for"
I have a Samsung SM-T510 tablet running Android 11 that does not support 10-bit x265 at all because it has an Exynos chip that only hardware decodes 8-bit HEVC, and I have to turn off Nova's hardware decoding in the preferences page to get them to play with the software decoder which runs 10-bit files just fine. I would expect 10-bit x265 files to fall back to software decoding on Nova but they si

[2021-12-05 11:23] courville commented on #515
Just tried a couple of the 10b HEVC files (jellyfish and the one you provided) and on my pixel6 it works (hw decode).
Any chance you could post the adb logs and especially the avos ones (native multimedia engine of nova)?
It could provide an idea of what upsets nova.
Hope there is since it works with other players.

[2021-12-05 13:53] courville commented on #516
Nova has a swdecode fallback in case of hwdecode fails. No the question is why it does not kick in in your particular case.
Any logcat you could provide? @nnoury any idea?

[2021-12-05 16:08] Pentaphon commented on #515
Here you go.
[log.txt](https://github.com/nova-video-player/aos-AVP/files/7656321/log.txt)

[2021-12-05 16:25] Pentaphon commented on #516
Here you go.

[samlog.txt](https://github.com/nova-video-player/aos-AVP/files/7656347/samlog.txt)

[2021-12-06 14:06] rahaaatul opened #517 "Fix and Support for subtitles"
I'm facing a subtitles problem with Nova. It displays random characters ![random characters](https://user-images.githubusercontent.com/86149861/144859816-dc2ffdeb-db80-4d84-869f-4d67224d7068.jpg) for the SSA subtitles in the nova video player.

And also can you add function to select multiple subtitle at the same time?

TL;DR:

**Add support for most used SUBTITLE types including .SSA/.ASS.**