[2019-11-17 11:37] courville commented on #219
Duplicate of https://github.com/nova-video-player/aos-AVP/issues/234

[2019-11-17 11:37] #219 closed, assigned to nobody

[2019-11-17 11:39] courville opened #236 "v4.16 google play console: llegalArgumentException in ScraperProvider.query"
On AndroidTV:
[code]

[2019-11-17 12:20] courville commented on #232
If a network share has no nfo/poster exported, the scraping is not launched when indexing folder or doing file based browsing. Note that the video is inserted in VideoStore and subsequent browsing does not trigger scraping since video is flagged already seen.

[2019-11-17 17:49] courville opened #237 "migrate to tmdb-java"
Instead of using our own code use https://github.com/UweTrottmann/tmdb-java

[2019-11-17 17:50] courville opened #238 "migrate to opensub4j"
Instead of using our opensubtitles downloader use https://github.com/wtekiela/opensub4j

[2019-11-17 17:52] courville opened #239 "make jcifs-old external"
Use maven repo.

[2019-11-17 21:03] Baramiji opened #240 "Why is there 2 versions?"
A thing confuse me, and I couldn't find the answer anywhere.
Why in the [releases section](https://github.com/nova-video-player/aos-AVP/releases) we find 2 different versions on nova:
- vesrion 4
- version 5

What's the difference between them?
Thank you.

[2019-11-18 08:26] courville commented on #240
Version 4 is the released one on Google Play.
Version 5 is a more experimental one that implements SMBv2/3 and other changes.

[2019-11-18 12:51] courville opened #241 "4.17 google play console: player crashing in nl"
[code]

[2019-11-18 12:52] courville commented on #241
See: https://github.com/nova-video-player/aos-Video/commit/3fa3d45d020b07de7ea081cda4b08f5a8cfae97d

[2019-11-18 12:53] courville commented on #241
Need to move these strings in res/values/donottranslate.xml

[2019-11-18 14:32] Baramiji commented on #240
Merci.
Tout est clair.

[2019-11-18 15:04] #240 closed, assigned to nobody

[2019-11-18 15:29] #241 closed, assigned to courville

[2019-11-18 18:03] courville opened #242 "leanback VideoDetailFragment delete file on sdcard for Sony does not work"
[code]

[2019-11-18 19:34] courville opened #243 "shield external drive scraping error"
[code]

[2019-11-18 19:37] courville commented on #243
Happens when thetvdb is fubar

[2019-11-18 20:46] courville opened #244 "external storage management should use Storage Framework Access"
Deleting files on external sdcard or usb drive fails:
[code]

[2019-11-18 20:47] courville commented on #242
Duplicate https://github.com/nova-video-player/aos-AVP/issues/244

[2019-11-18 20:47] #242 closed, assigned to nobody

[2019-11-19 06:31] courville commented on #244
Suppressing files on  usb disks on Android 9 on shield or Android 8 on Sony TV does not work even with FAT32 filesystem.
Suppressing files on Android 9 phones (Samsung S8) is ok.
Listing files on usb disk on Android 10 pixel3xl is KO.
Must be a new Android 10 behavior.

[2019-11-19 07:46] courville commented on #244
On Sony TV:
[code]

[2019-11-19 07:48] courville commented on #244
On first report note the tripe / : file:///storage/1C07-0914/toto.nfo

[2019-11-19 08:28] courville commented on #244
This is simple https://stackoverflow.com/questions/40068984/universal-way-to-write-to-external-sd-card-on-android/40201333#40201333

[2019-11-19 13:18] courville opened #245 "tvshow scrape issue following 19/11/16 thetvdb site changes"
NVP was crashing with old API, released v4.16 with thetvdb-java APIv2 move.
During scraping experienced these:
[code]
However the season set to "graphical" is not reproduced on thetvdb swagger https://api.thetvdb.com/swagger#!/Series/get_series_id_images for the specific id causing this error.
This results in NVP not finding any image (might be a thetvdb-java issue).

[2019-11-19 13:19] courville commented on #245
Cf. https://forums.thetvdb.com/viewforum.php?f=122&sid=638d64ab177562e5bc7a7ee731f346b6

[2019-11-19 13:22] courville commented on #245
TODO: investigate why all tv seasons have same poster.

[2019-11-19 13:26] courville commented on #243
Duplicate https://github.com/nova-video-player/aos-AVP/issues/245

[2019-11-19 13:26] #243 closed, assigned to nobody

[2019-11-20 06:27] courville commented on #245
Cloud response is unstable: https://forums.thetvdb.com/viewtopic.php?f=122&t=60290
on multiple devices I get strange answers that are not uniform from time to time:

`curl -X GET --header 'Accept: application/vnd.thetvdb.v2.2.0' --header 'Accept: application/json' --header 'Accept-Language: en' --header 'Authorization: Bearer BLAH-TOP-SECRET' 'https://api.thetvdb.com/series/78804/im ... ype=season

[2019-11-20 12:46] courville commented on #244
For now no resume or scape adjustments on external hdd/usb key.
Seems that sdcard ok.

[2019-11-20 15:38] courville commented on #244
On pixel3xl android 10 after going to sdcard on nova I get an endless spinning progress dialog
[code]

[2019-11-22 19:45] courville opened #246 "plug acra to get more crash analytics context"
Cf. https://github.com/ACRA/acra

[2019-11-23 18:23] emulienfou commented on #231
Issue fixed from v4.18, thanks @courville for this release and fix.

[2019-11-23 18:23] #231 closed, assigned to nobody

[2019-11-24 02:58] AKprisonER opened #247 "CreateProcess error=2, The system cannot find the file specified on Android Studio(Windows)"
The error restricts from building apk.
Errror on module "Filecorelibrary" NDK build
Execute exec caused
Caused by: java.io.IOException: Cannot run program "make" (in directory ""): CreateProcess error=2, The system cannot find the file specified
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)

[2019-11-24 09:27] courville commented on #247
For now building on a Windows host is not supported.
It works on Linux and MacOS but not Windows.

[2019-11-24 14:46] courville opened #248 "use also themoviedb to scrape tv shows"
This is now possible.
This could help if thetvdb goes fubar again.

[2019-11-25 08:53] AtrinEfe opened #249 "Turkish Subtitle Codec Problem"
I have a small problem with Turkish subtitle encoding. From settings menu I have selected "Turkish" for subtitle download, read and encoding but there is still problem with special Turkish letters "ı İ ğ ü ş ç ". What should I do ? Thank you in advance !

PS: I'm using Sony Bravia A1E OLED Android TV with Android 8.0 - Kernel Version 3.10.79

PS2: and using latest version of Nova Player Beta

A sa

[2019-11-25 15:52] courville commented on #249
User reported that this issue is not present on Archos Video Player.

[2019-11-25 15:52] courville commented on #246
Done: will be deployed in beta releases.

[2019-11-25 15:52] #246 closed, assigned to courville

[2019-11-27 10:23] mynick11 opened #250 "Grey bar at the bottom during video playback"
Hi,

first of all congrats for the best video / media center application that is available at the moment - you did an amazing job so far!

However I am facing a problem during the video playback. It doesn't matter which file (mp4, avi, mkv) I am playing I have a grey bar at the bottom of the video below the normal black bar for 16:9 format. Is there any chance to fix it? At the moment I am using t

[2019-11-27 21:15] courville commented on #235
Crash can be reproduced when on leanback changing the information of the whole tv show and selecting a wrong one leading to showdetails nok. In getEpisode map is thus null because not set in handleSave since ! detail.isOkay()

[code]

[2019-11-28 15:56] courville commented on #250
Thanks for the feedback. One question to understand the influence of video hardware decoding on this behavior: would it be possible for you to check if there is the same glitch with forcing software decoding in settings (not recommended option to keep)?

[2019-11-28 18:15] #235 closed, assigned to nobody

[2019-11-28 21:36] courville opened #251 "TraktService: IllegalStateException Not allowed to start service Intent"
[code]

[2019-11-28 21:37] courville commented on #251
Thanks to seppel explanation.
Crash is triggered by activity.onStart, so shouldn't be considered background unless it's already decided by the system to stop the app again.
See https://stackoverflow.com/questions/52013545/android-9-0-not-allowed-to-start-service-app-is-in-background-after-onresume
The stacktrace says it's happening during the Activity.onStart callback which is the place that is ca

[2019-11-28 21:41] courville opened #252 "ScraperProvider: IllegalArgumentException: the bind value at index 1 is null"
[code]

[2019-11-28 21:41] courville commented on #252
bindvalue 1 is null and nameseed null would both be the ShowTags mTitle being null, which probably means something with tvdb api still not working as before? e.g. https://github.com/nova-video-player/aos-MediaLib/blob/v4/src/com/archos/mediascraper/xml/ShowScraper2.java#L277 failing and nothing setting the title fallback thing

[2019-11-28 21:43] courville commented on #252
See https://github.com/nova-video-player/aos-MediaLib/commit/9c44d3a2a7c820d6efdf643bf01aba8d4df54b08

[2019-11-29 06:26] #251 closed, assigned to nobody

[2019-11-29 06:26] #247 closed, assigned to nobody

[2019-11-29 06:27] courville commented on #248
managing two sources will add a lot of extra complexity.
Will not do.

[2019-11-29 06:27] #248 closed, assigned to nobody

[2019-11-29 06:27] #234 closed, assigned to nobody

[2019-11-29 06:29] courville commented on #236
Should be fixed now by https://github.com/nova-video-player/aos-MediaLib/commit/9c44d3a2a7c820d6efdf643bf01aba8d4df54b08

[2019-11-29 06:29] #236 closed, assigned to nobody

[2019-11-29 06:31] courville opened #253 "llegalStateException in NetworkRootFragment-not attached to a context in onPostExecute"
[code]

[2019-11-29 06:31] courville commented on #253
See https://stackoverflow.com/questions/10919240/fragment-myfragment-not-attached-to-activity

[2019-11-29 06:32] #253 closed, assigned to nobody

[2019-11-29 09:36] mynick11 commented on #250
Hi Courville,

unfortunately software decoding has no effect on the bar. The only situation where the bar is gone is, if you open the menu during the playback. I've added some Pictures of the situation. One is the normal Mode and the other two are showing the Bar as a layout element if you switch on the layout borders in the android debug mode.

I hope this help.

Best regards
![20191129_100918](h

[2019-12-01 15:53] emarch06 commented on #228
Hi @courville,

I made a build of the sample app with the jcifsng master branch.
I confirm the issue is fixed :).

Can you build me a nova apk with this version to make a try?

Thanks

[2019-12-01 16:53] courville commented on #228
I noticed the patch too.
Please try this experimental build: https://drive.google.com/open?id=1raY9oSBPrG3I5VprowVYuLs7ueBhg6N0

[2019-12-01 20:36] emarch06 commented on #228
Good news, it works now :)
You can merge the patch in the beta again.

May I ask you to have a look at the issue https://github.com/nova-video-player/aos-AVP/issues/148 ?
It's really annoying ;-)

[2019-12-01 20:43] courville commented on #228
Official release is available here: https://www.reddit.com/r/NovaVideoPlayer/comments/e4n3eh/v56_smbv2_experimental_release/

[2019-12-01 20:45] courville commented on #148
I would like to fix the issue rather than implementing many chipset depending fallbacks that are very difficult to maintain. Issue is that I do not have access to a freebox.
@nnoury since @emarch06 is able to do some advanced debugging, you could perhaps provide some special apk to progress on the issue.

[2019-12-03 09:48] mynick11 commented on #250
Hi once again,

I've got some news. After loading the APK for debug in Android Studio it seems that the problem is located in the player_controller_placeholder (compare attached screenshot). The placeholder is not a problem as long as there are no additional control elements / possibilities. For TV Boxes or Keyboards it seems to be a problem because the placeholder does not disappear once it is ac

[2019-12-03 15:26] courville commented on #250
Yes indeed we saw via uiautomator that the area you mentioned is indeed org.courville.nova:id/player_controller_placeholder
Thanks for the detailed and quality feedback.
I will try to investigate.

[2019-12-05 12:22] courville commented on #220
Issue understood now.
Before focus was set on row 0 only when all the loaders were available providing time to get the rows to be displayed.
When trying to set the focus earlier, row 0 might not be LastAdded or LastPlayed and be the Network & Files row which gets selected and all the other rows are set to NO_NEED_FOCUS preventing new attempt to set the focus on correct row.

[2019-12-06 07:19] Textator commented on #136
@courville in the recent versions local files get added to the library, shortly after the first version which had the regarding notification displayed. Thanks for that!

[2019-12-06 07:23] Textator opened #254 "Trakt connection not possible - no internet connection"
Nova isn't able to sign into Trakt. The white window starts to open, then nova states "no internet connection".

I clear cache, data, reinstalled. Different phone. No luck.

Using latest beta.

[2019-12-06 10:56] xenogenesi opened #255 "[Feature request] add support for 360 videos with gyroscopes"
I would like an open source player with this feature, vlc supports 360 with spatial metadata but does not support 360 stereo (from the tests I did it seems to reproduce a stereo as if it were mono, showing only one frame), nor does it support gyroscopes

[2019-12-06 14:00] courville commented on #74
Perhaps time to switch to https://github.com/jupnp/jupnp

[2019-12-06 17:29] courville commented on #250
In Video/res/layout/player.xml there is:
[code]
I will keep it but let's try to make is invisible i.e.       `mPlayerControllerPlaceholder.setVisibility(View.INVISIBLE);` or `android:visibility="invisible"`

[2019-12-06 17:46] courville commented on #250
@mynick11 could you please try this experimental release build https://drive.google.com/open?id=1MN4SJXHL9jeTO7K6mPiWQSfF5L4RQN8y and report if the above change made any difference?
Thank you

[2019-12-06 17:51] courville commented on #254
I have just retested the beta and I can login to trakt on two phones and on two androitv.
I saw that you reported the issue earlier as well but I cannot reproduce it.
Can you please disclose the phone and Android version?

[2019-12-06 18:14] courville commented on #245
Some scraper logs:
[scraper.log.zip](https://github.com/nova-video-player/aos-AVP/files/3933431/scraper.log.zip)

[2019-12-07 09:13] Dmitry-k42 commented on #34
I would like to have gestures too. It is possible to make them customisable in settings. Who don't like it may disable it.

[2019-12-07 09:39] Dmitry-k42 opened #256 "UI problem when video plays"
Hi!
I have a problem in stable version 4.20. Bottom navigation bar is overlapped by the system nav bar in landscape reverse orientation. I can not pause video and touch all other buttons in the bottom bar. In landscape normal orientation everything is fine. I have Lenovo Tab 10, Android version 9

Example:
![Screenshot_20191207-110658_Nova_](https://user-images.githubusercontent.com/2426173/703722

[2019-12-07 10:37] mynick11 commented on #250
Hi Courville,

amazing work, the bar is gone and I could not see any negative effects from this change.

However, besides the bar issue there still seem to be some issues regarding the resolution handling especially when it comes to .h265 videos but this specific bug seems to be solved.

Best regards

[2019-12-07 10:49] courville commented on #250
OK good. Could you please open another bug for H265 with sample and also a picture of the issue?
Thanks.

[2019-12-07 11:40] courville commented on #256
Thanks for reporting.

[2019-12-07 17:49] Textator commented on #254
Of course:
LG G5 h850
ROM RR-O-v6.2.1-20190117-h850-Unofficial, Android Oreo

But it worked before.

[2019-12-08 14:08] courville commented on #256
See https://github.com/nova-video-player/aos-Video/commit/44703489c28510cdf54791c6ed3698b7860c591c

[2019-12-08 14:10] courville commented on #256
I have fixed some layout issues for tablets regarding playerController however this was not really tackling your specific issue (but could).
Can you please test this apk  https://drive.google.com/open?id=1oO_j_okbhQeactnNu-14hWsgscbM8rsw and report if it fixes the problem you have?

[2019-12-09 00:54] Pentaphon commented on #192
@courville Any progress on getting the Amazon app to update? It's currently broken for everybody in that store and it got its first bad review because of that.

[2019-12-09 07:29] Dmitry-k42 commented on #256
Yes, it is fixed. Thank you a lot!

[2019-12-09 07:29] #256 closed, assigned to nobody

[2019-12-09 08:31] courville commented on #192
@Pentaphon thanks for the heads up: indeed update was missing.
I have just resubmitted latest apk for approval on amazon AppStore.
Note that any prior update were denied on the AppStore without any way for me to get anything actionnable from the amazon support team.
/me has finger crossed...

[2019-12-09 17:41] mynick11 opened #257 "Multiple Bugs regarding h.265 decoding"
Hi Marc,

as requested you will find below my findings regarding the h.265 decoding.

1. Test File
The Test was done with this test file: http://jell.yfish.us/media/jellyfish-10-mbps-hd-hevc.mkv - I am not the owner of this video material. Credits for the guys providing their test files!

2. The expected result
The video is coded properly in 1920 x 1080 full screen mode, so the expectation is that

[2019-12-09 21:52] courville commented on #257
Thanks for reporting and illustrating the issue: indeed there is obvious stretching.

[2019-12-09 21:54] courville commented on #257
Happens too on the Philips TV: https://www.reddit.com/r/NovaVideoPlayer/comments/dz4wh5/reqissue_android_tv_9_pie_aspect_ratio_totally/

[2019-12-09 21:55] courville commented on #257
@mynick11 I guess that the problem also happens not only with HEVC (H265) video but with other codecs like H264. Do you confirm?

[2019-12-10 07:18] mynick11 commented on #257
Hi,

no, I cannot confirm that. With h.264 it behaves differently but also wrong. There you have small black bars at the left and right corners of the TV. With "Fullscreen Mode" on it zooms a bit and the bars are gone then. But no stretching there.

[2019-12-10 09:38] courville commented on #257
ok most likely RK and amlogic are not able to handle displaying surfaces that are larger than the screen resolution.

[2019-12-10 12:10] courville opened #258 "aspect ratio issues investigations"
On Philips TV (mtk) it has been reported that AR is wrong https://www.reddit.com/r/NovaVideoPlayer/comments/dz4wh5/reqissue_android_tv_9_pie_aspect_ratio_totally/
On amlogic when selecting full screen AR is wrong with 21:9 and 4:3 videos that are stretched instead of applying a zoom.
It appears when surface has been scaled and exceeds screen dimension i.e. codec does a scale instead of crop.
@phhu

[2019-12-10 12:11] courville commented on #258
In java world one could use the MediaCodec https://developer.android.com/reference/android/media/MediaCodec#setVideoScalingMode(int)

[2019-12-10 12:14] courville commented on #258
In Ndk domain, `AMEDIAFORMAT_KEY_DISPLAY_CROP = "crop"` exists but has been introduced in 28 (`frameworks/av/media/ndk/NdkMediaFormat.cpp` and `android-ndk/sysroot/usr/include/media/NdkMediaFormat.h`).

[2019-12-10 12:15] courville commented on #258
Relevant part in avos is `native/avos/external/android/libsfdec/sfdec_ndkmediacodec.cpp:sfdec_init`

[2019-12-10 12:27] phhusson commented on #258
Java's setVideoScalingMode calls:
[code]

This means that the information is transmitted to both hwcomposer and codec.
We can't safely access native_window_set_scaling_mode but we can send a parameter to the codec.

So we can try to use AMediaCodec_setParameters to set "android._video-scaling"'s value to the mode we want

[2019-12-10 12:40] courville commented on #258
Regarding more strange AR issues as reported here https://github.com/nova-video-player/aos-AVP/issues/257 one need to check that codec report is correct (should be enforced by CTS) and this can be done monitoring `INFO_FORMAT_CHANGED` from avos:
[code]

[2019-12-10 14:03] courville commented on #257
@mynick11 I would like to propose that you try out this apk https://drive.google.com/open?id=1_41GSHTwoHs9-yxZm1ngyw3GH5Wjjt9t that has special debug logs.
Would you have a way while playing the jellyfish video to get the adb logs out of your box and more specifically look for `avos_player: sfdec_read: INFO_FORMAT_CHANGED:` and report the end of the line in "normal mode" and "full screen mode".
So

[2019-12-10 17:37] courville commented on #258
On another track, Philips TVs (MTK based) are showing also AR issues after upgrading to Android 9 but this is not happening on Sony TVs (MTK based too).
Check Kodi references https://forum.kodi.tv/showthread.php?tid=341491 and notice that somepeople are recommending to update their Philips TV firmware since Philips is supposed to have fixed the issue in an update. In the thread they prompt the use

[2019-12-11 10:58] courville commented on #258
`/sys/class/video/screen_mode` is not accessible on miproj or mibox.

[2019-12-11 12:38] mynick11 commented on #257
Hi,

Here are results of my testing:

1. Emulated Android TV with Android 9 in Android Studio (everythings fine) Log:

[Emulated_AnrdoTV_Android9.txt](https://github.com/nova-video-player/aos-AVP/files/3950279/Emulated_AnrdoTV_Android9.txt)

2. The going crazy log of a RK3328:

[RK3328.txt](https://github.com/nova-video-player/aos-AVP/files/3950281/RK3328.txt)

The first problem is that the surfac

[2019-12-11 20:51] Pentaphon opened #259 "MKV Test file does not play at correct aspect ratio on Fire Stick 4K"
Hi, I found a file that plays at the correct aspect ratio on VLC, Kodi, mpv, MPC-HC, and Nova on my phone (Moto G7), but not Nova Video Player on a Fire Stick 4K. When played on the Fire Stick 4K, this test file is stretched to fill up the entire screen instead of being displayed at its original 2.35;1 aspect ratio. Again, this file plays perfectly fine on my phone's Nova Player, but not with Nova

[2019-12-12 05:51] courville commented on #245
tvshows order is not good anymore (not sorted based on popularity). Trying to remove first tvshows without posters cf. https://github.com/nova-video-player/aos-MediaLib/commit/e46786669608b9ea858bfe6791fce7c23c0f21c8 and  https://github.com/nova-video-player/aos-MediaLib/commit/cc277527833fb5e846d41860795ac7861d73632a
Then deprioritize the shows with numeric only slug https://github.com/nova-video

[2019-12-12 05:52] courville commented on #245
Above solves Silicon Valley and The good place.
Still some issues reported with Hanna.S01E01.Forest.720p.AMZN.WEB-DL.DDP5.1.H.264-NTG[eztv].mkv, Comedians.In.Cars.Getting.Coffee.S01E01.720p.WEB-DL.H.264.AAC2.0.mp4,  White.Collar.S01E01.Pilot.720p.Web-DL.ReEnc-DeeJayAhmed.mkv
For these ones on White Collar there is an empty poster and it should not with:
[code]

[2019-12-12 08:43] courville commented on #257
Thank you for this detailed answer (really).

this is a bad news for you since it means that the implementation of MediaCodec is borked on your specific box.
Note that on certified AndroidTV boxes this is enforced by CTS testing.
There is little we can do at this stage.

Regarding:

this would hint that your Rockchip box is using a 720p graphic/UI plane (perhaps it can be changed in settings).

[2019-12-12 09:01] mynick11 commented on #257
Hi,

thanks for the answer.
Still the question remains, if there is a problem with the media codec of the box, why is Nova the only player having trouble with it? I've tested the videos on three different players the others worked without any issues.

Regarding the 720p - It is set tp 1080x1920p60 in the settings, also the TV shows that it is 1080p coming through the HDMI.

For me it looks like No

[2019-12-12 10:10] courville commented on #257
OK you have some valid points.
Could you please try this apk where we leave to the codec to do the scale/crop (this improves an issue on amlogic) and provide a picture of the change in output (if any): https://drive.google.com/open?id=129SxewI4jvtyy4b7N6-uJwl0YQfeGe1m
Note that it will not solve entirely your problem but could give us some clues on how to progress.
For the 720p screen resolution r

[2019-12-12 10:13] courville commented on #258
Cf. https://gist.github.com/courville/f64cb4cd6e6f644c52042de2ca5f1b6a
Asking the codec to do the scale to fit with crop seems to make amlogic mibox s working.
Need to check on miproj.
Issue with the above approach is that it requires API26 because AMediaCodec_setParameters is not available on former versions.

[2019-12-12 12:26] phhusson commented on #258
We need someone to test on Philips/MTK and the weird rk3328 aspect-ratio
issue too

Le jeu. 12 déc. 2019 à 11:13, Marc de Courville <notifications@github.com>
a écrit :

[2019-12-12 13:29] NicolasDuboisToulouse opened #260 "tvdb request fail for show with S and number in title"
I have the issue with the tv show Stagrate SG-1.
Some examples:
Stargate SG1 - S01E00.avi : no result,
Stargate SG-1 - S01E00.avi: no result,
Stargate - S01E00.avi: working but not the good result.

[2019-12-12 14:43] courville commented on #258
Already done: https://www.reddit.com/r/NovaVideoPlayer/comments/dz4wh5/reqissue_android_tv_9_pie_aspect_ratio_totally/ test results soon for Philips.
Regarding RK apk shared as well here: https://github.com/nova-video-player/aos-AVP/issues/257

[2019-12-12 16:11] courville opened #261 "Space bar pause/play broken"
Cf. https://www.reddit.com/r/NovaVideoPlayer/comments/e98tgh/bug_space_bar_pauseplay_broken/
I think this is a regression trying to fix this UI glitch happening on some boards: https://github.com/nova-video-player/aos-AVP/issues/250 and more specifically https://github.com/nova-video-player/aos-Video/commit/e70db940d0ba272aa6b4ded711852077e0c73240 i.e. making the view invisible makes it loose focu

[2019-12-13 07:04] mynick11 commented on #257
Hi,

no change unfortunately :/

Best regards

[2019-12-13 09:28] courville commented on #258
Feedback from testers: no effect on miproj, philips tv, rk box.
New approach to be tested: AR would work if we trust container resolution and not the codec format output change. This could result in new bugs if container information is wrong.
But this could fix firestick 4k ko, philips tv with latest firmware KO and RK KO.

[2019-12-13 13:22] courville commented on #250
Rollback since it breaks play/pause key focus.

[2019-12-13 13:46] courville opened #262 "Leanback: endless scanning notification spinning"
Seems like a regression

[2019-12-13 13:57] courville commented on #259
Thanks for reporting. Could you please try out his apk that has a new aspect ratio logic and report?
https://drive.google.com/open?id=129SxewI4jvtyy4b7N6-uJwl0YQfeGe1m

[2019-12-13 13:58] courville commented on #257
OK let's try another approach and not trust the MediaCodec reporting and only the container reporting that could help (and causes different bugs): https://drive.google.com/open?id=129SxewI4jvtyy4b7N6-uJwl0YQfeGe1m
Could you please test this new apk and report?
I apologize for these repetitive blind attempts.

[2019-12-13 14:08] courville commented on #258
New approach: https://gist.github.com/courville/2fe4056f2846319f69368f80fc63c2be and test apk shared.

[2019-12-13 14:43] mynick11 commented on #257
Hi,

there is nothing to apologize for ;) You're doing a great job. The stretching is gone. Video playback works perfectly for h.265 1920/1080 & h.264 1920/1080 & 720/480.

However due to the rollback to fix the focusing of the buttons the grey bar is visible again.

Best regards

[2019-12-13 16:30] courville commented on #250
This grey bar is also present on chromeos on the pixelbook.

[2019-12-13 16:32] courville commented on #250
Thus view with android:visibility="visible" makes the play/pause with enter/space and "invisible" or "gone" only space works...

[2019-12-13 17:11] #261 closed, assigned to nobody

[2019-12-13 17:13] courville commented on #250
No obvious solution for now: reduce size of the bar to 1px.
Not ideal but better...

[2019-12-13 22:05] #262 closed, assigned to courville

[2019-12-13 22:07] courville opened #263 "make network resume jcifs-ng friendly"
People complain about choppy video playback with jcifs-ng.
Ivnestigate if this is not due to periodic resume file written (should be kept open).

[2019-12-13 22:42] courville commented on #259
OK I found a firestick4k and aspect ratio is corrected with the proposed fix.
What happens is that the codec reports 1920x1088 resolution and real video as reported is 1280x544. Applying what proposes the codec results in stretched fullscreen video.
It is worth noting that normally codec should report correct resolution and this is enforced on AndroidTV by proper CTS tests. But hey... amazon is al

[2019-12-13 22:43] courville commented on #259
Full logs attached
[firestick4k.log.zip](https://github.com/nova-video-player/aos-AVP/files/3962991/firestick4k.log.zip)

[2019-12-13 22:54] courville commented on #258
OK I found a firestick4k and aspect ratio is corrected with the proposed fix regarding the video provided here https://github.com/nova-video-player/aos-AVP/issues/259
What happens is that the codec reports 1920x1088 resolution and real video as reported is 1280x544. Applying what proposes the codec results in stretched fullscreen video.
It is worth noting that normally codec should report correct

[2019-12-14 09:06] courville commented on #258
Some grep command to parse the logcat: `grep -i '(avos\|gralloc\|surface\|codec\|\omx\|mali)'`

[2019-12-14 09:12] courville commented on #258
On Philips TV nothing strange is seen:
[code]

[2019-12-14 09:18] courville commented on #258
For Philips TV user reports that when plex is used or casted from PC or native Android TV player AR is ok.
When using nova it is stretched with a height smaller than normal.
<img width="512" alt="Capture d’écran 2019-12-14 à 10 14 38" src="https://user-images.githubusercontent.com/242843/70846592-0603f000-1e5b-11ea-89bb-125d1eab8792.png">
This happens with all videos 1920x800 21:9.

[2019-12-14 09:19] courville commented on #258
Full philips TV logs.
[novaAspectratio.txt.zip](https://github.com/nova-video-player/aos-AVP/files/3963650/novaAspectratio.txt.zip)

[2019-12-14 15:54] courville commented on #258
See https://github.com/nova-video-player/aos-avos/commit/e8a51498258db660ed65399ec8791a45e68814e7

[2019-12-15 08:51] Pentaphon commented on #259
@courville I can confirm you fixed it with the 4.24 build using my Fire Stick 4K. Thanks! Closing!

[2019-12-15 08:51] #259 closed, assigned to nobody

[2019-12-16 21:55] courville commented on #257
@mynick11 could you please check the following apk that uses another method of scaling (perhaps a better one but I do not know if it works in your case) https://drive.google.com/open?id=17QtCjqNfEcRtMYqeNTtDAfPtYbyOPcTk
Thanks!

[2019-12-18 02:10] steven1152 opened #264 "Embedded thumbnails"
All of my .mkv files have an embedded thumbnail but the app does not use them. Is this intentional or just not implemented?

I would be interested in taking a look into implementing it if someone familiar with the project can confirm that this does not sound overly complicated.

[2019-12-18 08:58] mynick11 commented on #257
@courville unfortunately this version leads to the same stretching as the initial one. The version before worked best for me.

[2019-12-19 03:40] ghost opened #265 "Add background playback"
hi,

can you add background playback?

[2019-12-19 03:41] ghost opened #266 "Add A/B repeat"
Hi,

can you add A/B Repeat function?

[2019-12-19 03:45] ghost opened #267 "Add HW/SW to video player view"
hi,

Please add the hardware decoder and software decoder to the video player UI in order to be able to change quickly and that the user knows immediately which mode he is currently in.

[2019-12-20 19:20] JJD2K commented on #75
Hello
I hope you can look at this as it is a CORE functionality.
This feature seems that is not even tested.
1. The whole process of associating a file does not make any sense - why not just an option to load a file?
2. The feature works 1 out of 50 times. It does not load the file when "associated" sometimes it does absolutely nothing - does not even display an associated file..

Thank you very m

[2019-12-20 19:22] JJD2K commented on #119
I do no think this has to do with speed - subtitle functionality is very confusing and works 1 out of 50 times.

[2019-12-20 19:24] JJD2K commented on #140
Hello I see you mention VLC, while I am refering to MXPlayer.
Please take a look at this if possible.

[2019-12-20 19:32] JJD2K opened #268 "% symbol in file names"
% symbol in video and subtitle file name prevents subtitles file being listed.
The .resumefile is created with .%(question mark in square) file name which most likely is an issue too.

[2019-12-22 09:41] #250 closed, assigned to courville

[2019-12-22 09:42] courville commented on #258
I will add a stretched option in the next release since it solves the wrong aspect ratio on Philips 65PUS7304 (2019 model), Philips has really made a bad implementation.
I will explain, nova for a 1920x800 video displays it in a 1920x800 surface to preserve the aspect ratio.
Sony does add top and bottom black bars to this video in the same surface so that it looks compressed vertically: it ends up

[2019-12-25 22:54] courville commented on #232
Fixed by https://github.com/nova-video-player/aos-MediaLib/commit/75b4f269a0a5719ef68fce074f17593046ff9545
But also https://github.com/nova-video-player/aos-MediaLib/commit/8635efca02ac9e4ef0c2824bc4348101c7150f5c helped...

[2019-12-25 22:54] #232 closed, assigned to courville

[2019-12-25 22:55] courville commented on #257
OK reverting to previous one for now.

[2019-12-25 22:55] #257 closed, assigned to nobody

[2019-12-25 22:56] #228 closed, assigned to nobody

[2019-12-26 23:10] courville commented on #264
Hi, thanks for the report: this is something that we have not been looking into indeed and something nice to have. I am not sure how to extract the embedded thumbnails from the mkv but there should be a way. @nnoury any recommendation here?

[2019-12-27 15:03] courville commented on #249
OK problem tracked to the fact that in LibAvos.java libavosjni cannot be loaded because of libpthread.so.0 not available.

[2019-12-27 15:26] courville commented on #249
The libthread loading issue happens only on intel and thus should not create problem on Sony TV...

[2019-12-27 18:41] courville commented on #249
On arm based devices (should be the case on sony bravia) turkish subs download and playback is tested ok.

[2019-12-27 18:44] courville opened #269 "dav1d x86* linux cross compilation fails: libpthread.so is NEEDED"
This creates quite some problems: i) mediainfo ko, ii) files declared non playable, iii) codepage not applied for subs.
Lib does not load complaining libpthread.so.0 not found but:
[code]
Potentially this is due to polluted build system on x86 with host links but not detected so far.

[2019-12-29 17:34] #233 closed, assigned to nobody

[2019-12-29 17:34] courville commented on #229
Verified to work on synology both ftps and ftp on release v4.26.

[2019-12-29 17:34] #229 closed, assigned to nobody

[2019-12-29 17:34] courville commented on #269
Turns out to be a compilation issue on chromebook not macos.

[2019-12-29 17:39] courville commented on #260
Valid point.
Note that "Stargate SG1" yields no result on thetvdb.com search.
However "Stargate SG-1" should be valid. I will investigate.

[2019-12-29 18:06] courville commented on #260
Seems that thetvdb-java is not returning any result:
[code]
Issue is verified to be also present on SeriesGuide.
Issue open on github author, see https://github.com/UweTrottmann/thetvdb-java/issues/27

[2019-12-30 15:21] lys1980 opened #270 "Grey bars issue"
When reproducing some videos the black bars turn grey, I have a Sony XF90 Android TV.
It is really quite ugly and distracting. Any chance to make them pure black?

Thanks

[2019-12-30 19:12] courville commented on #270
Are you using software decoding or hardware decoding?
Could you please disclose the format of the video (exact resolution and codec) or even better share the video that is causing issues?

[2020-01-01 12:52] courville commented on #269
OK works on macos but not on linux. I pass the ball to @nnoury

[2020-01-01 13:38] courville commented on #245
Some notes on scrape process: https://github.com/nova-video-player/aos-AVP/wiki/Scrape:-retrieve-video-meta-data

[2020-01-01 13:39] courville commented on #245
Add Levenshtein distance computation to sort probable results only: https://github.com/nova-video-player/aos-MediaLib/commit/e182d24e282eb6b0b64fb05f4ea617338a9cd07b

[2020-01-01 13:40] courville commented on #245
Avoid code duplication https://github.com/nova-video-player/aos-MediaLib/commit/9cbf8cf868ac0c5925fcdc635beac4635221506a

[2020-01-01 13:41] courville commented on #232
See https://github.com/nova-video-player/aos-MediaLib/commit/75b4f269a0a5719ef68fce074f17593046ff9545

[2020-01-01 13:44] courville commented on #245
See https://gitlab.thetvdb.com/site/thetvdb_api/issues/75

[2020-01-01 17:16] courville commented on #270
Picture of the issue would help too.

[2020-01-01 21:10] courville commented on #217
Fixed by https://github.com/nova-video-player/aos-Video/commit/1cc8c313c9d475a328d6b93a37c5630f85873fe0

[2020-01-01 21:10] #217 closed, assigned to nobody

[2020-01-02 10:50] mo123 opened #271 "Feature Request: 10-Bit H264 Support for Rockchip Devices"
It would be great if 10-bit H264 hardware decoding support can be added for Rockchip RK3229, RK3328, RK3399 devices.
Currenly it plays software decoded or quits if you play these videos.

[2020-01-02 11:05] courville opened #272 "NPE VideoStore requestIndexing"
[code]

[2020-01-02 11:51] courville commented on #271
Thanks for opening and issue on this topic.
Could you please share the logcat of the crash to boost the investigation?
We will reproduce the issue.

[2020-01-02 11:52] #272 closed, assigned to nobody

[2020-01-02 17:14] mo123 commented on #271
OK, that's good to know.

Rockchip firmware also need this property to broadcast to the system that 10-bit H264 is supported otherwise apps like Kodi also can't play 10-bit H264 hardware accelerated.
https://github.com/rockchip-toybrick/hardware-rockchip-omx_il/commit/d406d02d5dca6fd88af91f047dc16e2bdc399d9b

Kodi also uses this property
https://github.com/xbmc/xbmc/pull/14475/files#diff-0b42b40e9

[2020-01-02 18:49] mo123 opened #273 "Feature Request: VC-1 Codec Support"
I found another problem with VC1 videos on Rockchip devices.

I tested the following video on RK3399 RockPi 4.
https://drive.google.com/file/d/0BwxFVkl63-lERnhlY1pHeW5wbjQ/view

The codec that must be used is
OMX.rk.video_decoder.vc1

it is picked up correctly by Kodi and played hardware accelerated.
But the audio is a bit out of sync with the video.
The video is also interlaced and contain DTS-HD

[2020-01-03 22:32] courville opened #274 "passthrough solution for TV on AndroidTV"
Obviously Sony TV hooked up to amp is via optical cable or ARC which are known to cause A/V sync issues.

[2020-01-04 13:11] courville opened #275 "avoid SQLiteBlobTooBigException: Row too big to fit into CursorWindow"
We get this error in case of large collections in VideoStoreImportImpl.java, AutoScrapeService.java and VideoStoreImportService.java:DeleteFileAndVobCallback

[2020-01-04 13:13] courville commented on #275
This happens when exceeding cursorWindow relevant references:
- https://stackoverflow.com/questions/51959944/sqliteblobtoobigexception-row-too-big-to-fit-into-cursorwindow-requiredpos-0-t
- https://stackoverflow.com/questions/1407442/android-sqlite-and-huge-data-sets
- https://stackoverflow.com/questions/10390577/limiting-number-of-rows-in-a-contentresolver-query-function

In our case sometimes th

[2020-01-04 13:15] courville commented on #95
Dupplicate https://github.com/nova-video-player/aos-AVP/issues/275

[2020-01-04 13:15] #95 closed, assigned to nobody

[2020-01-06 11:37] #275 closed, assigned to courville

[2020-01-06 11:39] #245 closed, assigned to courville

[2020-01-06 11:40] #230 closed, assigned to phhusson

[2020-01-06 11:58] courville commented on #274
Cf. https://www.reddit.com/r/NovaVideoPlayer/comments/eiz5wy/audio_out_of_sync/

On Sony there is an option in [Settings] — [Sound] — [A/V sync] and one need to play with the various possibilities and check if it improves the A/V sync.

Note that according to https://helpguide.sony.net/tv/eusltn1/v1/en-003/04-06_02.html some display modes are not compatible with this setting...

[2020-01-06 11:59] courville commented on #188
Duplicate of https://github.com/nova-video-player/aos-AVP/issues/273

[2020-01-06 11:59] #188 closed, assigned to nnoury

[2020-01-06 13:17] AtrinEfe commented on #249
Hello courville,
Thanks for your help. It seems problem solved. I tested today and eveything looks great!. Best!

[2020-01-08 13:43] courville commented on #271
After some digging and checking 10-bit H264 samples, I do not experience issue on the devices that I am using (I will check on an RK based device though to make sure).
Nova uses another logic than Kodi or other player to pick up the right codec and thus the proposed modification should not be required to behave correctly.
Now regarding the specific 10-bit HEVC file you mentioned it is indeed H265:

[2020-01-08 15:24] mo123 commented on #271
The videos are definitely H264 but in the logcat I saw
E/H265_PARSER_REF(  309): Could not find ref with POC
so it tried to use the H265 decoder perhaps that also supports 10-Bit color and not the H264 one.

H265 10-Bit doesn't have a problem playing, only 10-Bit H264.
If you can get access to a Rockchip RK3328/RK3229/RK3399 and run LibreELEC from a micro-sd card, it will play 10-Bit H264 hardware

[2020-01-08 17:54] courville commented on #148
See https://github.com/nova-video-player/aos-Video/commit/d10d4911ca92e2807378e671421d4654f7a8bf06 and https://github.com/nova-video-player/aos-avos/commit/8fcc86cd15b9998a6accfaead0027dbe5f76c222
Would be good to understand if freebox uses SW codec faked to HW codec.
If this is the case the above contribs would solve this issue. To be tested in next release.

[2020-01-08 18:41] emarch06 commented on #148
Great,

do you have a build to test it or will it be on the next beta first?

[2020-01-08 22:00] courville commented on #148
here it is: https://drive.google.com/open?id=1a_YuyILzizIHrMi4n_PnVTgTIK_uAQY8

[2020-01-09 07:59] emarch06 commented on #148
Hi,
the issue is still there with this build :-(
Do you need a logcat to check the differences?

[2020-01-09 14:50] courville commented on #271
Can you please go in nova advanced settings and tap many times on "force software decoding", it should provide a way to choose the decoder  and select MediaPlayer Android and see if the decoding is fine on rk?
For now we can only achieve fallback to swdec with some code modification.
Are you sure that you are using hwdecode on libreelec (not swdec auto fallback)?

[2020-01-09 17:37] courville opened #276 "SambaDiscovery occurs even not on Wi-Fi"
Scenario: switch on Wi-Fi, have one folder indexed on NAS, switch to 4G, applications does when coming back from background:
[code]

[2020-01-09 20:01] mo123 commented on #271
After changing it to Android MediaPlayer, 720p 10-Bit H264 videos seem to play smooth.
VC1 videos also seem to be able to play now but without sound.
But 1080p 10-Bit H264 videos just show a still image with audio still playing.
Any 10-Bit H264 that is Level 5.1 seem to still have problems and only play audio.
Yes, LibreELEC fully hardware decodes 10-Bit H264 with under 20% CPU usage and can play

[2020-01-11 06:47] courville commented on #260
API issue reported to thetvdb dev forum https://forums.thetvdb.com/viewtopic.php?f=17&t=61736

[2020-01-11 09:35] NicolasDuboisToulouse commented on #260
Thank you for your work!

[2020-01-11 11:28] #276 closed, assigned to nobody

[2020-01-11 12:09] courville commented on #271
See https://github.com/nova-video-player/aos-avos/commit/5b13205bdc4673a6693c9fb356ffe0862954ba5b and https://github.com/nova-video-player/aos-avos/commit/1b07fbdba65ddc571d776c5b33ba897902be63ef
Fixes H265 Hi10 decoding on first file and gets H264 Hi10 softdec on RK. It does not address H264 Hi10 hwdec for now.

[2020-01-11 15:19] mo123 commented on #271
10-Bit H265 works very stable on Rockchip now.

[2020-01-12 10:34] courville commented on #237
Changes are in MediaLib/src/com/archos/mediascraper/xml/MovieScraper3.java

[2020-01-13 21:57] courville commented on #196
Just to summarize things for now we have:
- opensles audio interface is used if (not using passthrough mode 1 or 2) and (hardware is not (amlogic or rk30 or rk29))
- if API>=24 (Nougat 7.0) audiotrack_java audio is used if (using passthrough mode or 2) or (hardware is (amlogic or rk30 or rk29))
- if API<24 (Nougat 7.0) audiotrack_new is used

As a side note firetv original stick is API 22 thus is

[2020-01-13 22:05] courville commented on #196
Decoder and audio output logic in VLC is there `libvlc/src/org/videolan/libvlc/util/HWDecoderUtil.java`

[2020-01-14 12:39] phhusson commented on #271
So everything is good and we can close this issue?

[2020-01-14 13:20] n0cturn opened #277 "Add to Library not working"
Ive got a strange issue with the 'add to library' not working after a day or two with any video on network drives. Ive tried various versions including the latest 4.29. If i uninstall and install fresh it will index all the media on network, but after a couple of days any new files cant be added to library. Am i missing something obvious? i never had this issue with Archos video player

[2020-01-14 15:18] mo123 commented on #271
10-bit H265 720p/1080p is working well
10-Bit H264 720p software decoding is working well.
10-Bit H264 1080p is not working software decoded since it needs hardware decoding which is not currently available.
I hope it will be possible in future.

Then the PR can perhaps be closed.

[2020-01-15 06:32] courville commented on #196
@nnoury do I un-STREAM_REGISTER_DEC_AUDIO all audio codecs to switch to ffmpeg?

[2020-01-15 08:23] courville commented on #196
On multichannel it would be better to use audiotrack for stability with the current code (based on experiments). This is not currently the case.
On stereo it should not matter (opensles or audiotrack).

[2020-01-15 08:26] courville commented on #196
On MTK only on LG TV A/V sync is off by -100ms with AC3. This is not observed on Sony TV both on opensles and audiotrack hinting to the need of having global A/V delay setting. Do we have access to box/tv sync nego?

A/V sync accumulation delay is reproduced on all HW with Un village français video.

[2020-01-15 08:30] courville commented on #196
We should retry to switch to audiotrack debugging the regression: "enabling audiotrack generated heavy A/V desync on pixel3xl as reported by users on videos Arrow s07e14 HEVC 720p mkv AAC 2.0" and following vlc on
[code]
But to be tested...

[2020-01-17 19:38] JJD2K commented on #274
This should not be related as in many cases of passthrough there is no sound at all.

[2020-01-17 19:40] JJD2K opened #278 "Choppy 1080p playback in latest versions on Sony TV"
Latest versions play 1080 files poorly - issue clearly visible on scenes where the camera is moving.
Tested on Sony TV.

[2020-01-17 19:46] JJD2K commented on #119
I confirm this is not related to how fast you do things.

[2020-01-18 11:30] courville opened #279 "Comply with new icon requirements on google play"
https://developer.android.com/google-play/resources/icon-design-specifications

[2020-01-18 13:24] rzr commented on #25
Is there a ticket also opened f-droid's side ?

[2020-01-18 16:02] courville commented on #278
Is this a regression? Nothing has changed on the way MTK is treated currently.
When camera is moving quickly it could be linked to frame drop related to TV refresh rate not matching video frame rate cf. https://github.com/nova-video-player/aos-AVP/wiki/Aspect-ratio,-display-modes,-refresh-rates
Otherwise please provide sample (or exact filename that could be fetched) so that I can reproduce on a S

[2020-01-18 16:03] courville commented on #277
Thanks for reporting. Is the behavior present on TV or phone/tablet?
Could you try when it happens to force close the app via settings and see if the issue is still present when relaunching the app?

[2020-01-18 18:18] n0cturn commented on #277
Hi, sorry I should have said what system I was running it on. Its a Rockchip Tv box, the H96 max+

Its got even stranger.... the last time it refused to add new video to library i uninstalled and reinstalled (v4.29) to find i now couldnt add any network video to library. It indexed the folders and could see the files but nothing was auto added to library. I then unnistalled again and installed the

[2020-01-18 19:27] courville commented on #277
The issue you experience could be caused to some recent changes on foreground services that needs now to be stopped. Relaunching app making it working could be an indication of this symptom...

[2020-01-18 20:23] JJD2K commented on #278
I switched to MXPlayer and video plays fluently there - not a media (bad file) problem.
I do not remember the file, but I will let you know.

[2020-01-18 21:44] courville commented on #279
Fixed by https://github.com/nova-video-player/aos-Video/commit/e0c0f6a9606bc487c606c525bcb43b3057831a5f

[2020-01-18 21:44] #279 closed, assigned to courville

[2020-01-18 21:49] courville commented on #274
Note to self based on discussions on irc.
It seems that for Android real TV hooked up to AV receivers only ARC is possible and it seems that AC3 passthrough is not possible without eARC. eARC is required for the audio receiver to give information about delay back to Android. Officially plain ARC doesn't support AC3, it's just that broken TVs announce AC3 over their EDID, and sending AC3 is just se

[2020-01-18 21:49] courville commented on #274
Sadly no obvious way to know if eARC vs ARC is available meaning passthrough via ARC is probably a nogo.

[2020-01-19 07:12] Neverends4 opened #280 "UI improvement for FTP shortcut & feature request for SSH private key support"
Hi Courville, Avin here.
Found An UI issue in Nova FTP shortcut:
![FTP.png](https://i.loli.net/2020/01/19/FGMeNrdt61mZfpP.png)
The FTP/SFTP/FTPS cannot show correctly without clicking (Not the translation issue, same in English version) .

And can you add support **for SSH private key**? Since SFTP is in place I think this would be easy and could be useful for many Linux users accessing videos at

[2020-01-19 12:35] JJD2K commented on #274
According to the many tests I did, I do believe that the sound decoding is causing all the performance issues of NOVA.
Could you try a larger buffer or take a look at this code?
The same video without sound is playing smooth as butter - even a heavy 4k video.

[2020-01-19 12:40] JJD2K opened #281 "Subtitles can not load"
1. Load a tv show with some integrated subtitle
2. Stop Nova and go and add a subtitle file in the tv show location with same name as tv show video file.
3. Start NOVA - subtitle is displayed on info page, but not in selection list while video is playing.

I reported a similar issue before regarding "Select on storage" I guess these are related.
I think Nova caches somehow things and there is abso

[2020-01-19 12:41] JJD2K commented on #281
P.S please take a look also at "Select from storage" code as it never worked properly.
Thank you.

[2020-01-19 14:23] courville commented on #278
Please provide concrete file examples even complete filenames that I will fetch. Timestamp of when the problem occurs will help too. I am sure your file is ok, it is to investigate what could lead to this problem.

[2020-01-19 19:25] courville opened #282 "Trakt sync between devices is KO"
Since trakt-java library upgrade it seems that marked as viewed is working but importing history is KO.
Reported by users and verified to be a problem.

[2020-01-19 19:43] JJD2K commented on #281
The same file and subtitles load just fine in ARCHOS

[2020-01-19 19:49] courville commented on #281
Where are your files? Local storage, SMB share or HDD connected via USB? How do you put your subs?
Difference with Archos could be also explained by Archos Video Player using a very old target API level.

[2020-01-19 19:56] JJD2K commented on #281
files are **### ON** SMB
I have made a dumb typo here by writing NO.

**Files are located on a SMB share.**

[2020-01-19 19:58] JJD2K commented on #281
Something is wrong with subtitles in Nova...even if I use "download subtitles" and if a file is found - again it is displayed in the INFO page and not listed in the subtitles list in the menu and can not be loaded.
The files are there in the folder

[2020-01-20 09:42] Vinz62 opened #283 "Feature Request: movies in saga"
Would it be possible in the movies list, to group the movies that are part of a saga, like Kodi does ?
Thank you for the great job, Nova Player is the best player I've found for my Android Bbox TV set.

[2020-01-20 12:28] gggirlgeek commented on #254
I am having the same problem, but only if my VPN is connected. Tried 3 different servers and even a different country. I am on Windscribe (very good VPN). Using Firestick 4k and latest Nova.

[2020-01-20 12:37] gggirlgeek opened #284 "No Internet Connection for Trakt over VPN"
I cannot connect to Trakt through Nova Player when my VPN is connected. I am on a Firestick 4k (Nougat) using Windscribe VPN. I've tried 3 servers including one in another country. I'm using the latest stable version of Nova Player. It connects and syncs fine without VPN. Not sure what the problem is.

[2020-01-20 23:55] JJD2K commented on #278
I think this is related to frame rate calculation or maybe a performance issue, but on 1080p should not be.

I do confirm that the issue exists in NOVA and the same file plays perfectly FLUENT in ARCHOS.

Maybe you have enabled MOTION+ or whatever is named on your TV - frame interpolation, soap opera and you do not see it.

I sent you the file on your email, but this issue is present on most 1080p

[2020-01-20 23:57] JJD2K commented on #281
Another strange thing is that both in ARCHOS and NOVA the subtitle track is listed as DTS while the file is SRT.
Today I tried to load the subs file in NOVA and now it is loading - had this issue many times before.

[2020-01-20 23:59] JJD2K opened #285 "Initial Scan 1"
Initial Scan will not go away and stays with number 1 - no loading circle.
Strange that newly added files are listed and then initial scan again goes to 1 and stays stuck.

[2020-01-21 05:42] courville commented on #285
OK I have to chase this one up since it is not systematic. I can provide a build with extended debugs to know what video makes it stuck.

[2020-01-21 05:47] courville commented on #278
Difference between Archos and Nova is a handful of commits there for multimedia: https://github.com/nova-video-player/aos-avos/commits/nova
I could revert all these changes (that are there fore a reason) and track where the regression is.
We are switching to audiotrack audio interface instead of opensles right now could have a positive impact (to check, I will share an apk).
Do you really think I

[2020-01-21 06:26] courville commented on #278
Please test this apk https://drive.google.com/open?id=1_jGMREU2q5g2xz-VciLgnnolHvT-brDH and report if it has positive impact with audio passthrough disabled.
I believe that the performance issue is specific to your hardware (at least not present on all) and related to the way we manage sound interface (audiotrak/opensles).
The changes are: 1) use audiotrack instead of opensles for all, 2) do not t

[2020-01-21 06:26] courville commented on #285
Could you please try this apk https://drive.google.com/open?id=1_jGMREU2q5g2xz-VciLgnnolHvT-brDH and if you still have the initial scan stuck to 1 please share adb logcat output (this apk is the same than the one I shared on the other issue).

[2020-01-21 13:48] JJD2K commented on #278
Hello Marc
I do not want to stick to Archos, but Nova is not getting better...of course, I thanked you already for your work, but things that I reported are not fixed - I am providing feedback and trying to help too as you can see.
Thank you for addressing the sound part - I believe it will help a lot, but the above issue is most likely related to something in the video part.
I will test and let y

[2020-01-21 13:55] courville commented on #278
Since the video playback is driven by audio, I suspect an audio interface management issue.

[2020-01-21 14:00] courville commented on #278
Another test that is worth doing is the following.
MXPlayer uses by default plain Android MediaPlayer (platform player) that could on the Sony TV uses some dedicated enhancements that would not be available for other players like nova/archos/vlc etc.
In order to see if it makes a difference you can force nova to use Android MediaPlayer by in the settings of the application selecting multiple times

[2020-01-21 17:17] JJD2K commented on #278
Hello
I tested this version and it seems to be performing much better than the one on the play store.
I can not see the jitter problems - I will test more.
The strange thing is that I see no difference making changes to audio/video decoding options. (I restart the playback of the file after I make changes)
The software decoding is impossibly slow of course.
"MediaPlayer Android" works only on the

[2020-01-21 17:19] JJD2K commented on #285
I did not understand .... is this THE SAME with the other file or not?
When I installed this the Initial Scan was gone.....it no longer displays.

[2020-01-21 17:22] JJD2K commented on #285
Ok I made a DIFF - the files are the same.

[2020-01-21 20:31] courville commented on #282
Current debug status is that initial import is correct as well as detection of new stuff to import that triggers syncMoviesToDb and syncShowsToDb in TraktService.
syncMoviesToDb provides the expected result however syncShowsToDb does not provide any output.

[2020-01-21 20:49] courville commented on #282
OK this is it:
[code]

[2020-01-21 22:00] courville opened #286 "trakt: perhaps do not retrieve all history for delta progress"
For now in TraktService in syncShowsToDb we getAllShows.
Perhaps there is a way to get only delta progress.
Same remark applies for getAllMovies.

[2020-01-22 05:40] #282 closed, assigned to courville

[2020-01-22 05:41] courville commented on #263
network resume not always saved at end of video play

[2020-01-22 17:22] JJD2K commented on #278
Hello Marc
This version is VERY GOOD!!!!!
I am still testing, but it definitely is with the best performance since the beginning of NOVA.
Maybe it is even on par with MXPlayer.

Only once it crashed when I wast rewinding forward in orde to find a heavy scene in a file to test - tv restarted, but I do not rewind while watching content so even if it is a rare bug I do not care about it.

THANK YOU!

[2020-01-22 17:57] courville commented on #278
\o/
I hope that the enhancement will work on all the devices... I will put up a beta release on Google Play to be tried out by the current 950+ beta users.

[2020-01-22 18:18] JJD2K commented on #278
Thank you again.
Making the "MediaPlayer Android" testable would be interesting too as the integrated TV player is very good on UHD too. If you have time please take a look at it to see why it is not working.

[2020-01-22 20:12] JJD2K commented on #281
Ok, I tested this further and the issue today appeared on Archos too.
I guess it is not a regression it is an old bug.
Yesterday Archos was loading the subs today not.
As far as I see this usually happens on files that have integrated subs - something happens when mixing integrated and external subs.
If you have any clues or test versions I will be glad to test - just let me know.

[2020-01-22 21:19] courville commented on #285
OK reproduced.
Seems to be again a new change on thetvdb site response...

[2020-01-22 21:36] courville commented on #285
And tonight thetvdb is fubar again: need to catch timeouts too
[code]

[2020-01-23 01:25] JJD2K opened #287 "Feature request: Look for folder name for unscraped media to improve matching"
In many cases, the folder has a descriptive name while the file inside is XYZ.avi - some videos are in "movie name folder/xyz.avi"
Could you make it optional may be to look for a folder name if the video file name has no match in TVDB?
I believe this will solve 50% of the unscraped files.

Thank you in advance - low priority, but I believe an easy to implement and good feature

[2020-01-23 13:59] courville commented on #278
I thus consider issue closed and I will look at the previous ones opened linked.
Please reopen if need be.

[2020-01-23 13:59] #278 closed, assigned to nobody

[2020-01-23 14:00] courville commented on #54
I consider issue closed related to more recent issue.

[2020-01-23 14:00] #54 closed, assigned to nobody

[2020-01-23 14:05] JJD2K commented on #278
agreed...just please check whenever you can why "MediaPlayer Android" is not working

[2020-01-23 14:08] JJD2K commented on #281
I can not see any pattern for this issue - it works perfectly on some files with integrated subs and not in others. I do not see anything in the file name too....
Could it be some sort of cache that makes NOVA ignore loading the subs...I see nothing related to subs in the xml files?

[2020-01-23 15:35] JJD2K commented on #281
Ok, this is some sort of cache problem I guess.
There were 3 files:
video.name.srt
video.name.1.srt
video.name.lng.srt - downloaded by NOV

I removed the last 2 files and kept only the first one. Restarting nova, rescanning, deleting the .xml file, removing and adding back to the library - nothing makes any difference - it keeps displaying the 3 files in the INFO page while now there is only video

[2020-01-23 23:08] JJD2K commented on #278
I tried this version on my Samsung s7 and it plays better there too.
It almost manages to play: Sony New York Fashion HDR UHD 4K Demo.mp4
which almost plays on the TV too, but this time it seems to be more of a buffering issue.
With default audio decoding and hardware Mediacodec I do not see the video buffered on the TV. (lighter progressbar not showing). If I copy the file to TV it copies with 10

[2020-01-24 09:54] kbalint opened #288 "Maximum file / folder count per share?"
Hi, first of all thanks for this project, this is the only usable media player for the android tv platform.
I however found after using it for some time, that there's a limit on the count of files/folders that is being loaded to the UI. Is this true?

1) I have a share with 500+ media files, and only some of them show up and in random order.
I can't force them to show up for some reason in the "ne

[2020-01-24 14:11] courville opened #289 "scrape issue: new image element on thetvdb instead of banner"
TheTVdb did it again.
Cf. https://forums.thetvdb.com/viewtopic.php?f=17&t=62084
Many TV shows using APIv2 are returning json answers with banner set to null.
It appears that there is a new element in town: image where the banner appears.
Note that it is not documented on TheTVdb swagger: https://api.thetvdb.com/swagger#!/Search/get_search_series
For instance the following search:
`https://api.thet

[2020-01-24 17:57] JJD2K commented on #281
I did another test.
Copied the file with the subs to a new subfolder and renamed it to a shorter file name - no difference.
I guess it has to do with the fact that the file has 28 integrated subtitles in it. Maybe they get too much?

[2020-01-24 18:19] courville commented on #289
Fixed and released.

[2020-01-24 18:19] #289 closed, assigned to nobody

[2020-01-24 18:20] courville commented on #285
I believe that the issue is now closed and was due to https://github.com/nova-video-player/aos-AVP/issues/289

[2020-01-24 18:20] #285 closed, assigned to nobody

[2020-01-24 18:21] courville commented on #281
Thanks for the testing.
I guess that there is indeed a max number of subs limit that I need to investigate.

[2020-01-24 21:01] courville commented on #288
Hi, thanks for the feedback.
There are many possibilities to access the files and probably the 'new' row is not the most easiest way.
On the show or movie view there are some sort filters on the top that can be selected.
Some tuning options are also available in the settings.
I am a bit puzzled by the fact that some files do not show.
Are you using network shares, local storage or USB HDD ?
What i

[2020-01-25 05:26] n0cturn commented on #277
Unfortunately I still have this issue even with the newer versions, it seems to let me add videos a couple of times (a few days apart) and the third time it just shows the add to library button which does nothing when pressed on

I have tried force closing Nova and then restarting, but that didnt help.

[2020-01-25 10:46] courville commented on #281
Could you privately share the file name with the 28 integrated subs causing issue so that I can retrieve and test?

[2020-01-25 14:49] courville commented on #269
Thx to @nnoury problem was meson 0.50.0, upgrading to 0.53.1 fixes the issue.
Note to self, when doing the upgrade do upgrade it root and user since it links to $HOME/.local/bin
(pip3 install --upgrade meson)

[2020-01-25 14:50] #269 closed, assigned to courville, nnoury

[2020-01-25 19:29] courville commented on #277
Do you see in logcat when you hit add to library something like:
[code]
If this is the case could you please tell me if your network setup is specific?

[2020-01-26 10:52] courville opened #290 "showscraper2 treat 401 and 404 return codes"
- globalResponse.code() 404 is not found
- globalResponse.code() 401 is JWT token invalid

[2020-01-26 17:15] kozmo2k4 commented on #254
Same issue when trying to activate Trakt login.
Latest Play Store install, v 4.2.
Asus TF300T, AOSP 7.1.2 (TimDuru ROM), and
Nexus 7 (2013), LineaageOS 16.
Same issue.
Pop-up says "No internet connection"
![Screenshot_20200125-164609](https://user-images.githubusercontent.com/1633619/73138817-0506d680-4035-11ea-9cd2-80473ce1c20d.png)

[2020-01-26 19:55] Ilithy commented on #254
Hi, I just tested the connection to Trakt, I get an error too (Error 504 gateway time-out), I provide a screenshot

Tested from a smartphone:

Oneplus 6 (build: ONEPLUS A6000_22_191214)
Snapdragon processor
Android 10 - OxygenOS 10.3.0

Nova Video Player :
Downloaded from the Play Store
version: 1.0-20200124.1845

![Screenshot_20200126-203049](https://user-images.githubusercontent.com/36798218/731

[2020-01-26 20:01] courville commented on #254
there it is because trakt is experiencing an issue and it should be back hopefully soon...

[2020-01-26 20:18] Ilithy commented on #254
Okay, thank you, sir.
Sorry to bother you

[2020-01-26 20:20] courville commented on #254
@Ilithy no problem at all

[2020-01-26 20:35] kbalint commented on #288
Yes, I'm aware of the filter options in the preferences, but it's somewhat deep in the menu. It would be nice to have it on the UI as well, for example when browsing the Shares. Currently there's only a Key and Display as icon/list option. Filtering/searching and sorting would be a nice add in here too.

I guess the files are the ones with too many dots as separators in the file name, which got hi

[2020-01-27 06:57] mschumacher69 commented on #288
Maybe the ones that are not showing are ones which couldn't be detected because it couldn't identify the show? Those would be listed under unscraped files. Have you checked in there? Sometimes if the file is not named correctly or doesn't have S0x.E0x in the file name, it doesn't detect the show and the files would appear under the unscraped section.

There was also a bug which was fixed recently

[2020-01-31 11:27] mschumacher69 opened #291 "Feature Request: Replicate PS3 seek features"
I have recently switched over from using my PS3 as my media player to Nova on Android TV and I can say I'm loving it! Loving the scrobbling integration with trakt and the way it organizes my series into the library fetching info from thetvdb.

One thing I am missing from PS3 though is its intuitive seek features:

1. Rewind & Forward: You just have to press the rewind button (left directional butt

[2020-01-31 13:53] Ilithy opened #292 "Displaying the SMB version in the external directory search"
Hi, I would love to see a small change in the user interface, in the search tab of the samba share directory, would it be possible to add the version of the protocol used by the device, a bit like that:

![Screenshot_20200131-143353__01](https://user-images.githubusercontent.com/36798218/73544246-0ec77a00-4439-11ea-8054-874be472030c.jpg)

 I don't know if it's implementable, or if it would be diff

[2020-01-31 17:02] kbalint commented on #288
Okay, I officially give up: can't connect to an SMB instance from Android emulator: the ports just simply can't be redirected. How do you do the SMB testing?

[2020-01-31 17:10] courville commented on #288
On the phone UI there is a way to add manually a smb folder to index in network share. If you specify there your IP address it should work on the emulator.
If you work on leanback switch to phone/tablet UI to add this manual uri and get back to leanback interface.
On my side I am able to browse SMB server from the emulator (not always reliably though).

[2020-02-01 10:45] courville opened #293 "add movie collections"
Primarily for leanback add tile for movie collection.
It requires to modify MovieId2Parser in MovieParser2.

[2020-02-01 11:02] courville commented on #206
Poster resolution is set in ScraperImage.java but also in MovieParser3.java

[2020-02-01 14:24] courville commented on #237
Done

[2020-02-01 14:24] #237 closed, assigned to nobody

[2020-02-01 20:38] mschumacher69 opened #294 "Duplicate watch history - wrong sync time reported"
I've been using SeriesGuide to mark episodes as watched manually, but I recently started using Nova to scrobble.

I've been having some duplicates in my watch history since I started scrobbling and I've been trying to figure out what's causing it.

I have noticed that the watched icon is different between the original watch and the duplicate in SeriesGuide (check attached screenshot). I think the

[2020-02-02 09:56] hannibalxking commented on #270
hi everyone, the issue is known by all the sony bravia user, that's happen when we watch a hdr video.
![IMG_0972](https://user-images.githubusercontent.com/22693971/73606394-270ad680-45aa-11ea-9265-d94d658da273.JPG)

i found some link for the issue that can be exploited for the player

https://github.com/CiNcH83/bravia_atv2/issues/44
https://github.com/MrMC/mrmc/commit/e686c40a50c8474300571dc62b0a

[2020-02-02 13:00] courville commented on #270
Thanks for sharing this tip. I tried to adapt it to nova. Could you please check the resulting apk and report if it helps?
https://drive.google.com/open?id=1mPNtoKnkcDam8fzBGwXbrP8ghyGCjCRt

[2020-02-02 13:19] hannibalxking commented on #270
oh that's quick i tried wright now

edit: well that work like a charm i tested all my hdr contents all have black bar im happy no need plex or kodi anymore.
thank you for all the bravia tv user you make my day.

[2020-02-02 15:25] #270 closed, assigned to courville

[2020-02-02 20:10] fadern commented on #254
Hi,
I just wanted to say that I still have this issue. I dont experience any problems using trakt api from other apps (like OSMC).
SONY: KD-55X9005C

PS. Thank you for this great app. Ive been using it for years. :-)

[2020-02-02 20:59] courville commented on #152
OK reproduced with following logs when activating `DBG=true` in Player.java:
[code]
Issue is that refresh rate is being set in loop since detected not to be applied.

[2020-02-03 20:19] courville commented on #152
On firetv4k setting refreshRate via `layoutParams.preferredRefreshRate = refreshRate;  window.setAttributes(layoutParams)` does NOT work. Well it works on all other platforms but hey https://developer.android.com/reference/android/view/WindowManager.LayoutParams#preferredRefreshRate states that it is deprecated and one should use `layoutParams.preferredDisplayModeId` instead (verified to work).
As

[2020-02-03 20:24] courville commented on #152
Reference document https://developer.amazon.com/fr/docs/fire-tv/4k-apis-for-hdmi-mode-switch.html

[2020-02-03 21:38] courville commented on #152
Proper way to do it inspired from Android framework DisplayInfo.java: https://gist.github.com/courville/854ad922f14d9a19c0afb83e2607f49a

[2020-02-03 21:42] xrxca opened #295 "Title sorting should ignore articles"
When sorting articles at the beginning of titles should be ignored.
For example, The Big Bang Theory should appear in the B's, not in the T's
English: **The**, **A**, **An**
Other languages can be worse when gender specific Articles are introduced for example in French besides **Les** and **Des**, the gender specific versions **Le**, **La**, **Un**, and **Une** would probably also have to be ignor

[2020-02-04 05:34] mschumacher69 commented on #294
@courville I don't think the issue is from SeriesGuide.

Today it happened again without touching SeriesGuide. I watched Tell me a Story S02E02, it scrobbled it correctly. Then when I watched S02E03, close to the end of the episode it re-scrobbled S02E02 and then scrobbled S02E03 twice.

I have noticed that this usually happens when I binge watch multiple episodes of the same show.

[2020-02-04 06:27] courville commented on #294
I think this is related to real time scrobbling when bookmarks are saved while watching. If you disable this in settings, do you still observe this behavior?

[2020-02-04 08:35] mschumacher69 commented on #294
Thanks I will try when I get back home and let you know.

[2020-02-04 18:06] mschumacher69 commented on #294
@courville ok disabling live scrobbler seems to have solved the problem, but now the time stamp is 3 hours off. It marks them as watched 3 hours in the future on trakt.

Any ideas?

[2020-02-05 06:37] courville commented on #152
@HDGuy could you please test this apk and report if it fixes support for adaptive refresh rate on your device?
https://drive.google.com/open?id=1mp3NFAp3Qkq3lds_7Rxs8wasM8ET73kl

[2020-02-05 15:15] mo123 opened #296 "Play/Pause button needed or DPAD_Center mapped as spacebar"
It would be great if a Play/Pause UI button can be shown when you press a button while a video is playing. You can already seek so a rewind/forward button is not needed.

On Android media players, you can use an airmouse and press spacebar to pause/play a video but you can't use the DPAD_Center/OK button on the front side of an airmouse to play or pause a video.

So either a Play/Pause UI button t

[2020-02-05 17:16] mschumacher69 commented on #296
Pressing ok in the center of the dpad pauses/plays on my Android TV remote control.

[2020-02-05 17:29] mo123 commented on #296
Seems ir remote DPAD middle OK button can pause but airmouse eg. Mele F10 DPAD middle buttons can't pause.

[2020-02-05 19:11] HDGuy commented on #152
For some reason I can't access files off my NAS, it sees the SMB server but it shows it as empty.

[2020-02-05 19:25] courville commented on #152
The apk I shared is SMBv1 enabled only.

[2020-02-07 05:50] courville opened #297 "enable universalApk for github upload without breaking play-publisher"
See https://github.com/Triple-T/gradle-play-publisher/issues/501

[2020-02-07 08:00] courville commented on #296
@mo123 real question is what is the keycode of this mele F10 DPAD middle button to see if I can add this.

[2020-02-07 18:58] mschumacher69 commented on #294
@courville any idea why the time stamp is 3 hours in the future when I disable live scrobbler?

When I enable live scrobbler, the time stamp is correct but I get duplicates.

When I disable live scrobbler, I don't get duplicates anymore but the time stamp is 3 hours in the future.

[2020-02-08 09:20] mo123 commented on #296
Seems the keylayout file for the Mele F10 remote online is broken for the remote and only compatible with old Android OS's.
I created a new keylayout file for the remote.
Now Left mouse click is mapped to ENTER and another button is mapped to MEDIA_PLAY_PAUSE and this seems to work correctly now for play/pause.
So the issue is resolved :)

[2020-02-08 09:20] #296 closed, assigned to nobody

[2020-02-08 09:20] courville commented on #294
@mschumacher69 I believe the fixed number of hours difference in the history must come from a timezone issue when reporting the watched time. I will fix it.

[2020-02-08 10:14] mschumacher69 commented on #294
Thanks! What about duplicates when live scrobbling? Is this something that can be fixed or is it going to remain an issue?

[2020-02-08 10:17] courville commented on #294
@mschumacher69 the live scrobbling dupplicate watch will stay I am afraid because this is the only way to save bookmarks that I found but I reduced the reporting frequency in the beta version.

[2020-02-08 10:19] mschumacher69 commented on #294
Ok thanks, I will try the beta to see if it's any better. Are there any known major bugs currently in the beta?

[2020-02-08 14:11] #294 closed, assigned to courville

[2020-02-09 17:09] yangxp108 opened #298 "Project merge MediaLib has many errors"
Project merge MediaLib has many errors, is there a complete project, can you send me, thank you very much

[2020-02-09 19:13] courville commented on #298
Nova relies on many repos (not only MediaLib) and you need to follow the instructions there https://github.com/nova-video-player/aos-AVP and get all the repos with` repo init -u https://github.com/nova-video-player/aos-AVP -b nova`
If you provide more details about your request, I can guide you more.

[2020-02-10 04:49] yangxp108 commented on #298
OK, can you send me a complete project, my email 1638481466@qq.com Thank you very much!

[2020-02-10 06:31] courville commented on #298
Uh, it does not work like this. You need to retrieve the whole project following the instructions of the web page I gave you using repo. Sorry this is the only way to keep in sync since the project is changing often.
If you are in China, you need to find ways to get access to github perhaps via static IP or VPN.

[2020-02-10 07:54] yangxp108 commented on #298
Thank you! I am in China, I have vpn, I try to do it, thank you! Cooperate with you later!

[2020-02-10 19:34] primozcerar commented on #258
I figured out what the issue was that was plaguing many apps on newer Philips TVs.
It should solve the problem without having to set stretch mode on every video with AR greater than the display.

Philips Android 9 MediaCodec implementation requires that on MediaFormat used to configure the codec you set not only the KEY_WIDTH and KEY_HEIGHT but also the KEY_MAX_WIDTH and KEY_MAX_HEIGHT parameters.

[2020-02-10 20:20] mschumacher69 commented on #294
@courville so I'm on beta now, the time stamp is correct now if Live Scrobbler is disabled. Trakt support told me though that the time is optional in that API method and they just use the current date by default, so maybe you don't have to send a custom date/time?

Regarding the duplicates, I'm still getting them when Live Scrobbler is enabled. The weird thing is that it duplicates episodes that I

[2020-02-10 21:07] courville commented on #258
@primozcerar thanks for the tip. According to other references it could also fix the issue on amlogic not getting fullscreen for 4:3 video. I will investigate and it might help me remove the stretch mode.

[2020-02-11 14:59] Textator commented on #254
same with me, still. Like @fadern & @kozmo2k4
All other apps or website work.

[2020-02-11 21:59] mschumacher69 opened #299 "Force external subtitles"
Is there a way to mark external srt subtitles as forced to get them to display even if subtitles are turned off by default?

[2020-02-12 06:32] courville commented on #299
No there is not way to do this. For discussion I would suggest to take it here: https://www.reddit.com/r/NovaVideoPlayer/ though it could be a feature request.

[2020-02-12 06:32] #299 closed, assigned to nobody

[2020-02-12 06:32] #298 closed, assigned to nobody

[2020-02-12 09:26] mschumacher69 commented on #299
OK thanks.

[2020-02-12 09:33] mschumacher69 commented on #294
@courville did you see my observation above?

[2020-02-12 14:34] courville commented on #258
See https://github.com/xbmc/xbmc/pull/17353

[2020-02-14 13:00] courville commented on #192
Wait for it... amazon just published the latest update that is even more recent than the playstore one.

[2020-02-14 13:01] #192 closed, assigned to courville

[2020-02-16 17:08] courville commented on #297
-Puniversal does it now.

[2020-02-16 17:08] #297 closed, assigned to courville, nnoury

[2020-02-16 17:11] courville commented on #295
This would indeed be nice to have this possibility. If there is a multi-language way to address it or a library that enables this sorting please let me know.
I would definitively consider a pull request on the topic.

[2020-02-16 17:12] courville commented on #290
showscraper3 is meant for this.

[2020-02-16 17:12] #290 closed, assigned to courville

[2020-02-16 17:13] #271 closed, assigned to courville, av500, nnoury

[2020-02-16 17:14] courville commented on #260
According to https://github.com/UweTrottmann/thetvdb-java/issues/27 it has been resolved on thetvdb side.

[2020-02-16 17:14] #260 closed, assigned to courville

[2020-02-16 19:24] JJD2K opened #300 "Version 4.35 freeze (pause) of playback"
Hello
maybe not related to version, but I have to mention.
This issue was present in ARCHOS too.
On some files, it just freezes every 15-20 minutes and I have to FFW or FBW one click to make the video resume.
I will send you video on mail.

[2020-02-19 19:16] courville commented on #254
The "No Internet connection" comes from OAuthData code being null in TraktSigninPreference.java line 69 (nothing to do with no Internet). Now question is why?

[2020-02-21 09:37] Neverends4 opened #301 "USB external drive not showing correctly and files not accessible"
Environment: Toshiba (OEMed by TCL) **Android 6.0 TV** with Mstar chips
Version tested: **v4.35 release and v5.7 SMBv2 beta release**
Detail: Attached a FAT32 USB drive to TV and Nova can neither display it in main menu nor access it.
The only way to get it displayed is through:
**"Legancy interface"-"Cloud"** and choose system file manager, but this only "display" the external drive, when opennin

[2020-02-21 13:26] NicolasDuboisToulouse commented on #260
The issue was fixed in the last release of the player. I don't know if you have change something or if it's due to a fix on thetvdb. But thank for your job!

[2020-02-22 10:03] AKprisonER commented on #136
Still the problem persists.

[2020-02-22 11:14] courville commented on #300
ok thanks for reporting.
Perhaps logs would help (adb logcat).

Le dim. 16 févr. 2020 à 20:24, JJD2K <notifications@github.com> a écrit :

[2020-02-22 11:18] courville commented on #136
Could you please see if you see the files not indexed using the following command?
`adb shell content query --uri "content://media/external/file"  --projection name:_data
`

[2020-02-22 13:52] JJD2K opened #302 "TV shows/Movies rows missing on startup"
When TV shows/Movies rows is enabled sometimes they are not displayed on startup and the Shows/Movies boxes are displayed instead - no recently played either. If you enter/exit one of the 2 boxes the GUI is repainted properly. It would be good to allow those boxes to be visible at the bottom even if ALL TvShows/Movies rows are enabled.
I suspect this has to do with accessing the files on the netwo

[2020-02-22 17:29] mschumacher69 opened #303 "Playback stops 1 second before end"
The playback seems to stop and exit back to the episode page 1 second before the end, so the last second is always omitted.

[2020-02-22 18:22] JJD2K opened #304 "Please include version in file name on releases"
Thank you.

[2020-02-22 18:24] JJD2K opened #305 "Does not return to the entered item on BACK"
Entering movie or show details view and going back - the selection goes to the top-left of the main screen instead of going back to the item that was entered.

[2020-02-22 18:26] JJD2K opened #306 "Button repaints after stopping episode playback"
Buttons start to rearrange after stopping tv-series episode and going back to details.
Sometimes there is a resume sometimes there is a remote resume and one has to wait few seconds for the buttons to stop flickering and be able to click NEXT EPISODE.

[2020-02-22 22:27] JJD2K opened #307 "Back button behavior on tv shows"
Hitting NEXT on a tv show adds the current episode in the "history".
If you watch 5 episodes or you navigate among episodes in such a way you have to hit X times back in order to reach the tv show info page or the hope page which does not make much sense nor it could be useful somehow.
Hitting Next should not add the episodes in the "history" and hitting back should exit to the tv show info page.

[2020-02-23 13:22] courville commented on #301
This is strange since when a USB device is plugged nova should receive  UsbManager.ACTION_USB_DEVICE_ATTACHED.
I have reworked the original Archos code to be compliant with earlier Android releases (no choice) since it was using forbidden reflections.
Could you please try out this apk that has more logs and report an `adb logcat` (ideally when nova is launched `adb logcat --pid=$(adb shell pidof -

[2020-02-23 15:18] AKprisonER commented on #136
Finally, there has been some development.
I forked and generated apks.
Tested all the four.
Actually, for one apk, videos started to appear. But that too in small numbers. Not all the video files.

[2020-02-24 05:19] mschumacher69 opened #308 "Nova can't parse the subtitles properly when they're all in a subfolder"
When you have a whole season in a folder and you have all subtitles in a sub folder in the same season folder (named as the episode names), Nova doesn't manage to link each subtitle to it's correct episode, it instead thinks all subtitle files are different languages for each episode.

So each episode would have multiple subtitles with nested names.

[2020-02-24 10:13] Neverends4 commented on #301
Hi Courville, used the app you gave but seems there's something wrong with my TV's logcat (note I do not have root access and in fact I tried and cannot get it rooted), tried
`adb logcat --pid=$(adb shell pidof -s org.courville.nova) ` and `adb shell logcat org.courville.nova > d:\log.txt` and neither shows any result. I tried these two commands on my rooted phone (pie, 3rd party rom), both comman

[2020-02-24 15:58] courville commented on #301
You need to connect to tv via wifi (adb connect IPADDR) first after enabling adb in the TV settings in developers settings (no need to root the tv).
Then an adb -s IP:5555 logcat will do.

[2020-02-25 08:00] Neverends4 commented on #301
Yeah, I totally understand what you mean, and the above was done already connected through wifi and adb enabled. I even tried installed some logcat apps on TV such as Logcat Reader and Logcat no-root and gave them READ_LOG permission via adb, still the same, not even A SINGLE LINE of log, not at all... restared TV several times, the same. I believe the manufacturer deliberately disable logcat outp

[2020-02-26 06:24] Neverends4 commented on #301
I used an OTG adapter with one USB drive (FAT32, 16GB) on my rooted phone to get log captured. [Link to log here, expire on Mar. 3](https://we.tl/t-LXlWxw2iYy)
On the phone Nova still cannot read the drive, even when it did show an "External Drive" icon. When entered  Nova displayed "File not found" even when I chose show all files in explorer, and there is indeed one .mkv movie on the drive. see

[2020-02-26 07:48] courville commented on #308
This is a valid issue. However there are movies stored in folders that are using a sub folder to store all the subtitles. Solving the two requirements is hard. I would suggest as an interim fix to move the subs in the folder where the tv show episodes are located.

[2020-02-26 07:50] courville commented on #301
Thus on the phone the drive is correctly detected:  this is another issue that the one reported on the tv.
I have a fix to share for the folder not accessible (fixing also some file/folder picker issues) that I will share.

[2020-02-26 08:18] mschumacher69 commented on #308
Yeah that's what I'm doing right now, thanks.

Wouldn't linking subtitle files by file name solve this issue?

For example, let's say you have movie x.mp4 and it has all it's subtitles in a subfolder as such:
x.eng.srt
x.fre.srt
x.swe.srt

Then Nova would know that all these subs are for movie x because they are all named x.

And if you have series y with the following episodes:
y.s01e01.mp4
y.s01

[2020-02-26 11:16] courville commented on #301
Could you please test this apk https://drive.google.com/open?id=1UjpLQQd9nxSd3EsU8AL4cQzC55aRxUPx (not solving the detection of drive on your toshiba tv)

[2020-02-27 05:07] artur226 opened #309 "Next button on Android TV?"
How i can activate next button on Android TV?

[2020-02-27 08:53] Neverends4 commented on #301
Tried the app in the link ,results:

1.
**My Android TV**: as you described, still no USB detection, but the drive can be accessed using "Legancy interface"-"Cloud" method and movie can be played when file manager passing url to Nova.
As I mentioned, VLC Android can detect and play this USB drive on TV without issue.

2.
**My phone:** under phone UI the drive can be detected and showed correctly a

[2020-02-27 10:45] JJD2K opened #310 "Android TV Screensaver"
Hello
When paused you should allow the Android TV Screensaver to kick in as this may cause burn-in especially on oled.
MX Player when paused allows the screensaver to start.

[2020-02-28 06:30] courville commented on #301
The issue for android tv is that storage access framework (SAF) relies on folder/file picker which is absent from the framework on many devices. This is a huge lack that has been reported to google that needs fixing. Workaround on nova could be to rely on another external lib that does this job.

[2020-02-28 09:29] Neverends4 commented on #301
OK, so I get it the Android TV detection bug can be fixed? because it's knida annoying when using USB drive with Nova as it is now.

[2020-02-29 13:38] mschumacher69 opened #311 "Scheduled rescan of network content"
I swear to god there used to be a setting to schedule rescan of network content, but for the love of me I can't seem to find it anymore! Am I going crazy???

[2020-02-29 14:15] courville commented on #311
Shouldn't it be a discussion to be held on https://www.reddit.com/r/NovaVideoPlayer/ ?
Scheduled rescan (that is perhaps broken) is available opening network->rescan button.
It is not a setting.

[2020-02-29 14:15] #311 closed, assigned to nobody

[2020-02-29 14:40] courville commented on #310
Change pushed and related apk published on Google play beta track (v4.38).

[2020-02-29 14:40] #310 closed, assigned to nobody

[2020-02-29 15:37] mschumacher69 commented on #311
I posted there 3 days ago, no one replied...
https://www.reddit.com/r/NovaVideoPlayer/comments/f9g2c2/scheduled_rescan_of_network_content/

It used to be a setting where u could select to rescan at a specific time or at every app launch, I'm certain of that.

Perhaps it used to be in the stable version? I'm on beta now, is this perhaps why this setting is not there anymore?

[2020-02-29 18:49] courville commented on #311
On androidTV it is available in the network tile when selecting rescan green tile.

[2020-02-29 19:43] mschumacher69 commented on #311
Yes that's it thank you!!! I was looking for it under Preferences!

[2020-03-02 10:29] courville opened #312 "v4.37 IllegalArgumentException ggplay console error"
Reverted for now the file picker fixes since it was causing massive errors on Google Play console
[code]

[2020-03-02 17:49] courville commented on #312
See https://github.com/nova-video-player/aos-FileCoreLibrary/commit/ca2487c5439a3b01423d532528edd446c00de84f
See https://github.com/nova-video-player/aos-Video/commit/29d89ee13ec89db31a6fbdf740b48f4a97576715

[2020-03-07 18:14] courville opened #313 "phones/tablets: toolbar text smaller in landscape than portrait"
Seems to be an Android bug: https://issuetracker.google.com/issues/37043126
Note that some have proposed a fix changing the style: https://stackoverflow.com/questions/28042331/android-toolbar-small-title-text-in-landscape-mode
File to adapt is: `Video/res/layout/browser_main_video.xml` and one should propagate to `Video/res/layout-w820dp/browser_main_video.xml`
For now I would say won't fix becaus

[2020-03-07 18:24] #313 closed, assigned to nobody

[2020-03-07 18:28] courville commented on #313
Well fixed afterall...

[2020-03-11 17:48] Generator opened #314 "[BUG] Preferred local subtitle language"
### Description:
Currently when multiple local subtitles are present (embed or subtitle files), Nova Player selects the first subtitle.

~### Solution:~
~Option to select preferred subtitle language for local subtitles.~

~**Example:**~
~Some.Show.S02E05.720p.mkv  (embed: English, Spanish, French)~
~Some.Show.S02E05.720p.en.srt~
~Some.Show.S02E05.720p.por.srt (preferred language)~
~Some.Show.S02E0

[2020-03-12 00:55] dmagicone opened #315 "Crash during playback with TrueHD"
I have experienced a number of crashes with encodes containing TrueHD. It seems not to be limited to any one or two movie titles.  One such title only crashes at two different scene transitions near the beginning of the movie. If I disable the audio by selecting "audio pass-thru" mode  2( which plays not audio on my setup), it no longer crashes at that part of the movie. If its on automatic which

[2020-03-16 06:08] DanielChen008 opened #316 "Manually change the UI interface language"
Is there any way to manually change the interface language? It doesn't match the language of my Android TV box automatically, I need to change it manually. Thx!

[2020-03-16 23:33] nemosmart opened #317 "[Bug] Get Info button not working / no responding"
I'm try click Get Info button for non scrapped files, it's result not responding and no result, i'm trying other files and result same too,

Since this player similiar to Archos Video, i'm trying with this player and result better

[2020-03-17 13:10] courville opened #318 "Rework NetworkState to use API21 registerNetworkCallback"
In order to avoid using `ConnectivityManager.CONNECTIVITY_ACTION` which is deprecated, there is a need to switch to registerNetworkCallback and provide a way to notify observers in a more modern way.
Recent interesting discussions are:
- original one https://gist.github.com/PasanBhanu/730a32a9eeb180ec2950c172d54bb06a
- followed by https://gist.github.com/Abhinav1217/0ff6b39e70fa38379d61e85e09b49fe

[2020-03-19 13:06] Poussinou commented on #25
@rzr is right, it could be a good thing to open a [RFP](https://gitlab.com/fdroid/rfp/-/issues) on F-Droid side. It looks like @courville is already used to this app development, it could be helpful on F-Droid side.

[2020-03-19 15:15] itwars opened #319 "Issue with opensubtitle download"
Very last release on Mibox S

- Movie file : Knives.Out.2019.1080p.AMZN.WEB-DL.DDP5.1.H.264-NTG.mkv
- Opensubtitle French : https://www.opensubtitles.org/en/search/sublanguageid-fre/idmovie-763292

=> Result : subtitle not found [fre]

I have the same problem with most movies.

[2020-03-20 23:18] #318 closed, assigned to courville

[2020-03-21 09:43] courville commented on #319
I observed the same behavior though not quite systematic. Perhaps related to a timeout.
My plan to solve this is https://github.com/nova-video-player/aos-AVP/issues/238

[2020-03-21 09:46] courville commented on #316
For now the language is set by the system language. If translation exists for your language it should be working. Please check the available translations here: https://crowdin.com/project/nova-video-player
Contributions are welcome.
If this is not the cause of your problem could you please disclose your expected language and also the language set on your Android TV box (and hardware you are using)

[2020-03-21 11:19] courville commented on #317
Thanks for reporting. Can you please disclose your hardware details (phone/tablet/androidtv) and if it is and which firmware/android version it runs? Exact name of the video file would help too.

[2020-03-21 11:22] courville commented on #315
Based on your comment it would mean that it is linked to ffmpeg doing the audio decoding failing.
Could you please make the file available to me so that I can try to debug and also specify the timestamps where it crashes?
Having also adb logcat would help too cf. https://github.com/nova-video-player/aos-AVP/wiki/Debugging

[2020-03-21 11:24] #312 closed, assigned to nobody

[2020-03-21 11:33] courville opened #320 "truncated and corrupted listfiles on synology when using SMBv1 and not SMBv2"
See https://github.com/AgNO3/jcifs-ng/issues/210
This explains some user reports and needs to be included in validation test.

[2020-03-22 21:14] dmagicone commented on #315
Here is a sample. It crashes at the end of the mountain scene before the
intro credits. It also crashes at the end of the intro credits before the
Washington DC scene. It does this no matter what app I re encode with and
with the full movie or just this trimmed sample.
https://filebin.net/w5oydw52n4wqts2l

On Sat, Mar 21, 2020 at 7:23 AM CourvilleSoftware <notifications@github.com>
wrote:

[2020-03-22 23:01] courville commented on #238
Will not implement this task since opensub4k does not implement batch downloads and multiple language download which nova supports.
Moreover the SubtitlesDownloadActivity is self sufficient and XMLRPCClient is quite easy to manage.

[2020-03-22 23:01] #238 closed, assigned to nobody

[2020-03-22 23:05] courville commented on #315
@nnoury could you please have a look at the above file with your address sanitizer?

[2020-03-23 02:55] dmagicone commented on #315
Oh, the time stamps are 01:13 and 02:53

[2020-03-23 11:22] nemosmart commented on #317
Dear Courville,

Thanks for your response, Exact file name is "[NoobSubs] Sengoku Basara S01E01 (720p Blu-ray 8bit AAC).mp4", I'm using eXtreamer Xpress device running on Android 6.0.1, kernel version 4.1.17-g26a590a-dirty

Regards,

[2020-03-23 11:24] nemosmart commented on #317
For additional info, it's working good to play any movie even with 4K video + 7.1 audio

[2020-03-23 22:36] courville opened #321 "DatagramIO errors with cling"
Seems that we need to constrain discovery on Wi-Fi to avoid this:
[code]
See https://github.com/4thline/cling/issues/224 and https://github.com/tobexyz/yaacc-code/issues/34

[2020-03-25 12:53] courville commented on #315
OK thanks for sharing the file, on a pixel3xl I do not experience the crash with the current apk (perhaps this is because we are not using same arch, pixel3xl is arm64) https://drive.google.com/open?id=1LqvVGjRKzqISV_jCaP01WadR6GwW3H9a
At 01:13 I clearly hear some cracks indicating something bad on audio side and I get these logs:
[code]
Definitively a ffmpeg decoding issue that might be related t

[2020-03-26 02:14] dmagicone commented on #315
Well I used another app to cut that small clip out of the full video. It would have been to large to share.  I dont know if the cracks in sound came from it, I dont hear them on my desktop or when played with the other apps. The original untouched video and this sample crash on Nova at the same places. Yes it does seem to be related to how the sound is being handled because as stated with no sound

[2020-03-26 02:53] dmagicone commented on #315
Same crash with that apk.

[2020-03-26 07:27] courville commented on #315
Perhaps it is arm32 related since it uses different libraries which would explain the difference of behavior. Also sound is decoded via ffmpeg when disabling passthrough hinting towards sound decoding. ffmpeg libs are embedded in nova.
I will try on the firestick4k.

[2020-03-26 20:36] emarch06 commented on #148
Hi,

I forget to upload the logcat with the latest relase.
Here it is
[new_log.txt](https://github.com/nova-video-player/aos-AVP/files/4389821/new_log.txt)

[2020-03-27 05:43] dmagicone commented on #315
As far as I've been able to look up, its running a version of android 7.1
,   MediaTek  ARM Cortex-A53

On Thu, Mar 26, 2020 at 3:27 AM CourvilleSoftware <notifications@github.com>
wrote:

[2020-03-27 15:20] bronnel commented on #254
This issue still exist on latest version ...

[2020-03-28 21:52] Textator commented on #254
@courville Thanks, yes, of course there' internet connection. I'm using a replacement phone at the moment, no problems there. Any way to find out, what the matter is?

[2020-03-30 09:30] courville commented on #254
Sorry for the late reply. I will rework this part of the code that obviously behaves strangely on some devices and instrument more debugging to find what goes wrong. I will request your contribution to collect the logs. Stay tuned.

[2020-03-30 11:31] mschumacher69 commented on #254
@courville while you're reworking this part of the code, please look into signing into trakt via Google SSO from Android TV, this failed when I tried to sign in to trakt with Google from Android TV, I had to sign in with username and password.

It said something about couldn't verify the browser or something like that when I tried to sign in with Google.

Thanks

[2020-04-01 10:24] courville commented on #315
Note that version of ffmpeg used is 4.2.2 for ffplay debug.
I can reproduce the crash on firestick4k at timestamps are 01:13 and 02:53.
Stacktrace:
[code]

[2020-04-01 23:38] dmagicone commented on #315
So any luck getting a solution?

On Wed, Apr 1, 2020 at 6:24 AM CourvilleSoftware <notifications@github.com>
wrote:

[2020-04-02 14:15] courville commented on #315
For the record ffmpeg 3.3.2 shows no error.

[2020-04-02 15:31] dmagicone commented on #315
is there a version of nova using 3.3.2? Or can you configure an alternate
new version of nova with that version ffmpeg?

On Thu, Apr 2, 2020 at 10:16 AM CourvilleSoftware <notifications@github.com>
wrote:

[2020-04-02 17:56] courville commented on #315
@dmagicone could you please check this apk, on my side the issue is fixed: https://drive.google.com/open?id=1Js3AZx91cTl_1rXqO9b7ovdwBQzrDYO6
@av500 thx for the fix!

[2020-04-02 18:03] courville commented on #315
See https://github.com/nova-video-player/aos-avos/commit/0d7c0c9912bce5b1b1e488ad4d15844d1930ef62 and https://github.com/nova-video-player/aos-avos/commit/ddbed9f28461183d01475a12f7fb1ec334a730ce

[2020-04-02 23:21] dmagicone commented on #315
Yes, it works without crashing now. Thanks so much.

On Thu, Apr 2, 2020 at 2:03 PM CourvilleSoftware <notifications@github.com>
wrote:

[2020-04-03 09:19] courville commented on #25
@Poussinou @rzr @Pentaphon inclusion of nova has been submitted to fdroid https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6570 please +1
Thx @phhusson for this!

[2020-04-03 10:06] courville commented on #25
RFP submitted https://gitlab.com/fdroid/rfp/-/issues/1284

[2020-04-03 10:10] Pentaphon commented on #25
@courville @phhusson Thanks for getting this on F-Droid. It will definitely give a boost to the Nova userbase.

[2020-04-05 23:37] dmagicone commented on #315
Is this fix going to be included in future releases?

On Thu, Apr 2, 2020 at 7:21 PM DMagic One <dmagicone@gmail.com> wrote:

[2020-04-06 05:09] johnmarshall515 opened #322 "Trakt Playback Position Upload Not Working"
Nova Player can download and read Trakt playback position perfectly but I have been unsuccessful in trying to get it to upload its playback position status to Trakt and be read by other apps using Trakt. I have tried infuse on iPhone with Trakt and Trakt Kodi plugin to read its position. However, if I mark something watched in Nova it uploads, but just not playback position.

Happens on android TV

[2020-04-06 05:20] lys1980 opened #323 "Playback error with a third-party app"
I used the ability to play the movie with a third-party app. The media file to play is located in a network folder via SMB protocol. As long as the system made me choose which app to use each time, everything was fine. When I selected "always use this app to open the file" I can no longer play the content.
Also, I can't even understand how can I go back to the previous situation, how can I go back

[2020-04-06 10:27] courville opened #324 "subtitles RTL text is displayed LTR"
In videos punctuation marks are on the right for some subtitles files.
Text view in subtitle_layou.xml can play with these options:
[code]

[2020-04-07 17:33] JJD2K opened #325 "4.46 - External subtitles completely missing"
The latest version displays that subtitles are present in the VIDEO INFO screen, but during playback trying to select them the subtitles selection list is empty.
Most likely related to the other similar subtitles issues I reported in a separate thread, but now no subtitles can be loaded anymore.

[2020-04-07 18:17] JJD2K opened #326 "No way to revert to an old versio without deleting cache"
Hello
Now that the subtitles are broken there is no way to go back to an older version without deleting the cache.
adb install -r -d -f

returns an error and my library is huge.

Could you please provide an option to go back to an older release without deleting the cache.
My only option now is to uninstall and go to an older version and wait the scraper for hours or wait for the fixed release and

[2020-04-07 19:28] courville commented on #325
Are you sure that the subtitle is a supported one? PGS is not supported. I can still play with 4.46 subs.

[2020-04-07 19:30] courville commented on #326
Android does not provide a way to downgrade easily and cache management is not really under control in an application (at least I do not know of a way).
I recommend when doing the scraping to export NFO and posters so that if a rescrape is needed it will go way faster.

[2020-04-08 02:56] JJD2K commented on #325
Yes not a single external subs file is listed for my entire library - testing with the ones that were loading and working before this update.
Only integrated subtitles are working.
Very unpleasant situation. :(

[2020-04-08 03:04] JJD2K commented on #287
I saw you added "Better TV show scrape result through multi-language Levenshtein metric computation"
unfortunately, that did not parse even a single extra file for me.
Could you add my suggestion as a fallback if subtitles file is not marched for the video file name to look for the folder name where it is located?
I do not think this could cause any issues. You can make it optional if you doubt it

[2020-04-08 07:06] #326 closed, assigned to nobody

[2020-04-08 07:13] courville commented on #325
OK since the recent changes made "should" not have had any impact on this part and that I unfortunatlely cannot reproduce on phone/tablet/androidtv, I will request your help to get an aligned configuration that is highlighting the issue.
I tried the following configs: local storage/samba share folder/movie.mkv folder/movie.en.srt folder/movie.fr.srt folder/movie.srt and 3 subs are detected and pla

[2020-04-08 07:15] courville commented on #322
Do you have real time scrobbling activated in settings?

[2020-04-08 08:42] johnmarshall515 commented on #322
I do. I can see it scrobbling on the trakt website, but the position just does not sync. Kodi with trakt plugin works so I’m only having problems with nova.

[2020-04-08 09:21] courville commented on #322
OK clear, perhaps a regression due to reduce rate of saving position that I did a while ago. It should have saved resume point when exiting playback. Will investigate.

[2020-04-08 16:50] JJD2K commented on #325
Hello
Thank you very much for looking into this.
I sent you sample files and configuration settings.

As you can not reproduce it, maybe it is related to the encoding and the issues that I reported before when some subs files were not listed.
Please note that this is not related to file formats or names as nothing is changed except the Nova version - files that were listed before are now missing.

[2020-04-08 20:31] JJD2K commented on #325
This is a very weird issue and it resolved by itself.
I will try to track this down if it happens again and report.
Sorry for wasting your time.

[2020-04-08 20:31] #325 closed, assigned to nobody

[2020-04-08 23:57] johnmarshall515 commented on #322
Awesome, thanks!

[2020-04-09 09:23] mschumacher69 opened #327 "v4.44 not available on the Play Store yet"
Has v4.44 been published to the Play Store yet? Because I haven't received it yet.

[2020-04-09 09:38] courville commented on #327
Is this a code issue? Please refer to reddit release notes. 4.44 has been pushed to release on Google play

[2020-04-09 10:03] courville commented on #322
OK seems that when playback is stopped nova calls scrobble start erasing bookmark:
[code]
(OkHttp.*scrobble|OkHttp.*action|Trakt)

[2020-04-09 10:04] courville commented on #322
Note to self, should implement pause command too.

[2020-04-09 12:04] mschumacher69 commented on #327
Sorry I always forget that you have a reddit community. The problem with reddit is that you can't subscribe to email notifications, so I always get email notifications about Nova from github.

[2020-04-09 12:04] #327 closed, assigned to nobody

[2020-04-09 12:07] mschumacher69 commented on #322
Would this solve the duplicate plays when scrobbling?

[2020-04-09 12:23] courville commented on #322
potentially

[2020-04-09 14:20] JJD2K commented on #314
I vote for this too. And also if external subs file is available to list it on top and load it first.

[2020-04-11 14:05] gysvanzyl opened #328 "Incorrect video rotation during playback"
Hi,

When recording video with a GoPro Hero 7 Black, video orientation information is stored in the video file in a metadata tag, e.g. when the camera is mounted upside-down:

    ffmpeg -i

    Metadata:
      rotate          : 180
      creation_time   : 2020-04-11T15:23:28.000000Z
      handler_name    : GoPro H.265
      encoder         : GoPro H.265 encoder
      timecode        : 15:54:21:20

[2020-04-11 15:05] courville commented on #322
See https://github.com/nova-video-player/aos-Video/commit/8df14a7aee0152443be5eeff6bfaccff88df989b and https://github.com/nova-video-player/aos-MediaLib/commit/d43802578108b1a4ca2ea4bed68fa8fad96e702e
This should fix the issue and also avoid dupplicate trakt notifications.

Note to self for logs: PlayerController.STATE_|int state|MARC|pause\(|play\(|onPlay\(|onPause\(|start\(|Trakt|startTrakt|paus

[2020-04-11 15:07] mschumacher69 commented on #322
Cool!

[2020-04-11 16:41] courville commented on #322
Please test following apk and report if it works in your case https://drive.google.com/open?id=1aKWZLdUDkv3I4Ulbyj-7eutfe4mZB6KG

[2020-04-11 16:44] courville commented on #321
To fix it, it requires some cling modifications to restrict network to wifi either https://developer.android.com/reference/android/net/ConnectivityManager#bindProcessToNetwork(android.net.Network) for global process but not really possible with whole nova or  on specific socket https://developer.android.com/reference/android/net/Network#bindSocket(java.net.DatagramSocket)

Since cling is EOL will

[2020-04-11 16:44] #321 closed, assigned to courville

[2020-04-11 16:47] courville commented on #324
Seems that android is doing fine.
Checked many hebrew subs from opensubtitles and some have "." or "," at the start or end of sentence with various encoding.
To see if the sub is right check with google translation.
Note that often you need to set manually encoding to ISO-8859-8.
Check IRC logs from 08 Apr 2020.

[2020-04-11 16:48] #324 closed, assigned to nobody

[2020-04-11 16:48] #315 closed, assigned to nobody

[2020-04-12 05:05] johnmarshall515 commented on #322
Trakt syncing now works both ways, thank you!

[2020-04-12 08:47] #322 closed, assigned to courville

[2020-04-12 08:47] courville commented on #19
Should be fixed now in latest code.

[2020-04-12 08:47] #19 closed

[2020-04-12 08:48] courville commented on #286
Should be fixed now.

[2020-04-12 08:48] #286 closed, assigned to courville

[2020-04-13 10:04] courville commented on #254
@Textator @fadern @kozmo2k4 sorry for the late reply on the topic.
Since I am in the blind for this issue, I have generated an apk with more verbose debugs that can be found here: https://drive.google.com/open?id=1FLKh9hAEP6AagA_4Iv0nUf2mPYs_82K0
Could you please reproduce the issue with this one and get me some adb logs (i.e. https://github.com/nova-video-player/aos-AVP/wiki/Debugging)?

[2020-04-13 17:31] courville commented on #239
won't fix because jcifs-ng is almost there (one can dream)

[2020-04-13 17:31] #239 closed, assigned to nobody

[2020-04-13 17:44] #87 closed, assigned to nobody

[2020-04-13 17:45] #200 closed, assigned to courville

[2020-04-13 17:45] courville commented on #263
resume points only sent when pausing/stopping.

[2020-04-13 17:45] #263 closed, assigned to courville, nnoury

[2020-04-13 17:45] courville commented on #320
Fixed in jcifs-ng master.

[2020-04-13 17:45] #320 closed, assigned to courville

[2020-04-14 03:59] Pentaphon commented on #292
I think this would actually be useful.

[2020-04-14 06:36] courville commented on #292
I think this is a good idea too but I am afraid that that would require a SMBv2 capable jcifs that would inherently support all samba versions.

[2020-04-14 06:38] courville commented on #319
Latest beta should have solved this issue. Please test and report if this is not the case.

[2020-04-14 06:51] andrasvancsa1972 opened #329 "Nova Player not launching on nVidia Shield Pro"
The player was working before and I loved it.  But then today it was not pulling in the movie names, so I had to actually go into the external hard drive to watch a movie that I wanted to see.  Upon selecting it, it played the movie, but when I went back into the program it still did not pull the movie list in (like it did before).

I tried closing the program, and when I tried to start it up agai

[2020-04-14 10:27] courville commented on #329
Hi, what is the version of nova you are using? Is this the stable track on google play (i.e. not the beta program) or another one taken from github release?
When mentioning the nvidia shield pro, I assume that it is the 2015 model with hdd.
It would help if you could get some adb logcat logs after launching nova following these instructions https://github.com/nova-video-player/aos-AVP/wiki/Debuggi

[2020-04-14 20:04] courville opened #330 "SMBv2: slow video start"
Sometimes opening videos can take 20s and there are such errors:
[code]

[2020-04-15 09:41] Pentaphon commented on #2
I tried the 5.12 SMBv2/3 experimental release today I am unable to connect to unpassworded Windows 10 64 bit SMB shares while I can successfully connect to them with Kodi 18.6

[2020-04-15 10:25] courville opened #331 "StackOverflowError caused by NetworkState propertyChangeListener"
Seems that it occurs even if application is not in foreground though all listeners should be removed when exiting/pausing app (DBG_LISTENER).
[code]

adb logcat -v color | egrep "(AppState|NetworkState|Trakt|RemoteState)"

[2020-04-15 10:50] courville commented on #331
NetworkState stays alive even if there are no listeners...

[2020-04-18 17:40] 2803media commented on #322
sorry to reopen this but with real time scrobbling activated on my android TV (and your last version) I can't see scrobbling on trakt website. For the record trakt sync works manually when I add and remove movie as watched

[2020-04-19 09:54] courville commented on #331
Should be fixed now

[2020-04-19 09:54] #331 closed, assigned to courville

[2020-04-19 20:37] courville commented on #330
Got the issue again with jcifs-ng 5.13:
[code]

[2020-04-19 20:38] courville commented on #330
Still at com.archos.mediacenter.video.browser.subtitlesmanager.SubtitleManager.recursiveSubListing(SourceFile:331)

[2020-04-19 21:28] courville opened #332 "subtitlesdownload: subs not found when searching multiple languageids"
It seems that not all passes are triggered if not all languages are found at first pass.

[2020-04-19 21:31] courville commented on #332
If first pass gets a match with eng and searching for eng,fre then fourth pass is not activated.

[2020-04-19 21:54] #332 closed, assigned to courville

[2020-04-21 12:49] lys1980 opened #333 "Playback not smooth on Sony TV with AC3 5.1 audio tracks"
With my Sony Bravia 4k TV most of h264 mkv files are not smooth, with annoying stutter/judder effect.. No problem with MX player.. Could you fix this issue? Thank you

[2020-04-25 06:42] DaedalusBLN opened #334 "Feature Request: Preferred audio language"
As most files nowadays are mkvs with multiple audio and subtitle tracks, I would like to request a preferred audio language selector.

Also have another smaller feature request: display only forced subtitles option (to only show subs for foreign language parts and signs in movies). This will be tougher to implement, but preferred audio language should be as easy as preferred subtitles was.

Thanks

[2020-04-25 13:43] DaedalusBLN opened #335 "HTTPS (SSL) Support"
Bug: Cannot open some direct links with the app for some reason, the player does not appear in the app select screen while other players do. Could you fix it?

Links are of the format:
https://numericserverno#.download.real-debrid.com/d/something/file.name.mkv

[2020-04-26 10:26] courville commented on #335
Thanks for the report, would there be a link I could use to troubleshoot the issue?

[2020-04-26 12:02] courville opened #336 "Android R migration"
In order to target SDK 30 you need:
[code]
When launching the app you get this obvious introspection not allowed anymore to solve:
[code]

[2020-04-26 12:53] DaedalusBLN commented on #335
Sure, set up my remote traffic to be used and found a public domain file I could share with you. But I don't want my remote traffic to be abused by people reading this, so I mailed the link to you.

[2020-04-26 13:06] DaedalusBLN commented on #335
![Screenshot_20200426-160455](https://user-images.githubusercontent.com/35345064/80308444-c4eff500-87d7-11ea-97cd-d621e0d397b7.jpg)

[2020-04-27 13:23] rhee876527 commented on #183
I would like to add a + to this request. @courville Please add option. Even at the very least basic features such as size, would be a welcome bonus. Thanks.

[2020-04-27 14:03] Pentaphon commented on #183
To be fair, he does let you change the size of the subs, but for some reason, it's called "style"

I think the most important subtitle options to add are in this order.

1) More fonts! We need variety! We should have 1 monospace, 2 serif, and 3 different sans fonts at the very least.
2) We need to be able to change the thickness of the outline as that tweaks readability.
3) Shadow on/off option wo

[2020-04-28 00:24] heymaad opened #337 "Feature request: OneDrive integration (currently crashes)"
One thing missing here, is full integration with cloud services like Google Drive, OneDrive etc. Right now, you can play a video from cloud if it is added to android's file system.

A full integration, where Nova can scrap all the videos from OneDrive is a must have.

[2020-04-29 06:58] rhee876527 opened #338 "Missing subtitle edit option on arm7"
Subtitles option is not present in the preferences menu. Not sure if feature was omitted or bug on my end.

[2020-04-29 07:02] #338 closed, assigned to nobody

[2020-04-29 07:03] rhee876527 commented on #338
Subtitle options appears after playing video.

[2020-04-29 21:32] courville commented on #74
jupnp switch is not possible since it does not contain any AndroidUpnpServiceImpl.
Yes I did all the modifications sed -i "s/org.fourthline.cling/org.jupnp/g"

[2020-05-01 22:08] DaedalusBLN commented on #335
@courville did you get the link?

[2020-05-02 08:21] courville commented on #335
Yes thank you, did not find time to have a look though. I reviewed manifest and we do register http/https. What app are you using to open the video?

[2020-05-02 16:57] courville commented on #335
OK when opening the link in gmail, I have mxplayer that is proposed to open the video link but not vlc nor nova.
I have a way to reproduce now.

[2020-05-02 21:18] courville commented on #330
OK now I get these:
[code]

[2020-05-02 21:21] courville commented on #330
And also these:
[code]

[2020-05-03 12:17] courville commented on #335
OK reading https://github.com/guardianproject/securereader/blob/master/app/src/main/AndroidManifest.xml helped.
It seems to be a limitation on the Android PatternMatcher (sigh).
Note to self, read the following comments:
[code]
Note to self again: `<data android:mimeType="*/*" />` does not work.

[2020-05-03 12:22] courville commented on #335
Please check following apk and report if it helps in your case: https://drive.google.com/open?id=1cWqm2KVCi_yLBC2259K0gmQRKNatD3SV

[2020-05-03 14:24] bronnel commented on #254
@courville , Hello
here is a what happens when I try to login on my LG V30 stock android oreo 8.0

https://www.youtube.com/watch?v=XVhlNtrqFwA&feature=youtu.be

here is **logcat** using the apk you posted above
https://pastebin.com/BgFLBBrH

[2020-05-03 15:08] mschumacher69 commented on #310
@courville can this be added as an option please? Because not all users want the screensaver to kick in when inside Nova (Paused video or just on any Nova screen).

So would be nice if you can add it as an option which can be enabled/disabled.

Thanks

[2020-05-03 16:37] courville commented on #254
@bronnel thanks for the pastebin, I clearly see the error:
[code]
However I failed to provide the right description (my fault).
I modified the code to be more verbose hopefully than "Tk@a1967d" . Could you please do the same process and send me the logcat again with the following apk: https://drive.google.com/open?id=1cC0Y6-Gn4DpGWMDQkR3TNTR4F-0dIoYz
Sorry for the inconvenience...

[2020-05-03 17:09] bronnel commented on #254
@courville thanks for troubleshooting this
the new description says something like this "ERR_CONNECTION_REFUSED"
here is another logcat in verbose mode
https://pastebin.com/xbwbvbnU

[2020-05-03 17:14] courville commented on #254
Yes you are right `W/OAuthDialog: onReceivedError: error code is -6, description net::ERR_CONNECTION_REFUSED`. Now I need to figure out why is causing this...

[2020-05-03 17:15] bronnel commented on #254
@courville I'm availabe for help if you need just let me know.

[2020-05-03 17:16] JJD2K commented on #310
If you do not want screensaver you can disable it from Android options.
You can also set the delay before the screensaver kicks in so I see no point in adding an extra option in ANY application.
Keeping a static image on a screen causes BURN-IN and can ruin your TV screen and the damage can not be repaired. That happens especially quick on OLED.

P.S. I confirm that the changes in the latest versi

[2020-05-03 17:18] bronnel commented on #254
@courville just to let you know , I tested the original archos vdeo player that I purchased from play store , Trakt sign in still works there without problem , so you can check out the source code of archos and see the difference for yourself

[2020-05-03 17:20] courville commented on #254
The problem is that Archos code target an API level that is far below the one targeted by nova that required some rework. But I will recheck for being sure.

[2020-05-03 19:59] mschumacher69 commented on #310
I want the screensaver (backdrop) on the TV home screen, but I don't want it in Nova. And I have adjusted the screensaver delay to my liking (minimum time) and I don't want to change it.

Plus, my TV is not OLED.

I understand that wanting the screensaver in Nova is your preference, but not all people have the same preferences.

So the only way to satisfy both needs is to add it as an option inste

[2020-05-03 22:06] DaedalusBLN commented on #335
@courville
It fixes the issue of Nova appearing in the app selection intent. But can't get any files I tried (mostly MKVs of x264 or x265, often with surround audio I think) to play back, the player briefly pops up and disappears. Tried to turn off hardware decoding too, in case that helps. Check your mail, sent you a fresh link to the same file. See if you are able to actually start the stream on

[2020-05-03 22:08] courville commented on #335
Yep I can reproduce. I will look into it. Please keep the link live.

[2020-05-03 22:11] DaedalusBLN commented on #335
Will do! Can also generate some links for other encodings/container types if necessary.

[2020-05-04 00:19] JJD2K commented on #310
Hello
Burn-IN issue is not only on OLED - it is on ANY display.
Wanting the screensaver is not my preference - the screensaver should kick in for every application that is IDLE - that is by design.
In this case, nova staying on pause or in the movie selection screen without user interaction is considered IDLE and the screensaver should start.
Imagine that you forget NOVA on pause and go out for ho

[2020-05-04 12:02] mschumacher69 commented on #310
I would want that because that is my preference, you cannot force your preference on everyone no matter how right you think you are.

Leaving Nova on the same screen for a few hours is not going to make any damage to my screen, especially that it is not an OLED display. Burn in is not as big of a problem on LCD displays as it is on OLED displays, not unless you leave it on the same screen for days

[2020-05-04 12:23] JJD2K commented on #310
:)
I do not have a problem with it being an option - already wrote that. I do not agree with you though, but I do not want to argue either.

Cheers.

[2020-05-04 13:38] mschumacher69 commented on #310
OK so why all this fuss about it then?? I'm just asking for it to be added as an option, I'm not asking him to disable it for all...

[2020-05-04 17:05] courville commented on #335
OK this is linked to the fact that https support has been removed at some point from the native application multimedia engine because of openssl security issue... It will take some time to dig up in history of the mother deprecated Archos Video Player application. You can now remove the link since I have an independent setup to reproduce.

[2020-05-04 18:00] courville commented on #254
@bronnel OK here we go again, could you please check this new apk with more logs and one idea that could cause the connectivity error https://drive.google.com/open?id=1RQMXuuJCsCKwOtl4TQfJ9nw_cJmRX4BB ?
Please pastebin the logcat too.
Thanks for helping progressing on the issue.

[2020-05-04 18:39] DaedalusBLN commented on #335
You're correct. The link I sent you is identical for http non-SSL by the way, removing the s made the file play just fine. Feel so stupid for not checking that with the modified build you sent me, I had tested that with the build from GPlay. So I'll be eagerly waiting for https support to be re-implemented and I can imagine it will take a while. Thanks for the amazing support, you've earned a bill

[2020-05-04 20:02] bronnel commented on #254
@courville , It is my pleasure to help anytime
here is the [**Logcat**](https://pastebin.com/Y4B6Cgaw)

**Update**
I just discovered something , my device is rooted and adaway installed , it is an adblocking software , I disabled adaway and rebooted my phone and boom trakt sign in working fine.
so maybe other users also have ad blocking app installed?

[2020-05-04 21:12] courville commented on #254
@bronnel wow, interesting discovery. This explains why, I was not able to figure out the issue.

[2020-05-05 06:52] courville commented on #254
@Textator @fadern @kozmo2k4 please check @bronnel discovery and check if you are not in this case (rooted rom with adaway or equivalent).

[2020-05-05 12:33] ghost commented on #323
Clear Defaults for Nova Player
Maybe the issue was in SMB protocol and it is fixed in latest beta

[2020-05-05 12:37] ghost commented on #319
Yes the issue has been solved
By the way
Is it possible to show subtitles ratings if available,?
Because some apps  show it

[2020-05-05 13:04] ghost commented on #25
Today I checked on Fdroid again it is still not available on official repo
Please make it available on IzzyOnDroid Repo
As the creator of repo summarises

    it holds open-source-apps that for some reason didn’t make it into the official F-Droid repo or are no longer updated there. Those reasons usually have to do with proprietary dependencies introduced into the apps.
    as an F-Droid maintaine

[2020-05-05 14:42] courville commented on #74
Compilation done using java8
Add in pom.xml `<additionalparam>--allow-script-in-comments</additionalparam>` in javadoc
[code]
Need to install also android sdk 15 via Android Studio it is the easiest or `/opt/android-sdk/tools/bin/sdkmanager "platforms;android-15"`
[code]

[2020-05-05 17:54] courville commented on #74
On macOS:
[code]

[2020-05-05 17:54] courville commented on #74
Note that hosts visible are due to:
[code]

[2020-05-05 17:59] courville commented on #74
See https://github.com/4thline/cling/issues/247

[2020-05-05 18:00] courville commented on #74
Thus this is a seamless issue https://github.com/4thline/seamless/commit/74e66789d11862789f1a9ee570d27d5d18162c11
Reverting this one makes cling happy.

[2020-05-05 18:06] courville commented on #74
In order to work Medialib needs:
[code]

[2020-05-07 06:38] fadern commented on #254
@courville I'm using a Sony android tv and it's running a stock rom, not rooted.
I have a pihole that acts as my dns but i havent seen that it blocks any trakt domains and i'm able to use trakt from other devices that are on my network and are using the same pihole/dns.

[2020-05-07 09:47] courville commented on #25
@cleanerspam thanks for the hint. We will try to progress on fdroid since there might be a way to converge.

[2020-05-08 14:15] hovmeister opened #339 "SFTP - Deprecated key exchange algorithm"
Hi!

Tried out the sftp connection today, but it refuses to connect to my server.
On the server I get the following error message:
`no matching key exchange method found. Their offer: diffie-hellman-group1-sha1,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1 [preauth]`

I have tried this on both my home TV-box and my mobile phone running Android 10.
It seems the nova app uses a depr

[2020-05-08 21:44] courville commented on #74
v4-jcifsng.xml is now using cling 2.1.2

[2020-05-09 08:37] courville commented on #117
[code]
To add jgss and jcraft/Compression.java
[code]

[2020-05-09 11:52] courville commented on #254
@fadern thanks for the feedback, could you please use the apk provided there https://drive.google.com/open?id=1RQMXuuJCsCKwOtl4TQfJ9nw_cJmRX4BB with extended logs to reproduce the issue and get me some adb logs (i.e. https://github.com/nova-video-player/aos-AVP/wiki/Debugging)?

[2020-05-09 12:00] courville commented on #339
Thanks for pointing this out. Could you please try out without altering your sshd_config the following apk https://drive.google.com/open?id=1kl31TKM4xSY-m3cMxfavNYvFStpV_wq_
I upgraded jsch from the old 0.1.51 to 0.1.55 that proposes more KexAlgorithms i.e. before
`config.put("kex", "diffie-hellman-group1-sha1,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1");`
and now:
`config.put(

[2020-05-09 12:05] courville commented on #336
androidR branch created for Video/MediaLib/FileCoreLibrary

[2020-05-09 12:28] courville commented on #117
Note that there is MR  https://github.com/is/jsch/commits/master to implent authentication with OpenSSH user certificate from file

[2020-05-09 12:33] courville commented on #117
This fork seems the one the most active https://github.com/is/jsch with some MRs.

[2020-05-09 12:59] ManosP opened #340 "Use as external player in kodi"
Hello. I am using kodi because I have a lot of movies, shows etc in my library, but I love nova player and I want to use it as external player through kodi.
I am using the playercorefactory.xml method and kodi isn't recognizing the filename tag which is "org.courville.nova"

What maybe is going wrong?

[2020-05-09 13:57] courville commented on #340
Please try with latest version of the application it could fix the issue.
https://github.com/nova-video-player/aos-AVP/releases

[2020-05-09 15:41] ManosP commented on #340
No luck. Not working but I don't know why???

[2020-05-10 08:23] courville commented on #340
I never tried but for android if I refer to the documentation
https://kodi.wiki/view/External_players#Android you need something like (I
did not tried it):

<player name="Nova" type="ExternalPlayer" audio="true" video="true">
       <filename>am</filename>
       <args>start -n org.courville.nova/.player.PlayerActivity -d {1}</args>
       <hidexbmc>true</hidexbmc>
       <hideconsole>true</hideco

[2020-05-10 08:47] marfalk20 opened #341 "Issues with MPEG-2 video"
Tried different video files with MPEG-2 (SD definition) encoded video track. The video is corrupt as some green horizontal lines appear across the screen (please see attached image).

![NovaPlayer-MPEG2-Issue-20200505_182341](https://user-images.githubusercontent.com/65110068/81494735-5cab1400-92ab-11ea-9158-b859db2df306.jpg)

The issue occurs with Fire TV Stick 4K, even if the option "Force Softw

[2020-05-10 08:58] ManosP commented on #340
Not working.
I also try replacing the filename tag from am to org.courville.nova but no luck again. I don't know why this happens. It working flawless with other video players but not with nova.

[2020-05-10 09:04] ManosP commented on #340
`<player name="Nova" type="ExternalPlayer" audio="true" video="true">
       <filename>org.courville.nova</filename>
<args>start -n org.courville.nova/.player.PlayerActivity -d {1}</args>
       <hidexbmc>true</hidexbmc>
       <hideconsole>true</hideconsole>
    </player>`

[2020-05-10 09:08] ManosP commented on #340
I also tried replacing the following xml file but again with no luck
https://kodi.wiki/view/HOW-TO:Use_external_players_on_Android

[2020-05-10 09:13] courville commented on #340
We should do like

		<player name="ArchosVideo" type="ExternalPlayer" audio="false" video="true">
			<filename>com.archos.mediacenter.video</filename>
			<hidexbmc>true</hidexbmc>
			<playcountminimumtime>120</playcountminimumtime>
		</player>

Thus replacing with nova like:

<player name="NovaVideo" type="ExternalPlayer" audio="false" video="true">
<filename>org.courville.nova</filename>
<hidexbm

[2020-05-10 09:23] courville commented on #340
OK this is perhaps tricker because the intent to be launched is the
following: from command line
adb shell am start -n
org.courville.nova/com.archos.mediacenter.video.player.PlayerActivity -d
file:////sdcard/Download/video.mkv

Thus this means that the following could work:

<player name="Nova" type="ExternalPlayer" audio="false" video="true">
       <filename>am</filename>
       <args>start -n
o

[2020-05-10 09:26] ManosP commented on #340
Not working. This is the first script I used.

[2020-05-10 09:30] courville commented on #340
No it is not, I changed the script see `org.courville.nova/com.archos.mediacenter.video.player.PlayerActivity` instead of `org.courville.nova/.player.PlayerActivity` in:

[code]
Also audio is `false`.

[2020-05-10 09:55] ManosP commented on #340
Not working :(

[2020-05-10 09:56] ManosP commented on #340
Is very strange. VLC is working, MXPlayer is working. I don't know why is this happening with Nova.

[2020-05-10 12:52] shdf2 commented on #337
+100
Google Drive and OneDrive support would just be awesome, you'll beat all your competitors, this will make for sure the best of the best player.

[2020-05-10 17:04] hovmeister commented on #339
I think the link is broken?
Will give it a try ;)

[2020-05-10 17:10] courville commented on #339
This link should work
https://drive.google.com/file/d/1kl31TKM4xSY-m3cMxfavNYvFStpV_wq_/view?usp=sharing

Le dim. 10 mai 2020 à 19:05, Henrik Hovrud <notifications@github.com> a
écrit :

[2020-05-11 04:58] JJD2K opened #342 "4.48.4 Decoding regressions"
The latest version introduces decoding issues for files that were playing before.
I sent you an email with the same title that includes a sample file name screenshots.

[2020-05-11 05:05] JJD2K opened #343 ""Better TV show scrape result through multi-language Levenshtein metric computation""
This feature seems to produce worse results than before. It not only does not match anything more than before but produces incorrect matching results. I sent you a sample via email.

Could you please check my suggestion from #287

[2020-05-11 06:18] courville commented on #343
Thx for reporting, I will check on the filename scraping. It would be easier to provide the exact filename instead of screenshot though.

[2020-05-11 06:20] courville commented on #342
Multimedia wise 4.48.4 and previous Google Play release should be identical.
I suspect another background issue that make the file stop playing.
Could you please provide a logcat of the issue (https://github.com/nova-video-player/aos-AVP/wiki/Debugging)?

[2020-05-11 06:23] courville commented on #287
See README of https://github.com/nova-video-player/TestScraper, it explains the scraping process. It should cover your case in MoviePathMatcher pass. Perhaps another pass provides already a match. Please provide exact path and filename for me to check.

[2020-05-11 09:35] JJD2K commented on #342
That help is not very complete.
That command does not work on Windows:
G:\ADB>adb logcat --pid=$(adb shell pidof -s org.courville.nova) -v color
pid $(adb out of range

Attached is the SEE freeze log. I tried to run rescrape on the unscraped
list but I do not see the unscraped titles in the list.
Here are some more examples. First line is folder name, next are few items
in that folder:
The.Magicia

[2020-05-11 09:48] JJD2K commented on #342
I sent the log to your email.

[2020-05-11 10:10] hovmeister commented on #339
Yes, this APK works without the sshd_config fix :+1:

[2020-05-11 10:11] courville commented on #339
OK good thanks for the confirmation.

Le lun. 11 mai 2020 à 12:10, Henrik Hovrud <notifications@github.com> a
écrit :

[2020-05-11 22:43] Textator commented on #254
@courville sorry that I didn't reply earlier. Strange times.
As I'm using still a replacemnt phone I can't debug any further.
BUT: of course I used adaway on my rooted custom rom...
2nd BUT: that "no internet" issue just popped up out of nothing, it worked before on that same rom.
3rd BUT: thinking about it, I changed the block lists in adaway a while ago. Maybe that interferes. Oh dear. I'm sorry

[2020-05-12 09:50] bronnel commented on #254
@Textator I currently don't have any issues at all , the trakt sign in with NOVA only work when adaway is completely disabled , I tried to whitelist trakt when enabled but that didn't work , BTW I noticed adaway blocks some DNS stuff , I also found that the logs I provided above contain some DNS blocking stuff when trying to login to trakt.

The good news is you can re-enable Adaway after successf

[2020-05-13 08:46] Textator commented on #254
@bronnel Thanks for the info. Good to know that adaway has just to be disabled to sign in. Nice workaround ;-)
I was able to sign into trakt.tv via browser (just log into the website) while adaway was enabled, so same here. It's just NOVA.

@courville I can bassically confirm the behaviour bronnel wrote about.

So, what to do? I'm ready to send logs, once I have my rooted phone assembled again, wh

[2020-05-14 20:09] #339 closed, assigned to nobody

[2020-05-15 06:59] AngelfromSpain commented on #337
Hello good morning
Please include the option to link my Google Drive account with the Nova Video Player program.

Exactly the same as you can do with the Infuse application (only for Apple) or Kodi and nplayer

I have a large collection of movies on my Google drive account and would like to use that account with Nova Video Player

Thank you very much and congratulations on the program

[2020-05-16 02:32] sigpi007 commented on #333
I have same issue.   VLC plays videos smooth like butter with hardware decoding.   Nova and Archos (last versions) have issues with same videos.  If I set Nova (and Archos) to “force software decoding” it gets rid of the stutter, but just isn’t quite as smooth as other players.   (I’d just set up Nova to use an external player like VLC, but there are issues passing files on my NAS to another playe

[2020-05-16 02:34] sigpi007 commented on #333
Also... even though I can get rid of the studded in Nova using software decoding... ALL of my files have a timing issue syncing audio and video.   I literally have to adjust ever file, and the delay is not consistent from file to file.

[2020-05-16 08:26] lys1980 commented on #333
I tried to use "force software decoding" but the issue still remains

[2020-05-16 08:28] courville commented on #333
Thanks for reporting the issue on Sony 4k TV based on MTK chipset.
Could you please disclose the exact hardware, android version, let me know if audio passthrough is used.
If you can share a very typical H264 file highlighting the issue to software@courville.org (or the detailed filename so that I can retrieve it), I will try to get access to such a TV and debug.
Also when you go in settings and c

[2020-05-16 12:46] lys1980 commented on #333
I clik 8 times and picked audiotrck or opensles and no improvement.. Then I picked Android Media Player decoder and the issue is gone.. Even if seeking forward is not behaving correctly (image stand still until the audio is synced.. Then it starts playing the movie).. Passthrough is disabled and Im playing a file thru SMB v1

[2020-05-16 12:53] lys1980 commented on #333
![P_20200516_145323](https://user-images.githubusercontent.com/59367887/82120253-0ba48f80-9785-11ea-81f7-e42a2e46499d.jpg)

[2020-05-16 13:09] lys1980 commented on #333
I have sent an email to courville with an example file that have issues

[2020-05-16 14:05] mschumacher69 commented on #310
What irritates me the most is that when the video is paused and the screensaver kicks in, the video auto resumes when I remove the screensaver, ughhhhh...

@courville can you please make the screensaver optional?

Thanks

[2020-05-16 14:14] courville commented on #310
I am against in general to add options.
The issue if I understand is that it resumes the video and it should not.

[2020-05-16 19:41] mschumacher69 commented on #310
That's right.

[2020-05-21 10:06] mschumacher69 commented on #294
@courville I've been testing with live scrobbling for more than a week now since you fixed the trakt resume point sync issues and I can confirm that there are no duplicates when scrobbling anymore, although I have noticed that sometimes the time stamp is 1-4 min in the future, but that's not a huge issue.

[2020-05-21 10:07] mschumacher69 commented on #322
@courville I've been testing with live scrobbling for more than a week now since you fixed the trakt resume point sync issues and I can confirm that there are no duplicates when scrobbling anymore, although I have noticed that sometimes the time stamp is 1-4 min in the future, but that's not a huge issue.

[2020-05-22 17:22] Erdie1980 commented on #333
I have a Sony Bravia 4k with Android TV too. For me it helped to enable the option "Automatically switch Framerate" (translated from the German interface, not sure how it is really called in english).
This option was also available in the old Archos player, but strangly enough I never had to enable it there.

[2020-05-25 01:34] sigpi007 commented on #333
I have the Sony tv model xbr55x950g (if that helps).

Android kernel version 4.9.125.

![6860A705-C315-4916-89FA-DA22F124D6B9](https://user-images.githubusercontent.com/65432849/82770361-e5729580-9dfd-11ea-868f-f2d0cb5ec20a.jpeg)
![93BB9DE4-9884-4CD4-9297-CA8D91321035](https://user-images.githubusercontent.com/65432849/82770365-e99eb300-9dfd-11ea-9c87-6d3b7d2a8bb3.jpeg)

[2020-05-27 22:05] darkblaze69 opened #345 "not more than 6 audio tracks is available"
have mkvs containing 7 or more audio tracks.
Nova player offers only first 6 of them.

[2020-05-29 01:21] sigpi007 commented on #333
Ok... I’ve narrowed down the issue.   It seems to be related to any video using an AC3 audio track.    I have some files that have two audio tracks... AC3 and AAC.   The AAC plays fine.   Switching to the AC3 track causes issues.

  On the AC3 audio track, if Software decoding is forced in preferences, the audio and video are wildly out of sync.   (I’m talking like almost 1-2 seconds).    If the f

[2020-05-30 12:17] courville commented on #333
@sigpi007 thanks for the investigation.
One point of clarification: do you confirm that you have NOT selected audio passthrough (state deactivated) in the settings?

[2020-05-30 12:23] mschumacher69 commented on #333
@lys1980 @sigpi007 how do you access this system info menu on Sony Bravia Android TV?

[2020-05-30 22:13] 98o718 commented on #208
Hello,
It also doesn't work with http videos

[2020-05-31 04:18] lys1980 commented on #333
@courville Yes I can confirm that audio passthrough is NOT selected

[2020-05-31 08:41] courville commented on #333
Thus @sigpi007 = @lys1980 right (I need to keep track...).
@lys1980 since I poke in the dark here (I cannot reproduce on all the hardwares I have), I would like to check if this is not a recent regression from the fix that we did on the DTS.
Could you please check this apk: https://drive.google.com/file/d/1fx6xeDsHNZpjcHjWLybvBsZX90sVnJUz/view?usp=sharing (apk  named Video-OLDAVOS).
If this is not

[2020-05-31 18:15] Pentaphon commented on #25
I've requested that here. https://gitlab.com/IzzyOnDroid/repo/-/issues/93

[2020-06-01 05:20] lys1980 commented on #333
sorry @courville , i have answered to a question you asked to @sigpi007 (we are not the same person).

Anyway, i tried both OLDAVOS and NEWAVOS, but the issue still remains, i didn't notice any difference.

[2020-06-01 14:00] courville commented on #333
@lys1980, I just tested several videos on the same sony TV (at least same mt5891 cpu) and it plays smooth on the files I have tested so far. Could you please share a file with me software@courville.org that I would play via usb stick to check?
(KD-65XF8596 version 8.0.0 build OPR2.170623.027.S30665451)

[2020-06-02 04:30] lys1980 commented on #333
I have sent you an email.. Anyway, as I stated before, if I choose Android Media Player decoder it plays smooth

[2020-06-02 06:47] courville commented on #333
@lys1980 thx for sharing the file.
I have seen your comment about Android MediaPlayer. However nova does not use it (since it is very limited in multimedia scope).
Hence I need to reproduce somehow what you see.

[2020-06-05 01:18] sigpi007 commented on #333
Sorry about lag in response.   Can only check in every few days since my kids hog the TV.

I can confirm that I had Audio Passthrough set to Mode 2.   I tried setting to Disabled (same exact symptoms) and Mode 1 (awful white noise sound immediately starting video).

I’ll try the APKs if I can.   I have OLDAVOS and will test that first.  Never sideloaded an APK on this TV before.

[2020-06-08 18:59] Jakub-Cepela commented on #308
Any update on this issue?
I tried both, having subtitles in Subs folder, then moved it to same folder with video files. Nova still gives huge list of all subtitles. Also file names of subtitles are weirdly prefixed with video file name?
Also tried having exactly same file name as video file, without language suffix, but nothing helped. Example pics below.
![image](https://user-images.githubusercon

[2020-06-10 15:01] courville commented on #333
OK I can reproduce the issue on a Sony TV. Behavior is linked to Sony and not MTK CPU (I checked on a firetv4k too).
I confirm that it happens with AC3 5.1 files 48kHz but not with AAC 5.1 files 48kHz.
I do not witness any underrun on audio though. Buffer fill is always >95% too.
I have not an easy access to such hardware for now. Debug will take some time.

[2020-06-10 16:19] courville opened #346 "missing posters"
Since new MovieScraper3 sometimes there are missing posters for instance with such titles:
- Turner Risk 2020
- Choked 2020
- The Droving 2020
- Into the Darkness 2020
- Stolen Season 2020
- Goliath 2019

It appears that for some movies themoviedb returns in generic description the poster and backdrop images: https://api.themoviedb.org/3/movie/694224?language=fr&api_key=051012651ba326cf5b1e2f48234

[2020-06-10 17:45] #346 closed, assigned to nobody

[2020-06-11 22:06] Jakub-Cepela opened #347 "[BUG] HEVC playback not smooth on Philips TPM171E"
Let me first start with saying that I was really happy to find this player. It is better in every aspect that any other Android TV player I tried, only flaw is HEVC playback. Same files play fine in VLC.
It seems to differ file to file, but most HEVC encoded videos have some kind of stutter or slow down in scenes with lot of movement. I sent you email with info about files I have issues with.
When

[2020-06-11 22:23] Jakub-Cepela opened #348 "[FEATURE REQUEST] More info about subtitle and audio tracks"
When opening same video file in VLC and Nova, VLC seems to be able to display more information about subtitle and audio track. In this case, one subtitle track is even missing. See pics below.

**VLC**
![image](https://user-images.githubusercontent.com/45459516/84444733-b607b980-ac42-11ea-8d69-eb2f1a8e4eeb.png)
![image](https://user-images.githubusercontent.com/45459516/84444741-ba33d700-ac42-11ea

[2020-06-12 15:55] courville commented on #347
Thanks for reporting. I suspect a potential regression, since I do not have a philips TV, could you please test this apk and report if it is any better?
https://drive.google.com/file/d/1GuBxjKSEf5O-ChYSF98DdhXFlnEvOFDc/view?usp=sharing

See https://github.com/nova-video-player/aos-AVP/issues/258

[2020-06-12 15:59] courville commented on #333
@sigpi007 @lys1980 after some analysis I suspect a potential regression. Could you please test this apk and report if it is any better?
https://drive.google.com/file/d/1GuBxjKSEf5O-ChYSF98DdhXFlnEvOFDc/view?usp=sharing

Note to self: avos to 72156d4e27c531d92ddca3d795792a34acf8e2af

[2020-06-12 17:09] courville commented on #258
I noticed in xbmc that the change for KEY_MAX_WIDTH has been reverted. Are you aware of any reason for this or another way to fix the AR for philips TVs?

See https://github.com/xbmc/xbmc/pull/17557 referencing https://github.com/xbmc/xbmc/pull/17534

And the severe issues and regressions on sony and philips are described there https://github.com/xbmc/xbmc/issues/17559

[2020-06-12 18:56] courville commented on #333
Uploaded another apk at same link that is more likely to solve the issue.

See https://github.com/nova-video-player/aos-AVP/issues/258

[2020-06-12 19:08] lys1980 commented on #333
Unfortunately I'm not at home these weeks..so I can't test it.. Will do
ASAP and will let you know

Il giorno venerdì 12 giugno 2020, CourvilleSoftware <
notifications@github.com> ha scritto:

[2020-06-12 19:48] sigpi007 commented on #333
@courville I just installed the apk from the most recent link.   It is MARKEDLY better than before.  I did not see a difference when the app was set to HW decoding (AV sync good, but same stutter for video).   But SW decoding was nicely in sync for AV.   Still isn’t as nice as having HW decoding (cause play back can look much smoother as with VLC’s HW decoding.).

BUT.... suffice it to say that mo

[2020-06-12 19:50] sigpi007 commented on #333
Also... it took me some time to test this because I had never sideloaded an app before on a TV.   So I had to get some things configured first.   Now that this is done, I can test more APKs quicker if needed.   Thanks so much for your help.

[2020-06-12 20:12] mschumacher69 commented on #347
@Jakub-Cepela how do you access the system info screen on Android TV?

[2020-06-12 20:16] courville commented on #347
install aida64 app

[2020-06-12 20:17] courville commented on #333
@sigpi007 thanks for the testing and confirmation. I will deploy the apk for all.
This is an issue though that HW decoding is nok.

[2020-06-12 20:19] mschumacher69 commented on #347
Thanks.

[2020-06-12 22:02] courville commented on #347
For future reference this is the same issue as https://forum.kodi.tv/showthread.php?tid=352515
Reverting https://github.com/nova-video-player/aos-avos/commit/81f86eb3f8ee0fbfbe6c24f2f4ecfb158d676785 should solve the issue.
Corrected in 4.48.9.

[2020-06-12 22:04] courville commented on #342
4.48.9 deployed beta could solve some of the issues encountered i.e. https://github.com/nova-video-player/aos-AVP/releases/tag/v4.48.9

[2020-06-13 05:54] lys1980 commented on #333
Anyway.. I remember that in my case, in all previous versions, using sw decoder was much worse than hw decoder

[2020-06-13 12:16] primozcerar commented on #258
I am not. Sorry.

V V pet., 12. jun. 2020 ob 19:09 je oseba CourvilleSoftware <
notifications@github.com> napisala:

[2020-06-13 19:41] mschumacher69 opened #349 "No Poster for TV Show"
Nova doesn't seem to load the poster for this TV show even though it exists on thetvdb:
https://thetvdb.com/series/into-the-night

[2020-06-13 20:28] courville commented on #349
Could you please provide the exact name of the file and remind me what language you have set on your device?

[2020-06-13 20:53] mschumacher69 commented on #349
Into.The.Night.S01E01.720p.WEB.H264-EDHD

The TV is set to English UK.

It loads all info including episode names and the backdrops but it doesn't load the posters.

[2020-06-14 00:32] Pentaphon commented on #25
@courville Thanks for finally getting Nova on the F-Droid store. I must advise you though, that the current page is missing screenshots, a description, donation link, etc.

https://f-droid.org/packages/org.courville.nova/

Compare that to how the VLC page looks:

https://f-droid.org/en/packages/org.videolan.vlc

[2020-06-14 04:57] hopexxx opened #350 "Can't play all videos"
Currently installed both archos & Nova video player on Android TV.. archos can play all videos .. but not in Nova ... All videos unable to play

[2020-06-14 07:57] courville commented on #25
@Pentaphon yes we noticed too. We are trying to fix it.
There are quite some hacks involved for now in the release process to make it work with the versioning requirements from F-Droid that could interfere.

[2020-06-14 07:58] courville commented on #350
Thanks for reporting. Could you please detail your hardware and android version you are using?
Sharing a link to a non working video could help too (use software@courville.org for this).

[2020-06-14 09:06] hopexxx commented on #350
Currently I'm using Hisense tv running on Android TV with Android version 8.0..  all videos is playable on archos.. but not with Nova.. (videos on external hard drive 2tb)

[2020-06-14 09:08] courville commented on #350
Thanks: could you please give me a link to non working videos?

[2020-06-14 09:12] hopexxx commented on #350
How to share it? All videos on my external hard drive

On Sun, 14 Jun 2020, 5:08 pm CourvilleSoftware, <notifications@github.com>
wrote:

[2020-06-14 09:13] courville commented on #350
OK let's do another way: could you please provide the exact name of the file if you have not renamed it?

[2020-06-14 09:16] hopexxx commented on #350
The.Death.And.Return.Of.Superman.2019.1080p.WEBRip.x264-[YTS.LT].mp4

On Sun, 14 Jun 2020, 5:13 pm CourvilleSoftware, <notifications@github.com>
wrote:

[2020-06-14 10:18] rzr commented on #25
Congratz, btw Is there a ticket for TV profile of F-Droid ?

[2020-06-14 12:13] courville commented on #350
OK I can play the video here on another device.
Do you mean that you do not see the video or that it does not open?
Could you please provide screenshot of the video info activity?

[2020-06-14 14:31] hopexxx commented on #350
All the videos display correctly... But when press play the videos doesn't
play... With archos..need to play the videos with 3rd party player like
mxplayer@vlc..in built video player for archos doesn't play.. but using
Nova..all videos player either mx@vlc@built in Nova video player can't play

On Sun, 14 Jun 2020, 8:14 pm CourvilleSoftware, <notifications@github.com>
wrote:

[2020-06-14 16:06] hopexxx commented on #350
Tested all released version.. only V3.8 Google Play release & V.2.2 Google Play release candidate version work and can play the videos... Newer version @ others doesn't play/open the videos

[2020-06-14 18:31] KOLANICH opened #351 "Support pre-Lollipop devices"
It may make sense to support older devices.

[2020-06-14 20:46] Jakub-Cepela commented on #347
@courville So I tried with version you suggested in first post (2052) and results are mixed.
First file (RaM) plays perfect smooth in this version. Second file (JW3) is without difference, same constant stutter. Let me know, if you need me to test something more for diagnostics.

[2020-06-14 21:13] courville commented on #347
@Jakub-Cepela roger that. I will retrieve JW3 and test (on a Sony TV this is the closest I can access to your HW).

[2020-06-18 02:49] sigpi007 commented on #333
@courville Sorry, not quite sure I follow what you mean here??  I think your essentially saying this is something we can’t fix for hardware decoding?   Would make sense I guess.  Just weird that VLC allows HW decoding just fine.

[2020-06-18 11:15] courville commented on #347
I can reproduce the video non smooth too on Sony TV.

[2020-06-18 11:17] courville commented on #333
@sigpi007 to be clear HW decoding should always be used.
I deployed the new apk because it solves already some of the issues seen but not all cf. https://github.com/nova-video-player/aos-AVP/issues/347
Two issues are connected (Philips or Sony = MTK CPU and AndroidTV however MTK firestick is shows no issue).

[2020-06-18 15:28] Jakub-Cepela commented on #347
@courville Thanks for the update! Let me know, if you need to me test / check anything.

[2020-06-19 01:34] sigpi007 commented on #333
Gotcha.   Let me know if you need me to test anything else.   Happy to help

[2020-06-19 12:09] courville commented on #347
@Jakub-Cepela, I have checked JW3 video sample on Sony TV with mx player, vlc and nova: they all behave the same (choppy).
Do you please confirm that with JW3 it is ok with other players on Philips TV?

[2020-06-20 22:35] licaon-kter commented on #25
@courville https://github.com/nova-video-player/aos-Video/commit/d015fb614e9931bcddd33da8ef2bf17fdc89fbea nope...things got b0rked https://gitlab.com/fdroid/fdroiddata/-/commit/631dba234b74b7fc05c58eb382489789ce7073cc

[2020-06-20 22:40] courville commented on #25
@licaon-kter ok thanks for pointing it out.

[2020-06-21 14:21] courville commented on #25
See https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6994

[2020-06-24 22:24] Jakub-Cepela commented on #347
@courville
I tried several other players (including Android default player and MX), all choppy except VLC and Sun Player.
Completely smooth playback in VLC, even scenes with lots of movement.

[2020-06-27 12:56] Pentaphon commented on #351
Based on the changes the dev is making, it's not going to happen. We need to move forward instead of supporting ancient devices forever. It's time for you to buy a new device.

[2020-06-27 12:59] Pentaphon commented on #350
That video plays fine on the latest version. Those copies are encoded to work on pretty much any device, so both hardware and software decoding should work on your TV. Can you show us what you actually see when you play the video?

[2020-06-27 13:01] KOLANICH commented on #351
No, it's not. All the new devices are shit.

[2020-06-27 13:02] #351 closed, assigned to nobody

[2020-06-27 13:09] Pentaphon commented on #351
That attitude is just going to leave you unable to use any apps on Android when your device becomes completely unsupported. It's only a matter of time. Even the apps you love today will have to stop supporting your device someday.

[2020-06-27 13:18] KOLANICH commented on #351
In fact my device is supported by Replicant and even some XDA devs (but I don't trust random XDA devs to build the firmware), but ... damned blobs and damned Google that made it is almost infeasible to build roms to anyone except companies (at least I am sure that my PC doesn't have enough ram for it) :(((( Replicant uses CPU rendering currently and bringing lima FOSS GPU driver is not a priority

[2020-06-27 19:44] pavelpanasenko commented on #345
Confirm this bug. Only first six tracks available.

[2020-06-29 07:09] courville commented on #25
OK now metadata are there https://f-droid.org/fr/packages/org.courville.nova/index.html

[2020-06-29 07:09] #25 closed

[2020-06-29 11:22] courville commented on #345
Fixed by https://github.com/nova-video-player/aos-avos/commit/3d5dd9d83a3811b49276afe447f4d1673961c667

[2020-06-29 11:24] #345 closed, assigned to av500

[2020-06-30 10:43] courville commented on #293
Add relevant ScraperTables
Add new column on MOVIE_TABLE to point to.
Search movie -> check belongs_to_collection
https://developers.themoviedb.org/3/search/search-collections id name backdrop_path poster_path

[2020-07-01 03:33] PacoBell commented on #10
I hate to be the squeaky wheel here, but how are we doing on this front? I use this feature religiously on every media player I touch, so the lack of the feature here kinda threw me.

[2020-07-04 13:22] courville commented on #293
See https://github.com/nova-video-player/aos-MediaLib/commit/c8e16cdef816cc5de8e14f1efa22f80b5b62f9e5
Database part and scraping done.

[2020-07-06 03:25] Dandemon opened #352 "Version 4.49.1-20200704.1437 crashes out on Sony Android TV"
I've replicated this issue on two different Sony Android TVs containing Android 8.  No system updates of any note just prior to the bug occurring.  The incidence happened following the install of 4.49.1-20200704.1437 on about 6 July.

The app crashes out randomly, back to the home screen.  A restart of the whole TV will let you re-open Nova and browse the content (on an SMB server on the LAN), and

[2020-07-06 05:11] courville commented on #352
Thanks for reporting the issue.
Are you playing the file from an hard drive hooked up to the TV?
Could you please share the video to software@courville.org ?
It might be the ffmpeg upstep causing the issue.
Are you able to collect adb logs (https://github.com/nova-video-player/aos-AVP/wiki/Debugging)?

[2020-07-06 05:22] courville commented on #352
Might be related to this on google play console:
[code]

[2020-07-06 05:24] courville opened #353 "4.49.1 subs sync KO on chromebooks"
See https://www.reddit.com/r/NovaVideoPlayer/comments/hl357s/v4491_google_play_release/fwzesx3/

[2020-07-06 05:58] courville commented on #352
Just pushed 4.49.2 please give it a try and let me know if it solves the issue (might take some time to get deployed).

[2020-07-06 07:09] lys1980 commented on #333
Sorry for late reply.. I was away from home... I tested the last version and unfortunately the issue still persists..

[2020-07-06 10:30] Dandemon commented on #352
Just did that - the exact same issue crops up with 4.49.2-20200706.  After a restart Nova will load and be stable until you try to play something.  When you do play, it will stop and return you to the Nova home screen.  A few seconds later the app crashes out to the Android TV home screen.  Any subsequent launch of Nova will load it for a few seconds, then quit again.

Any chance we could revert t

[2020-07-06 11:31] mschumacher69 commented on #352
Videos were playing fine on 4.49.1 on my Sony TV (also on Android 8), I haven't tested 4.49.2 yet.

[2020-07-06 11:58] courville commented on #352
I have tried on a Sony TV to reproduce without success so far.
@Dandemon could you please share the video file for which you reproduce the issue?
Is this possible for you to take adb logs when it happens?
Thank you

[2020-07-06 12:44] Dandemon commented on #352
Literally any video file produces the same issue.  I have tried different files each time. After you restart the app it crashes without loading ANY video file.  My app is set to re-scan the network share on launch.

I have looked through some of your other recent notes.  I should tell you that both of the Sony TVs producing the crashes access files off WD MyCloud NAS drives (NOT My Cloud Home, the

[2020-07-06 19:58] mschumacher69 commented on #352
Just tested on 4.49.2, working fine as well.

[2020-07-06 20:07] courville commented on #352
@mschumacher69 thanks for checking: this is also what I observe. I guess that there is something wrong for @Dandemon but without logs I will be clueless...

[2020-07-06 20:20] mschumacher69 commented on #352
Must be the type of files he's playing. I've tried with regular SD x264 mp4s with regular 2.1 AAC sound, maybe he's trying something more sophisticated.

@Dandemon if you can at least share the type of files you're trying to play with @courville if you don't want to share specific video files.

[2020-07-07 04:14] Dandemon commented on #352
I already have.  It's plain mp4, created with standard settings on Handbrake at 576p.  Two channel audio.  Moreover, these files have never EVER caused a problem over years of Archos (paid) and now Nova.

Even more to the point, reloading Nova results in a crash without loading any video at all.  Barely 4 seconds into the app and it crashes back to the Android TV home page.

Would it help if I mad

[2020-07-07 15:22] Dandemon commented on #352
Here's a demonstration of the bug in action:  https://youtu.be/pNVPlvP6Vh0

[2020-07-08 08:52] Pentaphon commented on #352
@Dandemon since you're not willing to send him a video sample, could you examine one of your files with https://mediaarea.net/en/MediaInfo and export the info as text so we can see the exact metadata of what kind of files you are trying to play?

You can also use http://avidemux.sourceforge.net/ to cut out a 30 second lossless section of one of your videos and send that to him if you can't upload

[2020-07-08 11:06] courville commented on #353
Tried to reproduce on my chromebook and androidtv without any issue.
While at it, sub delay toast is now more reactive https://github.com/nova-video-player/aos-Video/commit/83c11161c7045bcb0b98445de8de796d88b413b8

[2020-07-08 11:06] #353 closed, assigned to courville

[2020-07-08 11:12] courville opened #354 "Sony AndroidTV rescans USB disk at each power up/return from suspend"
Note that it does not happen on nvidia shield.
After analysis, mount point for the usb hdd changes at each boot or return from suspend (power up of the hdd).
E.g. `/storage/31433833-2d34-3138-3000-d7be672b6eae` vs. `/storage/31433833-2d34-3138-3000-a4be670b73b0`
Hence when android `Intent.ACTION_MEDIA_SCANNER_FINISHED` is received, it triggers in `VideoStoreImport*` a full import annoying users wi

[2020-07-08 11:18] courville commented on #352
thanks for the video. What it tells me is that it is likely not related to video playback.
It would really help to get logs otherwise I will not be able to pinpoint the issue.
The only thing I would recommend is to reset nova (or deinstall/reinstall) AndroidTV settings->application->nova->reset and let me know if it helps. Of course it will force you to rescan all your media content...

[2020-07-08 16:05] Dandemon commented on #352
I deleted and re-installed Nova from scratch.  Tried playing a movie, and within a few seconds the problem came back.  The app then went unstable on any file access or when trying to index.

I re-installed again, and this time I am just indexing (without playing any video content at all).  It hasn't crashed yet.  It's playing videos that triggers the general instability of the app.  Possibly netwo

[2020-07-09 07:12] courville commented on #352
@Dandemon thanks for checking. Your issue is really real and weird. Sorry but with no logs it will be difficult.

[2020-07-09 07:19] Pentaphon commented on #352
@courville have you considered adding a custom, built-in logger to Nova itself? That would make it easier for people like Dandemon to send you logs and give you more detailed bug reports from users in general.

[2020-07-09 07:30] Dandemon commented on #352
Seems like other people will have to report crashes here before anything will be done.

Does anyone know a way of installing an older version of this app via the Google Play Store on the TV?  I have my elderly father using Nova and he's not able to watch anything until this is fixed.  Not a great situation during covid. :-(

[2020-07-09 07:43] Pentaphon commented on #352
Just look at the older releases on the github releases page and find the one that worked for you. Then just don't update.

[2020-07-09 08:49] Dandemon commented on #352
That's fine, but how do I get that older version into my TV?

[2020-07-09 09:18] Pentaphon commented on #352
I use X-plore File Manager to start a Wifi server on any device to push APKs to it and then just install with the remote.

[2020-07-10 17:40] graysuit opened #355 "."

[2020-07-10 19:28] pavelpanasenko opened #356 "Night Mode switcher resetting if other track is chosen"
When Night Mode is enabled, switching to other track resets button's position to Off, although the mode keeps working. Then, a single press switches off the mode but doesn't change visible position of the button (it keeps off), the second press enables both the mode and the button.

[2020-07-11 06:58] Dandemon commented on #352
Hold the phone.

It works again. @courville - version 4.49.4-20200709.1136 works perfectly.  Both on mine and my father's Sony Android TVs.  He didn't re-install the app at any time, it just auto updated.

Thank you!!

[2020-07-11 18:49] courville commented on #352
Glad that it works!

[2020-07-11 18:50] #352 closed, assigned to courville

[2020-07-11 18:52] courville commented on #355
Please describe what you wish to accomplish.

[2020-07-11 19:04] mschumacher69 commented on #352
@courville did u manage to figure out what was causing it or did it just get fixed by chance?

[2020-07-11 19:35] courville commented on #352
No real clue there.

[2020-07-12 07:28] graysuit commented on #355
@courville
Sir I want to make video protection software for my friend,
Who wants to sell his video courses safely only to those who have bought.

So for video protection, Our files will be encrypted,
And we don't want to decrypt and drop anywhere to play,
I wanted to decrypt video file in memory and then play it directly using stream.

I just need to able to play video from stream.
Other steps wil

[2020-07-12 07:35] courville commented on #355
There are other programs that can play videos for this. Look at expoplayer.

Le dim. 12 juil. 2020 à 09:28, Gray Programmerz <notifications@github.com>
a écrit :

[2020-07-12 07:40] graysuit commented on #355
@courville
You are right. ExoPlayer can play from stream,
But has so difficult usage,
Their developers says you will have to implement your custom data source to achieve stream,
By default it won't accept stream,
But I am unable to achieve anything until now,
I have been in this problem since 1 month.

[2020-07-20 20:21] ahmaddxb opened #357 "Spinning circle"
The spinning circle under the time in the top right corner never stops even after the numbers have counted down to nothing.

I'm using the latest version of the app on an Android TV with NVIDIA Shield.

![20200721_001957](https://user-images.githubusercontent.com/43728586/87982636-24645500-cae8-11ea-873a-a1b5a5c5d286.jpg)

[2020-07-29 05:19] Hug385 commented on #267
That's a very good idea.

Then I know if the Nova Video Player app uses the hardware decoder or the software decoder.

This is very handy if you want to know what exactly is active now.

[2020-08-02 18:24] jabb01 opened #358 "[FEATURE REQUEST] Add "Mark as favourite" function"
VLC for Android has a very convenient feature:

You can long press a folder and select "Mark as favorite". The folder will be added to the storage section and there's no need for browsing the drive when playing the next video in the folder after a break.

I would love to see this function in Nova Player.

[2020-08-03 07:25] lucianolingnau opened #359 "Scrapping for TV show fails when the year is present in the filename"
I just noticed that nova has issues scrapping TV Series which contain a year in it's filename. For example:

- "The Midnight Gospel (2020) S01E02 Officers and Wolves (1080p NF Webrip x265 10bit EAC3 5.1 - HxD) [TAoE].mkv"

It shows up as unidentified in Nova and when I click on "Get Info" it suggests the following search term:

- "The Midnight Gospel (2020) S01E02"

If I manually delete the (2020)

[2020-08-03 09:05] jabb01 opened #360 "Name of external drives"
I have a couple of external drives connected to my Android TV.
These are called just "External drive" in Nova Player.

It would be better if the actual names of the drives were used, or an option to rename drives for easier identification.

[2020-08-04 20:40] #300 closed, assigned to nobody

[2020-08-04 20:42] JJD2K commented on #281
This issue still persists. Very annoying.

[2020-08-04 20:53] JJD2K opened #361 "Select Subtitles On Storage Not Usable"
Hello
Hope you are fine in these f****d times :)
I am annoyed by this feature for a long time now and would like to request some fixes PLEASE

1. List only the subtitles in the video file folder and its subfolders - now there are millions of subs listed and one can not find the right one. Or at least list the subs in the video folder first. Now the listed subs have absolutely no order.

2. When th

[2020-08-04 21:49] JJD2K commented on #281
Forget the above report - it was a different issue. There were 2 different copies of the same show and one did not have subtitles.

[2020-08-06 04:39] Net-zen opened #362 "Not working with torrserve"
Player just doesn't  start playing with the latest version of torrserve (https://github.com/YouROK/TorrServe)
It works fine on the previous release of torrserve (except position bookmarks, it's not working on any version)
But not working with the new release of torrserve (1.1.85).

[2020-08-06 10:59] spawnlmg commented on #362
Doesn't start playing from this link
http://127.0.0.1:8090/torrent/play/The.Umbrella.Academy.S02.WEBDL.1080p.LostFilm_The.Umbrella.Academy.S02E01.WEBDL.1080p.LF.RGzsRutracker.mkv?link=magnet:?xt=urn:btih:a6a69aa16442e330d17163ba35ccf00d804a6cc9&dn=%D0%90%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D0%B8%D1%8F+%C2%AB%D0%90%D0%BC%D0%B1%D1%80%D0%B5%D0%BB%D0%BB%D0%B0%C2%BB+%2F+The+Umbrella+Academy+%5B02x01+%D0%B8%D

[2020-08-06 11:01] Nemiroff commented on #362
Trouble with cleartext HTTP traffic.
[log.txt](https://github.com/nova-video-player/aos-AVP/files/5034436/log.txt)

[2020-08-06 11:02] YouROK commented on #362
Error is that torrserver creates local http server and broadcasts torrent over http. And there are no rights to the local http server. Some people release torrserver to the Internet, there is also an unprotected http

[2020-08-06 11:04] YouROK commented on #362
Torrserve for test
https://github.com/YouROK/TorrServe/releases/download/1.1.85/TorrServe_1.1.85.apk

[2020-08-06 22:15] Ankori92 opened #363 "Smoother scrolling"
Hi,
Is it possible to enlarge the thumbnail buffer in movies view ? (Today only 20-40 thumbnails are cached)
Hardware : NVIDIA Shield Pro 2019
Thank you

[2020-08-12 16:18] graysuit commented on #355
closing as no activity after 1 month

[2020-08-12 16:18] #355 closed, assigned to nobody

[2020-08-12 17:33] courville commented on #359
Unfortunately there is no easy fix for this without introducing some regressions.
One could think that adding a rule to remove the year between parenthesis would be the solution (and it is in your case).
However with shows like Doctor Who there is a 2005 version and the classic one, or Battlestar Galactica (2003 vs. 1973) suppressing the date would lead to an erroneous identification.
Thus "the sc

[2020-08-12 17:35] courville commented on #360
Valid request. I add it to my long TODO list (ETA might be long).

[2020-08-12 18:56] courville commented on #362
Ok thx for the details ans logs. Will enable cleartext. Nova should support .torrent streaming natively.

[2020-08-16 08:23] #360 closed, assigned to courville

[2020-08-16 11:19] courville commented on #361
All the subs presented are obtained via `SubtitlesWizard` that requests all available subs from `SubtitleManager.listLocalAndRemotesSubtitles`.
On remote shares, `SubtitleManager.listLocalAndRemotesSubtitles` lists all the subs close to the file via `SubtitleManager.recursiveSubListing` which proposes all the subs available in the parent directory of the video file and subfolders sub|subs|subtitle

[2020-08-16 11:24] courville opened #364 "player seekbar is not on screen bottom on chromeos and firestick"
Observed on firestick and chromeos.

[2020-08-16 11:27] courville commented on #357
Does this behavior happens when plugging an external hdd?
Are you using only remote network shares?
Do you request automatic rescan of network shares at application start?

[2020-08-16 11:49] courville commented on #356
Indeed I confirm the issue: thanks for reporting it!

[2020-08-16 11:54] courville commented on #350
@hopexxx sorry to get back so late on your issue.
Could you please confirm that you still have the issue on latest google play release?
When you are saying "it does not play", could you please describe what happens when you hit the "play" button (i.e., does it open the player and end up with a spinning circle?).
Thanks,

[2020-08-16 12:03] courville commented on #348
Indeed valid request, would be a good enhancement. I put that on my todo list (ETA unclear though).
Contributions welcome.
Note that there is also no BD subs are not yet supported.

[2020-08-16 12:31] courville commented on #128
Indeed ass subs support is really rudimentary (`Video/src/main/java/com/archos/mediacenter/video/player/SubtitleManager.java` SSA) and would deserve some improvements.
Contributions welcome :-)

[2020-08-16 13:58] courville commented on #364
Log says:
[code]
`layoutHeight` is clearly reported smaller than `displayHeight` for some reasons.

[2020-08-16 14:40] JJD2K commented on #361
Hello
Thank you for getting back. Hope you're fine.

1. Listing the subtitle ordered by
a) Current folder
b) All subfolders
c) All the rest
should make the list good enough. You can even split the above into NAMED sections if the list allows it.
It does not seem to be ordered at the moment by any property or name.

2. I think you do not understand the KEY part of the issue. **You have to play the

[2020-08-18 06:34] courville commented on #361
OK thus on top of the previous fix, the missing part is to default to selected sub via the wizard.
Also associating the sub file renames the file and makes it difficult to understand what is happening.

[2020-08-18 17:09] courville commented on #349
OK made a fake video with same name and strangely enough I get a poster in french.
I will pin it to a temporary server side issue with thetvdb.

[2020-08-18 17:25] #364 closed, assigned to courville

[2020-08-18 17:48] courville commented on #342
Closing due to inactivity, reopen if needed.

[2020-08-18 17:48] #342 closed, assigned to nobody

[2020-08-20 08:57] courville commented on #364
`nvplog | grep Player | grep -i -E 'size|height|width'`

[2020-08-27 09:59] lucianolingnau commented on #359
Hi Marc!

I'm assuming that when you query something like "Doctor Who" on the TVDB API, you would get a list of results, but they would differ based on the "firstAired" property. Wouldn't it be possible to ignore the year in parenthesis when querying TVDB but then use it to match it to the "correct" result from the returned list based on the firstAired matching the year in parenthesis in the filen

[2020-09-01 17:11] namcosa opened #365 "Hdr to Sdr tone mapping"
Nvidia shield Tv was updated to 8.2. New abiliy gained hdr to sdr. When I try playing hdr videos with Nova on  updated Nvidia Shield nova was error and closed.

[2020-09-18 08:12] jabb01 commented on #360
Perfect now with the latest build, thanks!

[2020-09-19 20:17] ledin74 opened #366 "Does Nova Player support mov_text (tx3g) subtitles in MP4?"
Hi, I can't get my subtitles to work in my MP4's, Nova Player dosen't find them.

Using a Nvidia Shield 2019, tried playback from both SMB & Internal drive

ffprobe:

Input #0, mov,mp4,m4a,3gp,3g2,mj2, from 'test.mp4':
  Metadata:
    major_brand     : isom
    minor_version   : 512
    compatible_brands: isomiso2avc1mp41
    encoder         : Lavf58.45.100
  Duration: 00:41:07.08, start: 0.000000

[2020-09-20 09:44] courville commented on #365
I have a shield updated to 8.2 and I am trying to reproduce the issue without success.
Is there an option to activate SDR to HDR?

[2020-09-22 01:32] DaedalusBLN commented on #335
Any progress on this? I tried searching in the archos repositories for SSL/HTTPS related entries, but I failed.

[2020-09-22 08:13] courville commented on #335
It is because the removal of ssl/https on Archos Video Player has been performed prior to the open-source release.

No progress for now on the topic.

[2020-09-24 07:31] lucianolingnau opened #367 "No clear distinction between watched and unwatched at a movie/episode overview"
I find it really handy to be able to distinguish watched from unwatched stuff in lists (when looking at the episodes of a TV show or at a list of all movies).

Weirdly however, this is not clearly visible when looking at a particular episode or movie's details (the screen from where the playback can be started). So currently, I need to look for the "Mark Watched" or "Mark Unwatched" actions to fig

[2020-09-27 00:17] heymaad opened #368 "Webdav support"
Is there any plan to implement webdav as media source? I'm sure many would welcome it.

[2020-09-28 04:58] courville commented on #368
Indeed, but there is no plan yet for it.
A good start would be to implement in FileCoreLibrary webdav support perhaps using https://github.com/lookfirst/sardine

[2020-10-05 20:45] courville opened #369 "video player glitch when starting video portrait in no autorotate mode"
Tick no auto-rotate in player menu and then start a video in portrait you get this:
![Screenshot_20201005-214712](https://user-images.githubusercontent.com/242843/95130102-576bcb80-075c-11eb-98b1-0389818c9252.png)

[2020-10-05 20:45] courville opened #370 "toggle airplane mode makes video stop"
Or any loss of connectivity per say

[2020-10-05 20:49] courville commented on #369
Issue reported to happen when auto-rotate ticked after app data cleaned (to be reproduced).

[2020-10-06 18:06] #370 closed, assigned to courville

[2020-10-06 18:16] courville opened #371 "crash on amazon devices when doing search"
Reported by amazon test team:

[2020-10-06 18:19] courville commented on #371
Fishing for traces in my acrarium:
[code]

[2020-10-07 06:19] #371 closed, assigned to courville

[2020-10-10 21:14] #369 closed, assigned to courville

[2020-10-11 15:59] user3536 opened #372 "Auto play next video in folder doesn't work"
Despite the setting video playback stops after current video ends. This issue began since version 4.49.5 or so, don't remember exactly. Android Philips TV 43PUS7304. Current version is 4.49.8. I cleared application data but it didn't work.

[2020-10-11 16:49] courville opened #373 "nova does not open after migration to "sdcard""
At least two users reported the issue.
Easy remedy: do not allow it with `android:installLocation="internalOnly"`

[2020-10-12 18:48] mschumacher69 opened #374 "Time appears in top right corner while watching"
The time seems to appear in the top right corner while watching. Pressing up/down on the dpad to show the title and progress bar gets it to disappear when the other info disappears, but then it seems to re-appear again after a while.

Here's a screenshot:
![image](https://user-images.githubusercontent.com/461871/95780419-8c37cf80-0cd4-11eb-96c0-99c21186ce56.png)

[2020-10-12 18:55] chromer030 opened #375 "[Feature Request] HW Acceleration indicator"
Hi , please implement an indicator in UI to show whether the playing video has HW acceleration or is playing in SW mode.
Also a menu or info dialog on settings to show formats which has HW acceleration support on device.
Thanks.

[2020-10-13 10:25] #374 closed, assigned to courville

[2020-10-13 11:51] courville commented on #375
Information about SW/HW decoding is present in the info activity while playing.
Regarding the other request, it is not the purpose of nova to hw capabilities of a device.

[2020-10-13 12:50] mynick11 opened #376 "Feature Request: Grouping of Movies like Series"
Hi all,

is there any possiblity to create a grouping feature for movies that includes all parts of a movie series like we have it already for seasons in the series section?

Best Regards

[2020-10-13 12:52] courville commented on #376
It is WIP https://github.com/nova-video-player/aos-AVP/issues/293 but it will take some time on my side to complete

[2020-10-13 12:52] #376 closed, assigned to nobody

[2020-10-13 14:16] #375 closed, assigned to nobody

[2020-10-15 18:28] #372 closed, assigned to courville

[2020-10-17 08:10] courville opened #377 "jcifs-ng endless sandglass when opening a remote share the first time"
Kill the app, go on network share and open SMBv2 synology share, **_sometimes_** it results in an endless sandglass with this error:
[code]
If you hit back and reselect the network share again, result comes instantaneously.
There it fails in exists perhaps linked to SmbRootFragment checking for shortcuts existence (JcifsFileEditor.exists).

[2020-10-17 09:35] courville commented on #377
Got the same behavior with another log (DBG=false):
[code]
There it fails in exists perhaps linked to SmbRootFragment checking for shortcuts existence (JcifsFileEditor.exists).

[2020-10-17 12:15] courville commented on #377
If `LIMIT_PROTOCOL_NEGO = false` RequestTimeoutException is not happening but instead an InterruptedException which is much quicker:
[code]

[2020-10-17 12:42] courville commented on #377
Note to self: stay with strict protocol because the "universal" CIFSContext _*does not work*_ in all conditions (HP printer, livebox when smbV2 is enabled).

[2020-10-18 12:01] courville commented on #377
With latest version of jcifs-ng, more logging is provided in transport:
[code]

[2020-10-18 12:05] darkblaze69 commented on #362
the problem seems simple. when this going to be fixed?

[2020-10-18 12:16] shrgnshrgn opened #378 "cannot download subtitles while playing a video file"
its not possible to download subtitles while playing a movie/series, if you want to download subtitles you have to search for subs before playing the video, it can be annoying because sometimes you have to try a couple of subs before finding the appropriate subtitle it would be good if we could search the subs while playing the video like we had in the early releases, we still have the option but

[2020-10-18 17:06] courville commented on #378
Just tested downloading subs during video playback and in my specific test it was working.
Can you please let me know your setup: android product, version, where your video files are located and (local/hdd which filesystem/network storage) and elaborate a little more on your various steps to reproduce?

[2020-10-18 17:35] shrgnshrgn commented on #378
Ill try to upload a video when im home. My setup: Android TV 9 running on Xiaomi Mi Box S.
Im using Nova with an external WD my passport 5TB HDD. all files are stored on it. back in april it worked flawlessly im always running the latest google play Nova releases. Thanks.

[2020-10-18 17:49] courville commented on #378
One more question: what is the filesystem used on your external hdd?
No need to send a video, I will test this configuration.

[2020-10-18 17:53] shrgnshrgn commented on #378
its a NTFS 5tb HDD directly connected to my mi box s via the usb port, hope it helps

[2020-10-18 18:09] courville commented on #378
OK just read your message. Meanwhile I tested fat32 and exfat and it works as intended.

[2020-10-18 18:16] courville commented on #378
And last test with ntfs and just downloaded subs while watching the tv serie episode.
OK now, I would request the video or even better some logs https://github.com/nova-video-player/aos-AVP/wiki/Debugging when downloading the subs while playing the video.
I trust that there is an issue (this is not the first report of the sort), it is just that I cannot reproduce.

[2020-10-18 19:59] courville commented on #378
Jut to be aligned, could you please retest with this apk https://drive.google.com/file/d/1gMPDlty1xgA0wrPdaBMlen8HZUmiD6xe/view?usp=sharing (the one I use that contains latest fixes).

[2020-10-18 22:01] shrgnshrgn commented on #378
It's a shame i cannot get you some logs... I updated my nova with the link that you gave me & tried to download the subs it didnt solve the problem... I know 3 other people that have the exact same setup as me and also have the exact same issue... Here is a video of the issue maybe you can get something out of it: https://youtu.be/YoqAerRUtdo

[2020-10-19 12:04] courville commented on #378
Thanks for the clear video and a way to reproduce: much clearer now.

[2020-10-19 18:45] courville commented on #378
OK found the issue: `PlayerActivity` provides `fileUrl` with a preceding `file://` and not the `VideoInfoActivity`: it needs to be removed.

[2020-10-19 18:46] #378 closed, assigned to nobody

[2020-10-19 19:45] courville commented on #378
Sharing apk for testing: https://drive.google.com/file/d/1EKQxMbxCK5SRF8IVVT02PrlI3hNN9-kN/view?usp=sharing

[2020-10-19 20:22] shrgnshrgn commented on #378
Great! Ill try it in an hour

[2020-10-19 22:41] shrgnshrgn commented on #378
It works like a charm, just tested it. Thanks!

[2020-10-20 18:00] user3536 opened #379 "Default audio language"
Please add default audio language into settings. I love to watch movies in English but I need to switch it every time because my system language is another one.

[2020-10-24 17:29] courville opened #380 "ANR when changing opus audio tracks"
Sample file can be found doing http://letmegooglethat.com/?q=seraph+of+the+end+s01e03+opus
Not systematic though.
No obvious logs.

[2020-10-27 20:05] mschumacher69 opened #381 "Scrobbling not working anymore"
Scrobbling doesn't seem to be working anymore, episodes I watch are not marked as watched on trakt anymore. It seems to have broken in the last version because it was working fine 3 days ago, even though I noticed that it timestamped 2 episodes at the same time that day.

I've also gone back and noticed that many episodes have been timestamped at the same time back to Aug 27, there are also some d

[2020-10-27 20:52] courville commented on #381
OK, nothing has changed on this part of the code however I just received this email, perhaps related...

[2020-10-27 21:43] Generator opened #382 "[Feature Request] Support Split Episodes/Movies"
## Description
Having split episodes or movies, shows as two versions of the same video.
The correct way to handle should be playing one part after the other.

**Example:**
SomeShow.S01E01.part01.720p.WEBRip.x264-NOGRP.mp4
SomeShow.S01E01.part02.720p.WEBRip.x264-NOGRP.mp4

MovieName.S01E01.disk1.1080p.DVDRip.x264-NOGRP.mp4
MovieName.S01E01.disk02.1080p.DVDRip.x264-NOGRP.mp4

Reference:
https://sup

[2020-10-28 18:57] kristofferR opened #383 "Dolby Vision doesn't work"
I just tried two Dolby Vision files with the latest Google Play release, and neither displayed DV.

File 1 (No HDR10):
https://sylvan.apple.com/Aerials/2x/Videos/SE_A016_C009_HDR_20190717_3m30s_HDR_4K_HEVC.mov

File 2:
http://media.developer.dolby.com/DolbyVision_Atmos/mp4/P81_GlassBlowing2_1920x1080@59.94fps_15200kbps_fmp4.mp4

File 2 played in HDR10 mode, but File 1 just had weird colors.

Both

[2020-10-29 08:10] courville commented on #383
Are you using the adaptive framerate option?
I noticed it too but only when using this option.

[2020-10-29 08:14] kristofferR commented on #383
No, I just use default settings from a fresh install. I confirmed now that the adaptive framerate option isn't enabled.

Did you get DV working with the files listed above?

[2020-10-29 17:23] mschumacher69 commented on #381
Damn, hope you can sort it out, thanks for sharing.

[2020-10-29 19:38] courville commented on #383
Indeed it requires more work. Will look into it.

[2020-10-30 13:36] courville commented on #381
OK checked on trakt web site and nova was not listed anymore as approved app. Just uploaded a new logo and it is marked approved again. Please try on your side if it helps.
Checked with new trakt library in parallel and sync works again.

[2020-10-30 19:41] mschumacher69 commented on #381
OK thanks. I did try today and it duplicated a few shows I watched yesterday and even marked an episode of a show that I never watched before as watched.

Then I disabled "Sync trakt resume position" and all was well again. But I'm not sure if all this was before you made the change above or after or maybe at the same time.

So I will re-enable "Sync trakt resume position" when I watch again tomor

[2020-11-02 20:01] mschumacher69 commented on #381
So I re-enabled "Sync trakt resume position" and everything seems to be working fine, thanks!

[2020-11-03 00:56] DrGogu opened #384 "Nova Video Player does not see subtitles in many MKVs"
For some reason, Nova Video Player does not see the embedded subtitles (mostly PGS) in many MKVs from different sources.  It will not even list the subtitles.  VLC player, Plex, and MX Player see and can display them.  It makes the app unusable.  Is there a fix for that?  I use the latest nVidia Shield.  Thanks.

[2020-11-03 00:58] DrGogu opened #385 "Repeated message about volume control every time I open or resume video"
On the latest nVidia Shield & Nova Video Player, every time I open or resume a video, I get this message that goes away in a few seconds, but it's very annoying!

"To adjust volume, set up IR control (Settings > Device Preferences > Display & Sound > Volume control)".

I already use the CEC feature on the Shield remote to control the volume, so I don't need to see this 10 times a day.  Other video

[2020-11-03 05:35] DrGogu opened #386 "Nvidia Shield Video Upscaling not working"
Video Upscaling cannot be enabled in low resolution videos like DVD rips (it says unsupported content).  This works fine in Plex for the exact same video.

My guess it has something to do with Nova using software decoding for low res videos.  Can this be fixed?  Maybe by just using hardware decoding for all videos?

I'm using the latest Nvidia Shield and latest Nova Player.

Thanks!

[2020-11-03 14:54] courville commented on #386
Nova should use hardware decoding for all resolutions. Can you please check when playing the video in the info tile if it is marked hardware decoding? Please note that plex does some server side recoding.

[2020-11-03 14:56] courville commented on #385
I do not have this message on the shield anymore. I had it and went through settings to disable it (but cannot recall what I did). Are you using audio passthrough?

[2020-11-03 14:56] courville commented on #384
PGS is not supported.
Issue is duplicate of https://github.com/nova-video-player/aos-AVP/issues/47

[2020-11-03 14:56] #384 closed, assigned to nobody

[2020-11-03 15:10] courville commented on #385
cf. https://www.reddit.com/r/ShieldAndroidTV/comments/ih4j1a/to_adjust_volume_set_up_ir_control_popup_with_82/

[2020-11-03 15:45] DrGogu commented on #47
Hope the developer works on this.  Makes Nova Player useless to me as I watch a lot of foreign movies!  Almost every other player plays PGS subtitles, but they are not as good as Nova when it comes to compatibility with video codecs.  Thanks a lot!

[2020-11-03 15:50] DrGogu commented on #386
Hello, thanks for your quick reply.
It says software decoding on DVD remuxes in MKV.  Bluray remuxes show hardware decoding.

[2020-11-03 15:56] courville commented on #47
The project is opensource, contributions are welcome.
You can download subs via the app too.

[2020-11-03 15:57] courville commented on #386
ok software decoding on MPEG2 probably (MPEG2 hw decoding is somehow buggy for now). Thanks for checking.

[2020-11-03 16:52] DrGogu commented on #47
Thank you.  I would appreciate it if you fixed this for us, a vital feature!  The thing is, although I can download subtitles, the embedded ones are perfectly synced.

You live in France I think?,  I like French movies and I use subtitles to watch them.

[2020-11-03 16:56] courville commented on #47
For clarification: it is not a fix, it is a development to be carried out. I would love it too...

[2020-11-03 19:17] DrGogu commented on #47
Since you are the main developer I was hoping you are working on it.. :(

But thanks a lot for your quick replies.

[2020-11-04 01:46] DrGogu commented on #47
Any chance this is made as a sticky on the first page so other developers can see it?  It is such an important function and the request seems hidden here.  Thanks.

[2020-11-04 01:52] DrGogu opened #387 "[Feature Request] Add metadata support for elcinema.com"
Is it it possible to add metadata support for Arabic movies from elcinema.com?  That website is like IMDB for Middle Eastern movies and you can search for movies in Arabic.  It has the original Arabic posters.

It has been made for Plex before, but it stopped working and the developer abandoned it.
https://github.com/montazar/Elcinema.bundle

Thanks!

[2020-11-04 02:03] DrGogu commented on #385
Hmm. . went over the thread.. looks there's no fix for it.. I need to keep CEC on for volume control.

[2020-11-04 02:04] DrGogu commented on #367
There is already a blue checkmark at the top right corner that shows up for watched items.

[2020-11-06 17:02] lucianolingnau commented on #367
Sort of! Only in the list of titles, but not if you open the details of a particular episode.  I've now included two pictures from my TV (sorry, I'm not sure how to grab screenshots from Android TV) to make it clearer what I'm referring to.

![PXL_20201106_165912114](https://user-images.githubusercontent.com/4371185/98393883-38fa3800-205a-11eb-9a94-5fd401118415.jpg)
![PXL_20201106_165905079](https

[2020-11-06 19:59] mschumacher69 commented on #367
It's easy to identify watched episodes inside an episode's details, episodes that have the "Mark Not Watched" button would be watched. Episodes that don't have this button would not be watched.

[2020-11-06 20:38] mschumacher69 commented on #381
I just noticed something weird happen again yesterday. Remember I mentioned that an episode of a show that I never watched before was marked as watched? This happened again yesterday, I'm not sure if it's the same episode, but it's definitely the same show, it's called iCarly. This happened at 11:45 PM last night, and before that, an episode which I watched at around 10 PM was actually marked as w

[2020-11-06 20:47] mschumacher69 commented on #381
I just noticed something weird happen again yesterday. Remember I mentioned that an episode of a show that I never watched before was marked as watched? This happened again yesterday, I'm not sure if it's the same episode, but it's definitely the same show, it's called iCarly. This happened at 11:45 PM last night, and before that, an episode which I watched at around 10 PM was actually marked as w

[2020-11-07 23:54] DrGogu opened #388 "Change Recently Played to Continue Watching"
Can somebody please either change the Recently Played section to Continue Watching or add the latter as a feature?  Continue Watching is more efficient, because the watched videos will be automatically removed from the list, avoiding clutter.  Now watched items stay on the recently played list and this causes a lot of clutter.  They can't be removed manually either.

Thanks.